<div class="breadcrumb title-module px-0 bg-transparent" style="text-transform: uppercase; font-size: 18px;font-weight: 600;">
	<span class="text-uppercase">Danh sách huyện, xã</span>
</div>

<!-- row -->
<div class="container-fluid p-0">
	<div class="row ml-0">
		<div class="col-auto treeView px-0">
			<p class="p-3 h4 d-flex justify-content-between align-items-center shadow">
				<span class="text-uppercase">Danh sách huyện, xã</span>
				<button type="button" class="btn grd-blue border-0 p-2 btn-sm text-white" (click)="modalCreateOrUpdate(0)">
					<i class="pi pi-plus"></i>
				</button>
			</p>
		</div>
	</div>
</div>

<!-- Modal individual -->
<div class="modal fade" id="modal-create-or-update">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content rounded">
			<div class="modal-header border-bottom-0">
				<p class="modal-title h3">{{modalCreateOrUpdateTitle}}</p>
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span>
				</button>
			</div>

			<div class="modal-body pb-0">
				<form id="createIndividualForm" [formGroup]="createIndividualForm" (ngSubmit)="onSaveUnit()">
					<div class="form-row">
						<!-- row 1 -->
						<div class="col-12 col-lg-4 form-group">
							<label class="mb-1">Họ và tên <span class="cl-red">(*)</span></label>
							<input svTrim formControlName="name" [(ngModel)]="modelIndividual.name" type="text" class="form-control" placeholder="Nhập...">
							<div *ngIf="(individualFormSubmitted && fIndividual.name.invalid)||(fIndividual.name.invalid && (fIndividual.name.dirty || fIndividual.name.touched))"
								class="has-error m-b-12">
								<div *ngIf="fIndividual.name.errors.required">
									<span class="help-block">Họ và tên không được để trống</span>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-4 form-group">
							<label class="mb-1">Email</label>
							<input svTrim formControlName="email" [(ngModel)]="modelIndividual.email" type="email" class="form-control" placeholder="Nhập...">
							<div *ngIf="(individualFormSubmitted && fIndividual.email.invalid)||(fIndividual.email.invalid && (fIndividual.email.dirty || fIndividual.email.touched))"
								class="has-error m-b-12">
								<div *ngIf="fIndividual.email.errors.required">
									<span class="help-block">Trường dữ liệu này không được để trống</span>
								</div>
								<div *ngIf="fIndividual.email.errors.email">
									<span class="help-block">Định dạng email không đúng</span>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-4 form-group">
							<label class="mb-1">Điện thoại <span class="cl-red">(*)</span></label>
							<input onlyNumber="true" stopLength="10" formControlName="phone" [(ngModel)]="modelIndividual.phone" type="text" class="form-control"
								placeholder="Nhập..." pattern="^(84|0[3|5|7|8|9])+([0-9]{8})$">

							<!-- <div *ngIf="(unitFormSubmitted && fUnit.phone.invalid)||(fUnit.phone.invalid && (fUnit.phone.dirty || fUnit.phone.touched))" class="has-error m-b-12">
									<div *ngIf="fUnit.phone.errors.required">
										<span class="help-block">Trường dữ liệu này không được để trống</span>
									</div>
									<div *ngIf="fUnit.phone.errors.pattern">
										<span class="help-block">Định dạng số điện thoại không đúng</span>
									</div>
								</div> -->

						</div>
						<!-- row 2 -->
						<div class="col-12 col-lg-4 form-group">
							<label class="mb-1">CMND/CCCD <span class="cl-red">(*)</span></label>
							<input onlyNumber="true" stopLength="10" formControlName="identity" [(ngModel)]="modelIndividual.identity" type="text" class="form-control"
								placeholder="Nhập..." pattern="^(84|0[3|5|7|8|9])+([0-9]{8})$">
						</div>
						<div class="col-12 col-lg-4 form-group">
							<label class="mb-1">Nơi cấp</label>
							<input svTrim formControlName="placeIssue" [(ngModel)]="modelIndividual.dateIssue" type="text" class="form-control" placeholder="Nhập...">
						</div>
						<div class="col-12 col-lg-4 form-group">
							<label class="mb-1">Ngày cấp</label>
							<input svTrim formControlName="dateIssue" type="text" class="form-control" placeholder="Nhập...">
						</div>
						<!-- row 3 -->
						<div class="col-12 col-lg-4 form-group">
							<label class="mb-1">Quốc tịch <span class="cl-red">(*)</span></label>
							<input svTrim formControlName="nation" type="text" class="form-control" placeholder="Nhập...">
						</div>
						<div class="col-12 col-lg-4 form-group">
							<label class="mb-1">Tỉnh/thành phố <span class="cl-red">(*)</span></label>
							<input svTrim formControlName="province" type="text" class="form-control" placeholder="Nhập...">
						</div>
						<div class="col-12 col-lg-4 form-group">
							<label class="mb-1">Huyện/Quận/Thị xã <span class="cl-red">(*)</span></label>
							<input svTrim formControlName="district" type="text" class="form-control" placeholder="Nhập...">
						</div>
						<!-- row 4 -->
						<div class="col-12 col-lg-8 form-group">
							<label class="mb-1">Xã/Phường/Thị trấn <span class="cl-red">(*)</span></label>
							<input svTrim formControlName="village" type="text" class="form-control" placeholder="Nhập...">
						</div>
						<div class="col-12 col-lg-4 form-group">
							<label class="mb-1">Địa chỉ cụ thể <span class="cl-red">(*)</span></label>
							<input svTrim formControlName="address" type="text" class="form-control" placeholder="Nhập...">
						</div>
						<!-- row 5 -->
						<div class="col-12 col-lg-4 form-group">
							<label class="mb-1">Giới tính <span class="cl-red">(*)</span></label>
							<ng-select class="form-control" [items]="listGender" placeholder="Chọn..." bindLabel="text" bindValue="value" formControlName="gender">
							</ng-select>
						</div>
						<div class="col-12 col-lg-4 form-group">
							<label class="mb-1">Ngày, tháng, năm, sinh <span class="cl-red">(*)</span></label>
							<input svTrim formControlName="dOB" type="text" class="form-control" placeholder="Nhập...">
						</div>
						<div class="col-12 col-lg-4 form-group">
							<label class="mb-1">Trạng thái</label>
							<!-- <ng-select class="form-control" [items]="listStatus" placeholder="Chọn..." bindLabel="text" bindValue="value" formControlName="status">
							</ng-select> -->
							<ng-select class="form-control" [items]="listStatus" placeholder="Chọn ..." bindLabel="text" bindValue="value" [(ngModel)]="status">
							</ng-select>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer border-top-0">
				<button type="button" class="btn btn-outline-secondary border px-5" data-dismiss="modal">Hủy</button>
				<button type="button" class="btn btn-danger border-0 px-5 grd-blue" (click)="onSaveUnit()">Tạo mới</button>
			</div>
		</div>
	</div>
</div>
<!-- end modal unit -->
