<div class="container-fluid p-0">
	<div class="row">
		<div class="col-lg-12">
			<ol class="breadcrumb title-module px-0 bg-transparent mb-0">
				<li class="breadcrumb-item"><a>Cá nhân, Doanh nghiệp</a></li>
				<li class="breadcrumb-item active"><a class="font-weight-bold">Danh sách cá nhân</a></li>
			</ol>
			<div class="btn-group group-button-table" role="group">
				<iframe src="" id="sampleFilesIndividual" hidden></iframe>
				<button type="button" class="btn grd-brown3 btn-sm rounded border-0 mr-3 text-dark" (click)="onDownFileExcel()">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-excel mr-1" viewBox="0 0 16 16">
						<path
							d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z" />
						<path
							d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
					</svg>
					File mẫu
				</button>
				<input type="file" #file [hidden]="true" id="excel-file" (change)="onExcelfileChange($event)">
				<button type="button" class="btn grd-brown3 btn-sm rounded border-0 mr-3 text-dark" (click)="onChangeFileExcel()">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-excel mr-1" viewBox="0 0 16 16">
						<path
							d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z" />
						<path
							d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
					</svg>
					Nhập excel
				</button>

				<button type="button" class="btn grd-brown3 btn-sm rounded border-0 mr-3 text-dark" (click)="onExport()">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-excel mr-1" viewBox="0 0 16 16">
						<path
							d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z" />
						<path
							d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
					</svg>
					Xuất excel
				</button>
				<button type="button" class="btn grd-xanhngoc btn-sm rounded border-0 text-white" (click)="preCreate()">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
						<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
					</svg>
					Thêm mới
				</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="card mb-0 shadow-none">
				<div class="table-responsive">

					<p-table #table [value]="listData" [lazy]="true" (onLazyLoad)="onPageChange($event)" [paginator]="true" [showCurrentPageReport]="true"
						currentPageReportTemplate="Tổng số {{totalRecords}}" [rows]="pageSize" [totalRecords]="totalRecords" [responsive]="true" autoLayout="true"
						tableStyleClass="table table-sd table-responsive-md table-striped mb-0">
						<ng-template pTemplate="header" class="bg-thead">
							<tr>
								<th style="width: 50px">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>STT</strong>
									</p>
								</th>
								<th style="width: 250px">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Cá nhân</strong>
										<span class="caret-tb" (click)="onSortIndividual('FullName')"></span>
									</p>
									<input class="form-control form-control-sm" [(ngModel)]="dataSearch.fullName" maxlength="100" (keydown.enter)="dataStateChange()"
										placeholder="Nhập ..." />
								</th>
								<th>
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Nơi ở hiện tại</strong>
										<span class="caret-tb" (click)="onSortIndividual('Address')"></span>
									</p>
									<input class="form-control form-control-sm" [(ngModel)]="dataSearch.address" maxlength="100" (keydown.enter)="dataStateChange()"
										placeholder="Nhập ..." />
								</th>
								<th style="width: 150px">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Số điện thoại</strong>
										<span class="caret-tb" (click)="onSortIndividual('Phone')"></span>
									</p>
									<input class="form-control form-control-sm" [(ngModel)]="dataSearch.phone" maxlength="11" (keydown.enter)="dataStateChange()"
										placeholder="Nhập ..." />
								</th>
								<th style="width: 250px">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Email</strong>
										<span class="caret-tb" (click)="onSortIndividual('Email')"></span>
									</p>
									<input class="form-control form-control-sm" [(ngModel)]="dataSearch.email" maxlength="256" (keydown.enter)="dataStateChange()"
										placeholder="Nhập ..." />
								</th>
								<th style="width: 160px">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Trạng thái</strong>
										<span class="caret-tb" (click)="onSortIndividual('Email')"></span>
									</p>
									<div style="width: 160px" class="dropdown bootstrap-select form-control form-control-sm">
										<ng-select class="" [items]="listStatus" placeholder="Trạng thái ..." bindLabel="text" bindValue="value" [(ngModel)]="dataSearch.status"
											[closeOnSelect]="true" (change)="dataStateChange()">
										</ng-select>
									</div>
								</th>
								<th class="text-right" style="width: 100px;">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Thao tác</strong>
									</p>
								</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
							<tr>
								<td class="text-center">{{rowIndex + 1}}</td>
								<td>
									<strong><a (click)="preView(item.id)" class="ellipsis text-dark highlight" title="Xem chi tiết" type="button">{{item.fullName}}</a></strong>
								</td>
								<td>{{item.address}}</td>
								<td>{{item.phone}}</td>
								<td>{{item.email}}</td>
								<td>
									<span *ngIf="item.status == 0" class="badge rounded-pill badge-light" (click)="onOpenConfirmModal(item.id,'Status')">Hết hiệu lực</span>
									<span *ngIf="item.status == 1" class="badge rounded-pill bg-success" (click)="onOpenConfirmModal(item.id,'Status')">Hiệu lực</span>
								</td>
								<td style=" max-width: 100px;">
									<div class="d-flex justify-content-end">
										<a type="button" (click)="preUpdate(item)" class="btn-icon grd-brown text-brown mr-2"><i class="bi bi-pencil-square"></i></a>
										<a type="button" (click)="onOpenConfirmModal(item.id,'Individual')" class="btn-icon grd-red text-white" data-toggle="modal"
											data-target="#modal-tc-pakn"><i class="bi bi-trash"></i></a>
									</div>
								</td>
							</tr>
						</ng-template>
						<ng-template pTemplate="emptymessage">
							<tr>
								<td class="text-center" colspan="7">Không có dữ liệu</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- modal -->
<div class="modal fade" id="modal">
	<div class="modal-dialog modal-dialog-centered" style="min-width: 60%" role="document">
		<div class="modal-content rounded">
			<form class="form-horizontal" [formGroup]="form" #formDir="ngForm">
				<div class="panel panel-default no-margin">
					<div class="modal-header">
						<button class="close btn-close-modal" data-dismiss="modal">
							×
						</button>
						<p class="modal-title h3">{{title}}</p>
					</div>
					<div class="modal-body no-padding-bottom">
						<div class="form-row">
							<!-- row 1 -->
							<div class="col-12 col-lg-4 form-group">
								<label class="mb-1">Họ và tên <span class="cl-red">(*)</span></label>
								<!-- <input type="text" [hidden]="true" [(ngModel)]="model.id"> -->
								<input svTrim maxlength="100" [(ngModel)]="model.fullName" formControlName="fullName" type="text" placeholder="Nhập..."
									class="form-control border-brown">
								<div *ngIf="(submitted && f.fullName.invalid)||(f.fullName.invalid && (f.fullName.dirty || f.fullName.touched))" class="has-error m-b-12">
									<div *ngIf="f.fullName.errors.required">
										<span class="help-block">Trường dữ liệu này không được để trống</span>
									</div>
									<div *ngIf="f.fullName.errors.maxlength">
										<span class="help-block">Chỉ nhập tối đa 100 ký tự</span>
									</div>
								</div>
							</div>
							<div class="col-12 col-lg-4 form-group">
								<label class="mb-1">Email</label>
								<input svTrim [(ngModel)]="model.email" formControlName="email" type="text" placeholder="Nhập..." class="form-control border-brown"
									(change)="onCheckExist('Email',$event.target.value)">
								<div *ngIf="(submitted && f.email.invalid)||(f.email.invalid && (f.email.dirty || f.email.touched))" class="has-error m-b-12">
									<div *ngIf="f.email.errors.email">
										<span class="help-block">Email không hợp lệ</span>
									</div>
								</div>
								<div *ngIf="email_exists && f.email.valid" class="has-error m-b-12">
									<div *ngIf="email_exists">
										<span class="help-block">Email đã được sử dụng</span>
									</div>
								</div>
							</div>
							<div class="col-12 col-lg-4 form-group">
								<label class="mb-1">Điện thoại <span class="cl-red">(*)</span></label>
								<input numbersOnly stopLength="10" [(ngModel)]="model.phone" formControlName="phone" type="text" placeholder="Nhập..." autocomplete="off"
									class="form-control border-brown" (change)="onCheckExist('Phone',$event.target.value)" pattern="^(84|0[3|5|7|8|9])+([0-9]{8})$">
								<div *ngIf="(submitted && f.phone.invalid)||(f.phone.invalid && (f.phone.dirty || f.phone.touched))" class="has-error m-b-12">
									<div *ngIf="f.phone.errors.required">
										<span class="help-block">Trường dữ liệu này không được để trống</span>
									</div>
									<div *ngIf="f.phone.errors.pattern">
										<span class="help-block">Số điện thoại không đúng</span>
									</div>
								</div>
								<div *ngIf="phone_exists && f.phone.valid" class="has-error m-b-12">
									<div *ngIf="phone_exists">
										<span class="help-block">Số điện thoại đã được sử dụng</span>
									</div>
								</div>
							</div>
							<!-- row 2 -->
							<div class="col-12 col-lg-4 form-group">
								<label class="mb-1">CMND/CCCD/Hộ chiếu <span class="cl-red">(*)</span></label>
								<input svDisabledSpaceKey maxlength="12" [(ngModel)]="model.iDCard" formControlName="iDCard" type="text" placeholder="Nhập..."
									class="form-control border-brown" pattern="^(\w{1}[0-9]{7}|[0-9]{8}|[0-9]{9}|[0-9]{12})$" (change)="onCheckExist('IDCard',$event.target.value)">

								<div *ngIf="(submitted && f.iDCard.invalid)||(f.iDCard.invalid && (f.iDCard.dirty || f.iDCard.touched))" class="has-error m-b-12">
									<div *ngIf="f.iDCard.errors.required">
										<span class="help-block">Trường dữ liệu này không được để trống</span>
									</div>
									<div *ngIf="f.iDCard.errors.pattern">
										<span class="help-block">Số CMND/CCCD không hợp lệ!</span>
									</div>
								</div>
								<div *ngIf="idCard_exists && f.iDCard.valid" class="has-error m-b-12">
									<div *ngIf="idCard_exists">
										<span class="help-block">Số CMND/CCCD đã được sử dụng</span>
									</div>
								</div>
							</div>
							<div class="col-12 col-lg-4 form-group">
								<label class="mb-1">Nơi cấp</label>
								<input [svTrim] [(ngModel)]="model.issuedPlace" formControlName="placeIssue" type="text" placeholder="Nhập..." class="form-control border-brown">
							</div>
							<div class="col-12 col-lg-4 form-group">
								<label class="mb-1">Ngày cấp</label>
								<div class="input-group">
									<input class="form-control" autocomplete="off" placeholder="Nhập..." bsDatepicker #n="bsDatepicker" maxlength="10" id="_dateIssue"
										[(ngModel)]="model.dateOfIssue" formControlName="dateIssue" appBsDatepickerInvalid
										[bsConfig]="{dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue', adaptivePosition: true}" [maxDate]="dateNow" />
									<div class="input-group-addon">
										<i class="far fa-calendar-alt" (click)="n.toggle()" [attr.aria-expanded]="n.isOpen"></i>
									</div>
								</div>
							</div>
							<!-- row 3 -->
							<div class="col-12 col-lg-4 form-group">
								<label class="mb-1">Quốc tịch <span class="cl-red">(*)</span></label>
								<ng-select [(ngModel)]="model.nation" *ngIf="!isOtherNation" formControlName="nation" class="form-control" placeholder="Chọn..."
									[closeOnSelect]="true" (change)="onChangeNation()">
									<ng-option *ngFor="let nation of listNation" [value]="nation.id">{{nation.name}}</ng-option>
									<ng-option value="#">Khác</ng-option>
								</ng-select>
								<input #nation [svTrim] *ngIf="isOtherNation" [(ngModel)]="model.nation" formControlName="nation" type="text" placeholder="Nhập..."
									class="form-control border-brown" (click)="onResetNationValue($event)">
								<span *ngIf="isOtherNation" class="select-caret-icon" (click)="backToSelectBox()">
									<i class="bi bi-caret-down-fill"></i>
								</span>
								<div *ngIf="(submitted && f.nation.invalid)||(f.nation.invalid && (f.nation.dirty || f.nation.touched))" class="has-error m-b-12">
									<div *ngIf="f.nation.errors.required">
										<span class="help-block">Trường dữ liệu này không được để trống</span>
									</div>
								</div>
							</div>
							<div class="col-12 col-lg-4 form-group">
								<label class="mb-1">Tỉnh/thành phố <span class="cl-red">(*)</span></label>
								<select *ngIf="isOtherNation" class="form-control" disabled [(ngModel)]="model.provinceId" formControlName="province">
									<option value="0">Chọn...</option>
								</select>
								<ng-select *ngIf="!isOtherNation" [(ngModel)]="model.provinceId" formControlName="province" class="form-control" placeholder="Chọn..."
									[closeOnSelect]="true" (change)="onChangeProvince()">

									<ng-option *ngFor="let prov of listProvince" [value]="prov.id">{{prov.name}}</ng-option>
								</ng-select>
								<div *ngIf="(submitted && f.province.invalid)||(f.province.invalid && (f.province.dirty || f.province.touched))" class="has-error m-b-12">
									<div *ngIf="f.province.errors.required">
										<span class="help-block">Trường dữ liệu này không được để trống</span>
									</div>
								</div>
							</div>
							<div class="col-12 col-lg-4 form-group">
								<label class="mb-1">Huyện/Quận/Thị xã <span class="cl-red">(*)</span></label>
								<select *ngIf="isOtherNation" class="form-control" disabled [(ngModel)]="model.districtId" formControlName="district">
									<option value="0">Chọn...</option>
								</select>
								<ng-select *ngIf="!isOtherNation" [(ngModel)]="model.districtId" formControlName="district" class="form-control" placeholder="Chọn..."
									[closeOnSelect]="true" (change)="onChangeDistrict()">

									<ng-option *ngFor="let dis of listDistrict" [value]="dis.id">{{dis.name}}</ng-option>
								</ng-select>
								<div *ngIf="(submitted && f.district.invalid)||(f.district.invalid && (f.district.dirty || f.district.touched))" class="has-error m-b-12">
									<div *ngIf="f.district.errors.required">
										<span class="help-block">Trường dữ liệu này không được để trống</span>
									</div>
								</div>
							</div>
							<!-- row 4 -->
							<div class="col-12 col-lg-4 form-group">
								<label class="mb-1">Xã/Phường/Thị trấn <span class="cl-red">(*)</span></label>
								<select *ngIf="isOtherNation" class="form-control" disabled [(ngModel)]="model.wardsId" formControlName="village">
									<option value="0">Chọn...</option>
								</select>
								<ng-select *ngIf="!isOtherNation" [(ngModel)]="model.wardsId" formControlName="village" class="form-control" placeholder="Chọn..."
									[closeOnSelect]="true">

									<ng-option *ngFor="let vill of listVillage" [value]="vill.id">{{vill.name}}</ng-option>
								</ng-select>
								<div *ngIf="(submitted && f.village.invalid)||(f.village.invalid && (f.village.dirty || f.village.touched))" class="has-error m-b-12">
									<div *ngIf="f.village.errors.required">
										<span class="help-block">Trường dữ liệu này không được để trống</span>
									</div>
								</div>
							</div>
							<div class="col-12 col-lg-8 form-group">
								<label class="mb-1">Địa chỉ cụ thể <span class="cl-red">(*)</span></label>
								<input [svTrim] [(ngModel)]="model.address" maxlength="255" formControlName="address" type="text" placeholder="Nhập..."
									class="form-control border-brown">
								<div *ngIf="(submitted && f.address.invalid)||(f.address.invalid && (f.address.dirty || f.address.touched))" class="has-error m-b-12">
									<div *ngIf="f.address.errors.required">
										<span class="help-block">Trường dữ liệu này không được để trống</span>
									</div>
								</div>
							</div>
							<!-- row 5 -->
							<div class="col-12 col-lg-4 form-group">
								<label class="mb-1">Giới tính <span class="cl-red">(*)</span></label>
								<ng-select [(ngModel)]="model.gender" formControlName="gender" class="form-control" placeholder="Chọn..." [closeOnSelect]="true">
									<ng-option *ngFor="let gen of listGender" [value]="gen.value">{{gen.text}}</ng-option>
								</ng-select>
							</div>
							<div class="col-12 col-lg-4 form-group">
								<label class="mb-1">Ngày, tháng, năm, sinh <span class="cl-red">(*)</span></label>
								<div class="input-group">
									<input class="form-control" placeholder="Nhập..." autocomplete="off" bsDatepicker #n="bsDatepicker" maxlength="10" id="_dob"
										[(ngModel)]="model.birthDate" formControlName="birthDate" appBsDatepickerInvalid
										[bsConfig]="{dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue', adaptivePosition: true}" [maxDate]="dateNow" />
									<div class="input-group-addon">
										<i class="far fa-calendar-alt" (click)="n.toggle()" [attr.aria-expanded]="n.isOpen"></i>
									</div>
								</div>
								<div *ngIf="(submitted && f.birthDate.invalid)||(f.birthDate.invalid && (f.birthDate.dirty || f.birthDate.touched))" class="has-error m-b-12">
									<div *ngIf="f.birthDate.errors.required">
										<span class="help-block">Trường dữ liệu này không được để trống</span>
									</div>
								</div>
							</div>
							<div class="col-12 col-lg-4 form-group">
								<label class="mb-1">Trạng thái</label>
								<ng-select class="form-control" [items]="listStatus" formControlName="status" placeholder="Chọn ..." bindLabel="text" bindValue="value"
									[(ngModel)]="model.status" [closeOnSelect]="true">
								</ng-select>
							</div>

						</div>
					</div>
					<div class="modal-footer border-top-0">
						<button type="button" data-dismiss="modal" class="btn btn-outline-secondary border px-5" data-dismiss="modal">Hủy</button>
						<button type="button" class="btn btn-danger border-0 px-5 grd-blue" (click)="onSave()">Xác nhận</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="modalDetail">
	<div class="modal-dialog modal-dialog-centered" style="min-width: 60%" role="document">
		<div class="modal-content rounded">
			<!-- <form class="form-horizontal"> -->
			<div class="panel panel-default no-margin">
				<div class="modal-header">
					<button class="close btn-close-modal" data-dismiss="modal">
						×
					</button>
					<p class="modal-title h3">Thông tin chi tiết</p>
				</div>
				<div class="modal-body no-padding-bottom">
					<div class="row">
						<div class="col-sm-4">
							<strong class="control-label lb600">Tên cá nhân</strong>
							<p>{{modelDetail.fullName}}</p>
						</div>
						<div class="col-sm-4">
							<strong class="control-label lb600">Email</strong>
							<p>{{modelDetail.email}}</p>
						</div>
						<div class="col-sm-4">
							<strong class="control-label lb600">Điện thoại</strong>
							<p>{{modelDetail.phone}}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<strong class="control-label lb600">CMND</strong>
							<p>{{modelDetail.iDCard}}</p>
						</div>
						<div class="col-sm-4">
							<strong class="control-label lb600">Nơi cấp</strong>
							<p>{{modelDetail.issuedPlace}}</p>
						</div>
						<div class="col-sm-4">
							<strong class="control-label lb600">Ngày cấp</strong>
							<p>{{modelDetail.dateOfIssue | date: 'dd/MM/yyyy'}}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<strong class="control-label lb600">Quốc tịch</strong>
							<p>{{modelDetail.nation}}</p>
						</div>
						<div class="col-sm-4">
							<strong class="control-label lb600">Tỉnh thành phố</strong>
							<p>{{modelDetail.proviceName}}</p>
						</div>
						<div class="col-sm-4">
							<strong class="control-label lb600">Huyện/Thị xã</strong>
							<p>{{modelDetail.districtName}}</p>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-4">
							<strong class="control-label lb600">Phường/Thị trấn</strong>
							<p>{{modelDetail.wardsName}}</p>
						</div>
						<div class="col-sm-8">
							<strong class="control-label lb600">Địa chỉ cụ thể</strong>
							<p>{{modelDetail.address}}</p>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-4">
							<strong class="control-label lb600">Giới tính</strong>
							<p *ngIf="model.gender == true">Nữ</p>
							<p *ngIf="model.gender == false">Nam</p>
						</div>
						<div class="col-sm-4">
							<strong class="control-label lb600">Ngày sinh</strong>
							<p>{{modelDetail.birthDate | date: 'dd/MM/yyyy'}}</p>
						</div>
						<div class="col-sm-4">
							<strong class="control-label lb600">Trạng thái</strong>
							<p *ngIf="model.isActived == true">Hiệu lực</p>
							<p *ngIf="model.isActived == false">Hết hiệu lực</p>
						</div>
					</div>
				</div>
			</div>
			<!-- </form> -->
		</div>
	</div>
</div>


<!-- confirm modal -->
<div class="modal fade" id="modal-confirm">
	<div class="modal-dialog modal-dialog-centered modal-md" role="document">
		<div class="modal-content rounded">
			<div class="modal-header border-bottom-0">
				<p class="modal-title h3">Xác nhận</p>
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span>
				</button>
			</div>
			<div class="modal-body pb-0">
				<span>
					Anh/chị có chắc chắn thực hiện hành động này?
				</span>
			</div>
			<div class="modal-footer border-top-0">
				<button type="button" class="btn btn-outline-secondary btn-sm border px-5" data-dismiss="modal">Hủy</button>
				<button type="button" class="btn btn-danger border-0 px-5 grd-blue btn-sm" (click)="acceptConfirm()">Đồng ý</button>
			</div>
		</div>
	</div>
</div>
