<!--**********************************
            Content body start
        ***********************************-->
<div class="content-nd">
	<div class="banner">
		<img src="../../../../assets/dist/images/banner.jpg">
	</div>
	<div>
		<div class="container">
			<div class="row justify-content-between pt-5">
				<div class="col main-ct pr-3 pr-lg-5">
					<div class="box">
						<div class="title title-introduce">
							Giới thiệu về Trung tâm tiếp nhận và xử lý Phản ánh, Kiến nghị tỉnh Khánh Hòa
						</div>
						<div class="current-time">
							<i class="bi bi-calendar"></i>
							17:27 ngày 24/12/2021
						</div>
						<div class="content-intro">
							<p class="content-intro-p">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices id adipiscing pharetra, elementum a massa, etiam nec tortor. Egestas non
								adipiscing integer curabitur diam neque dictum. Amet, id laoreet proin magnis vitae sit non. Id elementum id consectetur sit et dui nulla facilisi
								risus. Est penatibus molestie tempus ut elit diam consequat turpis sagittis. Nec in pellentesque purus viverra eu.
							</p>
						</div>

						<div class="title title-unit">
							Cơ cấu tổ chức
						</div>
						<div class="content-intro">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices id adipiscing pharetra, elementum a massa, etiam nec tortor. Egestas non
								adipiscing integer curabitur diam neque dictum. Amet, id laoreet proin magnis vitae sit non. Id elementum id consectetur sit et dui nulla facilisi
								risus. Est penatibus molestie tempus ut elit diam consequat turpis sagittis. Nec in pellentesque purus viverra eu.
							</p>
						</div>
						<div class="table-responsive">
							<table class="table table-tthc table-bordered table-striped rounded overflow-hidden mb-4">
								<tbody>
									<tr>
										<th scope="row">Đơn vị 1</th>
										<td>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id id fermentum, vitae adipiscing etiam turpis ut tristique enim. Aliquam
											lectus pretium feugiat urna tristique eu pharetra sed.
										</td>
									</tr>
									<tr>
										<th scope="row">Đơn vị 1</th>
										<td>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id id fermentum, vitae adipiscing etiam turpis ut tristique enim. Aliquam
											lectus pretium feugiat urna tristique eu pharetra sed.
										</td>
									</tr>
									<tr>
										<th scope="row">Đơn vị 1</th>
										<td>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id id fermentum, vitae adipiscing etiam turpis ut tristique enim. Aliquam
											lectus pretium feugiat urna tristique eu pharetra sed.
										</td>
									</tr>
									<tr>
										<th scope="row">Đơn vị 1</th>
										<td>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id id fermentum, vitae adipiscing etiam turpis ut tristique enim. Aliquam
											lectus pretium feugiat urna tristique eu pharetra sed.
										</td>
									</tr>
								</tbody>
							</table>

						</div>
						<div class="tt-v1 mb-5 d-flex" style="float: right;">
							<a class="read-more" href="javascript:void(0)">Xem thêm <i class="bi bi-arrow-right"></i></a>
						</div>
					</div>

					<div class="box" style="padding-bottom: 40px;">
						<div class="banner" style="height: auto; margin-bottom: 50px;">
							<img src="../../../../assets/dist/images/svg/banner-introduce.svg">
						</div>
						<div class="row">
							<div class="col-12 col-sm-6 flex">
								<div class="item-introduce">
									<div class="icon">
										<i class="bi bi-person-plus"></i>
									</div>
								</div>
								<div class="content-intro-x">
									<div class="title-action">
										Đăng ký tài khoản
									</div>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id id fermentum, vitae adipiscing etiam turpis unsectetur adipiscing elit. Id id
										fermentum, vitae adipiscing etiam turpis ut tristique enim. Aliquam lectus
										pretium feugiat urn...
									</p>
								</div>
							</div>
							<div class="col-12 col-sm-6 flex">
								<div class="item-introduce">
									<div class="icon">
										<i class="bi bi-chat-right-dots"></i>
									</div>
								</div>
								<div class="content-intro-x">
									<div class="title-action">
										Tiếp nhận Phản ánh, Kiến nghị qua chatbot
									</div>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id id fermentum, vitae adipiscing etiam turpis ut tristique enim. Aliquam lectus
										pretium feugiat urn...
									</p>
								</div>
							</div>
							<div class="col-12 col-sm-6 flex">
								<div class="item-introduce">
									<div class="icon">
										<i class="bi bi-search"></i>
									</div>
								</div>
								<div class="content-intro-x">
									<div class="title-action">
										Tra cứu thủ tục hành chính
									</div>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id id fermentum, vitae adipiscing etiam turpis ut tristique enim. Aliquam lectus
										pretium feugiat urn...
									</p>
								</div>
							</div>
							<div class="col-12 col-sm-6 flex">
								<div class="item-introduce">
									<div class="icon">
										<i class="bi bi-file-earmark-arrow-up"></i>

									</div>
								</div>
								<div class="content-intro-x">
									<div class="title-action">
										Gửi Phản ánh, Kiến nghị
									</div>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id id fermentum, vitae adipiscing etiam turpis ut tristique enim. Aliquam
										lectus
										pretium feugiat urn...
									</p>
								</div>
							</div>
							<div class="col-12 col-sm-6 flex">
								<div class="item-introduce">
									<div class="icon">
										<i class="bi bi-newspaper"></i></div>
								</div>
								<div class="content-intro-x">
									<div class="title-action">
										Tin tức & Sự kiện
									</div>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id id fermentum, vitae adipiscing etiam turpis ut tristique enim. Aliquam
										lectus
										pretium feugiat urn...
									</p>
								</div>
							</div>
							<div class="col-12 col-sm-6 flex">
								<div class="item-introduce">
									<div class="icon">
										<i class="bi bi-file-earmark-text"></i>
									</div>

								</div>
								<div class="content-intro-x">
									<div class="title-action">
										Theo dõi Phản ánh, Kiến nghị
									</div>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id id fermentum, vitae adipiscing etiam turpis ut tristique enim. Aliquam
										lectus
										pretium feugiat urn...
									</p>
								</div>
							</div>
						</div>
					</div>



				</div>

			</div>
		</div>
	</div>
</div>
<!--**********************************
          Content body end
      ***********************************-->
