<div class="content-nd">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-12 col-lg-auto d-none d-lg-block pl-3 bg-administrative-left">
				<div class="row no-margin">
					<div class="form-group mb-2">
						<div class="radio d-inline mr-5">
							<label><input type="radio" [value]="1" checked="checked" [(ngModel)]="typeSelected" name="optradio"> Đơn vị</label>
						</div>
						<div class="radio d-inline">
							<label><input type="radio" [value]="2" [(ngModel)]="typeSelected" name="optradio"> Lĩnh vực</label>
						</div>
					</div>
					<div class="form-group mb-2" *ngIf="typeSelected == 1">
						<div class="group-search">
							<input type="text" placeholder="Tìm đơn vị" [(ngModel)]="txtSearchDonVi" (keydown.enter)="getUnitDropdown()" class="form-control" name="optradio">
							<div class="input-group-icon" (click)="getUnitDropdown()">
								<svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										d="M23.7871 22.7761L17.9548 16.9437C19.5193 15.145 20.4665 12.7982 20.4665 10.2333C20.4665 4.58714 15.8741 0 10.2333 0C4.58714 0 0 4.59246 0 10.2333C0 15.8741 4.59246 20.4665 10.2333 20.4665C12.7982 20.4665 15.145 19.5193 16.9437 17.9548L22.7761 23.7871C22.9144 23.9255 23.1007 24 23.2816 24C23.4625 24 23.6488 23.9308 23.7871 23.7871C24.0639 23.5104 24.0639 23.0528 23.7871 22.7761ZM1.43149 10.2333C1.43149 5.38004 5.38004 1.43681 10.2279 1.43681C15.0812 1.43681 19.0244 5.38537 19.0244 10.2333C19.0244 15.0812 15.0812 19.035 10.2279 19.035C5.38004 19.035 1.43149 15.0865 1.43149 10.2333Z"
										fill="#A4A4A4"></path>
								</svg>
							</div>
						</div>
					</div>
					<div class="form-group mb-2" *ngIf="typeSelected == 1">
						<ul class="list-data">
							<li *ngFor="let item of lstUnit">
								<a (click)="changeUnit(item.value)">{{item.text}}</a>
							</li>
						</ul>
					</div>
					<div class="form-group mb-2" *ngIf="typeSelected == 2">
						<ul class="list-data">
							<li *ngFor="let item of lstField">
								<a (click)="changeField(item.value)">{{item.text}}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col main-ct">
				<div class="box mt-5 mb-4">
					<div class="form-group form-search">
						<input placeholder="Nhập nội dung tìm kiếm..." class="form-control form-control" [(ngModel)]="dataSearch.name" maxlength="100"
							(keydown.enter)="dataStateChange()" />
						<a (click)="dataStateChange()" type="button">
							<i class="fal fa-search"></i>
						</a>
					</div>
					<div id="accordion-one" class="mb-4">
						<div>
							<div class="pointer text-right collapsed text-blue" data-toggle="collapse" data-target="#default_collapseOne" aria-expanded="false">
								<span class="accordion__header--text">Tìm kiếm nâng cao</span>
							</div>
							<div id="default_collapseOne" class="accordion__body collapse" data-parent="#accordion-one">
								<div class="row form-group">
									<div class="col-lg-3">
										<ng-select notFoundText="Không có dữ liệu" placeholder="Chọn cấp tiếp nhận..." class="form-control border-brown" [items]="lstGrant"
											bindLabel="text" bindValue="value" [(ngModel)]="dataSearch.rankReceiveId" [closeOnSelect]="true" (change)="dataStateChange()"
											[virtualScroll]="true">
										</ng-select>
									</div>
									<div class="col-lg-3">
										<ng-select notFoundText="Không có dữ liệu" placeholder="Chọn mức độ..." class="form-control border-brown" [items]="lstLevel"
											bindLabel="text" bindValue="value" [(ngModel)]="dataSearch.level" [closeOnSelect]="true" (change)="dataStateChange()"
											[virtualScroll]="true">
										</ng-select>
									</div>
									<div class="col-lg-3">
										<ng-select notFoundText="Không có dữ liệu" placeholder="Chọn đơn vị tiếp nhận..." class="form-control border-brown" [items]="lstUnit"
											bindLabel="text" bindValue="value" [(ngModel)]="dataSearch.unitId" [closeOnSelect]="true" (change)="dataStateChange()"
											[virtualScroll]="true">
										</ng-select>
									</div>
									<div class="col-lg-3">
										<ng-select notFoundText="Không có dữ liệu" placeholder="Chọn lĩnh vực..." class="form-control border-brown" [items]="lstField"
											bindLabel="text" bindValue="value" [(ngModel)]="dataSearch.field" [closeOnSelect]="true" (change)="dataStateChange()"
											[virtualScroll]="true">
										</ng-select>
									</div>
								</div>
								<div class="row form-group d-block">
									<div class="d-inline mr-3">
										<p-checkbox label="Nộp hồ sơ qua đường bưu chính" [(ngModel)]="isBuuChinh" inputId="ny"></p-checkbox>
									</div>
									<div class="d-inline">
										<p-checkbox label="Thanh toán trực tuyến" [(ngModel)]="isTTTT" inputId="sf"></p-checkbox>
									</div>
								</div>
							</div>
						</div>
					</div>
					<p-table #table [value]="listData" [lazy]="true" (onLazyLoad)="onPageChange($event)" [paginator]="true" [showCurrentPageReport]="true"
						currentPageReportTemplate="Tổng số {{totalRecords}}" [rows]="pageSize" [totalRecords]="totalRecords" [responsive]="true" autoLayout="true"
						tableStyleClass="table table-sd table-responsive-md table-striped mb-0">
						<ng-template pTemplate="header" class="bg-thead">
							<tr>
								<th class="text-center" style="width: 50px">STT</th>
								<th style="width: 150px;">Mã quản lý quốc gia</th>
								<th>Thủ tục hành chính</th>
								<th style="width: 150px">Lĩnh vực</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-item let-rowIndex="rowIndex" class="mb-3">
							<tr>
								<td class="vertical-top text-center">{{rowIndex + 1}}</td>
								<td class="vertical-top">{{item.countryCode}}</td>
								<td class="vertical-top">
									<p class="mb-1 text-2line cursor">
										<a class="text-black fw600" title="{{item.name}}" [routerLink]="['/cong-bo/thu-tuc-hanh-chinh',item.administrationId]">{{item.name}}</a>
									</p>
									<p class="small mb-1 text-brown">
										<span class="mr-4"><b>Mã nội bộ:</b> {{item.code}}</span>
										<span><b class="mr-1">Mức độ</b>
											<label *ngIf="item.level == 1" class="badge-custom orange">{{item.level}}</label>
											<label *ngIf="item.level == 2" class="badge-custom pink">{{item.level}}</label>
											<label *ngIf="item.level == 3" class="badge-custom danger">{{item.level}}</label>
											<label *ngIf="item.level == 3" class="badge-custom danger-bold">{{item.level}}</label>
										</span>
									</p>
								</td>
								<td class="vertical-top">{{item.fieldName}}</td>
							</tr>
						</ng-template>
						<ng-template pTemplate="emptymessage">
							<tr>
								<td class="text-center" colspan="6">Không có dữ liệu</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>
		</div>
	</div>
</div>
