<!--**********************************
            Sidebar start
        ***********************************-->
<div class="deznav">
	<div class="deznav-scroll ps ps--active-y">
		<ul class="metismenu" id="menu">
			<li class="border-0 bg-transparent" routerLinkActive="mm-active active" [routerLinkActiveOptions]="{exact: false}">
				<a class="ai-icon" routerLink="/quan-tri/ban-lam-viec" aria-expanded="false">
					<i class="bi bi-grid"></i>
					<span class="nav-text">Bảng điều khiển</span>
				</a>
			</li>
			<li routerLinkActive="mm-active active" [routerLinkActiveOptions]="{exact: false}">
				<a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
					<i class="bi bi-file-earmark-medical"></i>
					<span class="nav-text">Phản ánh, Kiến nghị</span>
				</a>
				<ul routerLinkActive="mm-show" aria-expanded="false">
					<li><a routerLinkActive="mm-active" routerLink="/quan-tri/kien-nghi/danh-sach-tong-hop">Danh sách tổng hợp</a>
					</li>
					<li *ngIf="isMainMenu"><a routerLinkActive="mm-active" routerLink="/quan-tri/kien-nghi/cho-xu-ly">Chờ xử lý</a></li>
					<li *ngIf="isMainMenu"><a routerLinkActive="mm-active" routerLink="/quan-tri/kien-nghi/tiep-nhan-xu-ly">Tiếp nhận xử lý</a></li>
					<li *ngIf="isMainMenu"><a routerLinkActive="mm-active" routerLink="/quan-tri/kien-nghi/tu-choi-tiep-nhan">Từ chối tiếp nhận</a></li>
					<li><a routerLinkActive="mm-active" routerLink="/quan-tri/kien-nghi/cho-giai-quyet">Chờ giải quyết</a></li>
					<li><a routerLinkActive="mm-active" routerLink="/quan-tri/kien-nghi/dang-giai-quyet">Đang giải quyết</a></li>
					<li><a routerLinkActive="mm-active" routerLink="/quan-tri/kien-nghi/tu-choi-giai-quyet">Từ chối giải quyết</a>
					</li>
					<li><a routerLinkActive="mm-active" routerLink="/quan-tri/kien-nghi/cho-phe-duyet">Chờ phê duyệt</a></li>
					<li><a routerLinkActive="mm-active" routerLink="/quan-tri/kien-nghi/tu-choi-phe-duyet">Từ chối phê duyệt</a>
					</li>
					<li><a routerLinkActive="mm-active" routerLink="/quan-tri/kien-nghi/da-giai-quyet">Đã giải quyết</a></li>
					<li><a routerLinkActive="mm-active" routerLink="/quan-tri/kien-nghi/chua-tu-ngu-bi-cam">PAKN chứa từ ngữ bị cấm</a></li>
					<li><a routerLinkActive="mm-active" routerLink="/quan-tri/kien-nghi/pakn-chua-anh-gia">PAKN chứa ảnh giả</a>
					</li>
					<li><a routerLinkActive="mm-active" routerLink="/quan-tri/kien-nghi/danh-sach-knct">Danh sách KNCT</a></li>
				</ul>
			</li>
			<li routerLinkActive="mm-active active" [routerLinkActiveOptions]="{exact: false}">
				<a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
					<i class="bi bi-file-earmark-ruled"></i>
					<span class="nav-text">Thủ tục hành chính</span>
				</a>
				<ul routerLinkActive="mm-show" aria-expanded="false">
					<li><a a routerLinkActive="mm-active" routerLink="/quan-tri/thu-tuc-hanh-chinh/danh-sach-tong-hop">Danh sách
							tổng hợp</a></li>
					<li><a routerLink="/quan-tri/thu-tuc-hanh-chinh/thu-tuc-hanh-chinh-da-cong-bo">Đã công bố</a></li>
					<li><a href="#">Đã gửi đơn vị, cơ quan</a></li>
				</ul>
			</li>
			<li routerLinkActive="mm-active active" [routerLinkActiveOptions]="{exact: false}">
				<a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
					<i class="bi bi-newspaper"></i>
					<span class="nav-text">Tin tức, Sự kiện</span>
				</a>
				<ul routerLinkActive="mm-show" aria-expanded="false">
					<li><a routerLink="/quan-tri/tin-tuc/danh-sach-tong-hop">Danh sách tổng hợp</a></li>
					<li><a routerLink="/quan-tri/tin-tuc/danh-sach-da-cong-bo">Đã công bố</a></li>
				</ul>
			</li>
			<li routerLinkActive="mm-active active" [routerLinkActiveOptions]="{exact: false}">
				<a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
					<i class="bi bi-people"></i>
					<span class="nav-text">Cá nhân, Doanh nghiệp</span>
				</a>
				<ul routerLinkActive="mm-show" aria-expanded="false">
					<li><a routerLink="/quan-tri/ca-nhan-doanh-nghiep/ca-nhan">Quản lý Cá nhân</a></li>
					<li><a routerLink="/quan-tri/ca-nhan-doanh-nghiep/doanh-nghiep">Quản lý Doanh nghiệp</a></li>
				</ul>
			</li>
			<li routerLinkActive="mm-active active"><a routerLink="/quan-tri/thu-moi" class="ai-icon" aria-expanded="false">
					<i class="bi bi-envelope-open"></i>
					<span class="nav-text">Thư mời</span>
				</a>
			</li>
			<li routerLinkActive="mm-active active" [routerLinkActiveOptions]="{exact: false}">
				<a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
					<i class="bi bi-chat-right-dots"></i>
					<span class="nav-text">Email/SMS</span>
				</a>
				<ul routerLinkActive="mm-show" aria-expanded="false">
					<li><a routerLink="/quan-tri/email-sms/email">Dự thảo Email</a></li>
					<li><a routerLink="/quan-tri/email-sms/email">Email đã gửi</a></li>
					<li><a routerLink="/quan-tri/email-sms/sms">Dự thảo SMS</a></li>
					<li><a routerLink="/quan-tri/email-sms/sms-da-gui">SMS đã gửi</a></li>
				</ul>
			</li>
			<li routerLinkActive="mm-active active" [routerLinkActiveOptions]="{exact: false}">
				<a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
					<i class="bi bi-distribute-vertical"></i>
					<span class="nav-text">Danh mục</span>
				</a>
				<ul routerLinkActive="mm-show" aria-expanded="false">
					<li><a routerLink="/quan-tri/danh-muc/chuc-vu">Chức vụ</a></li>
					<li><a routerLink="/quan-tri/danh-muc/linh-vuc">Lĩnh vực</a></li>
					<li><a routerLink="/quan-tri/danh-muc/loai-tin-tuc">Loại tin tức</a></li>
					<li><a routerLink="/quan-tri/danh-muc/nhom-thu-vien-tu">Nhóm thư viện từ ngữ</a></li>
					<li><a routerLink="/quan-tri/danh-muc/thu-vien-tu">Thư viện từ ngữ</a></li>
					<li><a routerLink="/quan-tri/danh-muc/nhom-so-nganh">Nhóm sở ngành</a></li>
					<li><a routerLink="/quan-tri/danh-muc/so-nganh">Sở ngành</a></li>
					<li><a routerLink="/quan-tri/danh-muc/hashtag">Hashtag</a></li>
				</ul>
			</li>
			<li routerLinkActive="mm-active active" [routerLinkActiveOptions]="{exact: false}">
				<a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
					<i class="bi bi-diagram-2"></i>
					<span class="nav-text">Hệ thống</span>
				</a>
				<ul routerLinkActive="mm-show" aria-expanded="false">
					<li><a routerLink="/quan-tri/he-thong/cau-hinh-he-thong">Cấu hình hệ thống</a></li>
					<li><a routerLink="/quan-tri/he-thong/cau-hinh-time">Cấu hình thời gian làm việc</a></li>
					<!-- <li><a routerLink="/quan-tri/he-thong/cau-hinh-sms">Cấu hình SMS thương hiệu</a></li> -->
					<li><a routerLink="/quan-tri/he-thong/cau-hinh-trang-gioi-thieu">Cấu hình trang giới thiệu</a></li>
					<li><a routerLink="/quan-tri/he-thong/cau-hinh-trang-chu">Cấu hình trang chủ</a></li>
					<li><a routerLink="/quan-tri/he-thong/co-cau-to-chuc">Cơ cấu tổ chức</a></li>
					<li><a routerLink="/quan-tri/he-thong/vai-tro">Quản lý vai trò</a></li>
					<li><a routerLink="/quan-tri/he-thong/nguoi-dung">Quản lý nhân viên quản trị</a></li>
					<li><a routerLink="/quan-tri/he-thong/quan-ly-chat-bot">Quản lý chat bot</a></li>
					<li><a routerLink="/quan-tri/he-thong/lich-su-chat-bot">Lịch sử chat bot</a></li>
					<li><a routerLink="/quan-tri/he-thong/lich-su-he-thong">Lịch sử hệ thống</a></li>
				</ul>
			</li>
			<li routerLinkActive="mm-active active" [routerLinkActiveOptions]="{exact: false}">
				<a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
					<i class="bi bi-pie-chart"></i>
					<span class="nav-text">Báo cáo,Thống kê</span>
				</a>
				<ul routerLinkActive="mm-show" aria-expanded="false">
					<li><a routerLink="/quan-tri/bao-cao/phan-anh-kien-nghi-theo-don-vi">Thống kê Phản ánh kiến nghị theo đơn vị</a></li>
					<li><a routerLink="/quan-tri/bao-cao/phan-anh-kien-nghi-theo-linh-vuc">Thống kê Phản ánh kiến nghị theo lĩnh vực</a></li>
					<li><a routerLink="/quan-tri/bao-cao/phan-anh-kien-nghi-theo-nhom-tu-ngu">Thống kê Phản ánh kiến nghị theo nhóm từ phản động</a></li>
				</ul>
			</li>
			<!-- <li routerLinkActive="mm-active active" [routerLinkActiveOptions]="{exact: false}">
				<a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
					<i class="bi bi-file-earmark-text"></i>
					<span class="nav-text">Báo cáo</span>
				</a>
				<ul routerLinkActive="mm-show" aria-expanded="false">
					<li><a href="#">Sub menu</a></li>
					<li><a href="#">Sub menu</a></li>
					<li><a href="#">Sub menu</a></li>
					<li><a href="#">Sub menu</a></li>
				</ul>
			</li> -->
			<li routerLinkActive="mm-active active" [routerLinkActiveOptions]="{exact: false}">
				<a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
					<i class="bi bi-layout-text-sidebar-reverse"></i>
					<span class="nav-text">Thiết lập chung</span>
				</a>
				<ul routerLinkActive="mm-show" aria-expanded="false">
					<li><a href="#">Giới thiệu phần mềm</a></li>
					<li><a href="#">Chức năng, nhiệm vụ, quyền hạn của tổ chức</a></li>
					<li><a href="#">Lãnh đạo đương nhiệm</a></li>
					<li><a href="#">Cơ cấu tổ chức</a></li>
					<li><a href="#">Thông tin liên hệ</a></li>
				</ul>
			</li>
			<li routerLinkActive="mm-active active" [routerLinkActiveOptions]="{exact: false}">
				<a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
					<i class="bi bi-life-preserver"></i>
					<span class="nav-text">Hỗ trợ</span>
				</a>
				<ul routerLinkActive="mm-show" aria-expanded="false">
					<!-- <li><a routerLink="/quan-tri/huong-dan-su-dung">Tài liệu hướng dẫn sử dụng</a></li> -->
					<li><a routerLink="/quan-tri/huong-dan-su-dung/tai-lieu">Tài liệu hướng dẫn sử dụng</a></li>
					<li><a routerLink="/quan-tri/huong-dan-su-dung/video">Video hướng dẫn sử dụng</a></li>
				</ul>
			</li>
			<li routerLinkActive="mm-active active" [routerLinkActiveOptions]="{exact: false}">
				<a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
					<i class="bi bi-phone"></i>
					<span class="nav-text">Cuộc gọi</span>
				</a>
				<ul routerLinkActive="mm-show" aria-expanded="false">
					<!-- <li><a routerLink="/quan-tri/huong-dan-su-dung">Tài liệu hướng dẫn sử dụng</a></li> -->
					<li><a routerLink="/quan-tri/cuoc-goi/danh-sach-cuoc-goi">Danh sách cuộc gọi</a></li>
				</ul>

			</li>
			<li routerLinkActive="mm-active active" [routerLinkActiveOptions]="{exact: false}">
				<a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
					<i class="bi bi-chat-text"></i>
					<span class="nav-text">Tin Nhắn</span>
				</a>
				<ul routerLinkActive="mm-show" aria-expanded="false">
					<li><a routerLink="/quan-tri/tin-nhan">Chatbox</a></li>
				</ul>

			</li>

		</ul>
	</div>
</div>
