<div class="content-nd margin-top-16 mb-5">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-8 col-md-8">
				<div class="box">
					<div class="tt-v1 mb-3 d-flex justify-content-between center">
						<h4 *ngIf="!field" class="text-uppercase">Phản ánh, kiến nghị</h4>
						<h4 *ngIf="field" class="text-uppercase">Phản ánh, kiến nghị: {{fieldName}}
						</h4>
					</div>
					<div class="row m-0 d-flex justify-content-between">
						<div class="col-lg-4 form-group p-0 pr-2 p-xs-0 pi-italic">
							<input placeholder="Nhập tên phản ánh, kiến nghị.." class="form-control form-control border-radius-4"
								[(ngModel)]="KeySearch" maxlength="100" (keydown.enter)="dataStateChange()" />
						</div>
						<div class="col-lg-4 form-group px-2 p-xs-0">
							<ng-select notFoundText="Không có dữ liệu" placeholder="Chọn đơn vị xử lý.."
								class="form-control border-brown border-radius-4" [items]="lstUnit" bindLabel="text" bindValue="value"
								[(ngModel)]="unitId" [closeOnSelect]="true" (change)="dataStateChange()" [virtualScroll]="true">
							</ng-select>
						</div>
						<div class="col-lg-3 col-xs-8 form-group px-2 p-xs-0">
							<ng-select notFoundText="Không có dữ liệu" placeholder="Chọn lĩnh vực.."
								class="form-control border-brown border-radius-4" [items]="lstField" bindLabel="text" bindValue="value"
								[(ngModel)]="field" [closeOnSelect]="true" (change)="dataStateChange()" [virtualScroll]="true">
							</ng-select>
						</div>
						<div class="col-lg-1 col-xs-4 form-group px-2 p-xs-0">
							<button type="button" class="btn text-white border-0 no-grd-blue border-radius-4 h-38px"
								(click)="dataStateChange()">
								<i class="bi bi-search"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="box">
					<ng-container *ngFor="let item of ReflectionsRecommendations;let i = index">
						<div class="card card-custom mb-0 border-bottom" [ngClass]="{'bg-gray' : i % 2 != 0}">
							<div class="card-header pt-3 pb-0 pl-2 align-items-center">
								<p class="card-text mb-1 ">
									<a class="h4 text-2line  text-tranform-first p-title-hover"
										routerLink="/cong-bo/phan-anh-kien-nghi/{{item.id}}" innerHTML="{{item.title}}">
									</a>
								</p>
							</div>
							<div class="card-body pt-1 pb-3 pl-2">
								<div class="d-flex align-items-center justify-content-between">
									<span style="display: inline-block;">
										<i class="bi bi-alarm cl-gray mt-1 mr-2 p-item-title "></i>
										<span class="card-date mb-2 p-item-title">
											{{ item.createdDate | date : 'dd/MM/yyyy HH:mm' }}
										</span>
									</span>
									<a class="read-more" *ngIf="item.totalComment" routerLink="/cong-bo/danh-sach-phan-anh-kien-nghi"> <i
											class="bi bi-chat-right-fill cl-blue"></i> {{item.totalComment}}
									</a>
								</div>

								<p class="card-text">
									<a class="text-2line italic lh-20 text-tranform-first"
										routerLink="/cong-bo/phan-anh-kien-nghi/{{item.id}}" [innerHTML]="item.content | Change">

									</a>
								</p>
							</div>
						</div>
					</ng-container>
					<p class="text-center pt-2" *ngIf="!ReflectionsRecommendations || ReflectionsRecommendations.length == 0">
						Không tìm thấy phản ánh, kiến nghị nào
					</p>
					<nav aria-label="navigation" class="pagination-xs mt-4 ps-relative">
						<span class="justify-content-start align-items-center ps-absolute">
							<strong>Tổng số: {{Total}}</strong> <span class="ml-2">phản ánh, kiến nghị</span>
						</span>
						<ul class="pagination pagination-lg justify-content-end align-items-center">
							<li class="page-item center cursor" [ngClass]="{ 'disabled':PageIndex == 1 }">
								<a (click)="changePagination(PageIndex - 1)" class="page-link border rounded-pill p-1 pr-3"
									tabindex="-1" aria-disabled="true">&nbsp;&nbsp;<i
										class="bi bi-chevron-left"></i>&nbsp;Trước</a>&nbsp;&nbsp;
							</li>
							<li class="d-flex justify-content-center align-items-center">
								<a *ngIf="PageIndex > 4" class="cursor">..</a>
								<p class="mb-0 page-item cursor" *ngFor="let item of pagination; let i = index"
									[ngClass]="{ 'active': item.index ===PageIndex }">
									<a (click)="changePagination(item.index)" *ngIf="i - 3 < PageIndex && i + 5 >PageIndex"
										class="page-link">{{item.index}}</a>
								</p>
								<a *ngIf="PageIndex < pagination.length -4" class="mr-2 cursor">..</a>
							</li>
							<li class="page-item center cursor" [ngClass]="{ 'disabled':PageIndex == Total }">
								<a (click)="changePagination(PageIndex + 1)" class="page-link border rounded-pill p-1">
									&nbsp;&nbsp;&nbsp;&nbsp;Sau&nbsp;<i class="bi bi-chevron-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="col-md-4 col-lg-4 d-lg-block sidebar-ct pl-3 pl-lg-0">
				<app-statistics-right [isShowSatisfationChart]="true"></app-statistics-right>
				<app-gallery></app-gallery>
			</div>
		</div>
		<app-news-hight-light></app-news-hight-light>
	</div>
</div>