
<div class="panel-group">
  <section class="content">
    <div class="row">
      <ol class="breadcrumb">
        <li>
          <a class="text-black" routerLink="/business/business-management/dash-board">Trang chủ</a>
        </li>
        <li>
          <a class="text-black">Hệ thống</a>
        </li>
        <li>
          <a>Cập nhật người dùng</a>
        </li>
      </ol>
      <button class="btn btn-sm btn-previous pull-right" appSvBackButton><i class="far fa-undo-alt"></i> Quay lại</button>
    </div>
    <form class="form-horizontal" id="createUserForm" [formGroup]="createUserForm" #formDir="ngForm" (ngSubmit)="onSave()">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-6 col-xs-6">
              <h4 class="title-content">Thông tin cơ bản</h4>
            </div>
            <div class="col-md-6 text-right">
              <button type="submit" class="btn btn-save btn-sm" (onClick)="onSave()"><i class="fal fa-save"></i> Lưu</button>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row text-center">
            <div class="col-md-12">
              <img src="{{imgURL}}" style="width: 200px; height: 200px" class="img-circle img-bordered-sm sv-pointer" id="imgUpdateUser" (click)="dinhKem.click()">
              <input class="hidden" type="file" name="dinhKem" #dinhKem (change)="onFileChange($event)" accept=".png, .jpg, .jpeg" />
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-4">
              <label>
                Email / Tên đăng nhập <span class="text-danger">*</span>
              </label>
              <input class="form-control has-error" type="email" formControlName="mail" [(ngModel)]="model.homThu" maxlength="50" readonly />
              <div *ngIf="(submitted && f.mail.invalid)||(f.mail.invalid && (f.mail.dirty || f.mail.touched))" class="has-error m-b-12">
                <div *ngIf="f.mail.errors.required">
                  <span class="help-block">Trường dữ liệu này không được để trống</span>
                </div>
                <div *ngIf="f.mail.errors.email">
                  <span class="help-block">Không đúng định dạng email</span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <label>
                Họ và tên <span class="text-danger">*</span>
              </label>
              <input class="form-control has-error" type="text" formControlName="userName" [(ngModel)]="model.hoTen" maxlength="100" />
              <div *ngIf="(submitted && f.userName.invalid)||(f.userName.invalid && (f.userName.dirty || f.userName.touched))" class="has-error m-b-12">
                <div *ngIf="f.userName.errors.required">
                  <span class="help-block">Trường dữ liệu này không được để trống</span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <label>
                Giới tính <span class="text-danger">*</span>
              </label>
              <ng-select [items]="listSexs"
                         formControlName="gioiTinh"
                         bindLabel="text" bindValue="value"
                         [(ngModel)]="model.gioiTinh"
                         [closeOnSelect]="true">
                <ng-template ng-option-tmp let-item="item">
                  <div title="{{item.text}}">{{item.text}}</div>
                </ng-template>
              </ng-select>
              <div *ngIf="(submitted && f.gioiTinh.invalid)||(f.gioiTinh.invalid && (f.gioiTinh.dirty || f.gioiTinh.touched))" class="has-error m-b-12">
                <div *ngIf="f.gioiTinh.errors.required">
                  <span class="help-block">Trường dữ liệu này không được để trống</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-4">
              <label>
                Số điện thoại
              </label>
              <input type="text" nonSpecialchar class="form-control" formControlName="phone" [(ngModel)]="model.dienThoai" maxlength="11" />
              <div *ngIf="(submitted && f.phone.invalid)||(f.phone.invalid && (f.phone.dirty || f.phone.touched))" class="has-error m-b-12">
                <div *ngIf="f.phone.errors.minlength || f.phone.errors.maxlength || f.phone.errors.pattern">
                  <div class="text-danger">Số điện thoại không hợp lệ</div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <label>
                Địa chỉ
              </label>
              <input svTrim class="form-control has-error" type="text" formControlName="address" [(ngModel)]="model.diaChi" maxlength="500" />
              <div *ngIf="(submitted && f.address.invalid)||(f.address.invalid && (f.address.dirty || f.address.touched))" class="has-error m-b-12">
                <div *ngIf="f.address.errors.required">
                  <span class="help-block">Trường dữ liệu này không được để trống</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-4">
              <label>
                Vai trò <span class="text-danger">*</span>
              </label>
              <ng-select [items]="listVaiTro"
                         formControlName="role"
                         bindLabel="text" bindValue="value"
                         [(ngModel)]="model.role"
                         [closeOnSelect]="true">
                <ng-template ng-option-tmp let-item="item">
                  <div title="{{item.text}}">{{item.text}}</div>
                </ng-template>
              </ng-select>
              <div *ngIf="(submitted && f.role.invalid)||(f.role.invalid && (f.role.dirty || f.role.touched))" class="has-error m-b-12">
                <div *ngIf="f.role.errors.required">
                  <span class="help-block">Trường dữ liệu này không được để trống</span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <label>
                Chức vụ <span class="text-danger">*</span>
              </label>
              <ng-select [items]="listPosistions"
                         formControlName="positionId"
                         bindLabel="text" bindValue="value"
                         [(ngModel)]="model.maChucVu"
                         [closeOnSelect]="true">
                <ng-template ng-option-tmp let-item="item">
                  <div title="{{item.text}}">{{item.text}}</div>
                </ng-template>
              </ng-select>
              <div *ngIf="(submitted && f.positionId.invalid)||(f.positionId.invalid && (f.positionId.dirty || f.positionId.touched))" class="has-error m-b-12">
                <div *ngIf="f.positionId.errors.required">
                  <span class="help-block">Trường dữ liệu này không được để trống</span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <label>
                Trạng thái <span class="text-danger">*</span>
              </label>
              <ng-select [items]="listTrangThai"
                         formControlName="state"
                         bindLabel="text" bindValue="value"
                         [(ngModel)]="model.kichHoat"
                         [closeOnSelect]="true">
                <ng-template ng-option-tmp let-item="item">
                  <div title="{{item.text}}">{{item.text}}</div>
                </ng-template>
              </ng-select>
              <div *ngIf="(submitted && f.state.invalid)||(f.state.invalid && (f.state.dirty || f.state.touched))" class="has-error m-b-12">
                <div *ngIf="f.state.errors.required">
                  <span class="help-block">Trường dữ liệu này không được để trống</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-12">
              <label>
                Phòng ban <span class="text-danger">*</span>
              </label>
              <ng-select [items]="listDepartments"
                         formControlName="unit"
                         bindLabel="text" bindValue="value"
                         [(ngModel)]="model.listPhongBan"
                         [multiple]="true"
                         [closeOnSelect]="false">
                <ng-template ng-option-tmp let-item="item">
                  <div title="{{item.text}}">{{item.text}}</div>
                </ng-template>
              </ng-select>
              <div *ngIf="(submitted && f.unit.invalid)||(f.unit.invalid && (f.unit.dirty || f.unit.touched))" class="has-error m-b-12">
                <div *ngIf="f.unit.errors.required">
                  <span class="help-block">Trường dữ liệu này không được để trống</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Phân quyền người dùng</h4>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-3 border-right">
              <div class="permission-category-selection" style="margin-top:12px">Chọn nhóm quyền</div>
              <hr />
              <div class="vertical-checkboxes-list">
                <div *ngFor="let group of listGroupUsers">
                  <mat-checkbox [(ngModel)]="group.selected" [ngModelOptions]="{standalone: true}" (change)="onGroupUserChange($event, group)">{{ group.tenNhom }}</mat-checkbox>
                </div>
              </div>
            </div>
            <div class="col-sm-9">
              <div *ngFor="let permisionCategory of listPermissionCategories">
                <div class="col-sm-12 permission-category-selection">
                  <mat-checkbox [(ngModel)]="permisionCategory.selected" [ngModelOptions]="{standalone: true}" [labelPosition]="before" (change)="onCategoryChange($event, permisionCategory)" [disabled]="permisionCategory.disabled">{{ permisionCategory.name }}</mat-checkbox>
                  <hr />
                  <div *ngFor="let function of permisionCategory.htFunction; let i = index;">
                    <div class="col-sm-4 permission-select-layout">
                      <div class="pull-left">
                        <button type="button" class="btn-collapse btn btn-box-tool" data-toggle="collapse" [attr.href]="'#collapseOne_'+i+permisionCategory.id"></button>
                      </div>
                      <mat-checkbox [(ngModel)]="function.selected" [ngModelOptions]="{standalone: true}" [labelPosition]="before" (change)="onFunctionChange($event, function, permisionCategory)" [disabled]="function.disabled">{{ function.name }}</mat-checkbox>
                      <div [attr.id]="'collapseOne_'+i+permisionCategory.id" collapse in class="collapse in">
                        <div class="permission-select-area" *ngFor="let permission of function.htPermission">
                          <mat-checkbox [(ngModel)]="permission.selected" [ngModelOptions]="{standalone: true}" [labelPosition]="before" (change)="onPermissionChange($event, permission, function, permisionCategory)" [disabled]="permission.disabled">{{ permission.name }}</mat-checkbox>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
</div>
