
<div class="col-md-9 no-padding-right no-padding-xs">
  <div class="panel panel-primary no-margin">
    <!--<div class="panel-heading">
      <span style="color:white">Danh sách người dùng</span>
    </div>-->
    <!-- /.box-header -->


    <div class="box-body responsive-body">
      <!--new grid-->
      <p-table [value]="lstData" [lazy]="true" (onLazyLoad)="onPageChange($event)" [paginator]="true" [(selection)]="userdelete" dataKey="ma"
               [rows]="pageSize" [totalRecords]="total" [rowsPerPageOptions]="[10,20,30]" [responsive]="true" autoLayout="true"
               (onRowSelect)="onSelectedKeysChange()" (onRowUnselect)="onSelectedKeysChange()" (onHeaderCheckboxToggle)="onSelectedHeaderChange($event)">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3em" *ngIf="isenable">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th class="text-center">
              Tên người dùng
              <a class="pull-right" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1" title="Tìm theo tên người dùng">
                <i class="fa fa-filter"></i>
              </a>
              <div class="collapse" id="collapse1">
                <input [(ngModel)]="NameSearch" type="text" (keyup)="myMethod($event)" placeholder="Nhập tên người dùng..." class="form-control textFilter" />
              </div>
            </th>
            <th class="text-center">
              Tên đăng nhập
              <a class="pull-right" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse1" title="Tìm theo tên đăng nhập">
                <i class="fa fa-filter"></i>
              </a>
              <div class="collapse" id="collapse2">
                <input [(ngModel)]="UserNameSearch" (keyup)="myMethod($event)" type="text" placeholder="Nhập tên đăng nhập..." class="form-control textFilter" />
              </div>
            </th>
            <th class="text-center">
              Trạng thái
              <a class="pull-right" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse1" title="Tìm theo trạng thái">
                <i class="fa fa-filter"></i>
              </a>
              <div class="collapse" id="collapse5">
                <select class="form-control" [(ngModel)]="trangThai" (ngModelChange)="getlistUser()">
                  <option value="-1">--Tất cả--</option>
                  <option value="1">Đang sử dụng</option>
                  <option value="0">Không sử dụng</option>
                </select>
                <!--<p-dropdown [(ngModel)]="trangThai" [options]="listState" placeholder="Chọn trạng thái" optionLabel="text" dataKey="value" (onChange)="changeState($event)"></p-dropdown>-->
              </div>
            </th>
            <th class="text-center">Hành động</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-user>
          <tr [pSelectableRow]="rowData">
            <td *ngIf="isenable">
              <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td>{{user.hoTen}}</td>
            <td>{{user.tenDangNhap}}</td>
            <td class="text-center">{{user.trangThai}}</td>
            <td class="text-center">
              <a class="option-button" *ngIf="user.isdaidien" title="Là người đại diện"><i class="fa fa-user" style="color:rgb(240, 112, 48)"></i></a>
              <a class="option-button" *ngIf="!user.isdaidien" (click)="confirmDaiDien(user.ma)" title="Không phải người đại diện"><i class="fa fa-user"></i></a>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="20">
              Không tìm thấy dữ liệu
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorright">
          Tổng số {{total}} bản ghi
        </ng-template>
      </p-table>
    </div>
  </div>
  <!-- /.box-body -->
</div>
<div class="modal fade" id="modal-confirm-setperson" tabindex='-1'>
  <div class="modal-dialog" style="width: 500px">
    <div class="modal-content panel panel-default no-margin">
      <div class="panel-heading">
        <a class="btn-close-modal" data-dismiss="modal">
          ×
        </a>
        <span class="modal-title">Xác nhận</span>
      </div>
      <div class="modal-body">
        <p>Anh/chị có chắc chắn thực hiện hành động này ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-sm btn-confirm" (click)="SetNguoiDaiDien()">Đồng ý</button>
        <button type="button" class="btn btn-default btn-sm btn-confirm" data-dismiss="modal">Hủy</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
