/PAKNAPI/.vs/PAKNAPI/DesignTimeBuild/.dtbcache
/PAKNAPI/.vs/PAKNAPI/DesignTimeBuild/.dtbcache.v2
/PAKNAPI/.vs/PAKNAPI/config/applicationhost.config
/PAKNAPI/.vs/PAKNAPI/v15/.suo
/PAKNAPI/.vs/PAKNAPI/v15/Server/sqlite3/db.lock
/PAKNAPI/.vs/PAKNAPI/v15/Server/sqlite3/storage.ide
/PAKNAPI/.vs/PAKNAPI/v15/Server/sqlite3/storage.ide-shm
/PAKNAPI/.vs/PAKNAPI/v15/Server/sqlite3/storage.ide-wal
/PAKNAPI/.vs/PAKNAPI/v16/.suo
/PAKNAPI/.vs/PAKNAPI/v16/.suo.BASE.suo
/PAKNAPI/.vs/PAKNAPI/v16/.suo.LOCAL.suo
/PAKNAPI/.vs/PAKNAPI/v16/.suo.REMOTE.suo
/PAKNAPI/.vs/PAKNAPI/v16/.suo~c5bee701cd9f4abdf2bac91c44f7bb38412a519c
/PAKNAPI/obj
/PAKNAPI/bin
