
<div class="panel-group">
  <section class="content-header">
    <div class="row">
      <ol class="breadcrumb">
        <li>
          <a class="text-black" routerLink="/business/business-management/dash-board">Trang chủ</a>
        </li>
        <li>
          <a class="text-black">Danh mục</a>
        </li>
        <li>
          <a>Sở ngành</a>
        </li>
      </ol>
      <button class="btn btn-sm btn-previous pull-right" appSvBackButton><i class="far fa-undo-alt"></i> Quay lại</button>
    </div>
  </section>
  <section class="content n-d-t">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-offset-3 col-md-9 panel-heading-group petition">
                <div class="form-row">
                  <div class="search-item">
                    <input class="form-control" type="text" [(ngModel)]="code" maxlength="50" (keydown.enter)="dataStateChange()" placeholder="Nhập mã..." />
                  </div>
                  <div class="search-item">
                    <input class="form-control" [(ngModel)]="ten" maxlength="100" (keydown.enter)="dataStateChange()" type="text" placeholder="Nhập tên..." />
                  </div>
                  <div class="search-item">
                    <ng-select [items]="listTrangThai" placeholder="Trạng thái ..."
                               bindLabel="text" bindValue="value"
                               [(ngModel)]="trangThai"
                               [closeOnSelect]="true"
                               (change)="dataStateChange()">
                      <ng-template ng-option-tmp let-item="item">
                        <div title="{{item.text}}">{{item.text}}</div>
                      </ng-template>
                    </ng-select>
                  </div>
                  <div class="">
                    <button class="btn btn-primary btn-sm" (click)="dataStateChange()">
                      <i class="fal fa-search"></i>
                    </button>
                  </div>
                </div>
                <div class="btn-b-l" *hasPermission="['3', 'B_III_1']">
                  <button class="btn btn-sm btn-primary" (click)="preCreate()">
                    <i class="fal fa-plus"></i> Thêm mới
                  </button>
                </div>
              </div>
            </div>
          </div>
          <p-table #table [value]="listMajor" [lazy]="true" (onLazyLoad)="onPageChange($event)" [paginator]="true" [showCurrentPageReport]="true" currentPageReportTemplate="Tổng số {{totalRecords}}"
                   [rows]="pageSize" [totalRecords]="totalRecords" [rowsPerPageOptions]="[10,20,30]" [responsive]="true" autoLayout="true">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 50px">
                  STT
                </th>
                <th style="width: 140px">
                  Mã
                </th>
                <th style="width: 28%">
                  Tên sở ngành
                </th>
                <th>
                  Mô tả
                </th>
                <th style="width: 120px">
                  Trạng thái
                </th>
                <th style="width: 120px">Hành động</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td class="text-center">{{item.stt}}</td>
                <td class="text-center">
                  <a (click)="preView(item)" class="ellipsis" title="Xem chi tiết">{{item.code}}</a>
                </td>
                <td>
                  <span class="line-clamp-2" style="-webkit-box-orient: vertical">{{item.tenDuLieu}}</span>
                </td>
                <td>
                  <span class="line-clamp-2" style="-webkit-box-orient: vertical">{{item.moTa}}</span>
                </td>
                <td class="text-center">
                  <label>
                    <input class="ace ace-switch ace-switch-4" type="checkbox" [(ngModel)]="item.trangThai" (change)="onUpdateStatus(item)" />
                    <span class="lbl middle"></span>
                  </label>
                </td>
                <td class="text-center">
                  <a *hasPermission="['3', 'B_III_2']" title="Sửa" (click)="preUpdate(item)">
                    <i class="far fa-pen"></i>
                  </a>
                  <a *hasPermission="['3', 'B_III_3']" title="Xóa" (appConfirmClick)="onDelete(item)">
                    <i class="far fa-trash"></i>
                  </a>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="6">
                  Không tìm thấy dữ liệu
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="modal fade" id="modal">
  <div class="modal-dialog" style="min-width: 50%">
    <form class="form-horizontal" [formGroup]="form" #formDir="ngForm">
      <div class="panel panel-default no-margin">
        <div class="modal-header">
          <button class="close btn-close-modal" data-dismiss="modal">
            ×
          </button>
          <p class="title-ct uppercase no-margin">{{title}}</p>
        </div>
        <div class="modal-body no-padding-bottom">
          <div class="row form-group">
            <div class="col-sm-6">
              <label class="control-label">Mã sở ngành <span class="text-danger">*</span></label>
              <input class="form-control" formControlName="code" [(ngModel)]="model.code" maxlength="20" />
              <div *ngIf="(submitted && f.code.invalid) || (f.code.invalid && (f.code.dirty || f.code.touched))" class="has-error m-b-12">
                <div *ngIf="f.code.errors.required">
                  <span class="help-block">Trường dữ liệu này không để trống</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <label class="control-label">Tên sở ngành <span class="text-danger">*</span></label>
              <input class="form-control" formControlName="ten" [(ngModel)]="model.tenDuLieu" maxlength="100" />
              <div *ngIf="(submitted && f.ten.invalid) || (f.ten.invalid && (f.ten.dirty || f.ten.touched))" class="has-error m-b-12">
                <div *ngIf="f.ten.errors.required">
                  <span class="help-block">Trường dữ liệu này không để trống</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-6">
              <label class="control-label">STT</label>
              <input class="form-control" formControlName="stt" [(ngModel)]="model.stt" maxlength="4" />
            </div>
            <div class="col-sm-6">
              <label class="control-label">Trạng thái <span class="text-danger">*</span></label>
              <ng-select [items]="listTrangThai" bindValue="value"
                         bindLabel="text"
                         formControlName="trangThai"
                         [(ngModel)]="model.trangThai">
              </ng-select>
              <div *ngIf="(submitted && f.trangThai.invalid) || (f.trangThai.invalid && (f.trangThai.dirty || f.trangThai.touched))" class="has-error m-b-12">
                <div *ngIf="f.trangThai.errors.required">
                  <span class="help-block">Trường dữ liệu này không để trống</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12">
              <label class="control-label">Mô tả</label>
              <textarea class="form-control" formControlName="moTa" type="text" rows="4" [(ngModel)]="model.moTa" maxlength="255"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-save btn-sm" (click)="onSave()"><i class="fa fa-save"></i> Lưu</button>
          <button data-dismiss="modal" class="btn btn-danger btn-sm"><i class="far fa-times"></i> Hủy</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="modalDetail" *hasPermission="['3', 'B_III_4']">
  <div class="modal-dialog" style="min-width: 50%">
    <form class="form-horizontal">
      <div class="panel panel-default no-margin">
        <div class="panel-heading">
          <a class="btn-close-modal" data-dismiss="modal">
            ×
          </a>
          <p class="title-ct no-margin">Thông tin sở ngành</p>
        </div>
        <div class="modal-body no-padding-bottom">
          <div class="row form-group">
            <div class="col-sm-6">
              <label class="control-label">Mã sở ngành</label>
              <input class="form-control" readonly name="code" [(ngModel)]="model.code" />
            </div>
            <div class="col-sm-6">
              <label class="control-label">Tên sở ngành</label>
              <input class="form-control" readonly name="ten" [(ngModel)]="model.tenDuLieu" />
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-6">
              <label class="control-label">STT</label>
              <input class="form-control" readonly name="stt" [(ngModel)]="model.stt" />
            </div>
            <div class="col-sm-6">
              <label class="control-label">Trạng thái</label>
              <ng-select [items]="listTrangThai" bindValue="value"
                         bindLabel="text" name="trangThai"
                         [(ngModel)]="model.trangThai"
                         disabled>
              </ng-select>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12">
              <label class="control-label">Mô tả</label>
              <textarea class="form-control" name="moTa" type="text" rows="4" [(ngModel)]="model.moTa" readonly></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-sm" (click)="onEdit()"><i class="fal fa-pencil"></i> Sửa</button>
          <button data-dismiss="modal" class="btn btn-danger btn-sm"><i class="far fa-times"></i> Hủy</button>
        </div>
      </div>
    </form>
  </div>
</div>
