.chart-petition {
  height: 520px;
  padding-top: 10px;
  overflow: auto;
}

.content-baiviet {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.nghiquyet_class {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  display: flex;
  margin-top: 5px;
}

.center-text {
  text-align: center;
}

.chart-resolution {
  height: 440.2px;
  padding-top: 10px;
}

.statistical {
  margin: 10px 0;
  display: flex;
}

.statistical-item {
  width: 25%;
  margin: 0 7px;
}

  .statistical-item:first-child {
    margin-left: 0;
  }

  .statistical-item:last-child {
    margin-right: 0;
  }

.statistical-container {
  background: #FFFFFF;
  border-radius: 4px;
  display: inline-flex;
  width: 100%;
  height: 95px;
}

  .statistical-container .image {
    width: 110px;
    background: #B11F24;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    height: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .statistical-container .box-number {
    width: 85%;
  }

.box-number .box-title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  width: 90%;
}

.box-number .number {
  padding: 0 10px 10px;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.11rem;
}

.container-lettes {
  margin-top: 10px;
}

.item-letters {
  width: 100%;
  height: auto;
  padding: 5px 7px 5px 30px;
  border-radius: 4px;
  float: left;
  margin-bottom: 9px;
  color: #333333;
}

  .item-letters:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    transition: all .5s;
  }

  .item-letters:last-child {
    margin-bottom: 0;
  }

.letters-title-icon {
  position: absolute;
  margin-left: -21px;
  font-size: 14px;
  background-color: white;
  margin-top: 3px;
}

.letters-title {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.01rem;
  margin-bottom: 5px;
  width: 100%;
}

  .letters-title a {
    color: #333333;
  }

    .letters-title a:hover {
      text-decoration: underline;
      cursor: pointer;
      color: #116fbf;
    }

.letters-time {
  font-size: 13px;
  color: #626262;
  transition: all .3s;
}

.contact-session {
  padding: 5px 0px;
  color: #949393;
  white-space: nowrap;
}

.session-item {
  display: inline-block;
  padding: 0 5px;
  position: relative;
  color: #949393;
  cursor: pointer;
}

/*.session-item img {
    width: 98%;
  }*/

.contact-session:first-child .session-item:hover {
  color: #B11F24;
}

.chieu:hover {
  color: #314798;
}

.session-item > div {
  position: absolute;
  top: 10.8px;
  left: 24px;
  font-size: 15px;
}

.contact-address {
  padding: 0 5.9px;
}

.address-item {
  border-left: 1px solid #ddd;
  margin: 0 0 0 18px;
  position: relative;
  display: flex;
  align-items: center;
}

  .address-item > span {
    position: absolute;
    left: -7px;
  }

    .address-item > span i {
      color: #B11F24;
      background: #B11F24;
      border-radius: 50%;
      font-size: 12px;
    }

  .address-item a {
    padding: 5px 5px 5px 10px;
    display: block;
  }

    .address-item a:hover {
      text-decoration: underline;
    }

    .address-item a p {
      margin: 0;
      color: #3A3B3F;
    }

    .address-item a small {
      font-style: italic;
      color: #949393;
    }

.active1 {
  color: #B11F24;
}

.active2 {
  color: #314798;
}

#kiennghi-search {
  position: absolute;
  font-size: 13px;
  width: 270px;
  right: 25px;
  background: #F7F3F3;
  padding: 10px;
  border-radius: 4px;
  top: 0;
  z-index: 2;
  border: 1px solid #ccc;
  box-shadow: 2px 3px 4.8px 2.4px #ddd;
}

.timeline-dashboard {
}

.box-timeline .header {
  width: 100%;
  border-radius: 6px;
  font-weight: 500;
  padding: 7px 10px;
  float: left;
  text-align: center;
  margin-top: 30px;
}

.box-timeline.red .header {
  background: #F8DEDE;
  color: #B11F24;
}

.box-timeline.blue .header {
  background: #EAEAEA;
  color: #314798;
  font-weight: 600;
}

.box-timeline .item {
  float: left;
  text-align: center;
  padding: 10px 0 10px;
  width: 100%;
  border-bottom: 1px solid #EEEEEE;
}

  .box-timeline .item:last-child {
    border-bottom: 0;
  }

  .box-timeline .item p {
    font-weight: 600;
    margin-bottom: 0;
    color: #3A3B3F;
  }

  .box-timeline .item i {
    color: #626262;
  }

/*.box-timeline .item:before {
    content: " ";
    width: 3px;
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #dddddd;
    margin-top: -40px;
  }

  .box-timeline .item:after {
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
  }*/

.box-timeline.red .item:after {
  background: #B11F24;
}

.box-timeline.blue .item:after {
  background: #314798;
}
