<!--**********************************
            Content body start
        ***********************************-->
<div class="content-body" style="border-radius: 20px 20px 0 0">
	<!-- row -->
	<div class="container-fluid ct-dashboard pl-lg-0 py-0">
		<div class="row">
			<div class="col main-dashboard pl-lg-0">
				<div class="card mb-0 top-banner">
					<div class="media pt-4 px-2 px-lg-5" style="padding-bottom: 120px">
						<img class="icon-banner mr-3" src="../../../assets/dist/images/icon-banner.svg" alt="...">
						<div class="media-body">
							<h3 class="mt-0 cl-brown text-uppercase text-banner" style="line-height: 2rem">HỆ THỐNG TIẾP NHẬN và TRẢ LỜI PHẢN ÁNH, KIẾN NGHỊ CỦA NGƯỜI DÂN, DOANH
								NGHIỆP</h3>
							<p class="cl-brown d-none d-lg-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor, massa quisque dui posuere elementum. Ornare
								tortor et nulla consectetur. Suspendisse netus pharetra.</p>
						</div>
					</div>
				</div>
				<div class="row mx-0 mx-lg-3" style="margin-top: -110px">
					<div class="col-6 col-lg-3 text-center">
						<div class="card py-3 py-xl-4">
							<p class="card-title h4 mb-4">PAKN<br> Đã giải quyết</p>
							<div class="position-relative">
								<span class="data-attr"
									data-peity='{ "fill": ["rgb(52, 181, 58)", "rgba(223, 255, 230, 1)"],   "innerRadius": 50, "radius": 30, "height": 110, "width": 120 }'>6.7/10</span>
								<span class="h1 position-absolute number-chart counter">670</span>
							</div>
						</div>
					</div>
					<div class="col-6 col-lg-3 text-center">
						<div class="card py-3 py-xl-4">
							<p class="card-title h4 mb-4">PAKN<br> Chờ giải quyết</p>
							<div class="position-relative">
								<span class="data-attr"
									data-peity='{ "fill": ["rgb(22, 115, 216)", "rgba(227, 241, 255, 1)"],   "innerRadius": 50, "radius": 30, "height": 110, "width": 110 }'>4.6/10</span>
								<span class="h1 position-absolute number-chart counter">460</span>
							</div>

						</div>
					</div>
					<div class="col-6 col-lg-3 text-center">
						<div class="card py-3 py-xl-4">
							<p class="card-title h4 mb-4">PAKN<br> Bị từ chối</p>
							<div class="position-relative">
								<span class="data-attr"
									data-peity='{ "fill": ["rgb(218, 34, 34)", "rgba(255, 226, 226, 1)"],   "innerRadius": 50, "radius": 30, "height": 110, "width": 110 }'>1.5/10</span>
								<span class="h1 position-absolute number-chart counter">150</span>
							</div>

						</div>
					</div>
					<div class="col-6 col-lg-3 text-center">
						<div class="card py-3 py-xl-4">
							<p class="card-title h4 mb-4">PAKN<br> Chờ tiếp nhận</p>
							<div class="position-relative">
								<span class="data-attr"
									data-peity='{ "fill": ["rgb(37, 167, 208)", "rgba(226, 248, 255, 1)"],   "innerRadius": 50, "radius": 30, "height": 110, "width": 110 }'>6.1/10</span>
								<span class="h1 position-absolute number-chart counter">610</span>
							</div>
						</div>
					</div>
				</div>
				<div class="card mx-lg-4">
					<!-- danh sach phan anh kien nghi -->
					<app-recommnendation-get-list></app-recommnendation-get-list>
				</div>
				<div class="card mb-3 mb-lg-2 mx-lg-4">
					<div class="card-header" style="background: #FFEEDC">
						<h5 class="card-title">Thủ tục hành chính đang soạn thảo</h5>
						<span class="badge badge-rounded bg-white text-dark" style="font-size: 1.2rem">10</span>
					</div>
					<div class="card-body pb-2">
						<div class="card border-bottom shadow-none rounded-0 mb-3 p-0">
							<div class="card-body p-0">
								<p class="card-text">
									<a class="h4" href="#">
										Cấp Giấy chứng nhận đăng ký đầu tư đối với dự án không thuộc diện quyết định chủ trương đầu tư <span
											class="font-weight-light d-block">(Thuộc thẩm quyền giải quyết của Ban Quản lý Khu kinh tế Vân Phong)</span>
									</a>
								</p>
							</div>
							<div class="card-footer border-0 p-0 d-block d-md-flex align-items-center">
								<div class="card-footer-link mb-0 py-2" style="width: 20%">
									<p class="card-text text-dark d-inline">Mã số: <strong class="ml-2">2.000419</strong></p>
								</div>
								<div class="card-footer-link mb-0 pt-2 pb-3">
									<p class="card-text text-dark d-inline">Lĩnh vực: <strong class="ml-2">Đầu tư tại Việt nam</strong></p>
								</div>
							</div>
						</div>
						<div class="card border-bottom shadow-none rounded-0 mb-3 p-0">
							<div class="card-body p-0">
								<p class="card-text">
									<a class="h4" href="#">
										Cấp Giấy chứng nhận đăng ký đầu tư đối với dự án không thuộc diện quyết định chủ trương đầu tư <span
											class="font-weight-light d-block">(Thuộc thẩm quyền giải quyết của Ban Quản lý Khu kinh tế Vân Phong)</span>
									</a>
								</p>
							</div>
							<div class="card-footer border-0 p-0 d-block d-md-flex align-items-center">
								<div class="card-footer-link mb-0 py-2" style="width: 20%">
									<p class="card-text text-dark d-inline">Mã số: <strong class="ml-2">2.000419</strong></p>
								</div>
								<div class="card-footer-link mb-0 pt-2 pb-3">
									<p class="card-text text-dark d-inline">Lĩnh vực: <strong class="ml-2">Đầu tư tại Việt nam</strong></p>
								</div>
							</div>
						</div>
						<div class="card border-bottom shadow-none rounded-0 mb-3 p-0">
							<div class="card-body p-0">
								<p class="card-text">
									<a class="h4" href="#">
										Cấp Giấy chứng nhận đăng ký đầu tư đối với dự án không thuộc diện quyết định chủ trương đầu tư <span
											class="font-weight-light d-block">(Thuộc thẩm quyền giải quyết của Ban Quản lý Khu kinh tế Vân Phong)</span>
									</a>
								</p>
							</div>
							<div class="card-footer border-0 p-0 d-block d-md-flex align-items-center">
								<div class="card-footer-link mb-0 py-2" style="width: 20%">
									<p class="card-text text-dark d-inline">Mã số: <strong class="ml-2">2.000419</strong></p>
								</div>
								<div class="card-footer-link mb-0 pt-2 pb-3">
									<p class="card-text text-dark d-inline">Lĩnh vực: <strong class="ml-2">Đầu tư tại Việt nam</strong></p>
								</div>
							</div>
						</div>
						<div class="card shadow-none rounded-0 mb-0 p-0">
							<div class="card-body p-0">
								<p class="card-text">
									<a class="h4" href="#">
										Cấp Giấy chứng nhận đăng ký đầu tư đối với dự án không thuộc diện quyết định chủ trương đầu tư <span
											class="font-weight-light d-block">(Thuộc thẩm quyền giải quyết của Ban Quản lý Khu kinh tế Vân Phong)</span>
									</a>
								</p>
							</div>
							<div class="card-footer border-0 p-0 d-block d-md-flex align-items-center">
								<div class="card-footer-link mb-0 py-2" style="width: 20%">
									<p class="card-text text-dark d-inline">Mã số: <strong class="ml-2">2.000419</strong></p>
								</div>
								<div class="card-footer-link mb-0 pt-2 pb-3">
									<p class="card-text text-dark d-inline">Lĩnh vực: <strong class="ml-2">Đầu tư tại Việt nam</strong></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-auto z-index-1 right-dashboard px-3 px-lg-0">
				<div class="card mb-3 px-3 py-2 d-none d-lg-block" style="margin-top: -35px">
					<p class="d-flex justify-content-between align-items-center" style="margin-bottom: -15px;">
						<span class="small">Nha Trang</span>
						<span class="small">25/02/2021</span>
					</p>
					<p class="d-flex justify-content-between align-items-center" style="margin-bottom: -15px;">
						<span class="h4 mb-0 font-weight-bold">06:20 AM</span>
						<span class="h4 mb-0 font-weight-bold d-flex align-items-center"><img class="img-fluid" src="../../../assets/dist/icons/weather-icons/cloudy-day-3.svg"
								alt="">30°c</span>
					</p>
				</div>
				<div class="card p-4 sb-tk-pakn mb-4">
					<div class="tt-v1 pb-3">
						<h4 class="text-uppercase">Thống kê công việc</h4>
						<p class="mb-0">Thống kê những công việc mà đơn vị bạn đã xử lý trong 7 ngày qua</p>
					</div>
					<div class="card-body p-0">
						<p class="mb-1">Tiếp nhận PAKN
							<span class="pull-right font-weight-bold cl-blue2 counter">1.376</span>
						</p>
						<div class="progress ">
							<div class="progress-bar grd-xanhngoc progress-animated" style="width: 85%; height:6px;" role="progressbar">
							</div>
						</div>

						<p class="mb-1 mt-4">PAKN đang giải quyết
							<span class="pull-right font-weight-bold cl-blue counter">325</span>
						</p>
						<div class="progress ">
							<div class="progress-bar grd-blue progress-animated" style="width: 40%; height:6px;" role="progressbar">
							</div>
						</div>

						<p class="mb-1 mt-4">PAKN đã giải quyết
							<span class="pull-right font-weight-bold cl-green counter">876</span>
						</p>
						<div class="progress ">
							<div class="progress-bar grd-green progress-animated" style="width: 76%; height:6px;" role="progressbar">
							</div>
						</div>

						<p class="mb-1 mt-4">Bị từ chối
							<span class="pull-right font-weight-bold cl-red counter">129</span>
						</p>
						<div class="progress ">
							<div class="progress-bar grd-red progress-animated" style="width: 25%; height:6px;" role="progressbar">
							</div>
						</div>

						<p class="mb-1 mt-4">TTHC đã công bố
							<span class="pull-right font-weight-bold cl-green counter">309</span>
						</p>
						<div class="progress ">
							<div class="progress-bar grd-green progress-animated" style="width: 76%; height:6px;" role="progressbar">
							</div>
						</div>

						<p class="mb-1 mt-4">TTHC đã thu hồi
							<span class="pull-right font-weight-bold cl-brown counter">145</span>
						</p>
						<div class="progress ">
							<div class="progress-bar grd-brown2 progress-animated" style="width: 35%; height:6px;" role="progressbar">
							</div>
						</div>

					</div>
				</div>
				<div class="alert alert-nv alert-dark alert-dismissible shadow rounded fade show">
					<p class="mb-0 cl-brown">Nhắc việc</p>
					<span class="small d-block mb-2">3:30PM | 30/12/2020</span>
					<p class="text-2line mb-0 text-dark"><a href="#">Họp về vấn đề an toàn vệ sinh thực phẩm toàn tỉnh Khánh Hòa</a></p>
					<button type="button" class="close px-3" data-dismiss="alert" aria-label="Close"><span><i class="mdi mdi-close"></i></span>
					</button>
				</div>
				<div class="alert alert-nv alert-dark alert-dismissible shadow rounded fade show">
					<p class="mb-0 cl-brown">Nhắc việc</p>
					<span class="small d-block mb-2">4:30PM | 30/12/2020</span>
					<p class="text-2line mb-0 text-dark"><a href="#">Cần xử lý gấp Phản ánh, Kiến nghị mã số: 11.225544</a></p>
					<button type="button" class="close px-3" data-dismiss="alert" aria-label="Close"><span><i class="mdi mdi-close"></i></span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!--**********************************
            Content body end
        ***********************************-->
<!-- Dashboard -->
<script src="assets/dist/js/dashboard/dashboard-1.js"></script>
