<div class="content-body">
	<div class="container-fluid p-0">
		<div class="row">
			<div class="col-lg-12">
				<ol class="breadcrumb title-module px-0 bg-transparent mb-0">
					<li class="breadcrumb-item"><a class="font-weight-bold uppercase"> Báo cáo Phản ánh, Kiến nghị theo lĩnh vực</a></li>
				</ol>
				<div class="btn-group group-button-table" role="group">
					<button type="button" class="btn grd-brown3 btn-sm rounded border-0 mr-3 text-dark" (click)="onExport()" *hasPermission="['3', 'D_II_2']">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-excel mr-1" viewBox="0 0 16 16">
							<path
								d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z" />
							<path
								d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
						</svg>
						Xuất báo cáo
					</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-serach">
				<div class="col-md-4">
					<p-multiSelect [options]="listUnit" [(ngModel)]="listUnitSelected" optionLabel="unitName" [virtualScroll]="true" optionValue="unitId"
						(onChange)="getList()">
						<ng-template let-userSelected pTemplate="selectedItems">
							<ng-container *ngIf="userSelected && userSelected.length < 2">
								<div *ngFor="let val of userSelected" class="ui-multiselected-item-token ui-corner-all">
									<span>{{val.unitName}}</span>
								</div>
							</ng-container>

							<span *ngIf="!userSelected || userSelected.length === 0" class="ui-multiselected-empty-token  ui-corner-all">Chọn đơn vị...</span>
							<span *ngIf="userSelected && userSelected.length > 1" class="ui-multiselected-empty-token ui-corner-all">{{userSelected.length}}
								đơn vị đã được chọn</span>
						</ng-template>
						<ng-template let-user pTemplate="item">
							<div style="font-size:14px">{{user.label}}</div>
						</ng-template>
					</p-multiSelect>
				</div>
				<div class="col-md-3">
					<div class="row">
						<div class="col-md-4">
							<div class="dropdown bootstrap-select form-control form-control-sm">
								<ng-select notFoundText="Không có dữ liệu"  [items]="listYear" placeholder="Năm ..." bindLabel="text"
									bindValue="value" [(ngModel)]="year" [clearable]="false"
									(change)="changeYear()">
								</ng-select>
							</div>
						</div>
						<div class="col-md-8">
							<div class="dropdown bootstrap-select form-control form-control-sm">
								<ng-select notFoundText="Không có dữ liệu"  [items]="lstTimeline" placeholder="Chọn mốc thời gian ..."
									bindLabel="text" bindValue="value" [(ngModel)]="timeline"
									(change)="dataStateChange()">
								</ng-select>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-6">
							<div class="input-group">
								<input class="form-control form-control-sm" placeholder="Từ ngày..." bsDatepicker #fdate="bsDatepicker" maxlength="10" id="fromDate2" appBsDatepickerInvalid
									[(ngModel)]="fromDate" (bsValueChange)="fromDateChange($event)" [minDate]="minDate" [maxDate]="maxDate"
									[bsConfig]="{dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue', adaptivePosition: true}" />
								<div class="input-group-addon p-2" style="height: 34px;">
									<i class="bi bi-calendar-date" (click)="fdate.toggle()" [attr.aria-expanded]="fdate.isOpen"></i>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="input-group">
								<input class="form-control form-control-sm" placeholder="Đến ngày..." bsDatepicker #tdate="bsDatepicker" maxlength="10" id="toDate2" appBsDatepickerInvalid
									[(ngModel)]="toDate" (bsValueChange)="toDateChange($event)" [minDate]="minDate" [maxDate]="maxDate"
									[bsConfig]="{dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue', adaptivePosition: true}" />
								<div class="input-group-addon p-2" style="height: 34px;">
									<i class="bi bi-calendar-date" (click)="tdate.toggle()" [attr.aria-expanded]="tdate.isOpen"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-1 p-0">
					<button class="btn grd-blue btn-sm rounded border-0 text-white h-34" (click)="getList()"> Tìm kiếm</button>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="card mb-0 shadow-none">
					<div class="table-responsive">
						<p-table #table [value]="listData" [paginator]="false" [showCurrentPageReport]="true" [customSort]="false"
							[totalRecords]="totalRecords" [responsive]="true" autoLayout="true"
							tableStyleClass="table table-sd table-responsive-md table-striped mb-0">
							<ng-template pTemplate="header" class="bg-thead">
								<tr>
									<th style="min-width: 140px;">
										<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
											Lĩnh vực
										</p>
									</th>

									<th>
										<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
											<strong>Tổng số</strong>
										</p>
									</th>

									<th >
										<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
											<strong>Đang soạn thảo</strong>
										</p>
									</th>

									<th >
										<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
											<strong>Chờ xử lý</strong>
										</p>
									</th>

									<th >
										<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
											<strong>Tiếp nhận xử lý</strong>
										</p>
									</th>

									<th style="max-width: 180px;">
										<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
											<strong>Từ chối tiếp nhận</strong>
										</p>
									</th>
									<th>
										<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
											<strong>Chờ giải quyết</strong>
										</p>
									</th>

									<th>
										<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
											<strong>Từ chối giải quyết</strong>
										</p>
									</th>


									<th >
										<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
											<strong>Đang giải quyết</strong>
										</p>
									</th>

									<th>
										<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
											<strong>Chờ phê duyệt</strong>
										</p>
									</th>
									<th>
										<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
											<strong>Từ chối phê duyệt</strong>
										</p>
									</th>

									<th>
										<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
											<strong>Đã giải quyết</strong>
										</p>
									</th>

								</tr>
							</ng-template>

							<ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
								<tr>
									<td>
										<strong class="highlight"><a (click)="viewDetail(item.fieldId)" class="ellipsis" title="Xem chi tiết">{{item.fieldName}}</a></strong>
									</td>
									<td>
										<strong class="highlight" (click)="viewDetail(item.fieldId)">{{item.total}}</strong>
									</td>
									<td>
										<strong class="highlight" (click)="viewDetail(item.fieldId, 1)">{{item.created}}</strong>
									</td>
									<td>
										<strong class="highlight" (click)="viewDetail(item.fieldId, 2)">{{item.receiveWait}}</strong>
									</td>
									<td>
										<strong class="highlight" (click)="viewDetail(item.fieldId, 4)">{{item.receiveApproved}}</strong>
									</td>
									<td>
										<strong class="highlight" (click)="viewDetail(item.fieldId, 3)">{{item.receiveDeny}}</strong>
									</td>
									<td>
										<strong class="highlight" (click)="viewDetail(item.fieldId, 5)">{{item.processWait}}</strong>
									</td>
									<td>
										<strong class="highlight" (click)="viewDetail(item.fieldId, 6)">{{item.processDeny}}</strong>
									</td>
									<td>
										<strong class="highlight" (click)="viewDetail(item.fieldId, 7)">{{item.processing}}</strong>
									</td>
									<td>
										<strong class="highlight" (click)="viewDetail(item.fieldId, 8)">{{item.approveWait}}</strong>
									</td>
									<td>
										<strong class="highlight" (click)="viewDetail(item.fieldId, 9)">{{item.approveDeny}}</strong>
									</td>
									<td>
										<strong class="highlight" (click)="viewDetail(item.fieldId, 10)">{{item.finised}}</strong>
									</td>
								</tr>
							</ng-template>
							<ng-template pTemplate="emptymessage">
								<tr>
									<td class="text-center" colspan="12">Không có dữ liệu</td>
								</tr>
							</ng-template>
						</p-table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
