.header-left .img-fluid {
	width: 40px;
	height: 40px;
	object-fit: cover;
}

.title-system {
	color: #274daf;
	font-weight: 500;
}

.navbar-light .navbar-nav .nav-link {
	color: #000;
	padding: 15px 15px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	display: flex;
	align-items: center;
	cursor: pointer;
	line-height: 24px;
	border-radius: 8px 8px 0px 0px;
}
.navbar-light .navbar-nav .nav-link:hover {
	color: #000;
}

.red-title {
	color: #da2222;
}

#DZ_W_Notification2 {
	overflow-y: scroll;
}

#DZ_W_Notification2::-webkit-scrollbar {
	width: 6px;
	background-color: #f5f5f5 !important;
}

#DZ_W_Notification2::-webkit-scrollbar-thumb {
	background-color: #777 !important;
	border-radius: 3px;
}
.header-notification {
	padding: 10px 5px 10px 0px;
	background: #fafafa;
	display: flex;
	border-radius: 4px;
}
.red-bar {
	background: linear-gradient(180deg, #ee5454 0%, #a61515 100%);
	border-radius: 0px 4px 4px 0px;
	width: 5px;
	margin-right: 10px;
}
.title-notification {
	width: 60%;
}

.notifications {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	line-height: 20px;
	width: 35%;
	font-size: 14px;
}
.text-3line a,
.text-2line a,
.card-text a {
	color: #222222;
}

.read-more {
	color: #222222;
}
.owl-item .card {
	width: 350px;
}

:host ::ng-deep #owl-news .owl-nav button.owl-prev,
:host ::ng-deep #owl-news .owl-nav button.owl-next {
	outline: none;
	border-radius: 20px;
	position: absolute;
	background: linear-gradient(180deg, #42a4ff 0%, #2a5494 100%);
	border-radius: 4px;
	transform: translateY(-50%);
	width: 24px;
	height: 24px;
	bottom: -15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
:host ::ng-deep #owl-news .owl-nav button.owl-prev {
	right: 18%;
}
:host ::ng-deep #owl-news .owl-nav button.owl-next {
	right: 0px;
}

:host ::ng-deep #owl-news .owl-nav button.owl-next span,
:host ::ng-deep #owl-news .owl-nav button.owl-prev span {
	margin-top: -9px;
	margin-right: 1px;
	font-size: 28px;
	font-weight: 100;
	color: #fff;
}

:host ::ng-deep .owl-theme .owl-dots {
	margin-right: 45px;
	text-align: right !important;
}

.card-date {
	font-size: 16px;
	line-height: 19px;
	color: #666666;
}
.italic {
	font-style: italic;
}
.f-4 {
	flex: 4;
}
.f-6 {
	flex: 6;
}
.ps-relative {
	position: relative;
}
.ps-absolute {
	position: absolute;
}
.card-my-recommentdation {
	padding: 15px;
	background-color: #eff8ff;
	border-radius: 15px;
}
.circle {
	width: 40px;
	height: 40px;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	border-radius: 50%;
}
.title-status-rm {
	font-size: 16px;
	line-height: 20px;
	color: #000;
}

.border-left-yellow {
	border-left: 3px solid #db8e3f;
}
.border-left-blue2 {
	border-left: 3px solid #25a7d0;
}
.border-left-blue {
	border-left: 3px solid #22a246;
}
.border-left-red {
	border-left: 3px solid #da2222;
}
.bg-yellow {
	background-color: #db8e3f;
}
.bg-blue2 {
	background-color: #25a7d0;
}
.bg-blue {
	background-color: #22a246 !important;
}
.bg-red {
	background-color: #da2222;
}
.h-184 {
	height: 184.4px;
}
.content-article {
}
:host ::ng-deep .owl-theme .owl-nav {
	position: relative;
}
:host ::ng-deep .owl-carousel .owl-nav .owl-prev {
	position: absolute;
	bottom: 90px;
	left: -100px;
}
:host ::ng-deep .owl-carousel .owl-nav .owl-next {
	position: absolute;
	bottom: 90px;
	right: -100px;
}
:host ::ng-deep .owl-carousel .owl-item img {
	height: 230px;
}
:host ::ng-deep .owl-theme .owl-nav [class*='owl-'] {
	width: 36px;
	height: 36px;
	background: rgba(22, 115, 216, 0.6);
	border-radius: 36px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.active {
	background-color: #1673d8 !important;
	color: #fff !important;
}
