<div class="content-body">
	<div class="container-fluid pt-0 pr-0">
		<div class="row justify-content-between">
			<div class="col main-ct pr-3 pr-lg-4 border-right pt-4">
				<div class="box">
					<p class="card-text h3 mb-3">
						Thống nhất quy định về chế độ trả lương làm việc vào ban đêm, làm thêm giờ đối với cán bộ, công chức, viên chức
					</p>
					<div class="py-2 mb-4 d-flex justify-content-between align-items-center border-bottom border-top">
						<div class="media align-items-center">
							<div class="avatar-circle mr-2" style="background: #EBF2FF; color: #5D90F1">
								MT
							</div>
							<div class="media-body">
								<p class="my-0 h5">Nguyễn Mạnh Toàn</p>
							</div>
						</div>
						<span>7:30 | 14/01/2021</span>
					</div>
					<div class="media pb-4">
						<div class="mr-3">
							<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-chat-right-text" viewBox="0 0 16 16">
								<path
									d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z">
								</path>
								<path
									d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z">
								</path>
							</svg>
						</div>
						<div class="media-body">
							<p class="h4 font-italic font-weight-bold">Nội dung kiến nghị:</p>
							<p>
								Căn cứ quy định về chế độ trả lương làm việc vào ban đêm, làm thêm giờ đối với cán bộ, công chức, viên chức theo các quy định hiện hành như:<br>
								- Nghị định 204/2004/NĐ-CP<br>
								- Thông tư 08/2005/TTLT-BNV-BTC<br>
								Trong đó:<br>
								+ Tiền lương giờ dùng làm căn cứ để tính trả tiền lương làm việc vào ban đêm, làm thêm giờ được xác định bằng tiền lương của một tháng chia cho số
								giờ
								làm việc tiêu chuẩn trong một tháng; Tiền lương của một tháng, bao gồm: Mức lương hiện hưởng, các khoản phụ cấp lương và hệ số chênh lệch bảo lưu
								(nếu
								có) (điểm 2 Mục II Thông tư 08/2005/TTLT-BNV-BTC)<br>
								+ Các chế độ phụ cấp lương theo quy định tại Điều 6 Nghị định 204/2004/NĐ-CP, bao gồm: Phụ cấp thâm niên vượt khung; Phụ cấp kiêm nhiệm chức danh
								lãnh
								đạo; Phụ cấp khu vực; Phụ cấp đặc biệt; Phụ cấp thu hút; Phụ cấp lưu động; Phụ cấp độc hại, nguy hiểm; Các chế độ phụ cấp đặc thù theo nghề hoặc
								công
								việc: Phụ cấp thâm niên nghề,Phụ cấp ưu đãi theo nghề, Phụ cấp trách nhiệm theo nghề, Phụ cấp trách nhiệm công việc,Phụ cấp phục vụ quốc phòng, an
								ninh.<br>
								- Ngoài ra, cán bộ, công chức còn được hưởng chế độ phụ cấp công vụ theo quy định tại Nghị định 34/2012/NĐ-CP.
								Ngày 26/6/2020, công dân Nguyễn Duy Vương đã gửi phản ánh kiến nghị tại Cổng dịch vụ công quốc gia với câu hỏi “Tiền lương giờ thực trả của ngày làm
								việc bình thường (tiền lương một tháng) trong công thức tính tiền lương làm thêm giờ cho cán bộ, công chức có bao gồm phụ cấp công vụ không ?” và
								Ngày
								23/7/2020, Bộ Nội vụ có Văn bản số 313/TL trả lời Công dân Nguyễn Duy Vương như sau: “Phụ cấp công vụ được quy định tại Nghị định số 34/2012/NĐ-CP
								ngày
								15 tháng 4 năm 2012 của Chính phủ là một loại phụ cấp lương được tính trong tiền lương của một tháng để tính trả tiền lương làm thêm giờ quy định
								tại
								Điểm a1 Khoản 2 Mục II Thông tư liên tịch số 08/2005/TTLT-BNV-BTC ngày 05 tháng 01 năm 2005 của Bộ trưởng Bộ Nội vụ và Bộ trưởng Bộ Tài chính hướng
								dẫn
								thực hiện chế độ trả lương vào ban đêm, làm thêm giờ đối với cán bộ, công chức, viên chức.” (Đường dẫn PAKN, Văn bản trả lời đính kèm)<br>
								Dựa trên các quy định hiện hành về chế độ trả lương làm việc vào ban đêm, làm thêm giờ đối với cán bộ, công chức, viên chức và nội dung trả lời của
								cơ
								quan chức năng tại Văn bản số 313/TL ngày 23/7/2020. Để có căn cứ thực hiện, áp dụng các quy định về chế độ trả lương làm việc vào ban đêm, làm thêm
								giờ
								đối với cán bộ, công chức, viên chức; đảm bảo quyền lợi của người lao động theo các quy định hiện hành, tôi đề nghị cơ quan chức năng ban hành văn
								bản
								hướng dẫn để các đơn vị thống nhất thực hiện.
							</p>
							<p>
								<button type="button" class="btn border btn-block text-dark p-0">
									<span class="rounded grd-xanhngoc text-white p-3 mr-3">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
											<path
												d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z">
											</path>
										</svg>
									</span>
									<span class="text-left text-truncate">
										<small class="small">Tài liệu đính kèm</small><br>
										Tài liệu mô tả.doc
									</span>
								</button>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-auto d-none d-lg-block sidebar-ct-ql pl-0 pt-4">
				<div class="hashtags-box border-bottom px-4 ">
					<div class="form-row align-items-end">
						<div class="col form-group pr-0">
							<label class="mb-1"><i class="bi bi-tags mr-2"></i>Hashtags <span class="cl-red">(*)</span></label>
							<input type="text" class="form-control" style="height: 44px" placeholder="Nhập...">
						</div>
						<div class="col-auto form-group">
							<button type="button" class="btn grd-blue btn-sm border-0 text-white px-2">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
									<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
								</svg>
							</button>
						</div>
					</div>

					<div class="tags">
						<div class="alert border alert-dark d-inline-flex fade show py-2 pl-3 pr-2 align-items-center">
							<strong>Lương</strong>
							<button type="button" class="close h-100 pl-2" data-dismiss="alert" aria-label="Close"><span><i class="mdi mdi-close"></i></span>
							</button>
						</div>
						<div class="alert border alert-dark d-inline-flex fade show py-2 pl-3 pr-2 align-items-center">
							<strong>Làm thêm</strong>
							<button type="button" class="close h-100 pl-2" data-dismiss="alert" aria-label="Close"><span><i class="mdi mdi-close"></i></span>
							</button>
						</div>
						<div class="alert border alert-dark d-inline-flex fade show py-2 pl-3 pr-2 align-items-center">
							<strong>Lương tháng 13</strong>
							<button type="button" class="close h-100 pl-2" data-dismiss="alert" aria-label="Close"><span><i class="mdi mdi-close"></i></span>
							</button>
						</div>
						<div class="alert border alert-dark d-inline-flex fade show py-2 pl-3 pr-2 align-items-center">
							<strong>Tăng ca</strong>
							<button type="button" class="close h-100 pl-2" data-dismiss="alert" aria-label="Close"><span><i class="mdi mdi-close"></i></span>
							</button>
						</div>
					</div>
				</div>

				<div class="mb-4">
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							Mã số: <strong class="h4 font-weight-bold">016.02.001.2</strong>
						</li>
						<li class="list-group-item">
							Đối tượng: <strong class="h4 font-weight-bold">Người dân</strong>
						</li>
						<li class="list-group-item">
							Lĩnh Vực: <strong class="h4 font-weight-bold">Bồi thường nhà nước</strong>
						</li>
						<li class="list-group-item">
							Đơn vị tiếp nhận: <strong class="h4 font-weight-bold">Trung tâm phản ánh kiến nghị tỉnh Khánh Hoà</strong>
						</li>
						<li class="list-group-item">
							Người tiếp nhận: <strong class="h4 font-weight-bold">Nguyễn Thị Liêm</strong>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
