.rlink {
	font-size: 14pt;
	color: #333333;
	cursor: pointer;
}
.rlink.active {
	font-weight: bold;
	color: #1673d8;
}
.d-active {
	color: #f35f1b !important;
}
.bg-notification {
	background-color: #FFF7EF;
}


.border-bottom-none {
	border-bottom: none !important;
}

.list-document ul li {
	padding: 13px 0px;
	list-style: none;
	border-bottom: 1px solid rgba(214, 214, 214, 0.8);
}

.border-bottom-none {
	border-bottom: none !important;
}

.list-document ul li a {
	color: #222222;
	font-size: 14px;
	line-height: 21px;
	font-weight: 500;
}

.p-title-hover a:hover {
	color: #f35f1b !important;
}