<div class="content-body">
	<!-- row -->
	<div class="container-fluid p-0">
		<div class="row">
			<div class="col-lg-12">
				<ol class="breadcrumb title-module px-0 bg-transparent mb-0">
					<li class="breadcrumb-item"><a>Tin tức sự kiện</a></li>
					<li class="breadcrumb-item active"><a class="font-weight-bold">Danh sách tổng hợp</a></li>
				</ol>
				<div class="btn-group group-button-table" role="group">

					<a [routerLink]="['./them-moi']" class="btn grd-xanhngoc btn-sm rounded border-0 text-white">
						<i class="bi bi-plus"></i>&nbsp;
						Thêm mới
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="card mb-0 shadow-none">
					<div class="table-responsive">
						<p-table #table [value]="listDataPaged" [rows]="query.pageSize" [totalRecords]="totalCount" currentPageReportTemplate="Tổng số {{totalCount}}"
							(onLazyLoad)="onPageChange($event)" [lazy]="true" [responsive]="true" [paginator]="true" [showCurrentPageReport]="true" autoLayout="true"
							tableStyleClass="table table-sd table-responsive-md table-striped mb-0">
							<ng-template pTemplate="header" class="bg-thead">
								<tr>
									<th>
										<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
											<strong>Bài viết</strong>
											<span class="caret-tb"></span>
										</p>
										<input [(ngModel)]="query.title" (change)="filterChange()" type="text" class="form-control form-control-sm" placeholder="Nhập ...">
									</th>
									<th style="width: 180px">
										<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
											<strong>Loại tin tức</strong>
											<span class="caret-tb"></span>
										</p>
										<div class="dropdown bootstrap-select form-control form-control-sm">
											<!-- [items]="listNewCategories" bindLabel="name" bindValue="id" -->
											<ng-select class="" placeholder="Loại tin tức" [closeOnSelect]="true" [(ngModel)]="query.newsType" (change)="filterChange()"
												style="width: 170px;">
												<ng-option *ngFor="let nt of listNewCategories" [value]="nt.id">
													{{nt.name}}
												</ng-option>
											</ng-select>
										</div>
									</th>
									<th style="width: 160px">
										<p class="mb-1 d-flex justify-content-between align-items-center label-thead no-wrap">
											<strong>Trạng thái</strong>
											<span class="caret-tb"></span>
										</p>
										<div class="dropdown bootstrap-select form-control form-control-sm">
											<!-- [items]="listStatus" bindLabel="text" bindValue="value" -->
											<ng-select class="" placeholder="Trạng thái" [closeOnSelect]="true" [(ngModel)]="query.status" (change)="filterChange()"
												[searchable]="false" style="width: 170px;">
												<ng-option *ngFor="let stt of listStatus" [value]="stt.value">
													{{stt.text}}
												</ng-option>
											</ng-select>
										</div>

									</th>
									<th class="text-center text-uppercase" style=width:130px;><strong>Thao tác</strong></th>
								</tr>
							</ng-template>
							<ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
								<tr>
									<td>
										<img class="avatar-size rounded-3" [src]="item.imagePath">

										<strong class="news-title col-sm-10 highlight">
											<a [routerLink]="['./chinh-sua', item.id]" title="Chi tiết tin tức sự kiện">
												{{item.title}}</a>
										</strong>
									</td>
									<td>
										{{listNewCategories | getCateName:item.newsType}}
									</td>
									<td>
										<span *ngIf="item.status == listStatus[2].value" class="badge rounded-pill badge-outline-light bg-white">{{listStatus[2].text}}</span>
										<span *ngIf="item.status == listStatus[0].value" class="badge rounded-pill bg-xam text-dark">{{listStatus[0].text}}</span>
										<span *ngIf="item.status == listStatus[1].value" class="badge rounded-pill bg-xanhla">{{listStatus[1].text}}</span>
									</td>
									<td>
										<div class="d-flex justify-content-end">
											<button class="btn-icon text-white mr-2 border-0" (click)="onOpenModalConfirm(item.id,'publish')"
												[ngClass]="{'bg-xanhla':(item.status > 0), 'bg-xam':item.status == 0}">
												<i class="bi bi-box-arrow-up" *ngIf="item.status > 0" title="{{item.isPublished?'Đã công bố':'Công bố'}}"></i>
												<i class="bi bi-box-arrow-down text-dark" *ngIf="item.status == 0" title="Đã thu hồi"></i>
											</button>
											<a [routerLink]="['./chinh-sua', item.id]" class="btn-icon mr-2 border-0" title="Sửa"><i class="bi bi-pencil-square"></i></a>
											<button class="btn-icon mr-2 grd-red text-white border-0" data-toggle="modal" data-target="#modal-history-pakn"
												(click)="onOpenModalConfirm(item.id,'delete')"><i class="bi bi-trash" title="Xóa"></i></button>
											<a class="btn-icon" style="cursor: pointer;" (click)="getHistory(item.id)" title="Xem lịch sử"><i class="bi bi-clock-history"></i></a>
										</div>
									</td>
								</tr>
							</ng-template>
						</p-table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- confirm modal -->
<div class="modal fade" id="modal-confirm">
	<div class="modal-dialog modal-dialog-centered modal-md" role="document">
		<div class="modal-content rounded">
			<div class="modal-header border-bottom-0">
				<p class="modal-title h3">Xác nhận</p>
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span>
				</button>
			</div>
			<div class="modal-body pb-0">
				<span>
					{{modalConfirm_message}}
				</span>
			</div>
			<div class="modal-footer border-top-0">
				<button type="button" class="btn btn-outline-secondary border px-5" data-dismiss="modal">Hủy</button>
				<button type="button" class="btn btn-danger border-0 px-5 grd-blue" data-dismiss="modal" (click)="acceptConfirm()">Đồng ý</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade pr-0" id="modal-history">
	<div class="modal-dialog modal-dialog-centered vh-100" role="document">
		<div class="modal-content rounded-0 scroll-y" [ngClass]="{ 'h-100': listHisNews && listHisNews.length > 0 }" style="overflow-y: scroll; min-width: 150%;">
			<div class="modal-header border-bottom-0">
				<p class="modal-title h4">Lịch sử</p>
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span>
				</button>
			</div>
			<div class="modal-body" style="padding: 1rem; height: auto;">
				<div *ngIf="!listHisNews || listHisNews.length == 0">Không có lịch sử cho tin tức</div>
				<div *ngIf="listHisNews && listHisNews.length > 0" id="DZ_W_TimeLine" class="widget-timeline h-100 dz-scroll">
					<ul class="timeline" style="padding: 0px">
						<li *ngFor="let item of listHisNews">
							<div *ngIf="item.status == 0" class="timeline-badge info"></div>
							<div *ngIf="item.status == 1" class="timeline-badge info"></div>
							<div *ngIf="item.status == 2" class="timeline-badge info"></div>
							<div *ngIf="item.status == 3" class="timeline-badge info"></div>
							<div *ngIf="item.status == 4" class="timeline-badge danger"></div>
							<div class="timeline-panel">
								<!-- <p class="mb-2 h5">Người dùng: <strong>{{item.createdByName}}</strong></p> -->
								<p class="mb-2 d-flex justify-content-between align-items-center">
									<span *ngIf="item.status == 0" class="badge rounded-pill mb-0 badge-outline-light bg-white">Đã khởi tạo</span>
									<span *ngIf="item.status == 1" class="badge rounded-pill mb-0 badge-outline-info">Đang soạn thảo</span>
									<span *ngIf="item.status == 2" class="badge rounded-pill mb-0 badge-outline-info">Đã cập nhập</span>
									<span *ngIf="item.status == 3" class="badge rounded-pill mb-0 bg-blue2">Đã công bố</span>
									<span *ngIf="item.status == 4" class="badge rounded-pill mb-0 bg-red">Hủy công bố</span>
									<span class="text-dark mb-0">{{item.createdDate | date:'HH:mm | dd/MM/yyyy'}}</span>
								</p>
								<p class="mb-0 h5"><strong>{{item.content}}</strong></p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
