<div class="col-md-12">
  <div class="panel row content-panel">

    <div class="panel-heading">
      <div class="btn-group pull-right btn-group-add-del">
        &nbsp;<button *hasPermission="['3', 'B_XIII_1']" type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                      data-target="#modalCreate" (click)="preCreate()">
          <i class="fal fa-plus"></i> Thêm mới
        </button>
      </div>
      <div class="btn-group pull-right btn-group-add-del">
        &nbsp;<button class="btn btn-default btn-sm" appSvBackButton><i class="fa fa-arrow-left"></i> Quay lại </button>
      </div>
    </div>
    <div class="panel-body bg-body no-padding-bottom">
      <div class="panel panel-primary">
        <div>
          <app-group-users-list [departmentId]="departmentId"></app-group-users-list>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalCreate" tabindex="-1">
  <div class="modal-dialog" style="min-width:60%">
    <form class="form-horizontal" id="createForm" [formGroup]="createForm" #formDir="ngForm">
      <div class="panel panel-default no-margin">
        <div class="panel-heading">
          <button _ngcontent-c7="" class="close btn-close-moda pull-right" data-dismiss="modal"
                  style="font-size: 24px !important;margin-top:-3px;opacity: 0.9;font-weight: 400;" tabindex="8"
                  type="button">
            ×
          </button>
          <p class="title-ct uppercase no-margin">Thông tin danh mục nhóm người nhận</p>
        </div>
        <div class="modal-body no-padding-bottom">
          <div class="row form-group">
            <div class="col-sm-2 control-label padding-xs"><i style="color: red">*</i> Tên nhóm người nhận:</div>
            <div class="col-sm-4">
              <input class="form-control has-error" formControlName="tenDuLieu" type="text" [(ngModel)]="data.tenDuLieu"
                     maxlength="100" required />
              <div *ngIf="(submitted && f.tenDuLieu.invalid)||(f.tenDuLieu.invalid && (f.tenDuLieu.dirty || f.tenDuLieu.touched))"
                   class="has-error m-b-12">
                <div *ngIf="f.tenDuLieu.errors.required">
                  <span class="help-block">Trường dữ liệu này không được để trống</span>
                </div>
              </div>
            </div>
            <div class="col-sm-2 control-label padding-xs"><i style="color: red">*</i> Mã nhóm người nhận:</div>
            <div class="col-sm-4">
              <input class="form-control has-error" formControlName="code" type="text" [(ngModel)]="data.code"
                     maxlength="20" required />
              <div *ngIf="(submitted && f.code.invalid)||(f.code.invalid && (f.code.dirty || f.code.touched))"
                   class="has-error m-b-12">
                <div *ngIf="f.code.errors.required">
                  <span class="help-block">Trường dữ liệu này không được để trống</span>
                </div>
              </div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-2 control-label padding-xs">Loại:</div>
            <div class="col-sm-4">
              <select class="form-control" formControlName="loai" [(ngModel)]="data.loai" required>
                <option value="true">PTM</option>
                <option value="false">Học viên</option>
              </select>
              <div *ngIf="(submitted && f.loai.invalid)||(f.loai.invalid && (f.loai.dirty || f.loai.touched))"
                   class="has-error m-b-12">
                <div *ngIf="f.loai.errors.required">
                  <span class="help-block">Trường dữ liệu này không được để trống</span>
                </div>
              </div>
            </div>

            <div class="col-sm-2 control-label padding-xs">Trạng thái:</div>
            <div class="col-sm-4">
              <select class="form-control" formControlName="trangThai" [(ngModel)]="data.trangThai" required>
                <option value="true">Hiệu lực</option>
                <option value="false">Hết hiệu lực</option>
              </select>
              <div *ngIf="(submitted && f.trangThai.invalid)||(f.trangThai.invalid && (f.trangThai.dirty || f.trangThai.touched))"
                   class="has-error m-b-12">
                <div *ngIf="f.trangThai.errors.required">
                  <span class="help-block">Trường dữ liệu này không được để trống</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-2 control-label padding-xs"><i style="color: red">*</i>Thứ tự</div>
            <div class="col-sm-4">
              <input class="form-control has-error" numbersOnly formControlName="stt" type="text" [(ngModel)]="data.stt"
                     maxlength="4" required />
              <div *ngIf="(submitted && f.stt.invalid)||(f.stt.invalid && (f.stt.dirty || f.stt.touched))"
                   class="has-error m-b-12">
                <div *ngIf="f.stt.errors.required">
                  <span class="help-block">Trường dữ liệu này không được để trống</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-2 control-label padding-xs">Mô tả:</div>
            <div class="col-sm-10">
              <textarea class="form-control has-error" formControlName="moTa" type="text" rows="3"
                        [(ngModel)]="data.moTa" maxlength="255"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button *hasPermission="['3', 'B_XIII_1']" class="btn btn-save btn-sm" (click)="onCreate()">
            <i class="fal fa-save"></i> Lưu
          </button>
          <button data-dismiss="modal" class="btn btn-default btn-sm">Bỏ qua</button>
        </div>
      </div>
    </form>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
