<div class="authincation h-100 bg-login">
	<div class="container-fluid h-100">
		<div class="row justify-content-center h-100 align-items-center">
			<div class="col" style="padding: 0px;">
				<div class="authincation-content bg-transparent shadow-none">
					<div class="row no-gutters">
						<div class="col-xl-6 border-right border-brown remove-boder-right position-relative">
							<a href="/cong-bo">
								<img class="img-fluid" style="object-fit: cover;" src="../../../../../assets/dist/images/BG.svg" alt="">
								<div class="left-box position-absolute">
									<img class="mb-4" src="../../../../../assets/dist/images/logo.png">
									<h4 class="text-uppercase mb-0 text-white title-top mb-2">hệ thống thông tin tiếp nhận, trả lời PHẢN
										ÁNH,
										KIẾN NGHị
									</h4>
									<h4 class="text-uppercase mb-0 text-white title-bottom">TỈNH KHÁNH HOÀ</h4>
								</div>
							</a>
						</div>
						<div class="col-sm-12 col-md d-flex justify-content-center align-items-center" style="background: #E5E5E5;">
							<div class="auth-form" style="max-width: 450px">
								<h2 class="text-center mb-4 text-uppercase cl-brown text-dark">Lấy lại mật khẩu</h2>
								<p class="text-center cl-brown text-dark">Nhập email bạn đã đăng ký, Chúng tôi sẽ gửi mật khẩu mới qua
									email đó cho bạn.</p>
								<form class="login100-form validate-form flex-sb flex-w" [formGroup]="forgetPasswordForm"
									#formDir="ngForm" (ngSubmit)="forgetPassword()">
									<div class="form-group mb-4 pi-italic">
										<input class="form-control px-4 border-brown h-50px rounded-8px" type="email" id="email"
											placeholder="Nhập email.." formControlName="email" [(ngModel)]="user.Email"
											style="font-size: 20px" value="" required appAutofocus>
										<div *ngIf="(submitted && f.email.invalid)||(f.email.invalid && (f.email.dirty || f.email.touched))"
											class="alert has-error">
											<div *ngIf="f.email.errors.required">
												<span class="help-block">Trường này không được để trống</span>
											</div>
										</div>
									</div>

									<div class="text-center">
										<button type="button"
											class="btn grd-xanhngoc text-white text-uppercase font-weight-normal btn-block border-0 rounded-10px mb-4"
											data-toggle="modal" style="font-size: 20px" (click)="forgetPassword()">Xác nhận</button>
										<button type="button" class="btn rounded-10px bg-white text-dark border" style="font-size: 20px"
											(click)="login()">
											<i class="bi bi-arrow-left"></i> Về trang đăng nhập</button>
										<!-- Modal -->
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>