<div class="tab-pane fade show active" id="dk-canhan" role="tabpanel">
	<div class="row mx-0 border border-brown rounded-xl">
		<div class="col-12 col-lg-3 border-right p-4 border-brown">
			<h4 class="text-uppercase tt-sd1"><span class="py-2 p-3 d-inline-block">Thông tin đăng nhập</span></h4>
			<form [formGroup]="formLogin" class="px-3" autocomplete="off">
				<div class="form-group">
					<label class="mb-1">Số điện thoại <span class="cl-red">(*)</span></label>
					<input [svTrim] [(ngModel)]="model.phone" formControlName="phone" type="text" placeholder="Nhập..." autocomplete="off" class="form-control border-brown">
					<div *ngIf="(fLoginSubmitted && fLogin.phone.invalid)||(fLogin.phone.invalid && (fLogin.phone.dirty || fLogin.phone.touched))" class="has-error m-b-12">
						<div *ngIf="fLogin.phone.errors.required">
							<span class="help-block">Trường dữ liệu này không được để trống</span>
						</div>
						<div *ngIf="fLogin.phone.errors.pattern">
							<span class="help-block">Định dạng số điện thoại không đúng</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="mb-1">Mật khẩu <span class="cl-red">(*)</span></label>
					<input [svTrim] [(ngModel)]="model.password" formControlName="password" type="password" placeholder="Nhập..." autocomplete="off"
						class="form-control border-brown" value="">
					<div *ngIf="(fLoginSubmitted && fLogin.password.invalid)||(fLogin.password.invalid && (fLogin.password.dirty || fLogin.password.touched))"
						class="has-error m-b-12">
						<div *ngIf="fLogin.password.errors.required">
							<span class="help-block">Trường dữ liệu này không được để trống</span>
						</div>
						<!-- <div *ngIf="fLogin.password.errors.minlength">
							<span class="help-block">Mật khẩu ít nhất 6 ký tự, bao gồm cả ký tự chữ và số</span>
						</div> -->
						<div *ngIf="fLogin.password.errors.pattern">
							<span class="help-block">Mật khẩu ít nhất 6 ký tự, bao gồm cả ký tự chữ và số</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="mb-1">Nhập lại mật khẩu <span class="cl-red">(*)</span></label>
					<input [svTrim] [(ngModel)]="model.rePassword" formControlName="rePassword" type="password" placeholder="Nhập..." autocomplete="off"
						class="form-control border-brown" value="">
					<div *ngIf="(fLoginSubmitted && fLogin.rePassword.invalid)||(fLogin.rePassword.invalid && (fLogin.rePassword.dirty || fLogin.rePassword.touched))"
						class="has-error m-b-12">
						<div *ngIf="fLogin.rePassword.errors.required">
							<span class="help-block">Trường dữ liệu này không được để trống</span>
						</div>
						<div *ngIf="fLogin.rePassword.errors.mustMatch">
							<span class="help-block">Mật khẩu không trùng khớp</span>
						</div>
					</div>
				</div>
				<p class="font-italic mb-0">Sử dụng 6 ký tự trở lên, bao gồm cả ký tự chữ và số</p>
			</form>
		</div>
		<div class="col-12 col-lg-9 p-4 border-brown">
			<h4 class="text-uppercase tt-sd1"><span class="py-2 p-3 d-inline-block">Thông tin tài khoản</span></h4>
			<form [formGroup]="formInfo" class="form-row px-3" autocomplete="off">
				<div class="col-12 col-lg form-group">
					<label class="mb-1">Họ và Tên <span class="cl-red">(*)</span></label>
					<input [svTrim] [(ngModel)]="model.fullName" formControlName="fullName" type="text" placeholder="Nhập..." class="form-control border-brown">
					<!--  -->
					<div *ngIf="(fLoginSubmitted && fInfo.fullName.invalid)||(fInfo.fullName.invalid && (fInfo.fullName.dirty || fInfo.fullName.touched))" class="has-error m-b-12">
						<div *ngIf="fInfo.fullName.errors.required">
							<span class="help-block">Trường dữ liệu này không được để trống</span>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg form-group">
					<label class="mb-1">Quốc tịch <span class="cl-red">(*)</span></label>
					<!-- <select [(ngModel)]="model.nation" formControlName="nation" class="form-control border-brown">
						<option value="">Chọn...</option>
						<option *ngFor="let nation of listNation" [value]="nation.id">{{nation.name}}</option>
					</select> -->
					<ng-select [(ngModel)]="model.nation" formControlName="nation" class="form-control" placeholder="Chọn..." [clearable]="false" [closeOnSelect]="true"
						(change)="onChangeNation()">
						<ng-option value="">Chon...</ng-option>
						<ng-option *ngFor="let nation of listNation" [value]="nation.id">{{nation.name}}</ng-option>
					</ng-select>
					<!--  -->
					<div *ngIf="(fLoginSubmitted && fInfo.nation.invalid)||(fInfo.nation.invalid && (fInfo.nation.dirty || fInfo.nation.touched))" class="has-error m-b-12">
						<div *ngIf="fInfo.nation.errors.required">
							<span class="help-block">Trường dữ liệu này không được để trống</span>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg form-group">
					<label class="mb-1">Tỉnh / Thành phố <span class="cl-red">(*)</span></label>
					<!-- <select [(ngModel)]="model.province" formControlName="province" class="form-control border-brown">
						<option *ngFor="let prov of listProvince" [value]="prov.id">{{prov.name}}</option>
					</select> -->
					<ng-select [(ngModel)]="model.province" formControlName="province" class="form-control" placeholder="Chọn..." [clearable]="false" [closeOnSelect]="true"
						(change)="onChangeProvince()">
						<ng-option value="">Chon...</ng-option>
						<ng-option *ngFor="let prov of listProvince" [value]="prov.id">{{prov.name}}</ng-option>
					</ng-select>
					<!--  -->
					<div *ngIf="(fLoginSubmitted && fInfo.province.invalid)||(fInfo.province.invalid && (fInfo.province.dirty || fInfo.province.touched))" class="has-error m-b-12">
						<div *ngIf="fInfo.province.errors.required">
							<span class="help-block">Trường dữ liệu này không được để trống</span>
						</div>
					</div>
				</div>
				<div class="w-100"></div>
				<div class="col-12 col-lg form-group">
					<label class="mb-1">Ngày tháng năm sinh <span class="cl-red">(*)</span></label>
					<input [svTrim] [(ngModel)]="model.odb" formControlName="odb" type="text" placeholder="Nhập..." class="form-control border-brown">

					<!-- bsDatepicker #nv1="bsDatepicker" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY',containerClass:'theme-dark-blue' }" datetime="DD/MM/YYYY" -->
					<!--  -->
					<div *ngIf="(fLoginSubmitted && fInfo.odb.invalid)||(fInfo.odb.invalid && (fInfo.odb.dirty || fInfo.odb.touched))" class="has-error m-b-12">
						<div *ngIf="fInfo.odb.errors.required">
							<span class="help-block">Trường dữ liệu này không được để trống</span>
						</div>
					</div>
				</div>

				<div class="col-12 col-lg form-group">
					<label class="mb-1">Huyện / Quận / thị xã... <span class="cl-red">(*)</span></label>
					<!-- <select [(ngModel)]="model.district" formControlName="district" class="form-control border-brown">
						<option value="">Chọn...</option>
						<option *ngFor="let dis of listDistrict" [value]="dis.id">{{dis.name}}</option>
					</select> -->
					<ng-select [(ngModel)]="model.district" formControlName="district" class="form-control" placeholder="Chọn..." [clearable]="false" [closeOnSelect]="true"
						(change)="onChangeDistrict()">
						<ng-option value="">Chon...</ng-option>
						<ng-option *ngFor="let dis of listDistrict" [value]="dis.id">{{dis.name}}</ng-option>
					</ng-select>
					<!--  -->
					<div *ngIf="(fLoginSubmitted && fInfo.district.invalid)||(fInfo.district.invalid && (fInfo.district.dirty || fInfo.district.touched))" class="has-error m-b-12">
						<div *ngIf="fInfo.district.errors.required">
							<span class="help-block">Trường dữ liệu này không được để trống</span>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg form-group">
					<label class="mb-1">Xã / Phường / Thị trấn <span class="cl-red">(*)</span></label>
					<!-- <select [(ngModel)]="model.village" formControlName="village" class="form-control border-brown">
						<option *ngFor="let vill of listVillage" [value]="vill.id">{{vill.name}}</option>
					</select> -->
					<ng-select [(ngModel)]="model.village" formControlName="village" class="form-control" placeholder="Chọn..." [clearable]="false" [closeOnSelect]="true">
						<ng-option value="">Chon...</ng-option>
						<ng-option *ngFor="let vill of listVillage" [value]="vill.id">{{vill.name}}</ng-option>
					</ng-select>
					<!--  -->
					<div *ngIf="(fLoginSubmitted && fInfo.village.invalid)||(fInfo.village.invalid && (fInfo.village.dirty || fInfo.village.touched))" class="has-error m-b-12">
						<div *ngIf="fInfo.village.errors.required">
							<span class="help-block">Trường dữ liệu này không được để trống</span>
						</div>
					</div>
				</div>
				<div class="w-100"></div>
				<div class="col-12 col-lg form-group">
					<label class="mb-1">Email <span class="cl-red">(*)</span></label>
					<input [svTrim] [(ngModel)]="model.email" formControlName="email" type="text" placeholder="Nhập..." class="form-control border-brown">
					<!--  -->
					<div *ngIf="(fLoginSubmitted && fInfo.email.invalid)||(fInfo.email.invalid && (fInfo.email.dirty || fInfo.email.touched))" class="has-error m-b-12">
						<div *ngIf="fInfo.email.errors.required">
							<span class="help-block">Trường dữ liệu này không được để trống</span>
						</div>
						<div *ngIf="fInfo.email.errors.email">
							<span class="help-block">Định dạng email không hợp lệ</span>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-8 form-group">
					<label class="mb-1">Địa chỉ cụ thể <span class="cl-red">(*)</span></label>
					<input [svTrim] [(ngModel)]="model.address" formControlName="address" type="text" placeholder="Nhập..." class="form-control border-brown">
					<!--  -->
					<div *ngIf="(fLoginSubmitted && fInfo.address.invalid)||(fInfo.address.invalid && (fInfo.address.dirty || fInfo.address.touched))" class="has-error m-b-12">
						<div *ngIf="fInfo.address.errors.required">
							<span class="help-block">Trường dữ liệu này không được để trống</span>
						</div>
					</div>
				</div>

				<div class="w-100"></div>
				<div class="col-12 col-lg form-group">
					<label class="mb-1">Số CMND / CCCD / Hộ chiếu <span class="cl-red">(*)</span></label>
					<input [svTrim] [(ngModel)]="model.identity" formControlName="identity" type="text" placeholder="Nhập..." class="form-control border-brown">
					<!--  -->
					<div *ngIf="(fLoginSubmitted && fInfo.identity.invalid)||(fInfo.identity.invalid && (fInfo.identity.dirty || fInfo.identity.touched))" class="has-error m-b-12">
						<div *ngIf="fInfo.identity.errors.required">
							<span class="help-block">Trường dữ liệu này không được để trống</span>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg form-group">
					<label class="mb-1">Nơi cấp <span class="cl-red">(*)</span></label>
					<input [svTrim] [(ngModel)]="model.placeIssue" formControlName="placeIssue" type="text" placeholder="Nhập..." class="form-control border-brown">
					<!--  -->
					<div *ngIf="(fLoginSubmitted && fInfo.placeIssue.invalid)||(fInfo.placeIssue.invalid && (fInfo.placeIssue.dirty || fInfo.placeIssue.touched))"
						class="has-error m-b-12">
						<div *ngIf="fInfo.placeIssue.errors.required">
							<span class="help-block">Trường dữ liệu này không được để trống</span>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg form-group">
					<label class="mb-1">Ngày cấp <span class="cl-red">(*)</span></label>
					<input [svTrim] [(ngModel)]="model.dateIssue" formControlName="dateIssue" type="text" class="form-control" placeholder="Nhập...">
					<!--  -->
					<div *ngIf="(fLoginSubmitted && fInfo.dateIssue.invalid)||(fInfo.dateIssue.invalid && (fInfo.dateIssue.dirty || fInfo.dateIssue.touched))"
						class="has-error m-b-12">
						<div *ngIf="fInfo.dateIssue.errors.required">
							<span class="help-block">Trường dữ liệu này không được để trống</span>
						</div>
					</div>
				</div>
				<div class="w-100"></div>
				<div class="form-group mb-0 col">
					<label class="mr-3">Giới tính:</label>
					<label *ngFor="let gen of listGender" class="radio-inline mr-3">
						<input [(ngModel)]="model.gender" formControlName="gender" [value]="gen.value" type="radio"> {{gen.text}}
					</label>
				</div>
			</form>
		</div>
	</div>
	<p class="cl-red font-italic mt-3">Vui lòng nhập đầy đủ, chính xác toàn bộ thông tin một lần để sử dụng nhiều lần trên hệ thống</p>
	<div class="card-body d-flex justify-content-end px-0">
		<button type="button" class="btn btn-outline-light px-5 mr-3 rounded-xl">Hủy</button>
		<button type="button" class="btn text-white border-light grd-xanhngoc px-5 rounded-xl" (click)="onSave()">Đăng ký</button>
	</div>
</div>
