<div class="container-fluid p-0">
	<div class="row">
		<div class="col-lg-12">
			<ol class="breadcrumb title-module px-0 bg-transparent mb-0">
				<li class="breadcrumb-item"><a>Hệ thống</a></li>
				<li class="breadcrumb-item active"><a class="font-weight-bold">Cấu hình trang giới thiệu</a></li>
			</ol>
			<div class="btn-group group-button-table" role="group">
				<a class="btn btn-sm btn-default rounded mr-3" style="border: 1px solid gray;" (click)="redirect()">
					<i class="bi bi-arrow-left"></i>&nbsp;
					Quay lại
				</a>
				<button class="btn btn-sm grd-xanhngoc text-white rounded border-0 mr-3" (click)="onSave()">Công bố</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" style="padding: 60px;padding-top: 20px;">
			<form class="form-horizontal" [formGroup]="form">
				<div class="row form-group">

					<div class="col-sm-12 padding-col" style="position: relative; padding-bottom: 20px;">
						<label class="control-label department">Banner lớn<span class="text-danger">(*)</span></label>
						<input class="form-control" (change)="ChangeBanner($event)" id="bannerImg" hidden type="file" />
						<a class="btn btn-sm btn-default rounded mr-3 btn-change-banner" title="Thay banner" type="button" (click)="ChooseBanner()">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-image" viewBox="0 0 16 16">
								<path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
								<path
									d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z" />
							</svg>
							<span class="ml-2" style="text-transform: none;">Thay banner</span>
						</a>
						<div style="max-height:400px;width: auto;height:400px;">
							<img [src]="bannerUrl" id="bannerIntroduce" style="width: 100%; height: 100%; object-fit: cover; border-radius: 8px;">
						</div>


					</div>


					<div class="col-sm-12 padding-col">
						<label class="control-label department">Tiêu đề<span class="text-danger">(*)</span></label>
						<input class="form-control" formControlName="title" [(ngModel)]="model.title" maxlength="100" placeholder="Nhập..." />
						<div *ngIf="(submitted && f.title.invalid) || (f.title.invalid && (f.title.dirty || f.title.touched))" class="has-error m-b-12">
							<div *ngIf="f.title.errors.required">
								<span class="help-block">Trường dữ liệu này không để trống</span>
							</div>
						</div>
					</div>

					<div class="col-sm-12 padding-col">
						<label class="control-label department">Thông tin tóm tắt<span class="text-danger">(*)</span></label>
						<textarea class="form-control" [(ngModel)]="model.summary" formControlName="summary" placeholder="Nhập..." rows="5" maxlength="500"></textarea>
						<div *ngIf="(submitted && f.summary.invalid) || (f.summary.invalid && (f.summary.dirty || f.summary.touched))" class="has-error m-b-12">
							<div *ngIf="f.summary.errors">
								<span class="help-block">Trường dữ liệu này không để trống</span>
							</div>
						</div>
					</div>
					<div class="col-sm-12 padding-col">
						<label class="control-label department">Mô tả cơ cấu tổ chức<span class="text-danger">(*)</span></label>
						<textarea class="form-control" [(ngModel)]="model.descriptionUnit" formControlName="descriptionUnit" rows="6" maxlength="700"
							placeholder="Nhập..."></textarea>
						<div *ngIf="(submitted && f.descriptionUnit.invalid) || (f.descriptionUnit.invalid && (f.descriptionUnit.dirty || f.descriptionUnit.touched))"
							class="has-error m-b-12">
							<div *ngIf="f.descriptionUnit.errors">
								<span class="help-block">Trường dữ liệu này không để trống</span>
							</div>
						</div>
					</div>

					<div class="col-sm-12 padding-col" style="padding-top: 20px; padding-bottom: 20px;">
						<div class="card mb-0 shadow-none" style="border: 1px solid rgba(214, 214, 214, 0.8); border-radius: 5px;">
							<p class="p-3 h4 d-flex justify-content-between align-items-center">
								<span>Danh sách đơn vị</span>
								<button class="btn grd-blue border-0 p-2 btn-sm text-white" (click)="preCreate()" type="button"><i class="pi pi-plus"></i></button>
							</p>
							<div class="table-responsive">
								<p-table #table [value]="ltsIntroductUnit" [lazy]="true" (onLazyLoad)="onPageChange($event)" [paginator]="true" [showCurrentPageReport]="true"
									currentPageReportTemplate="Tổng số {{totalRecords}}" [rows]="PageSize" [totalRecords]="totalRecords" [responsive]="true" autoLayout="true"
									tableStyleClass="table table-sd table-responsive-md table-striped mb-0">
									<ng-template pTemplate="header" class="bg-thead">
										<tr>
											<th style="width: 50px;">
												<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
													<strong>STT</strong>
												</p>
											</th>
											<th style="min-width: 180px;">
												<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
													<strong>Tên đơn vị</strong>
													<span class="caret-tb"></span>
												</p>
											</th>
											<th style="min-width: 280px;">
												<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
													<strong>Mô tả</strong>
													<span class="caret-tb"></span>
												</p>
											</th>

											<th>
												<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
													<strong>Thông tin liên hệ</strong>
													<span class="caret-tb"></span>
												</p>
											</th>
											<th style="min-width: 100px;" class="text-right"><strong>THAO TÁC</strong></th>
										</tr>
									</ng-template>
									<ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
										<tr>
											<td class="text-center">{{rowIndex + 1}}</td>

											<td>{{item.title}}</td>
											<td>
												<p class="text-2line mb-0"> {{item.description}}</p>

											</td>
											<td>
												<p class="text-2line mb-0">{{item.infomation}}</p>
											</td>

											<td style="text-align: center;">
												<div class="hover-active d-flex justify-content-end">
													<a (click)="preUpdate(item)" class="btn-icon grd-brown text-brown mr-2"><i class="bi bi-pencil-square"></i></a>
													<a (click)="preDelete(item.id)" class="btn-icon grd-red text-white" data-toggle="modal" data-target="#modal-tc-pakn"><i
															class="bi bi-trash"></i></a>
												</div>
											</td>
										</tr>
									</ng-template>
									<ng-template pTemplate="emptymessage">
										<tr>
											<td class="text-center" colspan="5">Không có dữ liệu</td>
										</tr>
									</ng-template>
								</p-table>
							</div>
						</div>
					</div>


					<div class="col-sm-12 padding-col">
						<label class="control-label department">Mô tả chức năng hệ thống<span class="text-danger">(*)</span></label>
						<textarea class="form-control" [(ngModel)]="model.descriptionFunction" formControlName="descriptionFunction" rows="6" placeholder="Nhập..."></textarea>
						<div *ngIf="(submitted && f.descriptionFunction.invalid) || (f.descriptionFunction.invalid && (f.descriptionFunction.dirty || f.descriptionFunction.touched))"
							class="has-error m-b-12">
							<div *ngIf="f.descriptionFunction.errors">
								<span class="help-block">Trường dữ liệu này không để trống</span>
							</div>
						</div>
					</div>



					<div class="col-12 col-sm-6 flex">
						<div class="item-introduce">
							<div class="icon">
								<i class="bi bi-person-plus"></i>
							</div>
						</div>
						<div class="content-intro-x">
							<div class="title-action">
								<input class="form-control font-bold" formControlName="titleFunc0" [(ngModel)]="lstIntroduceFunction[0].title" maxlength="100"
									placeholder="Nhập..." />
								<div *ngIf="(submitted && f.titleFunc0.invalid) || (f.titleFunc0.invalid && (f.titleFunc0.dirty || f.titleFunc0.touched))" class="has-error m-b-12">
									<div *ngIf="f.titleFunc0.errors.required">
										<span class="help-block">Trường dữ liệu này không để trống</span>
									</div>
								</div>
							</div>
							<textarea class="form-control" [(ngModel)]="lstIntroduceFunction[0].content" formControlName="contentFunc0" maxlength="700" rows="4"
								placeholder="Nhập..."></textarea>
							<div *ngIf="(submitted && f.contentFunc0.invalid) || (f.contentFunc0.invalid && (f.contentFunc0.dirty || f.contentFunc0.touched))"
								class="has-error m-b-12">
								<div *ngIf="f.contentFunc0.errors">
									<span class="help-block">Trường dữ liệu này không để trống</span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 flex">
						<div class="item-introduce">
							<div class="icon">
								<i class="bi bi-chat-right-dots"></i>
							</div>
						</div>
						<div class="content-intro-x">
							<div class="title-action">
								<input class="form-control font-bold" formControlName="titleFunc1" [(ngModel)]="lstIntroduceFunction[1].title" maxlength="100"
									placeholder="Nhập..." />
								<div *ngIf="(submitted && f.titleFunc1.invalid) || (f.titleFunc1.invalid && (f.titleFunc1.dirty || f.titleFunc1.touched))" class="has-error m-b-12">
									<div *ngIf="f.titleFunc1.errors.required">
										<span class="help-block">Trường dữ liệu này không để trống</span>
									</div>
								</div>
							</div>
							<textarea class="form-control" [(ngModel)]="lstIntroduceFunction[1].content" formControlName="contentFunc1" maxlength="500" rows="4"
								placeholder="Nhập..."></textarea>
							<div *ngIf="(submitted && f.contentFunc1.invalid) || (f.contentFunc1.invalid && (f.contentFunc1.dirty || f.contentFunc1.touched))"
								class="has-error m-b-12">
								<div *ngIf="f.contentFunc1.errors">
									<span class="help-block">Trường dữ liệu này không để trống</span>
								</div>
							</div>
						</div>
					</div>


					<div class="col-12 col-sm-6 flex">
						<div class="item-introduce">
							<div class="icon">
								<i class="bi bi-search"></i>
							</div>
						</div>
						<div class="content-intro-x">
							<div class="title-action">
								<input class="form-control font-bold" formControlName="titleFunc2" [(ngModel)]="lstIntroduceFunction[2].title" maxlength="100"
									placeholder="Nhập..." />
								<div *ngIf="(submitted && f.titleFunc2.invalid) || (f.titleFunc2.invalid && (f.titleFunc2.dirty || f.titleFunc2.touched))" class="has-error m-b-12">
									<div *ngIf="f.titleFunc2.errors.required">
										<span class="help-block">Trường dữ liệu này không để trống</span>
									</div>
								</div>
							</div>
							<textarea class="form-control" [(ngModel)]="lstIntroduceFunction[2].content" formControlName="contentFunc2" maxlength="500" rows="4"
								placeholder="Nhập..."></textarea>
							<div *ngIf="(submitted && f.contentFunc2.invalid) || (f.contentFunc2.invalid && (f.contentFunc2.dirty || f.contentFunc2.touched))"
								class="has-error m-b-12">
								<div *ngIf="f.contentFunc2.errors">
									<span class="help-block">Trường dữ liệu này không để trống</span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 flex">
						<div class="item-introduce">
							<div class="icon">
								<i class="bi bi-file-earmark-arrow-up"></i>
							</div>
						</div>
						<div class="content-intro-x">
							<div class="title-action">
								<input class="form-control font-bold" formControlName="titleFunc3" [(ngModel)]="lstIntroduceFunction[3].title" maxlength="100"
									placeholder="Nhập..." />
								<div *ngIf="(submitted && f.titleFunc3.invalid) || (f.titleFunc3.invalid && (f.titleFunc3.dirty || f.titleFunc3.touched))" class="has-error m-b-12">
									<div *ngIf="f.titleFunc3.errors.required">
										<span class="help-block">Trường dữ liệu này không để trống</span>
									</div>
								</div>
							</div>
							<textarea class="form-control" [(ngModel)]="lstIntroduceFunction[3].content" formControlName="contentFunc3" maxlength="500" rows="4"
								placeholder="Nhập..."></textarea>
							<div *ngIf="(submitted && f.contentFunc3.invalid) || (f.contentFunc3.invalid && (f.contentFunc3.dirty || f.contentFunc3.touched))"
								class="has-error m-b-12">
								<div *ngIf="f.contentFunc3.errors">
									<span class="help-block">Trường dữ liệu này không để trống</span>
								</div>
							</div>
						</div>
					</div>


					<div class="col-12 col-sm-6 flex">
						<div class="item-introduce">
							<div class="icon">
								<i class="bi bi-newspaper"></i>
							</div>
						</div>
						<div class="content-intro-x">
							<div class="title-action">
								<input class="form-control font-bold" formControlName="titleFunc4" [(ngModel)]="lstIntroduceFunction[4].title" maxlength="100"
									placeholder="Nhập..." />
								<div *ngIf="(submitted && f.titleFunc4.invalid) || (f.titleFunc4.invalid && (f.titleFunc4.dirty || f.titleFunc4.touched))" class="has-error m-b-12">
									<div *ngIf="f.titleFunc4.errors.required">
										<span class="help-block">Trường dữ liệu này không để trống</span>
									</div>
								</div>
							</div>
							<textarea class="form-control" [(ngModel)]="lstIntroduceFunction[4].content" formControlName="contentFunc4" maxlength="500" rows="4"
								placeholder="Nhập..."></textarea>
							<div *ngIf="(submitted && f.contentFunc4.invalid) || (f.contentFunc4.invalid && (f.contentFunc4.dirty || f.contentFunc4.touched))"
								class="has-error m-b-12">
								<div *ngIf="f.contentFunc4.errors">
									<span class="help-block">Trường dữ liệu này không để trống</span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 flex">
						<div class="item-introduce">
							<div class="icon">
								<i class="bi bi-file-earmark-text"></i>
							</div>
						</div>
						<div class="content-intro-x">
							<div class="title-action">
								<input class="form-control font-bold" formControlName="titleFunc5" [(ngModel)]="lstIntroduceFunction[5].title" maxlength="100"
									placeholder="Nhập..." />
								<div *ngIf="(submitted && f.titleFunc5.invalid) || (f.titleFunc5.invalid && (f.titleFunc5.dirty || f.titleFunc5.touched))" class="has-error m-b-12">
									<div *ngIf="f.titleFunc5.errors.required">
										<span class="help-block">Trường dữ liệu này không để trống</span>
									</div>
								</div>
							</div>
							<textarea class="form-control" [(ngModel)]="lstIntroduceFunction[5].content" formControlName="contentFunc5" maxlength="500" rows="4"
								placeholder="Nhập..."></textarea>
							<div *ngIf="(submitted && f.contentFunc5.invalid) || (f.contentFunc5.invalid && (f.contentFunc5.dirty || f.contentFunc5.touched))"
								class="has-error m-b-12">
								<div *ngIf="f.contentFunc5.errors">
									<span class="help-block">Trường dữ liệu này không để trống</span>
								</div>
							</div>
						</div>
					</div>

				</div>
			</form>
		</div>
	</div>
</div>


<div class="modal fade" id="modal-create-update-introduce-unit">
	<div class="modal-dialog modal-dialog-centered" style="min-width: 60%" role="document">
		<div class="modal-content rounded">
			<form class="form-horizontal" [formGroup]="formUnit" #formDir="ngForm">
				<div class="panel panel-default no-margin">
					<div class="modal-header" style="border: none;">
						<button class="close btn-close-modal" data-dismiss="modal">
							×
						</button>
						<p class="modal-title h3">{{title}}</p>
					</div>
					<div class="modal-body no-padding-bottom" style="border: none;">
						<div class="row form-group">
							<div class="col-sm-8">
								<label class="control-label">Tên đơn vị<span class="text-danger">(*)</span></label>
								<input class="form-control" formControlName="title" [(ngModel)]="modelUnit.title" maxlength="200" placeholder="Nhập..." />
								<div *ngIf="(submittedUnit && fUnit.title.invalid) || (fUnit.title.invalid && (fUnit.title.dirty || fUnit.title.touched))" class="has-error m-b-12">
									<div *ngIf="fUnit.title.errors.required">
										<span class="help-block">Trường dữ liệu này không để trống</span>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<label class="control-label">Thứ tự hiển thị <span class="text-danger">(*)</span></label>
								<input class="form-control" type="number" formControlName="index" [(ngModel)]="modelUnit.index" maxlength="100" placeholder="Nhập..." />

							</div>
						</div>
						<div class="row form-group">
							<div class="col-sm-12">
								<label class="control-label">Mô tả<span class="text-danger">(*)</span></label>
								<textarea class="form-control" formControlName="description" type="text" rows="4" [(ngModel)]="modelUnit.description" maxlength="300"
									placeholder="Nhập..."></textarea>
								<div *ngIf="(submittedUnit && fUnit.description.invalid) || (fUnit.description.invalid && (fUnit.description.dirty || fUnit.description.touched))"
									class="has-error m-b-12">
									<div *ngIf="fUnit.description.errors.required">
										<span class="help-block">Trường dữ liệu này không để trống</span>
									</div>
								</div>

							</div>
						</div>
						<div class="row form-group">
							<div class="col-sm-12">
								<label class="control-label">Thông tin liên hệ<span class="text-danger">(*)</span></label>
								<textarea class="form-control" formControlName="infomation" type="text" rows="4" [(ngModel)]="modelUnit.infomation" maxlength="400"
									placeholder="Nhập..."></textarea>
								<div *ngIf="(submittedUnit && fUnit.infomation.invalid) || (fUnit.infomation.invalid && (fUnit.infomation.dirty || fUnit.infomation.touched))"
									class="has-error m-b-12">
									<div *ngIf="fUnit.infomation.errors.required">
										<span class="help-block">Trường dữ liệu này không để trống</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer border-top-0">
						<button type="button" data-dismiss="modal" class="btn btn-outline-secondary border px-5" data-dismiss="modal">Hủy</button>
						<button type="button" class="btn btn-danger border-0 px-5 grd-blue" (click)="onSaveUnit()">Xác nhận</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>


<div class="modal fade" id="modalConfirmDelete">
	<div class="modal-dialog modal-dialog-centered" style="max-width: 400px" role="document">
		<div class="modal-content rounded">
			<form class="form-horizontal">
				<div class="panel panel-default no-margin">
					<div class="modal-header" style="border: none;">
						<button class="close btn-close-modal" data-dismiss="modal">
							×
						</button>
						<!-- <p class="modal-title h3">Xác nhận</p> -->
					</div>
					<div class="modal-body no-padding-bottom" style="border: none;">
						<div style="text-align: center;">
							<strong class="change-status-title">Bạn có chắc chắn thực hiện hành động này?</strong>
						</div>
					</div>
					<div class="modal-footer" style="border: none; justify-content: center;">
						<button type="button" data-dismiss="modal" class="btn btn-outline-secondary border px-5" data-dismiss="modal">Hủy</button>
						<button type="button" class="btn btn-danger border-0 px-5 grd-blue" (click)="onDelete()">Xác
							nhận</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
