label {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #1b1b3e;
	margin: 10px 0px;
}

.flex {
	display: flex !important;
	margin: 20px 0px;
}
.item-introduce {
	width: 15%;
}

.item-introduce .icon {
	width: 64px;
	height: 64px;
	left: calc(50% - 64px / 2 - 221px);
	background: #eef6ff;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.item-introduce .icon i {
	font-size: 25px;
	color: #2f4cdd;
}

.content-intro-x {
	width: 85%;
}

.title-action {
	margin-bottom: 15px;
}

.font-bold {
	font-weight: bold !important;
}

.btn-change-banner {
	border: 1px solid gray;
	color: #1673d8 !important;
	position: absolute;
	top: 80px;
	right: 30px;
	z-index: 1;
	background: #fff;
}
.icon {
	width: 100px;
	height: 100px;
}

.icon img {
	object-fit: cover;
	width: 40%;
	height: 40%;
}

:host ::ng-deep .ck-editor__editable_inline {
	min-height: 400px;
}
