<div class="header header-ql">
	<div class="header-content px-3">
		<nav class="navbar navbar-expand">
			<div class="collapse navbar-collapse justify-content-between">
				<div class="header-left w-100 justify-content-between pr-5">
					<p class="mb-0 h3">Trang chủ / tin tức / tạo tin tức</p>

					<div class="btn-group" role="group">
						<button class="btn btn-sm btn-default rounded border-0 mr-3">
							<i class="bi bi-arrow-left"></i>&nbsp;
							Quay lại
						</button>
						<button class="btn btn-sm grd-xanhngoc text-white rounded border-0 mr-3">Lưu</button>
						<button class="btn btn-sm grd-green rounded text-white border-0">Công bố</button>
					</div>
				</div>
			</div>
		</nav>
	</div>
</div>
<div class="content-body">
	<!-- <form>
		<div class="form-row">
			<div class="col-12 col-lg-8 form-group">
				<label class="mb-1"><span class="text-uppercase">tiêu đề</span> <span class="cl-red">(*)</span></label>
				<input formControlName="title" [(ngModel)]="model.title" type="text" class="form-control" placeholder="Nhập...">
				<div *ngIf="(unitFormSubmitted && fUnit.name.invalid)||(fUnit.name.invalid && (fUnit.name.dirty || fUnit.name.touched))" class="has-error m-b-12">
          <div *ngIf="fUnit.name.errors.required">
            <span class="help-block">Trường dữ liệu này không được để trống</span>
          </div>
        </div>
			</div>
		</div>
	</form> -->
</div>
