<div class="content-body">
	<div class="row">
		<div class="col-lg-12">
			<div class="breadcrumb title-module px-0 bg-transparent" style="font-size: 18px;font-weight: 600;">
				<p class="mb-0 h4">Trang chủ / Tin tức / <strong *ngIf="model.id == null || model.id == 0">Tạo tin tức</strong><strong *ngIf="model.id != null && model.id > 0">Sửa
						tin tức</strong> </p>
			</div>
			<div class="btn-group group-button-table" role="group">
				<a class="btn btn-sm btn-default rounded mr-3" style="border: 1px solid gray;" (click)="back()">
					<i class="bi bi-arrow-left"></i>&nbsp;
					Quay lại
				</a>
				<button class="btn btn-sm grd-blue text-white rounded border-0 mr-3" (click)="onSave(true,model.isPublished,true)">Xem trước</button>
				<button class="btn btn-sm grd-xanhngoc text-white rounded border-0 mr-3" (click)="onSave(true)">&nbsp;&nbsp;&nbsp;&nbsp;Lưu&nbsp;&nbsp;&nbsp;&nbsp;</button>
				<span *ngIf="model.id > 0 && model.status == 1">
					<button *hasPermission="['3', 'F_I_7']" class="btn btn-sm grd-green rounded text-white border-0" (click)="onSave(false,false)">Hủy công bố</button>
				</span>
				<span *ngIf="model.id == 0 || model.status == 0 || model.status == 2">
					<button *hasPermission="['3', 'F_I_7']" class="btn btn-sm grd-green rounded text-white border-0" (click)="onSave(false,true)">Công bố</button>
				</span>
			</div>
		</div>
	</div>
	<form [formGroup]="newsForm">
		<div class="container mr-0 ml-0">
			<div class="row">
				<div class="col-md-9 col-lg-9 col-xl-9 col-xxl-8">
					<div class="col-12 col-lg-12 form-group">
						<label class="mb-1"><span class="text-uppercase">tiêu đề </span> <span class="cl-red">(*)</span></label>
						<input formControlName="title" [(ngModel)]="model.title" type="text" class="form-control input-sm" placeholder="Nhập...">
						<div *ngIf="(submitted && f.title.invalid)||(f.title.invalid && (f.title.dirty || f.title.touched))" class="has-error m-b-12">
							<div *ngIf="f.title.errors?.required">
								<span class="help-block">Trường dữ liệu này không được để trống</span>
							</div>
							<div *ngIf="f.title.errors.maxlength">
								<span class="help-block">Chỉ nhập tối đa 500 kí tự</span>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-12 form-group">
						<label class="mb-1"><span class="text-uppercase">tóm tắt</span> <span class="cl-red">(*)</span></label>
						<textarea class="form-control text-area-height" cols="10" formControlName="summary" [(ngModel)]="model.summary" placeholder="Nhập..."></textarea>
						<div *ngIf="(submitted && f.summary.invalid)||(f.summary.invalid && (f.summary.dirty || f.summary.touched))" class="has-error m-b-12">
							<div *ngIf="f.summary.errors?.required">
								<span class="help-block">Trường dữ liệu này không được để trống</span>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-12 form-group mb-6">
						<div class="clearfix mb-2">
							<label class="mb-1"><span class="text-uppercase">bài viết liên quan</span></label>
							<button class="btn btn-sm grd-xanhngoc border-0 text-white btn-inline pull-right" (click)="onModalNewsRelate()">
								<i class="bi bi-list"></i> Chọn bài
							</button>
						</div>
						<div class="col-md-12 pr-0 pl-0">
							<div class="btn btn-default p-2 border mb-2" style="position: relative; overflow-x: hidden;" *ngFor="let relateItem of newsRelatesSelected">
								<img class="rounded border" style="min-height: 52px;" width="80" [src]="relateItem.imagePath" />
								<span class="col-md-10" style="white-space: nowrap;
								display: inline-block;
								overflow: hidden;
    						text-align: left;">
									&nbsp;<strong>{{relateItem.title}}</strong>
								</span>
								<span class="mt-1 mr-1 relate-del-btn" (click)="removeRelate(relateItem.id)"><i class="bi bi-x"></i></span>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-12 form-group">
						<label class="mb-1"><span class="text-uppercase">Nội dung bài viết </span> <span class="cl-red">(*)</span></label>
						<ckeditor id="editor" [editor]="Editor" formControlName="contents" [(ngModel)]="model.contents" (ready)="onReady($event)" [config]="ckConfig"></ckeditor>
						<div *ngIf="(submitted && f.contents.invalid)||(f.contents.invalid && (f.contents.dirty || f.contents.touched))" class="has-error m-b-12">
							<div *ngIf="f.contents.errors?.required">
								<span class="help-block">Trường dữ liệu này không được để trống</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-lg-3 col-xl-3 col-xxl-4">
					<div class="col-12 col-lg-12 form-group">
						<label class="mb-1"><span class="text-uppercase">Loại tin tức </span> <span class="cl-red">(*)</span></label>
						<ng-select notFoundText="Không có dữ liệu"  formControlName="newsType" id="newsTypeId" [(ngModel)]="model.newsType" class="form-control" placeholder="Chọn...">
							<ng-option *ngFor="let cate of listNewsTypes" [value]="cate.id">{{cate.name}}</ng-option>
						</ng-select>
						<div *ngIf="(submitted && f.newsType.invalid)||(f.newsType.invalid && (f.newsType.dirty || f.newsType.touched))" class="has-error m-b-12">
							<div *ngIf="!model.newsType">
								<span class="help-block">Trường dữ liệu này không được để trống</span>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-12 form-group">
						<label class="mb-1 dis-block"><span class="text-uppercase">kiểu bài </span> <span class="cl-red">(*)</span></label>
						<input hidden formControlName="postType" [(ngModel)]="model.postType" />
						<div class="checkbox dis-inline mr-3" *ngFor="let pType of postTypes">
							<label>
								<input type="checkbox" [checked]="postTypeSelected.indexOf(pType.value) != -1" (change)="onChangePostType(pType.value,$event.target.checked)">
								<span class="text-uppercase"> {{pType.text}}</span>
							</label>
						</div>
						<div *ngIf="(submitted && f.postType.invalid)||(f.postType.invalid && (f.postType.dirty || f.postType.touched))" class="has-error m-b-12">
							<div *ngIf="f.postType.errors?.required">
								<span class="help-block">Trường dữ liệu này không được để trống</span>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-12 form-group">
						<label class="mb-1"><span class="text-uppercase">ảnh đại diện </span> <span class="cl-red">(*)</span></label>
						<input type="file" [hidden]="true" id="avatar-image" accept=".png, .jpg, .jpeg" (change)="onAvatarChange($event)">
						<div class="news-avatar border" (click)="onChangeAvatar()">
							<img *ngIf="model.imagePath" [src]="model.imagePath | sanitizerUrl" alt="">
							<img *ngIf="!model.imagePath" [src]="avatarUrl" alt="">
							<!-- <div class="news-avatar border" (click)="onChangeAvatar()" style="cursor: pointer;">
							<img [src]="avatarUrl | sanitizerUrl" alt=""> -->
							<input hidden formControlName="imagePath" [(ngModel)]="model.imagePath" />
						</div>
						<div *ngIf="(submitted)" class="has-error m-b-12">
							<div *ngIf="f.imagePath.errors?.required">
								<span class="help-block">Chọn ảnh đại diện</span>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-12 form-group" *hasPermission="['3', 'F_I_5']">
						<label class="mb-1"><span class="text-uppercase">thông báo</span></label>
						<div class="checkbox">
							<label><input [(ngModel)]="model.isNotification" type="checkbox" formControlName="pushNotify" checked> Gửi thông báo đến người dân, doanh nghiệp</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<app-news-relate-modal></app-news-relate-modal>
