<form class="form-row px-3" [formGroup]="formInfo">
	<div class="col-6 col-sm-6 form-group">
		<label class="mb-1">Người đại diện<span class="cl-red">(*)</span></label>
		<input autofocus [svTrim] maxlength="100" [(ngModel)]="model.RepresentativeName" formControlName="RepresentativeName" type="text" placeholder="Nhập..." class="form-control">
		<div *ngIf="(fInfoSubmitted && fInfo.RepresentativeName.invalid)||(fInfo.RepresentativeName.invalid && (fInfo.RepresentativeName.dirty || fInfo.RepresentativeName.touched))"
			class="has-error m-b-12">
			<div *ngIf="fInfo.RepresentativeName.errors.required">
				<span class="help-block">Trường dữ liệu này không được để trống</span>
			</div>
			<div *ngIf="fInfo.RepresentativeName.errors.maxlength">
				<span class="help-block">Trường chỉ nhập tối đa 100 ký tự</span>
			</div>
		</div>
	</div>
	<div class="col-6 col-sm-6 form-group">
		<label class="mb-1">SĐT người đại diện <span class="cl-red">(*)</span> </label>
		<div class="input-group">
			<input numbersOnly class="form-control" style="border-right: 1px solid #C0C0C0" [(ngModel)]="model.phone" formControlName="phone" maxlength="10" placeholder="Nhập ..." autocomplete="off" />
		</div>
		<div *ngIf="(fInfoSubmitted && fInfo.phone.invalid)||(fInfo.phone.invalid && (fInfo.phone.dirty || fInfo.phone.touched))" class="has-error m-b-12">
			<div *ngIf="fInfo.phone.errors.required">
				<span class="help-block">Trường dữ liệu này không được để trống</span>
			</div>
			<div *ngIf="fInfo.phone.errors.pattern">
				<span class="help-block">Số điện thoại không đúng</span>
			</div>
		</div>
	</div>
	<div class="col-6 col-sm-6 form-group">
		<label class="mb-1">Email</label>
		<input [svTrim] [(ngModel)]="model.Email" formControlName="Email" type="text" placeholder="Nhập..." class="form-control"
			(change)="onCheckExist('Email',$event.target.value)">
		<div *ngIf="(fInfoSubmitted && fInfo.Email.invalid)||(fInfo.Email.invalid && (fInfo.Email.dirty || fInfo.Email.touched))" class="has-error m-b-12">
			<div *ngIf="fInfo.Email.errors.required">
				<span class="help-block">Trường dữ liệu này không được để trống</span>
			</div>
			<div *ngIf="fInfo.Email.errors.email">
				<span class="help-block">Định dạng email không hợp lệ</span>
			</div>
		</div>
		<div *ngIf="checkExists['Email'] && fInfo.Email.valid" class="has-error m-b-12">
			<div *ngIf="checkExists['Email']">
				<span class="help-block">Email đã tồn tại</span>
			</div>
		</div>
	</div>
	<!-- <div class="col form-group">
		<label class="mb-1">Quốc tịch<span class="cl-red">(*)</span></label>
		<ng-select notFoundText="Không có dữ liệu" *ngIf="!nation_enable_type" [(ngModel)]="model.Nation" formControlName="Nation" class="form-control" placeholder="Chọn..." [closeOnSelect]="true"
			(change)="onChangeNation()">
			<ng-option *ngFor="let vill of listNation" [value]="vill.id" ng-init="model.Nation">{{vill.name}}</ng-option>
			<ng-option value="#">Khác</ng-option>
		</ng-select>
		<input [svTrim] *ngIf="nation_enable_type" [(ngModel)]="model.Nation" formControlName="Nation" type="text" placeholder="Nhập..." class="form-control border-brown"
			(click)="onResetNationValue($event)">
		<span *ngIf="nation_enable_type" class="select-caret-icon" (click)="backToSelectBox()">
			<i class="bi bi-caret-down-fill"></i>
		</span>

		<div *ngIf="(fInfoSubmitted && fInfo.Nation.invalid)||(fInfo.Nation.invalid && (fInfo.Nation.dirty || fInfo.Nation.touched))" class="has-error m-b-12">
			<div *ngIf="fInfo.Nation.errors.required">
				<span class="help-block">Trường dữ liệu này không được để trống</span>
			</div>
		</div>
	</div>
	<div class="col form-group">
		<label class="mb-1">Tỉnh / Thành phố <span class="cl-red">(*)</span></label>
		<select *ngIf="nation_enable_type" class="form-control" disabled [(ngModel)]="model.ProvinceId" formControlName="Province">
			<option value="0">Chọn...</option>
		</select>
		<ng-select notFoundText="Không có dữ liệu" *ngIf="!nation_enable_type" [(ngModel)]="model.ProvinceId" formControlName="Province" class="form-control" placeholder="Chọn..." [closeOnSelect]="true"
			(change)="onChangeProvince()">
			<ng-option *ngFor="let vill of listProvince" [value]="vill.id" ng-init="model.ProvinceId">{{vill.name}}</ng-option>
		</ng-select>
		<div *ngIf="(fInfoSubmitted && fInfo.Province.invalid)||(fInfo.Province.invalid && (fInfo.Province.dirty || fInfo.Province.touched))" class="has-error m-b-12">
			<div *ngIf="fInfo.Province.errors.required">
				<span class="help-block">Trường dữ liệu này không được để trống</span>
			</div>
		</div>
	</div>
	<div class="w-100"></div>
	
	<div class="col form-group">
		<label class="mb-1">Huyện / Quận / Thị xã...<span class="cl-red">(*)</span></label>
		<select *ngIf="nation_enable_type" class="form-control" disabled [(ngModel)]="model.DistrictId" formControlName="District">
			<option value="0">Chon...</option>
		</select>
		<ng-select notFoundText="Không có dữ liệu" *ngIf="!nation_enable_type" [disabled]="nation_enable_type" [(ngModel)]="model.DistrictId" formControlName="District" class="form-control" placeholder="Chọn..."
			[closeOnSelect]="true" (change)="onChangeDistrict()">
			<ng-option *ngFor="let vill of listDistrict" [value]="vill.id">{{vill.name}}</ng-option>
		</ng-select>
		<div *ngIf="(fInfoSubmitted && fInfo.District.invalid)||(fInfo.District.invalid && (fInfo.District.dirty || fInfo.District.touched))" class="has-error m-b-12">
			<div *ngIf="fInfo.District.errors.required">
				<span class="help-block">Trường dữ liệu này không được để trống</span>
			</div>
		</div>
	</div>
	<div class="col form-group">
		<label class="mb-1">Xã / Phường / Thị trấn<span class="cl-red">(*)</span></label>
		<select *ngIf="nation_enable_type" class="form-control" disabled [(ngModel)]="model.WardsId" formControlName="Village">
			<option value="0">Chon...</option>
		</select>
		<ng-select notFoundText="Không có dữ liệu" *ngIf="!nation_enable_type" [disabled]="nation_enable_type" [(ngModel)]="model.WardsId" formControlName="Village" class="form-control" placeholder="Chọn..."
			[closeOnSelect]="true">
			<ng-option *ngFor="let vill of listVillage" [value]="vill.id">{{vill.name}}</ng-option>
		</ng-select>
		<div *ngIf="(fInfoSubmitted && fInfo.Village.invalid)||(fInfo.Village.invalid && (fInfo.Village.dirty || fInfo.Village.touched))" class="has-error m-b-12">
			<div *ngIf="fInfo.Village.errors.required">
				<span class="help-block">Trường dữ liệu này không được để trống</span>
			</div>
		</div>
	</div>
	<div class="w-100"></div>
	<div class="col form-group">
		<label class="mb-1">Ngày tháng năm sinh</label>
		<div class="input-group">
			<input class="form-control" placeholder="Nhập..." bsDatepicker #n="bsDatepicker" maxlength="10" id="_dob" [(ngModel)]="model.RepresentativeBirthDay"
				formControlName="DOB" appBsDatepickerInvalid [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue', adaptivePosition: true}"
				[maxDate]="dateNow" />
				<div class="input-group-addon p-2">
					<i class="bi bi-calendar-date" (click)="n.toggle()" [attr.aria-expanded]="n.isOpen"></i>
				</div>
		</div>

		<div *ngIf="(fInfoSubmitted && fInfo.DOB.invalid)||(fInfo.DOB.invalid && (fInfo.DOB.dirty || fInfo.DOB.touched))" class="has-error m-b-12">
			<div *ngIf="fInfo.DOB.errors.required">
				<span class="help-block">Trường dữ liệu này không được để trống</span>
			</div>
		</div>
	</div> -->
	<div class="col col-lg-6 form-group">
		<label class="mb-1">Địa chỉ cụ thể <span class="cl-red">(*)</span></label>
		<input [svTrim] [(ngModel)]="model.Address" formControlName="Address" type="text" placeholder="Nhập..." class="form-control">
		<div *ngIf="(fInfoSubmitted && fInfo.Address.invalid)||(fInfo.Address.invalid && (fInfo.Address.dirty || fInfo.Address.touched))" class="has-error m-b-12">
			<div *ngIf="fInfo.Address.errors.required">
				<span class="help-block">Trường dữ liệu này không được để trống</span>
			</div>
		</div>
	</div>
	<!-- <div class="w-100"></div> -->

	<!-- <div class="col col-lg-8 form-group">
		<label class="mr-3">Giới tính:</label>
		<label *ngFor="let gen of listGender" class="radio-inline mr-3">
			<input [(ngModel)]="model.RepresentativeGender" [checked]="model.representativeGender == gen.value" formControlName="Gender" [value]="gen.value" type="radio"> <span class="text-uppercase"> {{gen.text}}</span>
		</label>
	</div> -->
</form>
