<div class="date__send">{{getTimeMessage(message.date_sent)}}</div>
<div style="display: flex;">
  <span *ngIf="idUser === message.sender_id && !message.notification_type"  style="flex: 1 1"></span>
  <span *ngIf="idUser !== message.sender_id && statusAcc && !message.notification_type" 
    class="avatar-circle mr-2 avatar-custom">{{getShortName(dialog_name)}}
  </span>

  <div class="message__timestamp" *ngIf="!message.notification_type && idUser == message.sender_id ">
    <button class="bg-thead bg-w border-0 btn-icon mr-2" role="button" data-toggle="dropdown">
      <i  class="bi bi-three-dots"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right delete__message" (click)="deleteMessage(message._id)">
      <p class="m-2" style="text-align: center; cursor: pointer;">Xóa</p>
    </div>
  </div>

  <div (visibility)="visibility($event)" class="{{classNameMess()}}" #element >
    <div *ngIf="!message.notification_type" class="message__sender_and_status">
      <p class="message__status j-message__status">{{message.status}}</p>
    </div>
    <div class="message__text_and_date">
      <div class="message__text_wrap">
        <p [ngStyle]="{'text-align':message.notification_type ? 'center' : 'left' }"
          *ngIf="message.message && message.message !== CONSTANTS.ATTACHMENT.BODY"
          [class.m-notification_message]="message.notification_type == 2"
          [ngClass]="{'message__text': idUser === message.sender_id && !message.notification_type,
          'm_content' : idUser !== message.sender_id && !message.notification_type}">
            {{message.message}}
        </p>
        <div *ngIf="message.attachments && message.attachments.length" class="message__attachments_wtap">
          <span *ngFor="let attachment of message.attachments">
            <ng-template [ngIf]="attachment.name && checkTypeFile(attachment.name)" [ngIfElse]="elseBlock">
            
            <a [ngClass]="{'message_attachment': idUser === message.sender_id,
            'm_attachment' : idUser !== message.sender_id}" 
              alt="attachment" download={{attachment.name}}
            href="{{attachment.src}}"><i class="bi bi-file-earmark"></i>   {{attachment.name}}
            </a>
            </ng-template>

            <ng-template #elseBlock>
              <img (load)="loadImagesEvent($event)" alt="attachment" class="message_attachment"
                src="{{attachment.src}}">
            </ng-template>      
          </span>        
        </div>
      </div>    
    </div>
  </div>
  <span *ngIf="idUser !== message.sender_id && !message.notification_type" style="flex: 1 1" ></span>
</div>





