<div class="container-fluid p-0">
	<div class="row">
		<div class="col-lg-12">
			<ol class="breadcrumb title-module px-0 bg-transparent mb-0">
				<li class="breadcrumb-item"><a>Danh mục</a></li>
				<li class="breadcrumb-item active"><a class="font-weight-bold">Thư viện từ ngữ</a></li>
			</ol>
			<div class="btn-group group-button-table" role="group">

				<button type="button" class="btn grd-blue btn-sm rounded border-0 text-white" *hasPermission="['3', 'C_VI_0']"
					(click)="preCreate()">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus"
						viewBox="0 0 16 16">
						<path
							d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
					</svg>
					Thêm mới
				</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="card mb-0 shadow-none">
				<div class="table-responsive">

					<p-table #table [value]="listData" [paginator]="true" [showCurrentPageReport]="true"
						[rowsPerPageOptions]="[20,30,50]" currentPageReportTemplate="Tổng số {{table.totalRecords}}" [rows]="20"
						[totalRecords]="totalRecords" [responsive]="true" autoLayout="true"
						tableStyleClass="table table-sd table-responsive-md table-striped mb-0">
						<ng-template pTemplate="header" class="bg-thead">
							<tr>
								<th style="width: 50px">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>STT</strong>
									</p>
								</th>
								<th style="width: 250px">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead"
										[pSortableColumn]="'name'">
										<strong>Từ ngữ <p-sortIcon [field]="'name'"></p-sortIcon></strong>

									</p>
									<input class="form-control form-control-sm" maxlength="100" placeholder="Nhập tên..." trim
										[(ngModel)]="name" [ngSwitch]="'name'"
										(keydown.enter)="table.filter($event?.target.value.trim(), 'name', 'contains')" />
									<button *ngIf="name" class="btn bg-transparent btn-clear-input" (click)="name=''">
										<i class="fa fa-times"></i>
									</button>
								</th>
								<th style="width: 160px">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead"
										[pSortableColumn]="'groupName'">
										<strong>Nhóm thư viện <p-sortIcon [field]="'groupName'"></p-sortIcon></strong>

									</p>
									<div style="width: 160px" class="dropdown bootstrap-select form-control form-control-sm">
										<ng-select notFoundText="Không có dữ liệu" class="" [items]="listGroup"
											placeholder="Nhóm thư viện từ ..." bindLabel="text" bindValue="value" [ngSwitch]="'groupName'"
											(change)="table.filter($event?.text.toString(), 'groupName')" [closeOnSelect]="true">
										</ng-select>
									</div>
								</th>

								<th style="width: 180px">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead"
										[pSortableColumn]="'index'">
										<strong>Thứ tự hiển thị<p-sortIcon [field]="'index'"></p-sortIcon></strong>

									</p>
									<input class="form-control form-control-sm" numbersOnly maxlength="10" placeholder="Nhập thứ tự..."
										trim [(ngModel)]="index" [ngSwitch]="'index'"
										(keydown.enter)="table.filter($event?.target.value.trim(), 'index', 'contains')" />
									<button *ngIf="index" class="btn bg-transparent btn-clear-input" (click)="index=''">
										<i class="fa fa-times"></i>
									</button>
								</th>

								<th>
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead"
										[pSortableColumn]="'description'">
										<strong>Mô tả <p-sortIcon [field]="'description'"></p-sortIcon></strong>

									</p>
									<input class="form-control form-control-sm" maxlength="100" trim [(ngModel)]="description"
										[ngSwitch]="'description'"
										(keydown.enter)="table.filter($event?.target.value.trim(), 'description', 'contains')"
										placeholder="Nhập mô tả..." />
									<button *ngIf="description" class="btn bg-transparent btn-clear-input" (click)="description=''">
										<i class="fa fa-times"></i>
									</button>
								</th>
								<th style="width: 160px">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead"
										[pSortableColumn]="'isActived'">
										<strong>Trạng thái <p-sortIcon [field]="'isActived'"></p-sortIcon></strong>

									</p>
									<div style="width: 160px" class="dropdown bootstrap-select form-control form-control-sm">
										<ng-select notFoundText="Không có dữ liệu" class="" [items]="listStatus"
											placeholder="Trạng thái ..." bindLabel="text" bindValue="value" [ngSwitch]="'isActived'"
											(change)="table.filter($event?.value.toString(), 'isActived')" [closeOnSelect]="true">
										</ng-select>
									</div>
								</th>
								<th class="text-right" style="width: 100px;">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Thao tác</strong>
									</p>
								</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
							<tr>
								<td class="text-center">{{rowIndex + 1}}</td>
								<td>
									<strong *hasNotPermission="['3', 'C_VI_4']" class="highlight" type="button"
										title="Xem chi tiết">{{item.name}}</strong>
									<strong *hasPermission="['3', 'C_VI_4']" (click)="preView(item)" class="highlight" type="button"
										title="Xem chi tiết">{{item.name}}</strong>
								</td>
								<td>{{item.groupName}}</td>
								<td>{{item.index}}</td>
								<td>{{item.description}}</td>
								<td>
									<p *ngIf="item.isActived == true" style="margin-bottom: 0px;">
										<span type="button" *hasNotPermission="['3', 'C_VI_5']" class="badge rounded-pill bg-success">Hiệu
											lực</span>
										<span type="button" *hasPermission="['3', 'C_VI_5']" (click)="preUpdateStatus(item)"
											class="badge rounded-pill bg-success">Hiệu lực</span>
									</p>
									<p *ngIf="item.isActived == false" style="margin-bottom: 0px;">
										<span type="button" *hasNotPermission="['3', 'C_VI_5']" class="badge rounded-pill badge-light">Hết
											hiệu lực</span>
										<span type="button" *hasPermission="['3', 'C_VI_5']" (click)="preUpdateStatus(item)"
											class="badge rounded-pill badge-light">Hết hiệu lực</span>
									</p>
								</td>
								<td style="text-align: center;">
									<div class="d-flex justify-content-end">
										<a type="button" *hasPermission="['3', 'C_VI_1']" (click)="preUpdate(item)"
											class="btn-icon grd-brown text-brown mr-2" title="Cập nhập"><i
												class="bi bi-pencil-square"></i></a>
										<a type="button" *hasPermission="['3', 'C_VI_2']" (click)="preDelete(item.id)"
											class="btn-icon grd-red text-white" data-toggle="modal" data-target="#modal-tc-pakn"><i
												class="bi bi-trash"></i></a>
									</div>
								</td>
							</tr>
						</ng-template>
						<ng-template pTemplate="emptymessage">
							<tr>
								<td class="text-center" colspan="6">Không có dữ liệu</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal">
	<div class="modal-dialog modal-dialog-centered" style="min-width: 60%" role="document">
		<div class="modal-content rounded">
			<form class="form-horizontal" [formGroup]="form" #formDir="ngForm" (keydown.enter)="onSave()">
				<div class="panel panel-default no-margin">
					<div class="modal-header">
						<button class="close btn-close-modal" data-dismiss="modal">
							×
						</button>
						<p class="modal-title h3">{{title}}</p>
					</div>
					<div class="modal-body no-padding-bottom">
						<div class="row form-group">
							<div class="col-sm-12">
								<label class="control-label">Từ ngữ <span class="text-danger">(*)</span></label>
								<input placeholder="Nhập..." id="target" svTrim class="form-control" formControlName="name"
									[(ngModel)]="model.name" maxlength="100" />
								<div *ngIf="(submitted && f.name.invalid) || (f.name.invalid && (f.name.dirty || f.name.touched))"
									class="has-error m-b-12">
									<div *ngIf="f.name.errors.required">
										<span class="help-block">Trường dữ liệu này không để trống</span>
									</div>
								</div>
							</div>

						</div>
						<div class="row form-group">
							<div class="col-sm-6">
								<label class="control-label">Nhóm từ ngữ <span class="text-danger">(*)</span></label>
								<ng-select notFoundText="Không có dữ liệu" class="form-control" [items]="listGroup"
									placeholder="Chọn nhóm ..." bindLabel="text" bindValue="value" [(ngModel)]="model.groupId"
									formControlName="groupId" [closeOnSelect]="true">
								</ng-select>
								<div
									*ngIf="(submitted && f.groupId.invalid) || (f.groupId.invalid && (f.groupId.dirty || f.groupId.touched))"
									class="has-error m-b-12">
									<div *ngIf="f.groupId.errors.required">
										<span class="help-block">Trường dữ liệu này không để trống</span>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<label class="control-label">Thứ tự hiển thị</label>
								<input placeholder="Nhập..." numbersOnly class="form-control" formControlName="index"
									[(ngModel)]="model.index" maxlength="10" />

							</div>
							<div class="col-sm-3">
								<label class="control-label">Trạng thái <span class="text-danger">(*)</span></label>
								<ng-select notFoundText="Không có dữ liệu" class="form-control " [items]="listStatus" bindValue="value"
									placeholder="Chọn trạng thái" bindLabel="text" formControlName="isActived"
									[(ngModel)]="model.isActived" style="font-weight: 600;">
								</ng-select>
								<div
									*ngIf="(submitted && f.isActived.invalid) || (f.isActived.invalid && (f.isActived.dirty || f.isActived.touched))"
									class="has-error m-b-12">
									<div *ngIf="f.isActived.errors.required">
										<span class="help-block">Trường dữ liệu này không để trống</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row form-group">
							<div class="col-sm-12">
								<label class="control-label">Mô tả</label>
								<textarea placeholder="Nhập..." class="form-control" formControlName="description" type="text" rows="4"
									[(ngModel)]="model.description" maxlength="255"></textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer border-top-0">
						<button type="button" data-dismiss="modal" class="btn btn-outline-secondary border px-5"
							data-dismiss="modal">Hủy</button>
						<button type="button" class="btn btn-danger border-0 px-5 grd-blue" (click)="onSave()">Xác nhận</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="modalDetail">
	<div class="modal-dialog modal-dialog-centered" style="max-width: 40%" role="document">
		<div class="modal-content rounded">
			<form class="form-horizontal">
				<div class="panel panel-default no-margin">
					<div class="modal-header" style="border: none;">
						<button class="close btn-close-modal" data-dismiss="modal">
							×
						</button>
						<p class="modal-title h3">Thông tin</p>
					</div>
					<div class="modal-body no-padding-bottom" style="padding: 1.1rem;">
						<div class="row" style="border-bottom: 1px solid #EEEEEE; padding: 10px 0px;">
							<div class="col-sm-4">
								<label class="control-label lb600 detail-title">Từ ngữ: </label>
							</div>
							<div class="col-sm-6">
								<strong>{{model.name}}</strong>
							</div>
						</div>
						<div class="row" style="border-bottom: 1px solid #EEEEEE; padding: 10px 0px;">
							<div class="col-sm-12">
								<label class="control-label lb600">Nhóm từ ngữ: </label>
							</div>
							<div class="col-sm-12">
								<p>{{model.groupName}}</p>
							</div>
						</div>
						<div class="row" style="border-bottom: 1px solid #EEEEEE; padding: 10px 0px;">
							<div class="col-sm-12">
								<label class="control-label lb600">Mô tả: </label>
							</div>
							<div class="col-sm-12">
								<p>{{model.description}}</p>
							</div>
						</div>

						<div class="row" style="padding: 10px 0px;">
							<div class="col-sm-8">
								<label class="control-label lb600">Trạng thái: </label>
							</div>
							<div class="col-sm-4" style="text-align: right;">
								<span style="padding: 7px;" *ngIf="model.isActived == true" class="badge rounded-pill bg-success">Hiệu
									lực</span>
								<span style="padding: 7px;" *ngIf="model.isActived == false" class="badge rounded-pill badge-light">Hết
									hiệu lực</span>
							</div>
						</div>
					</div>
					<!-- <div class="modal-footer"> -->

					<!-- <button data-dismiss="modal" style="text-transform: none;" class="btn btn-primary btn-sm"> Đóng
							<i class="far fa-times"></i>
						</button> -->
					<!-- </div> -->
				</div>
			</form>
		</div>
	</div>
</div>


<div class="modal fade" id="modalConfirmDelete">
	<div class="modal-dialog modal-dialog-centered modal-md" style="min-width: 500px" role="document">
		<div class="modal-content rounded">
			<div class="modal-header border-bottom-0">
				<p class="modal-title h3">Xác nhận</p>
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span>
				</button>
			</div>
			<div class="modal-body pb-3 pt-3">
				<span>
					Anh/Chị có chắc chắn muốn xóa thư viện từ ngữ này?
				</span>
			</div>
			<div class="modal-footer border-top-0">
				<button type="button" class="btn btn-outline-secondary btn-sm border w-127" data-dismiss="modal">Hủy</button>
				<button type="button" class="btn btn-danger border-0 w-127 grd-blue btn-sm" (click)="onDelete(idDelete)">Xác
					nhận</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="modalConfirmUpdateStatus">
	<div class="modal-dialog modal-dialog-centered modal-md" style="min-width: 500px" role="document">
		<div class="modal-content rounded">
			<div class="modal-header border-bottom-0">
				<p class="modal-title h3">Xác nhận</p>
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span>
				</button>
			</div>
			<div class="modal-body pb-3 pt-3">
				<span>
					Anh/Chị có chắc chắn muốn thay đổi trạng thái của thư viện từ ngữ này?
				</span>
			</div>
			<div class="modal-footer border-top-0">
				<button type="button" class="btn btn-outline-secondary btn-sm border w-127" data-dismiss="modal">Hủy</button>
				<button type="button" class="btn btn-danger border-0 w-127 grd-blue btn-sm"
					(click)="onUpdateStatus(dataUpdate)">Xác nhận</button>
			</div>
		</div>
	</div>
</div>