<div class="box mb-4">
	<p class="h3 text-uppercase mt-4" style="font-weight: normal;">
		Bình luận <span>({{total_Comments}})</span>
	</p>
	<div class="py-3 px-4 rounded-xl mb-4 border" *ngIf="IsPagePublic" style="background: #FEFEFE">
		<p *ngIf="!isLogin">Hãy <a class="cl-blue2" routerLink="/dang-nhap">đăng nhập</a> hoặc <a class="cl-blue"
				routerLink="/dang-ky/ca-nhan">tạo tài khoản</a> để gửi bình luận
		</p>
		<div class="form-group mb-0">
			<textarea class="form-control px-4 py-3" style="height: 75px;" [(ngModel)]="commentModel.contents" rows="3"
				placeholder="Nhập bình luận.." id="comment" maxlength="500"></textarea>
			<button type="button" class="btn text-white no-grd-blue border-0 px-5 mt-3" style="height: 40px;"
				(click)="onSendComment()">Gửi</button>
		</div>
	</div>
	<ng-container *ngFor="let item of listCommentsPaged; let parentIndex = index">
		<div class="media mt-3">
			<div class="avatar-circle mr-2" style="background: #eae5ff; color: #4527a0">
				{{getShortName(item.fullName)}}
			</div>
			<div class="media-body">
				<p class="mb-0 h5">{{item.fullName}}</p>
				<div class="d-flex">
					<p class="mt-1 mb-0">{{item.contents}}</p>
				</div>
				<div class="d-flex">
					<p class="small mb-1">{{item.createdDate | date:'HH:mm - dd/MM/yyyy'}}</p>
					<p class="ml-3 cursor my-0 h5 center mb-1" *ngIf="IsPagePublic" (click)="item.isShowChild =! item.isShowChild"
						style="font-size: 12px;">
						Phản hồi</p>
				</div>
				<app-comment-reply *ngIf="item.isShowChild" [RecommentId]="RecommentId" [ParentId]="item.id">
				</app-comment-reply>
				<ng-container *ngFor="let itemChild of item.listChild; let i = index">
					<div class="media mt-3 ">
						<div class="avatar-circle mr-2" style="background: #eae5ff; color: #4527a0">
							{{getShortName(itemChild.fullName)}}
						</div>
						<div class="media-body">
							<p class="mb-0 h5">{{itemChild.fullName}}</p>
							<div class="d-flex">
								<p class="mt-1 mb-0">{{itemChild.contents}}</p>
							</div>
							<div class="d-flex">
								<p class="small mb-1">{{itemChild.createdDate | date:'HH:mm - dd/MM/yyyy'}}</p>
								<p class="ml-3 cursor my-0 h5 center mb-1" *ngIf="IsPagePublic"
									(click)="itemChild.isShowChild =! itemChild.isShowChild" style="font-size: 12px;">
									Phản hồi</p>
							</div>
							<app-comment-reply *ngIf="itemChild.isShowChild" [RecommentId]="RecommentId" [ParentId]="item.id">
							</app-comment-reply>
						</div>
					</div>


				</ng-container>
				<a href="javascript:void(0)" *ngIf="item.existChild && item.rowNumberChild > item.listChild?.length"
					class="small" (click)="loadCommentChild(item)">Xem
					thêm phản hồi</a>

			</div>
		</div>
	</ng-container>

	<p class="border-top pt-3 mt-3" *ngIf="IsAllComment == false">
		<a href="javascript:void(0)" (click)="loadComment()">Xem thêm 5 bình luận khác
			<span class="ml-2">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right"
					viewBox="0 0 16 16">
					<path fill-rule="evenodd"
						d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
				</svg>
			</span>
		</a>
	</p>
</div>