<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb title-module px-0 bg-transparent mb-0">
			<li class="breadcrumb-item"><a>Hệ thống</a></li>
			<li class="breadcrumb-item active"><a class="font-weight-bold"> Cấu hình Email</a></li>
		</ol>
		<div class="btn-group group-button-table" role="group">
			<button type="button" class="btn grd-brown3 btn-sm rounded border-0 mr-3 text-dark">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-excel mr-1" viewBox="0 0 16 16">
					<path
						d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z" />
					<path
						d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
				</svg>
				Xuất excel
			</button>
			<button type="button" class="btn grd-xanhngoc btn-sm rounded border-0 text-white" (click)="onSave()">
				Lưu
			</button>
		</div>
	</div>
</div>
<div class="row" style="margin-top: 120px;">
	<form class="form-horizontal" [formGroup]="form" #formDir="ngForm">
		<div class="col-lg-12">
			<div class="card mb-0 shadow-none">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 border center rounded">
						<div class="modal-body no-padding-bottom">
							<div class="row form-group">
								<div class="col-sm-6">
									<label class="control-label">Email <span class="text-danger">(*)</span></label>
									<input id="sysEmail" placeholder="Nhập..." svTrim class="form-control" formControlName="email" [(ngModel)]="model.email" maxlength="100" />
									<div *ngIf="(submitted && f.email.invalid) || (f.email.invalid && (f.email.dirty || f.email.touched))" class="has-error m-b-12">
										<div *ngIf="f.email.errors.required">
											<span class="help-block">Trường dữ liệu này không để trống</span>
										</div>
										<div *ngIf="f.email.errors.pattern">
											<span class="help-block">Định dạng email không đúng</span>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<label class="control-label">Mật khẩu <span class="text-danger">(*)</span></label>
									<input autocomplete="new-password" type="Password" id="sysPass" placeholder="Nhập..." svTrim class="form-control" formControlName="password"
										[(ngModel)]="model.password" maxlength="100" />
									<div *ngIf="(submitted && f.password.invalid) || (f.password.invalid && (f.password.dirty || f.password.touched))" class="has-error m-b-12">
										<div *ngIf="f.password.errors.required">
											<span class="help-block">Trường dữ liệu này không để trống</span>
										</div>
									</div>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-6">
									<label class="control-label">Địa chỉ server <span class="text-danger">(*)</span></label>
									<input id="server" placeholder="Nhập..." svTrim class="form-control" formControlName="server" [(ngModel)]="model.server" maxlength="100" />
									<div *ngIf="(submitted && f.server.invalid) || (f.server.invalid && (f.server.dirty || f.server.touched))" class="has-error m-b-12">
										<div *ngIf="f.server.errors.required">
											<span class="help-block">Trường dữ liệu này không để trống</span>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<label class="control-label">Cổng <span class="text-danger">(*)</span></label>
									<input id="port" placeholder="Nhập..." svTrim class="form-control" formControlName="port" [(ngModel)]="model.port" maxlength="100" />
									<div *ngIf="(submitted && f.port.invalid) || (f.port.invalid && (f.port.dirty || f.port.touched))" class="has-error m-b-12">
										<div *ngIf="f.port.errors.required">
											<span class="help-block">Trường dữ liệu này không để trống</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal fade" id="modalConfirmDelete">
	<div class="modal-dialog modal-dialog-centered" style="max-width: 400px" role="document">
		<div class="modal-content rounded">
			<form class="form-horizontal">
				<div class="panel panel-default no-margin">
					<div class="modal-header" style="border: none;">
						<button class="close btn-close-modal" data-dismiss="modal">
							×
						</button>
						<!-- <p class="modal-title h3">Xác nhận</p> -->
					</div>
					<div class="modal-body no-padding-bottom" style="border: none;">
						<div style="text-align: center;">
							<strong class="change-status-title">Bạn có chắc chắn thực hiện hành động này?</strong>
						</div>
					</div>
					<div class="modal-footer" style="border: none; justify-content: center;">
						<button type="button" data-dismiss="modal" class="btn btn-outline-secondary border px-5" data-dismiss="modal">Hủy</button>
						<button type="button" class="btn btn-danger border-0 px-5 grd-blue" (click)="onDelete(idDelete)">Xác
							nhận</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
