<div class="content-body">
	<div class="container-fluid p-0">
		<div class="row">
			<div class="col-lg-12">
				<ol class="breadcrumb title-module px-0 bg-transparent mb-0">
					<li class="breadcrumb-item"><a>Báo cáo, Thống kê</a></li>
					<li class="breadcrumb-item active"><a class="font-weight-bold"> Phản ánh kiến nghị theo nhóm từ phản động</a></li>
				</ol>
				<div class="btn-group group-button-table" role="group">
					<button type="button" class="btn grd-brown3 btn-sm rounded border-0 mr-3 text-dark" (click)="onExport()">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-excel mr-1" viewBox="0 0 16 16">
							<path
								d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z" />
							<path
								d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
						</svg>
						Xuất báo cáo
					</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="card mb-0 shadow-none">
					<div class="table-responsive">

						<p-table #table [value]="listData" [lazy]="true" (onLazyLoad)="onPageChange($event)" [paginator]="true" [showCurrentPageReport]="true"
							currentPageReportTemplate="Tổng số {{totalRecords}}" [rows]="pageSize" [totalRecords]="totalRecords" [responsive]="true" autoLayout="true"
							tableStyleClass="table table-sd table-responsive-md table-striped mb-0">
							<ng-template pTemplate="header" class="bg-thead">
								<tr>
									<th style="width: 150px">
										<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
											<strong>Mã số</strong>
											<span class="caret-tb"></span>
										</p>
										<input placeholder="Nhập..." class="form-control form-control-sm" [(ngModel)]="dataSearch.code" maxlength="100"
											(keydown.enter)="dataStateChange()" />
									</th>
									<th>
										<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
											<strong>Tên Cá nhân/ Doanh nghiệp</strong>
											<span class="caret-tb"></span>
										</p>
										<input placeholder="Nhập..." class="form-control form-control-sm" [(ngModel)]="dataSearch.sendName" maxlength="100"
											(keydown.enter)="dataStateChange()" />
									</th>
									<th style="width: 350px">
										<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
											<strong>Tiêu đề</strong>
											<span class="caret-tb"></span>
										</p>
										<input placeholder="Nhập..." class="form-control form-control-sm" [(ngModel)]="dataSearch.title" maxlength="100"
											(keydown.enter)="dataStateChange()" />
									</th>
									<th style="width: 350px">
										<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
											<strong>Nội dung</strong>
											<span class="caret-tb"></span>
										</p>
										<input placeholder="Nhập..." class="form-control form-control-sm" [(ngModel)]="dataSearch.content" maxlength="100"
											(keydown.enter)="dataStateChange()" />
									</th>
									<th style="width: 100px">
										<p class="mb-1 d-flex justify-content-between align-items-center label-thead"><strong>Thao tác</strong></p>
									</th>
								</tr>
							</ng-template>
							<ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
								<tr>
									<td>
										<strong><a [routerLink]="['/quan-tri/kien-nghi/chi-tiet/',item.id]" class="ellipsis" title="Xem chi tiết">{{item.code}}</a></strong>
									</td>
									<td><a class="ellipsis">{{item.name}}</a></td>
									<td>
										<p class="text-2line mb-0">{{item.title}}</p>
									</td>
									<td>
										<p class="text-2line mb-0" [innerHTML]="item.content"></p>
									</td>
									<td>
										<div class="d-flex justify-content-end">
											<a *ngIf="item.status == 2" href="#" class="btn-icon grd-red text-white mr-2" data-toggle="modal" data-target="#modal-tc-pakn"
												title="Từ chối tiếp nhận"><i class="bi bi-file-earmark-break"></i></a>
											<a class="btn-icon" (click)="getHistories(item.id)" title="Xem lịch sử"><i class="bi bi-clock-history"></i></a>
										</div>
									</td>
								</tr>
							</ng-template>
							<ng-template pTemplate="emptymessage">
								<tr>
									<td class="text-center" colspan="7">Không có dữ liệu</td>
								</tr>
							</ng-template>
						</p-table>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="modal fade pr-0" id="modal-history-pakn">
	<div class="modal-dialog modal-dialog-right vh-100" role="document">
		<div class="modal-content rounded-0 h-100">
			<div class="modal-header border-bottom-0">
				<p class="modal-title h4">Lịch sử quy trình xử lý</p>
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span>
				</button>
			</div>
			<div class="modal-body py-3">
				<div id="DZ_W_TimeLine" class="widget-timeline h-100 dz-scroll">
					<ul class="timeline">
						<li *ngFor="let item of lstHistories">
							<div *ngIf="item.status == 1" class="timeline-badge info"></div>
							<div *ngIf="item.status == 2" class="timeline-badge info"></div>
							<div *ngIf="item.status == 3" class="timeline-badge danger"></div>
							<div *ngIf="item.status == 4" class="timeline-badge primary"></div>
							<div *ngIf="item.status == 5" class="timeline-badge info"></div>
							<div *ngIf="item.status == 6" class="timeline-badge danger"></div>
							<div *ngIf="item.status == 7" class="timeline-badge primary"></div>
							<div *ngIf="item.status == 8" class="timeline-badge success"></div>
							<div *ngIf="item.status == 9" class="timeline-badge danger"></div>
							<div *ngIf="item.status == 10" class="timeline-badge success"></div>
							<div *ngIf="item.status == 11" class="timeline-badge info"></div>
							<div class="timeline-panel">
								<p class="mb-2 h5">Người dùng: <strong>{{item.createdByName}}</strong></p>
								<p class="mb-2 d-flex justify-content-between align-items-center">
									<span *ngIf="item.status == 1" class="badge rounded-pill mb-0 badge-outline-light bg-white">Đã khởi tạo</span>
									<span *ngIf="item.status == 2" class="badge rounded-pill mb-0 badge-outline-info">Gửi xử lý</span>
									<span *ngIf="item.status == 3" class="badge rounded-pill mb-0 bg-red">Từ chối xử lý</span>
									<span *ngIf="item.status == 4" class="badge rounded-pill mb-0 bg-blue2">Đã tiếp nhận</span>
									<span *ngIf="item.status == 5" class="badge rounded-pill mb-0 badge-outline-green2">Đã gửi giải quyết</span>
									<span *ngIf="item.status == 6" class="badge rounded-pill mb-0 bg-red">Từ chối giải quyết</span>
									<span *ngIf="item.status == 7" class="badge rounded-pill mb-0 badge-outline-blue">Đang giải quyết</span>
									<span *ngIf="item.status == 8" class="badge rounded-pill mb-0 badge-outline-success">Đã gửi phê duyệt</span>
									<span *ngIf="item.status == 9" class="badge rounded-pill mb-0 bg-red">Từ chối phê duyệt</span>
									<span *ngIf="item.status == 10" class="badge rounded-pill mb-0 badge-success">Đã giải quyết</span>
									<span *ngIf="item.status == 11" class="badge rounded-pill mb-0 badge-outline-light bg-white">Đã cập nhật</span>
									<span class="text-dark mb-0">{{item.createdDate | date:'HH:mm | dd/MM/yyyy'}}</span>
								</p>
								<p class="mb-0 h5"><strong>{{item.content}}</strong></p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
