<!--**********************************
            Header start
        ***********************************-->

<div class="nav-header">

	<div class="nav-control brand-logo">
		<div class="hamburger">
			<span class="line"></span><span class="line"></span><span class="line"></span>
		</div>
	</div>
</div>
<div class="header header-ql">
	<div class="header-content px-3">
		<nav class="navbar navbar-expand">
			<div class="collapse navbar-collapse justify-content-between">
				<div class="header-left w-100 justify-content-between pr-5">
					{{_title}}
				</div>
				<ul class="navbar-nav header-right align-items-center">
					<li class="nav-item dropdown notification_dropdown">
						<a class="nav-link text-dark bg-transparent" title="Trang công bố" href="/cong-bo/trang-chu"><i class="bi bi-house"></i></a>
					</li>
					<li class="nav-item dropdown notification_dropdown">
						<a class="nav-link text-dark ai-icon bg-transparent" routerLink="/quan-tri/tin-nhan" title="Cuộc hội thoại">
							<i class="bi bi-chat-left"></i>
						</a>
					</li>
					<li class="nav-item dropdown notification_dropdown">
						<a class="nav-link text-dark ai-icon bg-transparent" routerLink="/quan-tri/chat-bot" title="Chatbot">
							<i class="fal fa-headset"></i>
						</a>
					</li>
					<li class="nav-item dropdown notification_dropdown">
						<a class="nav-link text-dark ai-icon bg-transparent" (click)="updateNotifications()" style="position: relative;" href="javascript:void(0)" role="button"
							data-toggle="dropdown">
							<span *ngIf="viewedCountLate > 0" class="count-notification">{{viewedCountLate}}</span>
							<i class="bi bi-bell"></i>
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<div class="header-notification">
								<div class="red-bar"></div>
								<div class="title-notification">
									<div style="font-weight: 500;
                  font-size: 16px; text-transform: uppercase;">Thông báo</div>
									<div style="font-size: 12px;">có <span style="color: red;">{{ViewedCount}}</span> thông báo mới</div>
								</div>
								<div class="notifications"><a href="javascript:void(0)" (click)="redirectListNotification()">Xem tất cả<i class="ti-arrow-right"></i></a></div>
							</div>
							<div id="DZ_W_Notification1" class="widget-media dz-scroll p-3" (scroll)="onScroll($event)" style="height: 550px;"
								[ngClass]="{ 'height-auto': Notifications && Notifications.length < 4}">
								<ul class="timeline" id="notificationScroll" *ngIf="Notifications">
									<li *ngFor="let item of Notifications" class="item-notification">
										<a href="javascript:void(0)" (click)="onClickNotification(item.dataId,item.type, item.typeSend)" class="timeline-panel">
											<div class="media mr-2 grd-brown">
												<i class="bi bi-file-earmark-medical cl-brown"></i>
											</div>
											<div class="media-body">
												<small class="d-block" style="color: #222222;">{{item.sendDate | date : 'HH:mm dd/MM/yyyy'}}</small>
												<p class="mb-0 text-uppercase" [ngClass]="{ 'red-title': checkDeny(item.typeSend) == true }">{{item.title}}</p>
												<p class="mb-1 h4" [ngClass]="{ 'title-black': item.isReaded == true, 'title-gray': item.isReaded == false }">{{item.content}}</p>
											</div>
										</a>
									</li>
								</ul>
								<div *ngIf="Notifications && Notifications.length == 0" style="display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;">
									<div>Bạn chưa có thông báo nào</div>
								</div>
							</div>
						</div>
					</li>
					<li class="nav-item dropdown header-profile">
						<a class="nav-link bg-transparent px-0" href="#" role="button" data-toggle="dropdown">
							<div class="avatar-circle background-while">
								<i class="bi bi-person-fill cl-brown" style="font-size: 24px"></i>
							</div>
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<a id="show-modal-account-info" (click)="preView()" class="dropdown-item ai-icon">
								<!-- preUpdate -->
								<i class="bi bi-person-square"></i>
								<span class="ml-2">Thông tin cá nhân </span>
							</a>
							<a href="javascript:void(0)" class="dropdown-item ai-icon" (click)="preChangePassword()">
								<i class="bi bi-key"></i>
								<span class="ml-2">Đổi mật khẩu </span>
							</a>
							<a (click)="signOut()" class="dropdown-item ai-icon">
								<i class="bi bi-box-arrow-right"></i>
								<span class="ml-2">Đăng xuất </span>
							</a>
							<a (click)="showModalDetail()" class="dropdown-item ai-icon">
								<i class="bi bi-person-fill"></i>
								<span class="ml-2">Lịch sử cá nhân </span>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>
<div class="modal fade" id="modalDetailLog" style="padding-right: 0px !important;">
	<div class="modal-dialog modal-dialog-centered" style="max-width: 84%" role="document">
		<div class="modal-content rounded">
			<form class="form-horizontal" autocomplete="off">
				<div class="panel panel-default no-margin">
					<div class="modal-header" style="border: none;">
						<button class="close btn-close-modal" data-dismiss="modal">
							×
						</button>
						<p class="modal-title h3">Lịch sử: <span class="text-primary">{{emailUser}}</span></p>
					</div>
					<div class="modal-body no-padding-bottom" style="padding: 1.1rem;">
						<div class="form-horizontal" [formGroup]="form" #formDir="ngForm">
							<div class="row" style="border-bottom: 1px solid #EEEEEE; padding: 5px 0px;">
								<div class="col-12 col-sm-2 col-lg-2 form-group">
									<label class="mb-1 text-uppercase"><strong>Từ ngày</strong></label>
									<div class="input-group">
										<input class="form-control form-control-sm border-input" placeholder="Nhập..." [maxDate]="dataSearch.toDate" bsDatepicker #fd="bsDatepicker"
											maxlength="10" id="fromDate" formControlName="fromDate" [(ngModel)]="dataSearch.fromDate" (bsValueChange)="onChangeFromDate($event)"
											appBsDatepickerInvalid [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue', adaptivePosition: true}" />
										<div class="input-group-addon p-2">
											<i class="bi bi-calendar-date" (click)="fd.toggle()" [attr.aria-expanded]="fd.isOpen"></i>
										</div>
									</div>
								</div>
								<div class="col-12 col-sm-2 col-lg-2 form-group">
									<label class="mb-1 text-uppercase"><strong>Đến ngày</strong></label>
									<div class="input-group">
										<input class="form-control form-control-sm border-input" [minDate]="dataSearch.fromDate" placeholder="Nhập..." bsDatepicker
											#n="bsDatepicker" maxlength="10" id="toDate" [(ngModel)]="dataSearch.toDate" formControlName="toDate"
											(bsValueChange)="onChangeToDate($event)" appBsDatepickerInvalid
											[bsConfig]="{dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue', adaptivePosition: true}" />
										<div class="input-group-addon p-2">
											<i class="bi bi-calendar-date" (click)="n.toggle()" [attr.aria-expanded]="n.isOpen"></i>
										</div>
									</div>
								</div>
								<div class="col-12 col-sm-3 col-lg-3 form-group">
									<label class="mb-1 text-uppercase"><strong>Nội dung</strong></label>
									<input class="form-control" [(ngModel)]="dataSearch.content" maxlength="100" formControlName="content" (keydown.enter)="dataStateChange()"
										placeholder="Nhập..." />
								</div>
								<div class="col-12 col-sm-2 col-lg-2 form-group">
									<label class="mb-1 text-uppercase"><strong>Trạng thái</strong></label>
									<ng-select class="form-control" [items]="listStatus" placeholder="Trạng thái..." bindLabel="text" bindValue="value"
										[(ngModel)]="dataSearch.status" formControlName="status" (change)="dataStateChange()">
									</ng-select>
								</div>
								<div class="col-12 col-sm-3 form-group">
									<label></label>
									<div style="display:flex;">
										<a (click)="dataStateChange()" class="btn grd-blue btn-sm rounded border-0 mr-3 text-white">
											Tìm kiếm
										</a>
										<a (click)="onExport()" class="btn grd-brown3 btn-sm rounded border-0 mr-3 text-dark">
											<i class="bi bi-file-earmark-excel mr-1"></i>
											Xuất excel
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="card mb-0 shadow-none">
									<div class="table-responsive">

										<p-table #table [value]="listData" [lazy]="true" (onLazyLoad)="onPageChange($event)" [paginator]="true" [showCurrentPageReport]="true"
											currentPageReportTemplate="Tổng số {{totalRecords}}" [rows]="pageSize" [totalRecords]="totalRecords" [responsive]="true"
											autoLayout="true" tableStyleClass="table table-sd table-responsive-md table-striped mb-0">

											<ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
												<tr>
													<td style="width: 5%;">{{rowIndex + 1}}</td>
													<td style="width: 20%;">{{item.createdDate | date:'HH:mm'}} - {{item.createdDate | date: 'dd/MM/yyyy'}} </td>
													<td>{{item.description}}</td>
													<td style="width: 20%;">
														<span *ngIf="item.status == 1" class="badge rounded-pill badge-success">Thành công</span>
														<span *ngIf="item.status == 0" class="badge rounded-pill bg-red text-white"
															(click)="showMessageError(item.messageError)">Thất bại</span>
													</td>
												</tr>
											</ng-template>
											<ng-template pTemplate="emptymessage">
												<tr>
													<td class="text-center" colspan="5">Không có dữ liệu</td>
												</tr>
											</ng-template>
										</p-table>
										<div style="display: flex; float: right;">
											<!-- <button type="button" (click)="onExport()" class="btn grd-brown3 btn-sm rounded border-0 mr-3 text-dark"><i
													class="bi bi-file-earmark-excel mr-1"></i>Xuất
												excel
											</button> -->
											<button type="button" class="btn grd-blue btn-sm rounded border-0 text-white" data-dismiss="modal">
												Đóng
											</button>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!--**********************************
          Header end ti-comment-alt
      ***********************************-->
<div class="modal fade" id="modalChangePasswordByMe" (close)="close()">
	<div class="modal-dialog modal-dialog-centered" style="max-width: 400px" role="document">
		<div class="modal-content rounded">
			<form class="form-horizontal" [formGroup]="formChangePassword" #formDir="ngForm">
				<div class="panel panel-default no-margin">
					<div class="modal-header" style="border: none;">
						<button class="close btn-close-modal" data-dismiss="modal">
							×
						</button>
						<p class="modal-title h3">Đổi mật khẩu</p>
					</div>
					<div class="modal-body no-padding-bottom pt-3 pb-3" style="border: none;">
						<div class="row form-group">
							<div class="col-sm-12 pb-2">
								<label class="control-label">Mật khẩu cũ <span class="text-danger">(*)</span></label>
								<input class="form-control border-input" style="position: relative;" [type]="isShowPassword ? 'text' : 'password'" formControlName="oldPassword"
									[(ngModel)]="oldPassword" maxlength="40" placeholder="Nhập..." />
								<i class="custom-show-pass" [ngClass]="{ 'bi bi-eye': isShowPassword, 'bi bi-eye-slash': !isShowPassword}" (click)="showPassword()"></i>
								<div *ngIf="(submitted && fChangePass.oldPassword.invalid) || (fChangePass.oldPassword.invalid && (fChangePass.oldPassword.dirty || fChangePass.oldPassword.touched))"
									class="has-error m-b-12">
									<div *ngIf="fChangePass.oldPassword.errors.required">
										<span class="help-block">Trường dữ liệu này không để trống</span>
									</div>
								</div>
							</div>
							<div class="col-sm-12 pb-2">
								<label class="control-label">Mật khẩu mới <span class="text-danger">(*)</span></label>
								<input class="form-control border-input" style="position: relative;" [type]="isShowPasswordNew ? 'text' : 'password'" formControlName="newPassword"
									[(ngModel)]="newPassword" maxlength="40" placeholder="Nhập..." pattern="^(?=.*[A-Za-z])(?=.*[0-9])[A-Za-z\d@$!%*#?&()^]{6,}$" />
								<i class="custom-show-pass" [ngClass]="{ 'bi bi-eye': isShowPasswordNew, 'bi bi-eye-slash': !isShowPasswordNew}" (click)="showPasswordNew()"></i>
								<div *ngIf="(submitted && fChangePass.newPassword.invalid) || (fChangePass.newPassword.invalid && (fChangePass.newPassword.dirty || fChangePass.newPassword.touched))"
									class="has-error m-b-12">
									<div *ngIf="fChangePass.newPassword.errors.required">
										<span class="help-block">Trường dữ liệu này không để trống</span>
									</div>
									<div *ngIf="fChangePass.newPassword.errors.pattern">
										<span class="help-block">Mật khẩu phải lớn hơn 6 ký tự và bao gồm cả chữ và số!</span>
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<label class="control-label">Xác nhận mật khẩu <span class="text-danger">(*)</span></label>
								<input class="form-control border-input" formControlName="rePassword" [type]="isShowRePasswordNew ? 'text' : 'password'" [(ngModel)]="rePassword"
									maxlength="40" placeholder="Nhập..." />
								<i class="custom-show-pass" [ngClass]="{ 'bi bi-eye': isShowRePasswordNew, 'bi bi-eye-slash': !isShowRePasswordNew}"
									(click)="showRePasswordNew()"></i>
								<div *ngIf="(submitted && fChangePass.rePassword.invalid) || (fChangePass.rePassword.invalid && (fChangePass.rePassword.dirty || fChangePass.rePassword.touched))"
									class="has-error m-b-12">
									<div *ngIf="fChangePass.rePassword.errors.required">
										<span class="help-block">Trường dữ liệu này không để trống</span>
									</div>
								</div>
								<div *ngIf="samePass == true" class="has-error m-b-12">
									<div>
										<span class="help-block">Mật khẩu mới không trùng khớp</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer center" style="border: none;">
						<button type="button" data-dismiss="modal" class="btn btn-outline-secondary border px-5" data-dismiss="modal">Hủy</button>
						<button type="button" class="btn btn-danger border-0 px-5 grd-blue" (click)="onChangePassword()">Xác
							nhận</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>


<div class="modal fade" id="modalEditUserInfo">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content rounded">
			<div class="modal-header border-bottom-0 bg-ligth-gold">
				<p class="modal-title h3">Chỉnh sửa thông tin</p>
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span>
				</button>
			</div>
			<div class="modal-body pb-0 mt-0 pt-0">
				<div class="row">

					<div class="col-md-12">
						<form [formGroup]="createUserForm" (ngSubmit)="onSave()">
							<div class="align-items-center mb-4 avatar-bg">
								<div class="avatar-frame">
									<img class="user-avatar-view" [ngClass]="{ 'hide': userAvatar == null }" style="height: 100%; width: 100%; object-fit: cover;" />
									<span class="no-avatar-view" *ngIf="userAvatar == null">
										<svg width="78" height="78" viewBox="0 0 78 78" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd"
												d="M6.5 78C6.5 78 0 78 0 71.5C0 65 6.5 45.5 39 45.5C71.5 45.5 78 65 78 71.5C78 78 71.5 78 71.5 78H6.5ZM39 39C44.1717 39 49.1316 36.9455 52.7886 33.2886C56.4455 29.6316 58.5 24.6717 58.5 19.5C58.5 14.3283 56.4455 9.36838 52.7886 5.71142C49.1316 2.05446 44.1717 0 39 0C33.8283 0 28.8684 2.05446 25.2114 5.71142C21.5545 9.36838 19.5 14.3283 19.5 19.5C19.5 24.6717 21.5545 29.6316 25.2114 33.2886C28.8684 36.9455 33.8283 39 39 39Z"
												fill="#743F15" />
										</svg>
									</span>
								</div>
								<div class="text-center">
									<input type="file" [hidden]="true" class="seclect-avatar" accept="{{fileAccept}}" (change)="changeSelectAvatar($event)">
									<a class="color-brow" style="cursor: pointer;" (click)="onChangeAvatar()">
										<i class="pi bi-image"></i>&nbsp;
										Tải lên ảnh đại diện
									</a>
								</div>
							</div>
							<div class="form-row">
								<div class="col-12 col-lg-8 form-group">
									<label class="mb-1">Email <span class="cl-red">(*)</span></label>
									<input disabled svTrim formControlName="email" [(ngModel)]="model.email" type="text" class="form-control" placeholder="Nhập..." maxlength="100"
										(change)="onCheckExist('Email',$event.target.value)">
									<div *ngIf="(submitted && fUser.email.invalid)||(fUser.email.invalid && (fUser.email.dirty || fUser.email.touched))" class="has-error m-b-12">
										<div *ngIf="fUser.email.errors.required">
											<span class="help-block">Trường dữ liệu này không được để trống</span>
										</div>
										<div *ngIf="fUser.email.errors.email">
											<span class="help-block">Định dạng email không đúng</span>
										</div>
									</div>
									<div *ngIf="checkExists['Email'] && fUser.email.valid" class="has-error m-b-12">
										<div *ngIf="checkExists['Email']">
											<span class="help-block">Email đã tồn tại</span>
										</div>
									</div>
								</div>
								<div class="col-12 col-lg-4 form-group">
									<label class="mb-1">Họ và tên <span class="cl-red">(*)</span></label>
									<input svTrim formControlName="fullName" [(ngModel)]="model.fullName" type="text" class="form-control" placeholder="Nhập..." maxlength="100">
									<div *ngIf="(submitted && fUser.fullName.invalid)||(fUser.fullName.invalid && (fUser.fullName.dirty || fUser.fullName.touched))"
										class="has-error m-b-12">
										<div *ngIf="fUser.fullName.errors.required">
											<span class="help-block">Trường dữ liệu này không được để trống</span>
										</div>
									</div>
								</div>
								<div class="col-12 col-lg-4 form-group">
									<label class="mb-1">Điện thoại <span class="cl-red">(*)</span></label>
									<input svTrim onlyNumber="true" stopLength="10" formControlName="phone" [(ngModel)]="model.phone" type="text" class="form-control"
										placeholder="Nhập..." (change)="onCheckExist('Phone',$event.target.value)">
									<div *ngIf="(submitted && fUser.phone.invalid)||(fUser.phone.invalid && (fUser.phone.dirty || fUser.phone.touched))" class="has-error m-b-12">
										<div *ngIf="fUser.phone.errors.required">
											<span class="help-block">Trường dữ liệu này không được để trống</span>
										</div>
										<div *ngIf="fUser.phone.errors.pattern">
											<span class="help-block">Định dạng số điện thoại không đúng</span>
										</div>
									</div>
									<div *ngIf="checkExists['Phone'] && fUser.phone.valid" class="has-error m-b-12">
										<div *ngIf="checkExists['Phone']">
											<span class="help-block">Số điện thoại đã tồn tại</span>
										</div>
									</div>
								</div>


								<div class="col-12 col-lg-4 form-group">
									<label class="mb-1">Giới tính <span class="cl-red">(*)</span></label>
									<!--  -->
									<ng-select class="form-control" placeholder="Chọn..." [items]="listSexs" bindLabel="text" bindValue="value" [(ngModel)]="model.gender"
										formControlName="gender" [closeOnSelect]="true" [searchable]="false">
									</ng-select>
									<div *ngIf="(submitted && fUser.gender.invalid)||(fUser.gender.invalid && (fUser.gender.dirty || fUser.gender.touched))"
										class="has-error m-b-12">
										<div *ngIf="fUser.gender.errors.required">
											<span class="help-block">Trường dữ liệu này không được để trống</span>
										</div>
									</div>
								</div>

								<div class="col-12 col-lg-4 form-group">
									<label class="mb-1">Trạng thái <span class="cl-red">(*)</span></label>
									<!-- <input *ngIf="!isAdmin && model.id > 0 && model.isActived" disabled type="text" class="form-control" value="Hiệu lực">
									<input *ngIf="!isAdmin && model.id > 0 && !model.isActived" disabled type="text" class="form-control" value="Hết hiệu lực"> -->
									<ng-select class="form-control" style="font-weight: bold;" placeholder="Chọn..." [items]="listStatusUser" bindLabel="text" bindValue="value"
										formControlName="isActived" [(ngModel)]="model.isActived" [closeOnSelect]="true" [searchable]="false">
									</ng-select>
									<div *ngIf="(submitted && fUser.isActived.invalid)||(fUser.isActived.invalid && (fUser.isActived.dirty || fUser.isActived.touched))"
										class="has-error m-b-12">
										<div *ngIf="fUser.isActived.errors.required">
											<span class="help-block">Trường dữ liệu này không được để trống</span>
										</div>
									</div>
								</div>
								<div class="col-12 form-group">
									<label class="mb-1">Địa chỉ</label>
									<textarea class="form-control" formControlName="address" [(ngModel)]="model.address" rows="4" placeholder="Nhập..." maxlength="300"></textarea>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer border-top-0">
				<button type="button" class="btn btn-outline-secondary border px-5" data-dismiss="modal">Hủy</button>
				<button type="button" (click)="onSave()" class="btn btn-danger border-0 px-5 grd-blue">
					Lưu
				</button>
			</div>
		</div>
	</div>
</div>

<!-- modal view -->

<div class="modal fade" id="modalViewUserInfo">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content rounded">
			<div class="modal-header border-bottom-0 bg-ligth-gold">
				<p class="modal-title h3">Thông tin người dùng</p>
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span>
				</button>
			</div>
			<div class="modal-body pb-0 mt-0 pt-0">
				<div class="align-items-center mb-4 avatar-bg">
					<div class="avatar-frame">
						<img *ngIf="userAvatar != null" [src]="userAvatar" style="height: 100%; width: 100%; object-fit: cover;" />
						<span class="no-avatar-view" *ngIf="userAvatar == null">
							<svg width="78" height="78" viewBox="0 0 78 78" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd"
									d="M6.5 78C6.5 78 0 78 0 71.5C0 65 6.5 45.5 39 45.5C71.5 45.5 78 65 78 71.5C78 78 71.5 78 71.5 78H6.5ZM39 39C44.1717 39 49.1316 36.9455 52.7886 33.2886C56.4455 29.6316 58.5 24.6717 58.5 19.5C58.5 14.3283 56.4455 9.36838 52.7886 5.71142C49.1316 2.05446 44.1717 0 39 0C33.8283 0 28.8684 2.05446 25.2114 5.71142C21.5545 9.36838 19.5 14.3283 19.5 19.5C19.5 24.6717 21.5545 29.6316 25.2114 33.2886C28.8684 36.9455 33.8283 39 39 39Z"
									fill="#743F15" />
							</svg>

						</span>
					</div>
					<div class="text-center">
						<p class="mb-0 h4"><strong>{{model.fullName}}</strong></p>
						<p>Tài khoản: <strong>{{model.userName}}</strong></p>
					</div>
				</div>
				<div class="box">
					<div class="row mb-3">
						<div class="col">
							<p class="mb-1">Số điện thoại</p>
							<p class="h4 mb-0 pb-2 border-bottom mh-32">{{model.phone}}</p>
						</div>
						<div class="col">
							<p class="mb-1">Giới tính</p>
							<p class="h4 mb-0 pb-2 border-bottom mh-32">
								<span *ngIf="model.gender">Nam</span>
								<span *ngIf="!model.gender">Nữ</span>
							</p>
						</div>
						<div class="col" *ngIf="!isMain">
							<p class="mb-1">Chức vụ</p>
							<p class="h4 mb-0 pb-2 border-bottom mh-32">{{model.positionName }}</p>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col">
							<p class="mb-1">Email</p>
							<p class="h4 mb-0 pb-2 border-bottom mh-32">{{model.email}}</p>
						</div>
						<div class="col" *ngIf="!isMain">
							<p class="mb-1">Đơn vị</p>
							<p class="h4 mb-0 pb-2 border-bottom mh-32">{{model.unitName}}</p>
						</div>
						<div class="col">
							<p class="mb-1">Trạng thái</p>
							<p class="h4 mb-0 pb-2 border-bottom mh-32">
								<span *ngIf="model.isActived == listStatusUser[0].value" style="color: seagreen;">{{listStatusUser[0].text}}</span>
								<span *ngIf="model.isActived == listStatusUser[1].value">{{listStatusUser[1].text}}</span>
							</p>
						</div>
					</div>
					<div class="row mb-3">
						<div [ngClass]="{'col-md-12': isMain, 'col-md-8': !isMain}">
							<p class="mb-1">Địa chỉ</p>
							<p class="h4 mb-0 pb-2 border-bottom mh-32">{{model.address}}</p>
						</div>
						<div class="col" *ngIf="!isMain">
							<p class="mb-1">Vai trò</p>
							<p class="h4 mb-0 pb-2 border-bottom mh-32">{{model.rolesNames}}</p>
						</div>
					</div>
				</div>
				<!-- </form> -->
			</div>
			<div class="modal-footer border-top-0">
				<button type="button" class="btn btn-outline-secondary border px-5 bg-dark-alt" (click)="preUpdate()">Sửa thông tin</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-error-his-system">
	<div class="modal-dialog modal-dialog-centered modal-md" style="min-width: 500px" role="document">
		<div class="modal-content rounded">
			<div class="modal-header border-bottom-0">
				<p class="modal-title h3">Thông tin</p>
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span>
				</button>
			</div>
			<div class="modal-body pb-3 pt-3">
				<span>
					{{messageError}}
				</span>
			</div>
			<div class="modal-footer border-top-0"></div>
		</div>
	</div>
</div>
