<!--**********************************
            Header start
        ***********************************-->

<div class="nav-header">

	<div class="nav-control brand-logo">
		<div class="hamburger">
			<span class="line"></span><span class="line"></span><span class="line"></span>
		</div>
	</div>
</div>
<div class="header header-ql">
	<div class="header-content px-3">
		<nav class="navbar navbar-expand">
			<div class="collapse navbar-collapse justify-content-between">
				<div class="header-left w-100 justify-content-between pr-5">
					{{_title}}
				</div>
				<ul class="navbar-nav header-right align-items-center">
					<li class="nav-item dropdown notification_dropdown">
						<a class="nav-link text-dark bg-transparent" href="/cong-bo/trang-chu">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
								<path fill-rule="evenodd"
									d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
								<path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
							</svg>
						</a>
					</li>
					<li class="nav-item dropdown notification_dropdown">
						<a class="nav-link text-dark ai-icon bg-transparent" href="#">
							<i class="bi bi-chat-left"></i>
						</a>
					</li>
					<li class="nav-item dropdown notification_dropdown">
						<a class="nav-link text-dark ai-icon bg-transparent" style="position: relative;" href="#" role="button" data-toggle="dropdown">
							<span *ngIf="ViewedCount > 0" class="count-notification">{{ViewedCount}}</span>
							<i class="bi bi-bell"></i>
							<div class="pulse-css"></div>
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<div class="header-notification">
								<div class="red-bar"></div>
								<div class="title-notification">
									<div style="font-weight: 500;
                  font-size: 16px; text-transform: uppercase;">Thông báo</div>
									<div style="font-size: 12px;">có <span style="color: red;">{{ViewedCount}}</span> thông báo mới</div>
								</div>
								<div class="notifications"><a href="javascript:void(0)" (click)="redirectListNotification()">Xem tất cả<i class="ti-arrow-right"></i></a></div>
							</div>
							<div id="DZ_W_Notification1" class="widget-media dz-scroll p-3" (scroll)="onScroll($event)" style="height: 550px;">
								<ul class="timeline" id="notificationScroll" *ngIf="Notifications">
									<li *ngFor="let item of Notifications" class="item-notification">
										<a href="javascript:void(0)" (click)="onClickNotification(item.dataId,item.type, item.typeSend)" class="timeline-panel">
											<div class="media mr-2 grd-brown">
												<i class="bi bi-file-earmark-medical cl-brown"></i>
											</div>
											<div class="media-body">
												<small class="d-block" style="color: #222222;">{{item.sendDate | date : 'HH:mm dd/MM/yyyy'}}</small>
												<p class="mb-0 text-uppercase" [ngClass]="{ 'red-title': checkDeny(item.typeSend) == true }">{{item.title}}</p>
												<p class="mb-1 h4" style="color: #222222;">{{item.content}}</p>
											</div>
										</a>
									</li>
								</ul>
								<div *ngIf="!Notifications" style="display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;">
									<div>Bạn chưa có thông báo nào</div>
								</div>
							</div>
						</div>
					</li>
					<li class="nav-item dropdown header-profile">
						<a class="nav-link bg-transparent px-0" href="#" role="button" data-toggle="dropdown">
							<div class="avatar-circle grd-brown3">
								<i class="bi bi-person-fill cl-brown" style="font-size: 24px"></i>
							</div>
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<a id="show-modal-account-info" class="dropdown-item ai-icon">
								<i class="bi bi-person-square"></i>
								<span class="ml-2">Thông tin cá nhân </span>
							</a>
							<a href="javascript:void(0)" class="dropdown-item ai-icon" (click)="preChangePassword()">
								<i class="bi bi-key"></i>
								<span class="ml-2">Đổi mật khẩu </span>
							</a>
							<a (click)="signOut()" class="dropdown-item ai-icon">
								<i class="bi bi-box-arrow-right"></i>
								<span class="ml-2">Đăng xuất </span>
							</a>
							<a (click)="showModalDetail()" class="dropdown-item ai-icon">
								<i class="bi bi-person-fill"></i>
								<span class="ml-2">Lịch sử cá nhân </span>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>
<div class="modal fade" id="modalDetailLog">
	<div class="modal-dialog modal-dialog-centered" style="max-width: 60%" role="document">
		<div class="modal-content rounded">
			<form class="form-horizontal" autocomplete="off">
				<div class="panel panel-default no-margin">
					<div class="modal-header" style="border: none;">
						<button class="close btn-close-modal" data-dismiss="modal">
							×
						</button>
						<p class="modal-title h3">Lịch sử: <span class="text-primary">{{emailUser}}</span></p>
					</div>
					<div class="modal-body no-padding-bottom" style="padding: 1.1rem;">
						<div class="form-horizontal" [formGroup]="form" #formDir="ngForm">
							<div class="row" style="border-bottom: 1px solid #EEEEEE; padding: 5px 0px;">
								<div class="col-12 col-lg-4 form-group">
									<label class="mb-1 text-uppercase"><strong>Từ ngày</strong></label>
									<input class="form-control form-control-sm" placeholder="Nhập..." bsDatepicker #n="bsDatepicker" maxlength="10" id="fromDate"
										formControlName="fromDate" [(ngModel)]="dataSearch.fromDate" (keydown.enter)="dataStateChange()" appBsDatepickerInvalid
										[bsConfig]="{dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue', adaptivePosition: true}" />
									<div class="input-group-addon">
										<i class="far fa-calendar-alt" (click)="dataStateChange()" [attr.aria-expanded]="n.isOpen"></i>
									</div>
								</div>
								<div class="col-12 col-lg-4 form-group">
									<label class="mb-1 text-uppercase"><strong>Đến ngày</strong></label>
									<input class="form-control form-control-sm" placeholder="Nhập..." bsDatepicker #n="bsDatepicker" maxlength="10" id="toDate"
										[(ngModel)]="dataSearch.toDate" formControlName="toDate" (keydown.enter)="dataStateChange()" appBsDatepickerInvalid
										[bsConfig]="{dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue', adaptivePosition: true}" />
									<div class="input-group-addon">
										<i class="far fa-calendar-alt" (click)="n.toggle()" [attr.aria-expanded]="n.isOpen"></i>
									</div>
								</div>
								<div class="col-12 col-lg-4 form-group">
									<label class="mb-1"></label>
									<button (click)="dataStateChange()" style="text-transform: none;" class="btn grd-xanhngoc btn-sm rounded border-0 text-white" type="button">Tìm
										kiếm
									</button>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="card mb-0 shadow-none">
									<div class="table-responsive">

										<p-table #table [value]="listData" [lazy]="true" (onLazyLoad)="onPageChange($event)" [paginator]="true" [showCurrentPageReport]="true"
											currentPageReportTemplate="Tổng số {{totalRecords}}" [rows]="pageSize" [totalRecords]="totalRecords" [responsive]="true"
											autoLayout="true" tableStyleClass="table table-sd table-responsive-md table-striped mb-0">

											<ng-template pTemplate="body" let-item>
												<tr>
													<td>{{item.createdDate | date:'HH:mm'}} - {{item.createdDate | date: 'dd/MM/yyyy'}} </td>
													<td>{{item.description}}</td>
													<td>
														<span *ngIf="item.status == 1" class="badge rounded-pill badge-success">Thành công</span>
														<span *ngIf="item.status == 2" class="badge rounded-pill badge-outline-blue">Đang giải quyết</span>
														<span *ngIf="item.status == 3" class="badge rounded-pill badge-success">Đã giải quyết</span>
													</td>
												</tr>
											</ng-template>
											<ng-template pTemplate="emptymessage">
												<tr>
													<td class="text-center" colspan="5">Không có dữ liệu</td>
												</tr>
											</ng-template>
										</p-table>
										<div style="display: flex; float: right;">
											<button type="button" class="btn grd-brown3 btn-sm rounded border-0 mr-3 text-dark">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-excel mr-1"
													viewBox="0 0 16 16">
													<path
														d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z" />
													<path
														d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
												</svg>
												Xuất excel
											</button>
											<button type="button" class="btn grd-xanhngoc btn-sm rounded border-0 text-white" data-dismiss="modal">
												Đóng
											</button>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!--**********************************
          Header end ti-comment-alt
      ***********************************-->
<div class="modal fade" id="modalChangePasswordByMe" (close)="close()">
	<div class="modal-dialog modal-dialog-centered" style="max-width: 500px" role="document">
		<div class="modal-content rounded">
			<form class="form-horizontal" [formGroup]="formChangePassword" #formDir="ngForm">
				<div class="panel panel-default no-margin">
					<div class="modal-header" style="border: none;">
						<button class="close btn-close-modal" data-dismiss="modal">
							×
						</button>
						<p class="modal-title h3">Đổi mật khẩu</p>
					</div>
					<div class="modal-body no-padding-bottom" style="border: none;">
						<div class="row form-group">
							<div class="col-sm-12">
								<label class="control-label">Mật khẩu mới <span class="text-danger">(*)</span></label>
								<input class="form-control" type="password" formControlName="newPassword" [(ngModel)]="newPassword" maxlength="50" placeholder="Nhập..." />
								<div *ngIf="(submitted && fChangePass.newPassword.invalid) || (fChangePass.newPassword.invalid && (fChangePass.newPassword.dirty || fChangePass.newPassword.touched))"
									class="has-error m-b-12">
									<div *ngIf="fChangePass.newPassword.errors.required">
										<span class="help-block">Trường dữ liệu này không để trống</span>
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<label class="control-label">Xác nhận mật khẩu <span class="text-danger">(*)</span></label>
								<input class="form-control" type="password" formControlName="rePassword" [(ngModel)]="rePassword" maxlength="50" placeholder="Nhập..." />
								<div *ngIf="(submitted && fChangePass.rePassword.invalid) || (fChangePass.rePassword.invalid && (fChangePass.rePassword.dirty || fChangePass.rePassword.touched))"
									class="has-error m-b-12">
									<div *ngIf="fChangePass.rePassword.errors.required">
										<span class="help-block">Trường dữ liệu này không để trống</span>
									</div>
								</div>
								<div *ngIf="samePass == true" class="has-error m-b-12">
									<div>
										<span class="help-block">Mật khẩu mới không trùng khớp</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer" style="border: none; justify-content: center;">
						<button type="button" data-dismiss="modal" class="btn btn-outline-secondary border px-5" data-dismiss="modal">Hủy</button>
						<button type="button" class="btn btn-danger border-0 px-5 grd-blue" (click)="onChangePassword()">Xác
							nhận</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
