
	<div class="content-nd">
		<div class="container">
			<div class="row justify-content-between pt-4">
				<div class="col main-ct pr-3 pr-lg-5" style="box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.25);">
					<div class="row">
						<div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 pr-5">
							<a href="#">
								<img class="img-fluid card shadow mb-1 img-cover" style="height: 369px;"
								src="../../../../assets//dist/images/article/Rectangle 366 (3).png" alt="">
							</a>
							<div class="h2 text-2line mt-3">
								Khánh Hòa - TP. Hồ Chí Minh: Tăng cường liên kết, hợp tác du lịch
							</div>
							
						</div>
						<div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
							<div class="box">
								<div class="tt-v1 mb-0 d-flex justify-content-between pb-3">
									<h4 class="text-uppercase">Tin tức sự KIện</h4>
								</div>

								<div class="list-article">
									<ul>
										<li class="border-top-none">
											<a href="/cong-bo/detail-news">
												Góp vốn, mua cổ phần, phần vốn góp vào tổ chức kinh tế của các nhà đầu tư nước ngoài
											</a>
										</li>
										<li *ngFor="let item of [0,1,2,3,4]">
											<a href="/cong-bo/detail-news">
												Góp vốn, mua cổ phần, phần vốn góp vào tổ chức kinh tế của các nhà đầu tư nước ngoài
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-4 mt-5">
							<div class="card mb-lg-0">
								<a href="/cong-bo/detail-news"  class="image-box ratio-16-9" style="border-radius: 12px;">
									<span class="image">
										<img class="img-cover" src="../../../../assets/dist/images/article/Rectangle 366 (1).png">
									</span>
								</a>
							</div>
							<p class="title-article text-3line mt-3">
									Thông báo công tác phòng, chống dịch bệnh Covid-19 trên địa bàn tỉnh Khánh Hòa...
							</p>
						</div>
						<div class="col-4 mt-5">
							<div class="card mb-lg-0">
								<a href="/cong-bo/detail-news"  class="image-box ratio-16-9" style="border-radius: 12px;">
									<span class="image">
										<img class="img-cover" src="../../../../assets/dist/images/article/Rectangle 366 (2).png">
									</span>
								</a>
							</div>
							<p class="title-article text-3line mt-3">
								Tóm tắt Hướng dẫn việc triển khai giai đoạn 2 Kế hoạch thích ứng an toàn ...
							</p>
						</div>
						<div class="col-4 mt-5">
							<div class="card mb-lg-0">
								<a href="/cong-bo/detail-news"  class="image-box ratio-16-9" style="border-radius: 12px;">
									<span class="image">
										<img class="img-cover" src="../../../../assets/dist/images/article/Rectangle 360.png">
									</span>
								</a>
							</div>
							<p class="title-article text-3line mt-3">
								Góp vốn, mua cổ phần, phần vốn góp vào tổ chức kinh tế của nhà đầu tư nước...
							</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-auto d-none d-lg-block sidebar-ct pl-3 pl-lg-0">
					<app-statistics-right></app-statistics-right>
				</div>
			</div>

			<div class="row justify-content-between pt-5 pb-5">
					<div class="col main-ct pr-3 pr-lg-5 box-gray">
						<div class="box mt-4 mb-1">
							<ul class="d-flex category-article">
								<li>
									<a class="text-uppercase h5 px-3 cursor active" >Xã hội</a>
								</li>
								<li>
									<a class="text-uppercase h5 px-3 cursor">Chính trị</a>
								</li>
								<li>
									<a class="text-uppercase h5 px-3 cursor">Văn hóa</a>
								</li>
								<li>
									<a class="text-uppercase h5 px-3 cursor">Kinh tế</a>
								</li>
								<li>
									<a class="text-uppercase h5 px-3 cursor">Thể thao</a>
								</li>
								<li>
									<a class="text-uppercase h5 px-3 cursor">Thế giới</a>
								</li>
								<li>
									<a class="text-uppercase h5 px-3 cursor">Lao động - Việc làm</a>
								</li>
							</ul>
						</div>
						<!-- list tin tức -->

						<div class="box">
							<ul class="list-group list-group-flush">
								<li class="list-group-item px-0" *ngFor="let item of listData">
									<div class="media">
										<a routerLink="/cong-bo/tin-tuc-su-kien/{{item.id}}" class="image-box ratio-5-3 rounded mr-3" style="width: 12rem">
											<img class="image" style="object-fit: cover; width: 100%; height: 100%;" [src]="item.imagePath">
										</a>
										<div class="media-body">
											<div class="createDate">{{item.createdDate | date : 'HH:mm'}} ngày {{item.createdDate | date : 'dd/MM/yyyy'}}</div>
											<p class="h3 my-2">
												<a class="text-2line title-item-article" routerLink="/cong-bo/tin-tuc-su-kien/{{item.id}}">{{item.title}}</a>
											</p>
											<p class="mb-0 article-summary">
												<a routerLink="/cong-bo/tin-tuc-su-kien/{{item.id}}" class="text-3line">{{item.summary}}</a>
											</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<!-- justify-content-between -->
						<nav aria-label="navigation" *ngIf="listData.length > 0">
							<ul class="pagination pagination-lg justify-content-end align-items-center">
								<li class="page-item center" [ngClass]="{ 'disabled': query.pageIndex == 1 }">
									<a (click)="changePagination(query.pageIndex - 1)" class="page-link border rounded-pill p-1 pr-3 cursor" tabindex="-1"
										aria-disabled="true">&nbsp;&nbsp;<i class="bi bi-chevron-left"></i>&nbsp;Trước</a>&nbsp;&nbsp;
								</li>
								<li class="d-flex justify-content-center align-items-center">
									<a *ngIf="query.pageIndex > 4">...</a>
									<p class="mb-0 page-item" *ngFor="let item of pagination; let i = index" [ngClass]="{ 'active': item.index === query.pageIndex }">
										<a (click)="changePagination(item.index)" *ngIf="i - 3 < query.pageIndex && i + 5 > query.pageIndex" class="page-link cursor"
											>{{item.index}}</a>
									</p>
									<a *ngIf="query.pageIndex < pagination.length -4">...</a>
								</li>
								<li class="page-item center" [ngClass]="{ 'disabled': query.pageIndex == totalRecords }">
									<a (click)="changePagination(query.pageIndex + 1)" class="page-link border rounded-pill p-1 cursor">
										&nbsp;&nbsp;&nbsp;&nbsp;Sau&nbsp;<i class="bi bi-chevron-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;
									</a>
								</li>
							</ul>
						</nav>

					</div>
					<div class="col-12 col-lg-auto d-none d-lg-block sidebar-ct pl-3 pl-lg-0 box-gray">
						<div class="sb-lkWeb mb-2">
							<div class="tt-v1 pt-5">
								<h4 class="text-uppercase">liên kết website</h4>
							</div>
							<ng-container *ngFor="let item of [1,2,3,4]; let i = index">
								<a class="mb-4 mt-3" target="_blank" href="{{item.urlWebsite}}" title="{{item.nameWebsite}}">
									<img class="img-fluid card shadow rounded mb-0 mt-3 img-cover" *ngIf="i==0" src="../../../assets/dist/images/cong dịch vụ công quốc gia.png">
									<img class="img-fluid card shadow rounded mb-0 mt-3 img-cover" *ngIf="i==1" src="../../../assets/dist/images/trung tâm dịch vụ hành chính công.png">
									<img class="img-fluid card shadow rounded mb-0 mt-3 img-cover" *ngIf="i==2" src="../../../assets/dist/images/trung tâm dịch vụ hành chính công (1).png">
									<img class="img-fluid card shadow rounded mb-0 mt-3 img-cover" *ngIf="i==3" src="../../../assets/dist/images/trung tâm dịch vụ hành chính công (2).png">
								</a>
							</ng-container>
						</div>

						<a href="#"><img class="img-fluid card shadow img-hover mt-5"
							style="width: 100%; height: 250px;"
							src="../../../../assets/dist/images/article/Rectangle 360.png" alt=""></a>
					</div>
			</div>

			<div class="row justify-content-between pb-5">
				<a href="#"><img class="img-fluid card shadow mb-1" style="width: 100%; object-fit: fill;" src="../../../assets/dist/images/Rectangle 360.png" alt=""></a>
				<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 pt-4">
					<a href="#">
						<img class="img-fluid card shadow bd-20 img-cover" 
						src="../../../../assets/dist/images/child-banner-1.png" alt="">
					</a>
				</div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 pt-4">
					<a href="#">
						<img class="img-fluid card shadow bd-20 img-cover" 
						src="../../../../assets/dist/images/child-banner-2.png" alt="">
					</a>
				</div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 pt-4">
					<a href="#">
						<img class="img-fluid card shadow bd-20 img-cover" 
						src="../../../../assets/dist/images/child-banner-3.png" alt="">
					</a>
				</div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 pt-4">
					<a href="#">
						<img class="img-fluid card shadow bd-20 img-cover" 
						src="../../../../assets/dist/images/child-banner-4.png" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>