<div class="panel-group">
  <section class="content-header">
    <div class="row">
      <ol class="breadcrumb">
        <li><a class="text-black" routerLink="/business/business-management/dash-board">Trang chủ</a></li>
        <li><a class="text-black">Hệ thống</a></li>
        <li><a>Cập nhật nhóm quyền</a></li>
      </ol>
      <button class="btn btn-sm btn-previous pull-right" appSvBackButton><i class="far fa-undo-alt"></i> Quay lại</button>
    </div>
  </section>
  <section class="content n-d-t">
    <form class="form-horizontal" id="updateGroupUserForm" [formGroup]="updateGroupUserForm" #formDir="ngForm" (ngSubmit)="onSave()">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-6 col-xs-6">
              <h4>Thông tin cơ bản</h4>
            </div>
            <div class="col-md-6 col-xs-6">
              <div class="btn-group pull-right">
                <button type="submit" class="btn btn-primary btn-sm pull-right" (onClick)="onSave()"><i class="fal fa-save"></i> Lưu</button>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <!--<div class="row form-group">
            <div class="col-md-12">
              <label class="control-label">Phòng ban <span class="text-danger">*</span></label>
              <select class="form-control" formControlName="maDonVi" [(ngModel)]="model.maDonVi" required>
                <option *ngFor="let item of listUnits" [value]="item.value">{{item.text}}</option>
              </select>
              <div *ngIf="(submitted && f.maDonVi.invalid)||(f.maDonVi.invalid && (f.maDonVi.dirty || f.maDonVi.touched))" class="has-error m-b-12">
                <div *ngIf="f.maDonVi.errors.required">
                  <span class="help-block">Trường dữ liệu này không được để trống</span>
                </div>
              </div>
            </div>
          </div>-->
          <div class="row form-group">
            <div class="col-sm-6">
              <label class="control-label">Mã nhóm <span class="text-danger">*</span></label>
              <input class="form-control" formControlName="maNhom" [(ngModel)]="model.maNhom" maxlength="20" required />
              <div *ngIf="(submitted && f.maNhom.invalid)||(f.maNhom.invalid && (f.maNhom.dirty || f.maNhom.touched))" class="has-error m-b-12">
                <div *ngIf="f.maNhom.errors.required">
                  <span class="help-block">Trường dữ liệu này không được để trống</span>
                </div>
                <div *ngIf="f.maNhom.errors.pattern">
                  <span class="help-block">Trường sai định dạng</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <label class="control-label">Trạng thái <span class="text-danger">*</span></label>
              <select class="form-control" formControlName="trangThai" [(ngModel)]="model.trangThai" required>
                <option value="true">Đang sử dụng</option>
                <option value="false">Không sử dụng</option>
              </select>
              <div *ngIf="(submitted && f.trangThai.invalid)||(f.trangThai.invalid && (f.trangThai.dirty || f.trangThai.touched))" class="has-error m-b-12">
                <div *ngIf="f.trangThai.errors.required">
                  <span class="help-block">Trường dữ liệu này không được để trống</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-12">
              <label class="control-label">Tên nhóm quyền <span class="text-danger">*</span></label>
              <input class="form-control has-error" type="text" formControlName="tenNhom" [(ngModel)]="model.tenNhom" maxlength="100" required />
              <div *ngIf="(submitted && f.tenNhom.invalid)||(f.tenNhom.invalid && (f.tenNhom.dirty || f.tenNhom.touched))" class="has-error m-b-12">
                <div *ngIf="f.tenNhom.errors.required">
                  <span class="help-block">Trường dữ liệu này không được để trống</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-12">
              <label class="control-label">Mô tả</label>
              <textarea class="form-control" for="moTa" formControlName="moTa" [(ngModel)]="model.moTa" maxlength="255" rows="4"></textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-sm-12">
              <h5 class="title-content">Phân quyền</h5>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div *ngFor="let permisionCategory of listPermissionCategories;let i = index">
            <div class="col-md-12 ">
              <button type="button" class="btn-collapse btn btn-box-tool" data-toggle="collapse" [attr.data-target]="'#groupUS'+ i"></button>
              <mat-checkbox [(ngModel)]="permisionCategory.selected" [ngModelOptions]="{standalone: true}"
                            [labelPosition]="before" (change)="onCategoryChange($event, permisionCategory)"
                            [disabled]="permisionCategory.disabled">{{ permisionCategory.name }}</mat-checkbox>
              <hr />
              <div collapse in class="panel-body no-padding-bottom collapse in" [attr.id]="'groupUS'+ i">
                <div *ngFor="let function of permisionCategory.htFunction">
                  <div class="col-md-4 permission-select-layout">
                    <button type="button" class="btn-collapse btn btn-box-tool" data-toggle="collapse"
                            [attr.data-target]="'#functionUS'+ function.id"></button>
                    <mat-checkbox [(ngModel)]="function.selected" [ngModelOptions]="{standalone: true}"
                                  [labelPosition]="before"
                                  (change)="onFunctionChange($event, function, permisionCategory)"
                                  [disabled]="function.disabled">{{ function.name }}</mat-checkbox>
                    <div collapse in class="panel-body no-padding-bottom collapse in"
                         [attr.id]="'functionUS'+ function.id">
                      <div class="permission-select-area"
                           *ngFor="let permission of function.htPermission">
                        <mat-checkbox [(ngModel)]="permission.selected"
                                      [ngModelOptions]="{standalone: true}" [labelPosition]="before"
                                      (change)="onPermissionChange($event, permission, function, permisionCategory)"
                                      [disabled]="permission.disabled">{{ permission.name }}</mat-checkbox>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
</div>

