<div class="card border p-3 bg-notification mb-3" *ngIf="isShowNotification">
	<div class="tt-v1 ustify-content-start">
		<h4 class="title-notification mb-1 mr-2 text-uppercase text-center">thông báo</h4>
	</div>
	<div class="list-article">
		<ul>
			<ng-container *ngFor="let item of listNotification; let i = index">
				<li *ngIf="i < 5" [ngClass]="{'border-bottom-none' : i == 4}">
					<a routerLink="/cong-bo/thong-bao-chinh-quyen/{{item.id}}" class="text-2line p-title-hover"
						style="text-align:justify; text-justify:inter-word">
						{{item.title}}
					</a>
				</li>
			</ng-container>
		</ul>
	</div>
	<div class="tt-v1 mb-0 d-flex justify-content-end">
		<a class="read-more p-title-hover" title="Xem thêm" routerLink="/cong-bo/danh-sach-thong-bao"> Xem thêm
		</a>
	</div>
</div>

<div class="sb-tk-pakn card-my-recommentdation"
	*ngIf="isLogin && (typeObject == 2 || typeObject == 3) && recommendationStatistics">
	<div class="tt-v1 pt-3 pb-3 d-flex justify-content-between" (click)="redirectMyRecommendaton(0)">
		<h4 class="text-uppercase">Phản ánh kiến nghị của tôi</h4>
		<h4 class="counter cursor">{{totalRecommentdation}}</h4>
	</div>
	<div>
		<div class="border-left-yellow mb-3 d-flex justify-content-between center" (click)="redirectMyRecommendaton(1)">
			<div class="pf-4">
				<p class="title-status-rm ml-3 mb-0">Chờ xử lý</p>
			</div>
			<div class="circle bg-yellow center text-white cursor">
				{{recommendationStatistics.receiveWait}}
			</div>
		</div>
		<div class="border-left-blue2 mb-3 d-flex justify-content-between center" (click)="redirectMyRecommendaton(2)">
			<div class="pf-4">
				<p class="title-status-rm ml-3 mb-0">Đã tiếp nhận</p>
			</div>
			<div class="circle bg-blue2 center text-white cursor">
				{{recommendationStatistics.receiveApproved}}
			</div>
		</div>
		<div class="border-left-blue3 mb-3 d-flex justify-content-between center" (click)="redirectMyRecommendaton(3)">
			<div class="pf-4">
				<p class="title-status-rm ml-3 mb-0">Đang giải quyết</p>
			</div>
			<div class="circle bg-blue3 center text-white cursor">
				{{recommendationStatistics.processing}}
			</div>
		</div>
		<div class="border-left-blue mb-3 d-flex justify-content-between center" (click)="redirectMyRecommendaton(4)">
			<div class="pf-4">
				<p class="title-status-rm ml-3 mb-0">Đã trả lời</p>
			</div>
			<div class="circle bg-blue center text-white cursor">
				{{recommendationStatistics.finised}}
			</div>
		</div>
		<div class="border-left-red mb-3 d-flex justify-content-between center" (click)="redirectMyRecommendaton(5)">
			<div class="pf-4">
				<p class="title-status-rm ml-3 mb-0">Bị từ chối</p>
			</div>
			<div class="circle bg-red center text-white cursor">
				{{recommendationStatistics.approve}}
			</div>
		</div>
	</div>
</div>
<!-- </div> -->
<!-- <div class="col-6 col-sm-6 col-md-6 col-lg-12 col-xl-12 p-0"> -->
<div class="sb-tk-pakn text-center card-my-chart px-3"
	[ngClass]="{'margin-top-16' : (typeObject == 2 || typeObject == 3)}">
	<div class="tt-v1 pt-4 mb-3 justify-content-between text-center">
		<h4 class="text-uppercase">Thống kê kết quả xử lý</h4>
	</div>
	<div class="tt-v1 mb-3 d-flex justify-content-between text-center statistic-chart">
		<div class="center statistics-right">
			<canvas baseChart height="150px" width="150px" [data]="pieChartData" [colors]="pieChartColors"
				[labels]="pieChartLabels" [options]="chartOptions" [chartType]="chartType">
			</canvas>
		</div>
		<div class="center" style="flex: 1 1 0;">
			<div style="flex: 1 1 0;">
				<div class="tt-v1 ml-2  d-flex">
					<div class="d-flex center">
						<span class="square mr-2 bg-blue-1"></span>
						<p class="mb-0">Hồ sơ đã tiếp nhận</p>
					</div>
					<p class="center statistics-right">({{pieChartData ? pieChartData[1] : ''}})</p>
				</div>
				<div class="tt-v1 ml-2  d-flex">
					<div class="d-flex center">
						<span class="square mr-2 bg-green"></span>
						<p class="mb-0">Hồ sơ đã giải quyết</p>
					</div>
					<p class="center statistics-right">({{pieChartData ? pieChartData[0] : ''}})</p>
				</div>
			</div>
		</div>
	</div>

</div>
<!-- </div> -->
<!-- <div class="col-6 col-sm-6 col-md-6 col-lg-12 col-xl-12 p-0"> -->
<div class="sb-tk-pakn text-center card-my-chart px-3 margin-top-16" *ngIf="isShowSatisfationChart">
	<div class="tt-v1 pt-4 mb-3 justify-content-between text-center">
		<h4 class="text-uppercase">thống kê mức độ hài lòng</h4>
	</div>
	<div class="tt-v1 mb-3 d-flex  text-center statistic-chart">
		<div class="center">
			<canvas baseChart height="150px" width="150px" [data]="satisfactionChartData" [colors]="satisfactionChartColors"
				[labels]="satisfactionChartLabels" [options]="chartOptions" [chartType]="chartType">
			</canvas>
		</div>
		<div style="flex: 1 1 0;" style="margin-top:20px!important;">
			<div class="tt-v1 ml-2 d-flex">
				<div class="d-flex center">
					<span class="square mr-2 bg-blue-2"></span>
					<p class="mb-0">Rất Hài lòng</p>
				</div>
				<p class="center statistics-right" style=" margin-bottom: 0;">(<span
						style="color: red;margin-bottom: 0;">{{satisfactionChartData ?
						satisfactionChartData[0] : ''}}</span>)
				</p>
			</div>

			<div class="tt-v1 ml-2  d-flex">
				<div class="d-flex center">
					<span class="square mr-2 bg-yellow"></span>
					<p class="mb-0">Hài lòng</p>
				</div>
				<p class="center statistics-right" style=" margin-bottom: 0;">(<span
						style="color: red;margin-bottom: 0;">{{satisfactionChartData ?
						satisfactionChartData[2] : ''}}</span>)
				</p>
			</div>
			<!-- justify-content-between justify-content-between -->
			<div class="tt-v1 ml-2 d-flex">
				<div class="d-flex center">
					<span class="square mr-2 bg-red"></span>
					<p class="mb-0">Không hài lòng</p>
				</div>
				<p class="center statistics-right" style=" margin-bottom: 0;">(<span style="color: red;">{{satisfactionChartData
						?
						satisfactionChartData[1] : ''}}</span>)
				</p>
			</div>
		</div>
	</div>

</div>
<!-- </div> -->
<!-- </div> -->