.red-bar {
	background: linear-gradient(180deg, #ee5454 0%, #a61515 100%);
	border-radius: 0px 4px 4px 0px;
	width: 5px;
	margin-right: 10px;
}
.text-3line a,
.text-2line a,
.card-text a {
	color: #222222;
}


