<div class="content-body">
	<div class="container-fluid p-0">
		<div class="row">
			<div class="col-lg-12">
				<ol class="breadcrumb title-module px-0 bg-transparent mb-0">
					<!-- <li class="breadcrumb-item"><a>Vai trò</a></li> -->
					<li class="breadcrumb-item active"><a class="font-weight-bold">{{title}}</a></li>
				</ol>
				<div class="btn-group group-button-table" role="group">
					<a class="btn btn-sm btn-default rounded mr-3" style="border: 1px solid gray;" (click)="redirectList()">
						<i class="bi bi-arrow-left"></i>&nbsp;
						Quay lại
					</a>
					<button *ngIf="statusCurent != 2" class="btn btn-sm grd-xanhngoc text-white rounded border-0 mr-3" (click)="onSave(false)">{{action}}</button>
					<button *ngIf="statusCurent != 2" class="btn btn-sm grd-xanhngoc text-white rounded border-0 mr-3" (click)="onSave(true)">Gửi</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6" style="padding: 20px 20px 0px 40px; border-right: 1px solid #e5e5e5;">
				<form class="form-horizontal" [formGroup]="form">
					<div class="row form-group">
						<div class="col-sm-12 padding-col">
							<label class="control-label department">Tiêu đề<span class="text-danger">(*)</span></label>
							<input class="form-control" formControlName="title" [(ngModel)]="model.title" maxlength="50" placeholder="Nhập..." />
							<div *ngIf="(submitted && f.title.invalid) || (f.title.invalid && (f.title.dirty || f.title.touched))" class="has-error m-b-12">
								<div *ngIf="f.title.errors.required">
									<span class="help-block">Trường dữ liệu này không để trống</span>
								</div>
							</div>
						</div>

						<div class="col-sm-12 padding-col">
							<label class="control-label department">Nội dung<span class="text-danger">(*)</span></label>
							<textarea class="form-control" [(ngModel)]="model.content" formControlName="content" maxlength="200" rows="7" placeholder="Nhập..."></textarea>
							<div *ngIf="(submitted && f.content.invalid) || (f.content.invalid && (f.content.dirty || f.content.touched))" class="has-error m-b-12">
								<div *ngIf="f.content.errors">
									<span class="help-block">Trường dữ liệu này không để trống</span>
								</div>
							</div>
						</div>

						<div class="col-sm-12 padding-col">
							<label class="control-label department">Chữ ký<span class="text-danger">(*)</span></label>
							<input class="form-control" [(ngModel)]="model.signature" formControlName="signature" placeholder="Nhập..." />
							<div *ngIf="(submitted && f.signature.invalid) || (f.signature.invalid && (f.signature.dirty || f.signature.touched))" class="has-error m-b-12">
								<div *ngIf="f.signature.errors">
									<span class="help-block">Trường dữ liệu này không để trống</span>
								</div>
							</div>
						</div>
						<!-- tài liệu đính kèm -->

					</div>
				</form>
			</div>
			<div class="col-md-6">
				<form class="form-horizontal" [formGroup]="form">
					<div class="row form-group" style="padding-right: 10px;">
						<div class="col-sm-12" style="padding: 0px 12px;">
							<div class="title-user-map">Cá nhân doanh nghiệp nhận SMS</div>
							<div class="search-user" *ngIf="statusCurent != 2">
								<div class="department">Đơn vị</div>
								<div class="" style="display: flex;">
									<div class="input-serach" style="width: 45%;">
										<!-- <ng-select class="form-control" placeholder="Chọn..." [closeOnSelect]="true" formControlName="administrativeUnitId"
											[(ngModel)]="administrativeUnitId" (change)="onLoadListIndividualAndBusiness()">
											<ng-option *ngFor="let nt of AdministrativeUnits" [value]="nt.id">
												{{nt.name}}
											</ng-option>
										</ng-select> -->
										<div class="form-group" style="margin-bottom: 0px;">
											<ngx-dropdown-treeview [config]="config" [items]="administrativeUnits" buttonClass="btn btn-outline-primary"
												(selectedChange)="onSelectedChange($event)">
											</ngx-dropdown-treeview>
										</div>
									</div>
									<div class="info-individual" style="width: 50%; position: relative; padding-left: 15px;">
										<div class="individual" style="display: flex; position: absolute;top: -40px;">
											<div class="form-check" style="margin: 5px;">
												<input class="form-check-input" type="checkbox" (click)="onChange(1)" formControlName="individual" id="sendSMS">
												<label class="form-check-label" for="sendSMS">
													Cá nhân
												</label>
											</div>
											<div class="form-check" style="margin: 5px;">
												<input class="form-check-input" type="checkbox" (click)="onChange(2)" formControlName="business" id="sendMail">
												<label class="form-check-label" for="sendMail">
													Doanh nghiệp
												</label>
											</div>
										</div>

										<p-multiSelect [options]="listIndividualAndBusinessGetByAdmintrativeId" formControlName="userId" [(ngModel)]="userId" optionLabel="name"
											[virtualScroll]="true" optionValue="id">
											<ng-template let-userSelected pTemplate="selectedItems">
												<ng-container *ngIf="userSelected && userSelected.length <= 2">
													<div *ngFor="let val of userSelected" class="ui-multiselected-item-token ui-corner-all">
														<span>{{val.name}}</span>
													</div>
												</ng-container>

												<span *ngIf="!userSelected || userSelected.length === 0" class="ui-multiselected-empty-token  ui-corner-all">Chọn cá nhân, doanh
													nghiệp...</span>
												<span *ngIf="userSelected && userSelected.length > 2" class="ui-multiselected-empty-token ui-corner-all">{{userSelected.length}}
													cá nhân, doanh nghiệp đã chọn</span>
											</ng-template>
											<!-- <ng-template let-userItem pTemplate="item">
												<ng-container *ngIf="!userItem || userItem.length == 0">
													<div>Không có người dùng nào</div>
												</ng-container>
												<div style="font-size:14px">{{userItem.name}}</div>
											</ng-template> -->
										</p-multiSelect>

									</div>
									<div class="action padding-item center">
										<button type="button" style="width: 40px; height: 40px;" class="btn grd-blue btn-block border-0 px-3 text-white center"
											(click)="onCreateUser()">
											<i class="bi bi-plus"></i>
										</button>
									</div>
								</div>
							</div>

						</div>


						<div class="list-user">
							<div class="title-user-map center" style="text-transform: none;" *ngIf="listItemUserSelected.length ==0">Chưa có cá nhân, doanh nghiệp</div>
							<div class="col-sm-12 item-user" *ngFor="let item of listItemUserSelected">
								<div class="info-user border-right padding-item" style="padding-left: 0px;">
									<div class="title" *ngIf="item.category ==1">Cá nhân</div>
									<div class="title" *ngIf="item.category ==2">Doanh nghiệp</div>
									<div class="department">{{item.name}}</div>
								</div>
								<div class="info-unit border-right padding-item" style="width: 60%">
									<div class="title">Đơn vị</div>
									<div class="department">{{item.administrativeUnitName}}</div>
								</div>
								<div class="action padding-item center" *ngIf="statusCurent != 2">
									<button type="button" (click)="onRemoveUser(item)" style="width: 40px; height: 40px;background: #E0E7FA; color: black;"
										class="btn btn-block border-0 px-3 center">
										<i class="bi bi-dash"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
