<!--**********************************
            Content body start
        ***********************************-->
<div class="content-nd">
	<div class="container">
		<div class="row justify-content-between margin-top-16">
			<div class="col-lg-8 col-md-8">
				<ol class="breadcrumb px-0 bg-transparent mb-0">
					<li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
					<li class="breadcrumb-item active"><a [routerLink]="['/cong-bo/danh-sach-phan-anh-kien-nghi']"
							class="font-weight-bold">Phản ánh, Kiến nghị</a></li>
				</ol>
				<div class="box">
					<div class="title-mr font-weight-bold">
						Nội dung kiến nghị:
					</div>
					<p class="h4 font-weight-bold mt-3 text-tranform-first" style="font-size: 14px;">{{model.title}}</p>
					<!-- <div class="m-3">
						<div class="pr-5">
							<span class="my-0 h5">Đơn vị tiếp nhận:</span> {{model.unitName}}
						</div>
						<div class="mt-2" *ngIf="model.fieldName">
							<span class="my-0 h5">Lĩnh vực:</span> {{model.fieldName}}
						</div>
					</div> -->

					<div class="media pb-4 mb-4 box-message-publish m-0 p-0">
						<div class="media-body">
							<p class="mb-0 text-tranform-first" innerHTML="{{model.content | Change}}" style="text-align: justify;">
							</p>

							<span class="text-left">
								<p *ngIf="filesModel && filesModel.length > 0" class="mb-2 font-weight-bold">Tài liệu đính kèm:</p>
								<div *ngFor="let file of filesModel" class="pointer item-file mb-2">
									<a *ngIf="file.fileType == 1" class="pointer" appViewFile [linkfile]="file.filePath"
										[namefile]="file.name" title="Xem file" style="color: #333; width:auto;">
										<img src="../../../../assets/dist/images/file-word.svg" style="width: 30px;padding-right: 5px;"
											alt="">
										<span class="small text-truncate">{{file.name}}</span>
									</a>
									<a *ngIf="file.fileType == 2" class="pointer" appViewFile [linkfile]="file.filePath"
										[namefile]="file.name" title="Xem file" style="color: #333; width:auto;">
										<img src="../../../../assets/dist/images/file-excel.svg" style="width: 30px;padding-right: 5px;"
											alt="">
										<span class="small text-truncate">{{file.name}}</span>
									</a>
									<a *ngIf="file.fileType == 3" class="pointer" appViewFile [linkfile]="file.filePath"
										[namefile]="file.name" title="Xem file" style="color: #333; width:auto;">
										<img src="../../../../assets/dist/images/file-pdf.svg" style="width: 30px;padding-right: 5px;"
											alt="">
										<span class="small text-truncate">{{file.name}}</span>
									</a>
									<a *ngIf="file.fileType == 4" class="pointer" appViewFile [linkfile]="file.filePath"
										[namefile]="file.name" title="Xem file" style="color: #333; width:auto;">
										<img src="../../../../assets/dist/images/file-image.svg" style="width: 30px;padding-right: 5px;"
											alt="">
										<span class="small text-truncate">{{file.name}}</span>
									</a>
									<a *ngIf="file.fileType == 6" appViewFile [linkfile]="file.filePath" [namefile]="file.name"
										title="Xem file" style="color: #333;">
										<img src="../../../../assets/dist/images/file-powerpoint.svg"
											style="width: 30px;padding-right: 5px;" alt="">
										<span class="small text-truncate">{{file.name}}</span>
									</a>
									<a *ngIf="file.fileType == 7" class="pointer" appViewFile [linkfile]="file.filePath"
										[namefile]="file.name" title="Xem file" style="color: #333; width:auto;">
										<img src="../../../../assets/dist/images/mp4-svgrepo-com.svg"
											style="width: 30px;padding-right: 5px;" alt="">
										<span class="small text-truncate">{{file.name}}</span>
									</a>

									<i (click)="DownloadFile(file)" class="ml-2 bi bi-download"></i>

								</div>
							</span>
							<div class="tt-v1 d-flex justify-content-end">
								<p class="date-approve">Ngày gửi: {{model.createdDate | date:'HH:mm dd/MM/yyyy'}}</p>
							</div>
						</div>
					</div>
					<div class="media mt-1 box-message-publish" *ngIf="[3,6,10,14].includes(model.status)">
						<div class="media-body">
							<div class="title-mr font-weight-bold">
								Nội dung trả lời:
							</div>

							<div class="mt-3">
								<div class="mt-2">
									<p class="mt-0 mb-2 line-height-1 font-weight-bold">Cơ quan trả lời: {{model.processUnitName != null ?
										model.processUnitName
										: 'Cơ quan chức năng'}}</p>
								</div>
								<div *ngIf="model.fieldName">
									<p class="my-0 line-height-1 font-weight-bold"> Lĩnh vực: {{model.fieldName}}</p>
								</div>
							</div>
							<p class="mt-3 mb-2 font-weight-bold text-center">Trả lời phản ánh</p>

							<ng-container *ngIf="[3,6].includes(model.status)">
								<p class="mb-0 text-tranform-first" innerHTML="{{model.reasonDeny | Change}}"
									style="text-align: justify;"></p>
							</ng-container>
							<ng-container *ngIf="model.status > 5 && model.status != 14">
								<p class="mb-0 text-tranform-first" innerHTML="{{modelConclusion.content | Change}}"
									style="text-align: justify;"></p>
								<p *ngIf="files && files.length > 0" class="mb-2 font-weight-bold">Tài liệu đính kèm:</p>
								<div *ngFor="let file of files" class="pointer item-file mb-2">
									<a *ngIf="file.fileType == 1" class="pointer" appViewFile [linkfile]="file.filePath"
										[namefile]="file.name" title="Xem file" style="color: #333; width:auto;">
										<img src="../../../../assets/dist/images/file-word.svg" style="width: 30px;padding-right: 5px;"
											alt="">
										<span class="small text-truncate">{{file.name}}</span>
									</a>
									<a *ngIf="file.fileType == 2" class="pointer" appViewFile [linkfile]="file.filePath"
										[namefile]="file.name" title="Xem file" style="color: #333; width:auto;">
										<img src="../../../../assets/dist/images/file-excel.svg" style="width: 30px;padding-right: 5px;"
											alt="">
										<span class="small text-truncate">{{file.name}}</span>
									</a>
									<a *ngIf="file.fileType == 3" class="pointer" appViewFile [linkfile]="file.filePath"
										[namefile]="file.name" title="Xem file" style="color: #333; width:auto;">
										<img src="../../../../assets/dist/images/file-pdf.svg" style="width: 30px;padding-right: 5px;"
											alt="">
										<span class="small text-truncate">{{file.name}}</span>
									</a>
									<a *ngIf="file.fileType == 4" class="pointer" appViewFile [linkfile]="file.filePath"
										[namefile]="file.name" title="Xem file" style="color: #333; width:auto;">
										<img src="../../../../assets/dist/images/file-image.svg" style="width: 30px;padding-right: 5px;"
											alt="">
										<span class="small text-truncate">{{file.name}}</span>
									</a>
									<a *ngIf="file.fileType == 6" appViewFile [linkfile]="file.filePath" [namefile]="file.name"
										title="Xem file" style="color: #333;">
										<img src="../../../../assets/dist/images/file-powerpoint.svg"
											style="width: 30px;padding-right: 5px;" alt="">
										<span class="small text-truncate">{{file.name}}</span>
									</a>
									<a *ngIf="file.fileType == 7" class="pointer" appViewFile [linkfile]="file.filePath"
										[namefile]="file.name" title="Xem file" style="color: #333; width:auto;">
										<img src="../../../../assets/dist/images/mp4-svgrepo-com.svg"
											style="width: 30px;padding-right: 5px;" alt="">
										<span class="small text-truncate">{{file.name}}</span>
									</a>
									<i (click)="DownloadFile(file)" class="ml-2 bi bi-download"></i>
								</div>
							</ng-container>

							<ng-container *ngIf="model.status == 14 && similarRecommendation">
								<p>Nội dung trả lời phản ánh, kiến nghị của anh/chị tương tự nội dung trả lời phản ánh, kiến nghị số
									{{similarRecommendation.code}}. <a target="_blank"
										routerLink="/cong-bo/chi-tiet-kien-nghi/{{similarRecommendation.id}}">Xem tại
										đây</a></p>
							</ng-container>

							<div class="tt-v1 d-flex justify-content-end">
								<p *ngIf="[10].includes(model.status)" class="mb-0 date-approve">Ngày trả lời: {{model.approvedDate |
									date : 'HH:mm dd/MM/yyyy'}}
								</p>
								<p *ngIf="[3,6].includes(model.status)" class="mb-0 date-approve">Ngày trả lời: {{model.denyDate | date
									:
									'HH:mm dd/MM/yyyy'}}</p>
							</div>
						</div>
					</div>
				</div>
				<app-infomation-exchange *ngIf="model.status > 4 && !(model.status == 5 && model.isForwardProcess)"
					[RecommentId]="model.id" [IsPagePublic]="true">
				</app-infomation-exchange>
			</div>

			<div class="col-md-4 col-lg-4 d-lg-block sidebar-ct pl-3 pl-lg-0">
				<app-statistics-right [isShowSatisfationChart]="true"></app-statistics-right>
				<app-gallery></app-gallery>
			</div>
		</div>
	</div>
</div>
<!--**********************************
									Content body end
							***********************************-->