.breadcrumb-item a {
	color: #222;
}
.like {
	color: #fff;
	background-color: #2bc155;
}
.dislike {
	color: #fff;
	background-color: #3e4954;
}

.accept{
	color: #fff;
	background-color : #2E73D5;
}
.btn-outline-blue:hover{
	color: #fff;
	background-color : #2E73D5;
}
.card-date {
	font-size: 16px;
	line-height: 19px;
	color: #666666;
}
.italic {
	font-style: italic;
}
.f-4 {
	flex: 4;
}
.f-6 {
	flex: 6;
}

.list-group-item {
	border-bottom: 1px solid #d8d8d8;
	padding: 0.75rem 1.25rem;
}
.text-3line a,
.text-2line {
	font-size: 15px;
	line-height: 24px;
	color: #222222;
	flex-grow: 0;
	margin: 8px 0px;
}