.nav-link{
  color: black;
}

a.nav-link.px-0.h5:hover{
  color: #1673D8 !important;
}
.nav-item a.active {
  background-color: transparent;
}


@media (max-width: 575.98px)  {
  .modal-footer .btn{
    padding-right: 1.7rem !important;
    padding-left: 1.7rem !important;
  }
}