<div class="container-fluid p-0">
	<div class="row">
		<div class="col-lg-12">
			<ol class="breadcrumb title-module px-0 bg-transparent mb-0">
				<li class="breadcrumb-item"><a>Hệ thống</a></li>
				<li class="breadcrumb-item active"><a class="font-weight-bold"> Danh sách nhân viên quản trị</a></li>
			</ol>
			<!-- <div class="breadcrumb title-module px-0 bg-transparent" style="text-transform: uppercase; font-size: 18px;font-weight: 600;">Danh sách lĩnh vực</div> -->
			<div class="btn-group group-button-table" role="group">
				<!-- <button type="button" class="btn grd-brown3 btn-sm rounded border-0 mr-3 text-dark">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-excel mr-1" viewBox="0 0 16 16">
						<path
							d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z" />
						<path
							d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
					</svg>
					Xuất excel
				</button> -->
				<button type="button" class="btn grd-xanhngoc btn-sm rounded border-0 text-white" (click)="modalUserCreateOrUpdate(null)" *hasPermission="['3', 'A_IX_6']">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
						<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
					</svg>
					Thêm mới
				</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="card mb-0 shadow-none">
				<div class="table-responsive">

					<p-table #table [value]="listData" [lazy]="true" (onLazyLoad)="onPageChange($event)" [paginator]="true" [showCurrentPageReport]="true"
						currentPageReportTemplate="Tổng số {{totalRecords}}" [rows]="pageSize" [totalRecords]="totalRecords" [responsive]="true" autoLayout="true"
						tableStyleClass="table table-sd table-responsive-md table-striped mb-0">
						<ng-template pTemplate="header" class="bg-thead">
							<tr>
								<th style="width: 50px;">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>STT</strong>
									</p>
								</th>
								<th>
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Tên tài khoản</strong>
										
									</p>
									<input class="form-control form-control-sm" [(ngModel)]="userName" maxlength="100" (keydown.enter)="dataStateChange()" placeholder="Nhập ..." />
								</th>
								<th style="min-width: 180px;">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Họ và tên</strong>
										<strong style="white-space: nowrap;">Họ và tên</strong>
									</p>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="fullName" (keydown.enter)="dataStateChange()" placeholder="Nhập ...">
								</th>
								<th style="width: 140px;">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Chức vụ</strong>
										
									</p>
									<div class="dropdown bootstrap-select form-control form-control-sm">
										<ng-select placeholder="Chọn..." [closeOnSelect]="true" [(ngModel)]="positionId" (change)="dataStateChange()">
											<ng-option *ngFor="let nt of positionsList" [value]="nt.value">
												{{nt.text}}
											</ng-option>
										</ng-select>
									</div>
								</th>
								<th style="width: 120px;">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Điện thoại</strong>
										
									</p>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="phone" (keydown.enter)="dataStateChange()" placeholder="Nhập...">
								</th>
								<th style="width: 160px;">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Đơn vị</strong>
										
									</p>
									<div class="dropdown bootstrap-select form-control form-control-sm">
										<ng-select placeholder="Chọn..." [closeOnSelect]="true" [(ngModel)]="unitId" (change)="dataStateChange()" style="width: 160px !important;">
											<ng-option *ngFor="let nt of unitsList" [value]="nt.value">
												{{nt.text}}
											</ng-option>
										</ng-select>
									</div>
								</th>
								<th style="width: 110px;">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Trạng thái</strong>
										
									</p>
									<div class="dropdown bootstrap-select form-control form-control-sm">
										<ng-select class="" [items]="listStatus" placeholder="Trạng thái ..." bindLabel="text" bindValue="value" [(ngModel)]="isActived"
										style="width: 120px !important;"
											[closeOnSelect]="true" (change)="dataStateChange()">
										</ng-select>
									</div>
								</th>
								<th style="text-align: center; width: 168px !important;">
									<strong>THAO TÁC</strong>
								</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
							<tr>
								<td class="text-center">{{rowIndex + 1}}</td>
								<td>
									<strong class="highlight cursor">
										<a *hasNotPermission="['3', 'A_IX_0']" class="ellipsis" title="Xem chi tiết">{{item.userName}}</a>
										<a *hasPermission="['3', 'A_IX_0']" (click)="modalUserInfo(item.id)" class="ellipsis" title="Xem chi tiết">{{item.userName}}</a>
									</strong>
								</td>
								<td>{{item.fullName}}</td>
								<td>{{item.positionName}}</td>
								<td>{{item.phone}}</td>
								<td>
									<p class="text-2line mb-0">
										{{item.unitName}}
									</p>
								</td>
								<td>
									<p *ngIf="item.isActived" style="margin-bottom: 0px;">
										<span *hasNotPermission="['3', 'A_IX_4']" type="button" class="badge rounded-pill bg-success">Hiệu lực</span>
										<span *hasPermission="['3', 'A_IX_4']" type="button" (click)="changeStatus(item.id)" class="badge rounded-pill bg-success">Hiệu lực</span>
									</p>
									<p *ngIf="!item.isActived" style="margin-bottom: 0px;">
										<span *hasNotPermission="['3', 'A_IX_4']" type="button" class="badge rounded-pill badge-light">Hết hiệu lực</span>
										<span *hasPermission="['3', 'A_IX_4']" type="button" (click)="changeStatus(item.id)" class="badge rounded-pill badge-light">Hết hiệu lực</span>
									</p>
								</td>
								<td>
									<div class="hover-active d-flex justify-content-end">
										<a *hasPermission="['3', 'A_IX_1']" (click)="modalUserCreateOrUpdate(item.id)" class="btn-icon grd-brown text-brown mr-2"><i class="bi bi-pencil-square"></i></a>
										<a *hasPermission="['3', 'A_IX_2']" (click)="preChangePassword(item.id)" class="btn-icon grd-brown text-brown mr-2 cursor"><i class="bi bi-key"></i></a>
										<a *hasPermission="['3', 'A_IX_7']" class="btn-icon mr-2 cursor" (click)="getHistory(item.id, item.userName, true)" title="Xem lịch sử"><i
												class="bi bi-clock-history"></i></a>
										<a *hasPermission="['3', 'A_IX_3']" (click)="preDelete(item.id)" class="btn-icon grd-red text-white" data-toggle="modal" data-target="#modal-tc-pakn"><i
												class="bi bi-trash"></i></a>
									</div>
								</td>
							</tr>
						</ng-template>
						<ng-template pTemplate="emptymessage">
							<tr>
								<td class="text-center" colspan="8">Không có dữ liệu</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modalConfirmChangeStatus">
	<div class="modal-dialog modal-dialog-centered" style="max-width: 400px" role="document">
		<div class="modal-content rounded">
			<form class="form-horizontal">
				<div class="panel panel-default no-margin">
					<div class="modal-header" style="border: none;">
						<button class="close btn-close-modal" data-dismiss="modal">
							×
						</button>
					</div>
					<div class="modal-body no-padding-bottom" style="border: none;">
						<div style="text-align: center;">
							<strong class="change-status-title">Bạn có chắc chắn muốn thay đổi trạng thái của người dùng này?</strong>
						</div>
					</div>
					<div class="modal-footer" style="border: none; justify-content: center;">
						<button type="button" data-dismiss="modal" class="btn btn-outline-secondary border px-5" data-dismiss="modal">Hủy</button>
						<button type="button" class="btn btn-danger border-0 px-5 grd-blue" (click)="onChangeUserStatus()">Xác
							nhận</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>



<div class="modal fade" id="modalConfirmDelete">
	<div class="modal-dialog modal-dialog-centered" style="max-width: 400px" role="document">
		<div class="modal-content rounded">
			<form class="form-horizontal">
				<div class="panel panel-default no-margin">
					<div class="modal-header" style="border: none;">
						<button class="close btn-close-modal" data-dismiss="modal">
							×
						</button>
					</div>
					<div class="modal-body no-padding-bottom" style="border: none;">
						<div style="text-align: center;">
							<strong class="change-status-title">Bạn có chắc chắn muốn xóa người dùng này?</strong>
						</div>
					</div>
					<div class="modal-footer" style="border: none; justify-content: center;">
						<button type="button" data-dismiss="modal" class="btn btn-outline-secondary border px-5" data-dismiss="modal">Hủy</button>
						<button type="button" class="btn btn-danger border-0 px-5 grd-blue" (click)="onDelete()">Xác
							nhận</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<app-user-create-or-update modalid="user-create-or-update-1" isOrganizational="false"></app-user-create-or-update>
<app-user-view-info modalid="user-info-1"></app-user-view-info>


<div class="modal fade" id="modalHis" (close)="close()">
	<div class="modal-dialog modal-dialog-centered" style="max-width: 60%" role="document">
		<div class="modal-content rounded">
			<!-- <form class="form-horizontal" autocomplete="off"> -->
			<div class="panel panel-default no-margin">
				<div class="modal-header" style="border: none;">
					<button class="close btn-close-modal" data-dismiss="modal" (click)="cleaseHisModel()">
						×
					</button>
					<p class="modal-title h3">Lịch sử: <span class="text-primary">{{emailUser}}</span></p>
				</div>
				<div class="modal-body no-padding-bottom" style="padding: 1.1rem;">
					<div class="form-horizontal">
						<div class="row" style="border-bottom: 1px solid #EEEEEE; padding: 5px 0px;">
							<div class="col-12 col-lg-4 form-group">
								<label class="mb-1 text-uppercase"><strong>Từ ngày</strong></label>
								<input class="form-control form-control-sm" placeholder="Nhập..." [(ngModel)]="dataSearch2.fromDate" (keydown.enter)="dataHisStateChange()"
									bsDatepicker #n="bsDatepicker" maxlength="10" id="fromDate2" appBsDatepickerInvalid
									[bsConfig]="{dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue', adaptivePosition: true}" />
								<div class="input-group-addon">
									<i class="far fa-calendar-alt" [attr.aria-expanded]="n.isOpen"></i>
								</div>
							</div>
							<div class="col-12 col-lg-4 form-group">
								<label class="mb-1 text-uppercase"><strong>Đến ngày</strong></label>
								<input class="form-control form-control-sm" placeholder="Nhập..." [(ngModel)]="dataSearch2.toDate" (keydown.enter)="dataHisStateChange()"
									bsDatepicker #n="bsDatepicker" maxlength="10" id="toDate2" appBsDatepickerInvalid
									[bsConfig]="{dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue', adaptivePosition: true}" />
								<div class="input-group-addon">
									<i class="far fa-calendar-alt" (click)="n.toggle()" [attr.aria-expanded]="n.isOpen"></i>
								</div>
							</div>
							<div class="col-12 col-lg-4 form-group">
								<label class="mb-1"></label>
								<!-- <button (click)="dataHisStateChange()" style="text-transform: none;" class="btn grd-xanhngoc btn-sm rounded border-0 text-white" type="button">Tìm
									kiếm
								</button> -->
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="card mb-0 shadow-none">
								<div class="table-responsive">

									<p-table #table2 [value]="listHisData" [lazy]="true" (onLazyLoad)="onHisPageChange($event)" [paginator]="true" [showCurrentPageReport]="true"
										currentPageReportTemplate="Tổng số {{hisTotalRecords}}" [rows]="hisPageSize" [totalRecords]="hisTotalRecords" [responsive]="true"
										autoLayout="true" tableStyleClass="table table-sd table-responsive-md table-striped mb-0">
										<ng-template pTemplate="header" class="bg-thead">
											<tr>
												<th>
													<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
														<strong>Ngày tạo</strong>
														
													</p>
												</th>
												<th>
													<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
														<strong>Nội dung</strong>
														
													</p>
												</th>
												<th>
													<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
														<strong>Trạng thái</strong>
														
													</p>
												</th>
											</tr>
										</ng-template>
										<ng-template pTemplate="body" let-item>
											<tr>
												<td>{{item.createdDate | date:'HH:mm'}} - {{item.createdDate | date: 'dd/MM/yyyy'}} </td>
												<td>{{item.description}}</td>
												<td>
													<span *ngIf="item.status == 1" class="badge rounded-pill badge-success">Thành công</span>
													<span *ngIf="item.status == 0" class="badge rounded-pill bg-red text-white">Thất bại</span>
												</td>
											</tr>
										</ng-template>
										<ng-template pTemplate="emptymessage">
											<tr>
												<td class="text-center" colspan="5">Không có dữ liệu</td>
											</tr>
										</ng-template>
									</p-table>
									<div style="display: flex; float: right;">
										<button type="button" class="btn grd-brown3 btn-sm rounded border-0 mr-3 text-dark" (click)='onExport()'>
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-excel mr-1"
												viewBox="0 0 16 16">
												<path
													d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z" />
												<path
													d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
											</svg>
											Xuất excel
										</button>
										<button type="button" class="btn grd-xanhngoc btn-sm rounded border-0 text-white" data-dismiss="modal" (click)="cleaseHisModel()">
											Đóng
										</button>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- </form> -->
		</div>
	</div>
</div>


<div class="modal fade" id="modalChangePassword" (close)="close()">
	<div class="modal-dialog modal-dialog-centered" style="max-width: 500px" role="document">
		<div class="modal-content rounded">
			<form class="form-horizontal" [formGroup]="formChangePassword" #formDir="ngForm">
				<div class="panel panel-default no-margin">
					<div class="modal-header" style="border: none;">
						<button class="close btn-close-modal" data-dismiss="modal">
							×
						</button>
						<p class="modal-title h3">Đổi mật khẩu</p>
					</div>
					<div class="modal-body no-padding-bottom" style="border: none;">
						<div class="row form-group">
							<div class="col-sm-12">
								<label class="control-label">Mật khẩu mới <span class="text-danger">(*)</span></label>
								<input class="form-control" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$" type="password" formControlName="newPassword" [(ngModel)]="newPassword" maxlength="50" placeholder="Nhập..." />
								<div *ngIf="(submitted && f.newPassword.invalid) || (f.newPassword.invalid && (f.newPassword.dirty || f.newPassword.touched))"
									class="has-error m-b-12">
									<div *ngIf="f.newPassword.errors.required">
										<span class="help-block">Trường dữ liệu này không để trống</span>
									</div>
									<div *ngIf="f.newPassword.errors.pattern">
										<span class="help-block">Mật khẩu phải lớn hơn 6 ký tự và bao gồm cả chữ và số!</span>
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<label class="control-label">Xác nhận mật khẩu <span class="text-danger">(*)</span></label>
								<input class="form-control" type="password" formControlName="rePassword" [(ngModel)]="rePassword" maxlength="50" placeholder="Nhập..." />
								<div *ngIf="(submitted && f.rePassword.invalid) || (f.rePassword.invalid && (f.rePassword.dirty || f.rePassword.touched))" class="has-error m-b-12">
									<div *ngIf="f.rePassword.errors.required">
										<span class="help-block">Trường dữ liệu này không để trống</span>
									</div>
								</div>
								<div *ngIf="samePass == true" class="has-error m-b-12">
									<div>
										<span class="help-block">Mật khẩu mới không trùng khớp</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer" style="border: none; justify-content: center;">
						<button type="button" data-dismiss="modal" class="btn btn-outline-secondary border px-5" data-dismiss="modal">Hủy</button>
						<button type="button" class="btn btn-danger border-0 px-5 grd-blue" (click)="onChangePassword()">Xác
							nhận</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
