<div class="container-fluid p-0">
	<div class="row">
		<div class="col-lg-12">
			<ol class="breadcrumb title-module px-0 bg-transparent mb-0">
				<li class="breadcrumb-item"><a>Hệ thống</a></li>
				<li class="breadcrumb-item active"><a class="font-weight-bold"> Danh sách người dùng</a></li>
			</ol>
			<!-- <div class="breadcrumb title-module px-0 bg-transparent" style="text-transform: uppercase; font-size: 18px;font-weight: 600;">Danh sách lĩnh vực</div> -->
			<div class="btn-group group-button-table" role="group">
				<!-- <button type="button" class="btn grd-brown3 btn-sm rounded border-0 mr-3 text-dark">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-excel mr-1" viewBox="0 0 16 16">
						<path
							d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z" />
						<path
							d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
					</svg>
					Xuất excel
				</button> -->
				<button type="button" class="btn grd-xanhngoc btn-sm rounded border-0 text-white" (click)="modalUserCreateOrUpdate(null)">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
						<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
					</svg>
					Thêm mới
				</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="card mb-0 shadow-none">
				<div class="table-responsive">

					<p-table #table [value]="listData" [lazy]="true" (onLazyLoad)="onPageChange($event)" [paginator]="true" [showCurrentPageReport]="true"
						currentPageReportTemplate="Tổng số {{totalRecords}}" [rows]="pageSize" [totalRecords]="totalRecords" [responsive]="true" autoLayout="true"
						tableStyleClass="table table-sd table-responsive-md table-striped mb-0">
						<ng-template pTemplate="header" class="bg-thead">
							<tr>
								<th style="width: 50px;">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>STT</strong>
									</p>
								</th>
								<th>
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Tên tài khoản</strong>
										<span class="caret-tb"></span>
									</p>
									<input class="form-control form-control-sm" [(ngModel)]="userName" maxlength="100" (keydown.enter)="dataStateChange()" placeholder="Nhập ..." />
								</th>
								<th style="max-width: 180px !important;">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Họ và tên</strong>
										<span class="caret-tb"></span>
									</p>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="fullName" (keydown.enter)="dataStateChange()" placeholder="Nhập ...">
								</th>
								<th style="width: 140px;">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Chức vụ</strong>
										<span class="caret-tb"></span>
									</p>
									<div class="dropdown bootstrap-select form-control form-control-sm">
										<!-- <ng-select class="" [items]="listStatus" placeholder="Trạng thái ..." bindLabel="text" bindValue="value" [(ngModel)]="positionId"
											[closeOnSelect]="true" (change)="dataStateChange()">
										</ng-select> -->
										<ng-select placeholder="Chọn..." [closeOnSelect]="true" [(ngModel)]="positionId" (change)="dataStateChange()">
											<ng-option *ngFor="let nt of positionsList" [value]="nt.id">
												{{nt.name}}
											</ng-option>
										</ng-select>
									</div>
								</th>
								<th style="width: 120px;">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Điện thoại</strong>
										<span class="caret-tb"></span>
									</p>
									<input type="text" class="form-control form-control-sm" [(ngModel)]="phone" (keydown.enter)="dataStateChange()" placeholder="Nhập...">
								</th>
								<th style="width: 210px;">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Đơn vị</strong>
										<span class="caret-tb"></span>
									</p>
									<div class="dropdown bootstrap-select form-control form-control-sm">
										<ng-select placeholder="Chọn..." [closeOnSelect]="true" [(ngModel)]="unitId" (change)="dataStateChange()" style="width: 210px !important;">
											<ng-option *ngFor="let nt of unitsList" [value]="nt.id">
												{{nt.name}}
											</ng-option>
										</ng-select>
									</div>
								</th>
								<th style="width: 110px;">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Trạng thái</strong>
										<span class="caret-tb"></span>
									</p>
									<div class="dropdown bootstrap-select form-control form-control-sm">
										<ng-select class="" [items]="listStatus" placeholder="Trạng thái ..." bindLabel="text" bindValue="value" [(ngModel)]="isActived"
											[closeOnSelect]="true" (change)="dataStateChange()">
										</ng-select>
									</div>
								</th>
								<th style="text-align: center; width: 168px !important;"><strong>THAO TÁC</strong></th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
							<tr>
								<td class="text-center">{{rowIndex + 1}}</td>
								<td>
									<strong class="highlight cursor"><a (click)="modalUserInfo(item.id)" class="ellipsis" title="Xem chi tiết">{{item.userName}}</a></strong>
								</td>
								<td>{{item.fullName}}</td>
								<td>{{item.positionName}}</td>
								<td>{{item.phone}}</td>
								<td>{{item.unitName}}</td>
								<td>
									<span type="button" (click)="changeStatus(item.id)" *ngIf="item.isActived == true" class="badge rounded-pill bg-success">Hiệu lực</span>
									<span type="button" (click)="changeStatus(item.id)" *ngIf="item.isActived == false" class="badge rounded-pill badge-light">Hết hiệu
										lực</span>
								</td>
								<td>
									<div class="hover-active d-flex justify-content-end">
										<a (click)="modalUserCreateOrUpdate(item.id)" class="btn-icon grd-brown text-brown mr-2"><i class="bi bi-pencil-square"></i></a>
										<a (click)="modalUserChangePassword(item.id)" class="btn-icon grd-brown text-brown mr-2"><i class="bi bi-key"></i></a>
										<a class="btn-icon mr-2" style="cursor: pointer;" (click)="getHistory(item.id)" title="Xem lịch sử"><i class="bi bi-clock-history"></i></a>
										<a (click)="preDelete(item.id)" class="btn-icon grd-red text-white" data-toggle="modal" data-target="#modal-tc-pakn"><i
												class="bi bi-trash"></i></a>

									</div>
								</td>
							</tr>
						</ng-template>
						<ng-template pTemplate="emptymessage">
							<tr>
								<td class="text-center" colspan="8">Không có dữ liệu</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modalConfirmChangeStatus">
	<div class="modal-dialog modal-dialog-centered" style="max-width: 400px" role="document">
		<div class="modal-content rounded">
			<form class="form-horizontal">
				<div class="panel panel-default no-margin">
					<div class="modal-header" style="border: none;">
						<button class="close btn-close-modal" data-dismiss="modal">
							×
						</button>
					</div>
					<div class="modal-body no-padding-bottom" style="border: none;">
						<div style="text-align: center;">
							<strong class="change-status-title">Bạn có chắc chắn thực hiện hành động này?</strong>
						</div>
					</div>
					<div class="modal-footer" style="border: none; justify-content: center;">
						<button type="button" data-dismiss="modal" class="btn btn-outline-secondary border px-5" data-dismiss="modal">Hủy</button>
						<button type="button" class="btn btn-danger border-0 px-5 grd-blue" (click)="onChangeUserStatus()">Xác
							nhận</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>



<div class="modal fade" id="modalConfirmDelete">
	<div class="modal-dialog modal-dialog-centered" style="max-width: 400px" role="document">
		<div class="modal-content rounded">
			<form class="form-horizontal">
				<div class="panel panel-default no-margin">
					<div class="modal-header" style="border: none;">
						<button class="close btn-close-modal" data-dismiss="modal">
							×
						</button>
					</div>
					<div class="modal-body no-padding-bottom" style="border: none;">
						<div style="text-align: center;">
							<strong class="change-status-title">Bạn có chắc chắn thực hiện hành động này?</strong>
						</div>
					</div>
					<div class="modal-footer" style="border: none; justify-content: center;">
						<button type="button" data-dismiss="modal" class="btn btn-outline-secondary border px-5" data-dismiss="modal">Hủy</button>
						<button type="button" class="btn btn-danger border-0 px-5 grd-blue" (click)="onDelete()">Xác
							nhận</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<app-user-create-or-update modalid="user-create-or-update-1" isOrganizational="false"></app-user-create-or-update>
<app-user-view-info></app-user-view-info>
