strong.highlight:hover {
	color: #42a4ff;
	cursor: pointer;
}
strong.highlight {
	cursor: pointer;
}
.cursor {
	cursor: pointer;
}
.custom-show-pass{
	position: absolute;
	top: 30px;
	right: 25px;
	font-size: 20px;
}
