<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css"
	rel="stylesheet" />
<div class="content-body">
	<div class="content" role="main">
		<!-- <div *ngIf="rooms" class="container">
			<h3 class=" text-center"></h3>
			<div class="messaging">
				<div class="inbox_msg">
					<div class="inbox_people">
						<div class="headind_srch">
							<div class="channel_heading">
								<h4></h4>
							</div>
						</div>
						<div class="inbox_chat">
							<div class="channels" *ngFor="let room of rooms">
								<div class="chat_list pointer" (click)="resetGetMessage(room.id)">
									<div class="chat_people">
										<div class="chat_ib">
											<h5>
												{{ room.name }}
											</h5>
											<p>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="mesgs">
						<div class="msg_history">
							<li class="message" *ngFor="let message of messages">
								<div *ngIf="
                  message.user.id !== currentUser.me.id;
                  then incoming_msg;
                  else outgoing_msg
                "></div>
								<ng-template #incoming_msg>
									<div class="incoming_msg">
										<div class="incoming_msg_img">
											<img src="https://i.imgur.com/k2PZLZa.png" alt="User avatar" />
										</div>
										<div class="received_msg">
											<div class="received_withd_msg">
												<p>{{ message.text }}</p>
											</div>
										</div>
									</div>
								</ng-template>
								<ng-template #outgoing_msg>
									<div class="outgoing_msg">
										<div class="sent_msg">
											<p>{{ message.text }}</p>
										</div>
									</div>
								</ng-template>
							</li>
						</div>
						<div class="type_msg">
							<form class="input_msg_write" (ngSubmit)="sendMessage()">
								<input type="text" class="write_msg" placeholder="Type a message" name="newMessage" [(ngModel)]="newMessage" />
								<button class="msg_send_btn" type="button">
									<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div> -->

		<!--**********************************
            Chat box start
        ***********************************-->
		<div class="chatbox">
			<div class="d-flex">
				<div class="card mb-sm-3 mb-md-0 contacts_card dz-chat-user-box">
					<div class="card-header chat-list-header text-center">
						<div>
							<h6 class="mb-1">Danh sách chat</h6>
						</div>
					</div>
					<div class="card-body contacts_body p-0">
						<ul class="contacts">
							<li *ngFor="let room of rooms" class="dz-chat-user">
								<div class="d-flex" (click)="resetGetMessage(room.id,room.name)">
									<div class="img_cont">
										<i _ngcontent-sbt-c2="" class="bi bi-person-fill cl-brown" style="font-size: 24px"></i>
									</div>
									<div class="user_info">
										<span>{{ room.name }}</span>
										<p>{{ room.createdDate | date:'dd/MM/yyyy' }}</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="card chat dz-chat-history-box">
					<div class="card-header chat-list-header text-center">
						<div>
							<h6 class="mb-1">Tin nhắn</h6>
						</div>
						<div class="dropdown">
							<a href="#" data-toggle="dropdown" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg"
									xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24"
									version="1.1">
									<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<rect x="0" y="0" width="24" height="24" />
										<circle fill="#000000" cx="5" cy="12" r="2" />
										<circle fill="#000000" cx="12" cy="12" r="2" />
										<circle fill="#000000" cx="19" cy="12" r="2" />
									</g>
								</svg></a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li class="dropdown-item" (click)="enabledBot()"><i class="fa fa-user-circle text-primary mr-2"></i> Bật
									bot</li>
								<li class="dropdown-item" (click)="disabedBot()"><i class="fa fa-users text-primary mr-2"></i> Tắt bot
								</li>
							</ul>
						</div>
					</div>
					<div #boxChat class="card-body msg_card_body" [scrollTop]="boxChat.scrollHeight"
						(scroll)="onScrollBoxChat($event)">
						<ng-container *ngFor="let message of messages">
							<div *ngIf="message.fromUserId != userId" class="d-flex justify-content-start mb-4">
								<div class="img_cont_msg">
									<img *ngIf="message.fromAvatar == ''|| message.fromAvatar == null "
										src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
										class="rounded-circle user_img_msg">
									<img *ngIf="message.fromAvatar != ''" [src]="message.fromAvatar" class="rounded-circle user_img_msg">
									{{message.fromFullName}}
								</div>
								<div class="msg_cotainer">

									{{message.messageContent}}
									<ng-container *ngFor="let tag of message.SubTags">
										<div *ngIf="tag.title" class="msg_cotainer_child">
											<span class="item p-2">{{tag.title}}</span>
										</div>
										<a *ngIf="tag.link" routerLink="tag.link">
											{{tag.link}}
										</a>
									</ng-container>
									<span class="msg_time">{{message.dateSend | date:'HH:mm:ss dd/MM/yyyy'}}</span>
								</div>
							</div>
							<div *ngIf="message.fromUserId == userId" class="d-flex justify-content-end mb-4">

								<div class="msg_cotainer_send">
									<!-- {{message.messageContent}} -->
									{{message.messageContent}}
									<ng-container *ngFor="let tag of message.SubTags">
										<div *ngIf="tag.title" class="msg_cotainer_child">
											<span class="item p-2">{{tag.title}}</span>
										</div>
										<a *ngIf="tag.link" routerLink="tag.link">
											{{tag.link}}
										</a>
									</ng-container>
									<span class="msg_time_send">{{message.dateSend | date:'HH:mm:ss dd/MM/yyyy'}}</span>
								</div>
								<div class="img_cont_msg">
									<img *ngIf="message.fromAvatar == ''|| message.fromAvatar == null "
										src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
										class="rounded-circle user_img_msg">
									<img *ngIf="message.fromAvatar != ''" [src]="message.fromAvatar" class="rounded-circle user_img_msg">
									{{message.fromFullName}}
								</div>
							</div>
						</ng-container>
					</div>
					<div class="card-footer type_msg">
						<div class="input-group" (click)="sendMessage()">
							<textarea class="form-control" placeholder="Type your message..." name="newMessage"
								[(ngModel)]="newMessage" (keydown)="onKeyDown($event)"></textarea>
							<div class="input-group-append" type="button">
								<button type="button" class="btn btn-primary"><i class="fa fa-location-arrow"></i></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--**********************************
            Chat box End
        ***********************************-->

	</div>
</div>