.set-height{
  height: 2.4rem;
}
.input-group .input-group-addon{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}