
.hover-active a :hover {
	cursor: pointer;
}
strong.highlight:hover {
	color: red;
}
strong.highlight {
	cursor: pointer;
}

.input-group-addon {
	position: absolute;
	opacity: 0.5;
	right: 25px;
	top: 8px;
}
.label-thead{
	text-transform: none;
}
.form-group input{
	height: 38px;
}

:host ::ng-deep .ui-table .ui-table-thead > tr > th{
	padding: 0.471em 0.557em;
}
:host ::ng-deep .ui-table .ui-table-thead>tr>th{
	background-color: #EAEAEA !important;
}