<form class="form-row px-3" [formGroup]="formOrgAddress">
	<div class="col-12 form-group">
		<label class="mb-1">Tỉnh / Thành Phố <span class="cl-red">(*)</span> </label>
		<!-- <select *ngIf="nation_enable_type" class="form-control" disabled [(ngModel)]="model.OrgProvinceId" formControlName="OrgProvince">
			<option value="0">Chon...</option>
		</select> -->
		<ng-select [disabled]="!nation_enable_type" [(ngModel)]="model.OrgProvinceId" formControlName="OrgProvince" class="form-control" id="_OrgDistrictId" [closeOnSelect]="true"
			placeholder="Chọn..." (change)="onChangeProvince()">
			<ng-option *ngFor="let lItem of listProvince" [value]="lItem.id" ng-init="model.OrgProvinceId">{{lItem.name}}</ng-option>
		</ng-select>
		<div *ngIf="(fOrgAddressSubmitted && fOrgAdr.OrgProvince.invalid)||(fOrgAdr.OrgProvince.invalid && (fOrgAdr.OrgProvince.dirty || fOrgAdr.OrgProvince.touched))"
			class="has-error m-b-12">
			<div *ngIf="fOrgAdr.OrgProvince.errors.required">
				<span class="help-block">Trường dữ liệu này không được để trống</span>
			</div>
		</div>
	</div>
	<div class="col-12 form-group">
		<label class="mb-1">Huyện / Quận / Thị xã / Thành phố thuộc tỉnh <span class="cl-red">(*)</span> </label>
		<!-- <select *ngIf="nation_enable_type" class="form-control" disabled [(ngModel)]="model.OrgDistrictId" formControlName="OrgDistrict">
			<option value="0">Chon...</option>
		</select> -->
		<ng-select [disabled]="nation_enable_type" [(ngModel)]="model.OrgDistrictId" formControlName="OrgDistrict" class="form-control" placeholder="Chọn..." [closeOnSelect]="true"
			(change)="onChangeDistrict()">
			<ng-option *ngFor="let lItem of listDistrict" [value]="lItem.id" ng-init="model.OrgDistrictId">{{lItem.name}}</ng-option>
		</ng-select>
		<div *ngIf="(fOrgAddressSubmitted && fOrgAdr.OrgDistrict.invalid)||(fOrgAdr.OrgDistrict.invalid && (fOrgAdr.OrgDistrict.dirty || fOrgAdr.OrgDistrict.touched))"
			class="has-error m-b-12">
			<div *ngIf="fOrgAdr.OrgDistrict.errors.required">
				<span class="help-block">Trường dữ liệu này không được để trống</span>
			</div>
		</div>
	</div>
	<div class="col-12 form-group">
		<label class="mb-1">Xã / Phường / Thị trấn <span class="cl-red">(*)</span> </label>
		<!-- <select *ngIf="nation_enable_type" class="form-control" disabled [(ngModel)]="model.OrgWardsId" formControlName="OrgVillage">
			<option value="0">Chon...</option>
		</select> -->
		<ng-select ng-init="somethingHere" [disabled]="nation_enable_type" [(ngModel)]="model.OrgWardsId" formControlName="OrgVillage" class="form-control" placeholder="Chọn...">
			<ng-option *ngFor="let vill of listVillage" [value]="vill.id" ng-init="model.OrgWardsId">{{vill.name}}</ng-option>
		</ng-select>
		<div *ngIf="(fOrgAddressSubmitted && fOrgAdr.OrgVillage.invalid)||(fOrgAdr.OrgVillage.invalid && (fOrgAdr.OrgVillage.dirty || fOrgAdr.OrgVillage.touched))"
			class="has-error m-b-12">
			<div *ngIf="fOrgAdr.OrgVillage.errors.required">
				<span class="help-block">Trường dữ liệu này không được để trống</span>
			</div>
		</div>
	</div>
	<div class="col-12 form-group">
		<label class="mb-1">Địa chỉ cụ thể <span class="cl-red">(*)</span></label>
		<input [svTrim] [(ngModel)]="model.OrgAddress" formControlName="OrgAddress" type="text" placeholder="Nhập..." class="form-control">
		<div *ngIf="(fOrgAddressSubmitted && fOrgAdr.OrgAddress.invalid)||(fOrgAdr.OrgAddress.invalid && (fOrgAdr.OrgAddress.dirty || fOrgAdr.OrgAddress.touched))"
			class="has-error m-b-12">
			<div *ngIf="fOrgAdr.OrgAddress.errors.required">
				<span class="help-block">Trường dữ liệu này không được để trống</span>
			</div>
		</div>
	</div>
	<div class="col form-group">
		<label class="mb-1">Điện thoại<span class="cl-red">(*)</span></label>
		<input numbersOnly maxlength="10" [(ngModel)]="model.OrgPhone" pattern="^(84|0[3|5|7|8|9])+([0-9]{8})$" formControlName="OrgPhone" type="text" placeholder="Nhập..."
			class="form-control" (change)="onCheckExist('OrgPhone',$event.target.value)">
		<div *ngIf="(fOrgAddressSubmitted && fOrgAdr.OrgPhone.invalid)||(fOrgAdr.OrgPhone.invalid && (fOrgAdr.OrgPhone.dirty || fOrgAdr.OrgPhone.touched))"
			class="has-error m-b-12">
			<div *ngIf="fOrgAdr.OrgPhone.errors.required">
				<span class="help-block">Trường dữ liệu này không được để trống</span>
			</div>
			<div *ngIf="fOrgAdr.OrgPhone.errors.pattern">
				<span class="help-block">Định dạng số điện thoại không hợp lệ</span>
			</div>
		</div>
		<div *ngIf="checkExists['OrgPhone'] && fOrgAdr.OrgPhone.valid" class="has-error m-b-12">
			<div *ngIf="checkExists['OrgPhone']">
				<span class="help-block">Số điện thoại đã tồn tại</span>
			</div>
		</div>
	</div>
	<div class="col form-group">
		<label class="mb-1">Email</label>
		<input [svTrim] [(ngModel)]="model.OrgEmail" formControlName="OrgEmail" type="text" placeholder="Nhập..." class="form-control"
			(change)="onCheckExist('OrgEmail',$event.target.value)">
		<div *ngIf="(fOrgAddressSubmitted && fOrgAdr.OrgEmail.invalid)||(fOrgAdr.OrgEmail.invalid && (fOrgAdr.OrgEmail.dirty || fOrgAdr.OrgEmail.touched))"
			class="has-error m-b-12">
			<div *ngIf="fOrgAdr.OrgEmail.errors.required">
				<span class="help-block">Trường dữ liệu này không được để trống</span>
			</div>
			<div *ngIf="fOrgAdr.OrgEmail.errors.email">
				<span class="help-block">Định dạng email không hợp lệ</span>
			</div>
		</div>
		<div *ngIf="checkExists['OrgEmail'] && fOrgAdr.OrgEmail.valid" class="has-error m-b-12">
			<div *ngIf="checkExists['OrgEmail']">
				<span class="help-block">Email đã tồn tại</span>
			</div>
		</div>
	</div>
</form>
