/* .text-3line {
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
	color: #323c47;
	order: 1;
	flex-grow: 0;
	margin: 10px 0px;
}
.text-2line {
	font-size: 16px;
	line-height: 22px;
	color: #455465;
	order: 2;
	flex-grow: 0;
	margin: 10px 0px;
} */

.text-3line a,
.text-2line a,
.card-text a {
	color: #222222;
}

.read-more {
	color: #222222;
}
.owl-item .card {
	width: 350px;
}
