<div class="content-nd mt-5">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col main-ct pr-3 pr-lg-5">
				<div class="box">
					<div class="tt-v1 mb-3 d-flex justify-content-between">
						<h4 class="text-uppercase">Danh sách phản ánh, kiến nghị đã được xử lý</h4>
						<a class="read-more" title="Xem thêm" routerLink="/cong-bo/phan-anh-kien-nghi"><i class="bi bi-arrow-right"></i></a>
					</div>
					<ng-container *ngFor="let item of ReflectionsRecommendations; let i = index">
						<div class="card border mb-3">
							<div class="card-header pt-3 pb-0 align-items-center">
								<p class="card-text mb-1">
									<a class="h4" routerLink="/cong-bo/phan-anh-kien-nghi/{{item.id}}">
										{{item.title}}
									</a>
								</p>
							</div>
							<div class="card-body pt-1 pb-3">
								<div class="d-flex align-items-center">
									<div class="media align-items-center mr-4">
										<div class="avatar-circle mr-2">
											{{item.shortName}}
										</div>
										<div class="media-body">
											<p class="my-0 h5">{{item.name}}</p>
										</div>
									</div>
									<span class="card-date">{{item.createdDate | date : 'HH:mm'}} ngày {{item.createdDate | date : 'dd/MM/yyyy'}}</span>
								</div>
								
								<p class="card-text">
									<a class="text-2line italic lh-20" routerLink="/cong-bo/phan-anh-kien-nghi/{{item.id}}" [innerHTML]="item.content | Change">
										
									</a>
								</p>
							</div>
					</div>
					</ng-container>
				</div>
			</div>
			<div class="col-12 col-lg-auto d-none d-lg-block sidebar-ct pl-3 pl-lg-0">
				<app-statistics-right></app-statistics-right>
			</div>
		</div>

		<!-- start banner -->

		<div class="row justify-content-between">
			<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pt-4">
				<a href="#"><img class="img-fluid card shadow bd-20" style="width: 100%; height: 100%;"
					src="../../../../assets/dist/images/banner-index-1.png" alt="">
				</a>
			</div>
			<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pt-4">
				<a href="#"><img class="img-fluid card shadow bd-20" style="width: 100%; height: 100%;"
					src="../../../../assets/dist/images/banner-index-2.png" alt="">
				</a>
			</div>
		</div>

		<div class="row justify-content-between">
			<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 pt-4">
				<a href="#">
					<img class="img-fluid card shadow bd-20" style="width: 100%; height: 100%;"
					src="../../../../assets/dist/images/child-banner-1.png" alt="">
				</a>
			</div>
			<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 pt-4">
				<a href="#">
					<img class="img-fluid card shadow bd-20" style="width: 100%; height: 100%;"
					src="../../../../assets/dist/images/child-banner-2.png" alt="">
				</a>
			</div>
			<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 pt-4">
				<a href="#">
					<img class="img-fluid card shadow bd-20" style="width: 100%; height: 100%;"
					src="../../../../assets/dist/images/child-banner-3.png" alt="">
				</a>
			</div>
			<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 pt-4">
				<a href="#">
					<img class="img-fluid card shadow bd-20" style="width: 100%; height: 100%;"
					src="../../../../assets/dist/images/child-banner-4.png" alt="">
				</a>
			</div>
		</div>

		<!-- End banner -->

		<!-- Start TTHC -->

		<div class="row justify-content-between mt-4">
			<div class="col main-ct pr-3 pr-lg-5">
				<div class="box">
					<div class="tt-v1 pt-3 mb-3 d-flex justify-content-between">
						<h4 class="text-uppercase">thủ tục hành chính</h4>
						<a class="read-more" style="color: #1673D8; font-size: 22px;" 
							routerLink="/cong-bo/thu-tuc-hanh-chinh" ><i class="bi bi-arrow-right"></i></a>
					</div>
					<div>
						<p-table [value]="Administrations">
							<!-- [value]="Administrations" -->
							<ng-template pTemplate="header">
									<tr>
											<th style="width: 200px;">Mã quản lý quốc gia</th>
											<th>Thủ tục hành chính</th>
											<th style="width: 180px;">Lĩnh vực</th>
									</tr>
							</ng-template>
							<ng-template pTemplate="body" let-item>
									<tr>
											<td>{{item.code}}</td>
											<td>
												<strong class="text-2line cursor" (click)="redirectDetailAdministration(item.administrationId)">
													{{item.name}}
												</strong>
												<div class="d-flex pt-2">
													<p class="mb-0">Mã nội bộ: 007.03.025.2</p>
													<p class="mb-0 ml-4">Mức độ</p>
													<span class="ml-2 number-lever center">2</span>
												</div>
											</td>
											<td>{{item.fieldName}}</td>
									</tr>
							</ng-template>
					</p-table>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-auto d-none d-lg-block sidebar-ct pl-3 pl-lg-0">
				<a href="#"><img class="img-fluid card shadow img-hover"
					style="width: 100%; height: 250px;"
					src="../../../assets/dist/images/banner-left-3.PNG" alt=""></a>

				<a href="#"><img class="img-fluid card shadow img-hover" style="width: 100%; height: 230px;"
					src="../../../assets/dist/images/Rectangle 361.png" alt="">
				</a>
			</div>
		</div>

		<!-- End TTHC -->

		<div class="row justify-content-between mt-4">
			<a href="#"><img class="img-fluid card shadow" style="width: 100%; object-fit: fill;" src="../../../assets/dist/images/banner2.PNG" alt=""></a>
			<div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 pb-1">
				<a href="#">
					<img class="img-fluid card shadow bd-20" style="width: 100%; height: 100%;"
					src="../../../assets/dist/images/Rectangle 362.png" alt="">
				</a>
			</div>
			<div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 pb-1">
				<a href="#">
					<img class="img-fluid card shadow bd-20" style="width: 100%; height: 100%;"
					src="../../../assets/dist/images/Rectangle 363.png" alt="">
				</a>
			</div>
			<div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 pb-1">
				<a href="#">
					<img class="img-fluid card shadow bd-20" style="width: 100%; height: 100%;"
					src="../../../assets/dist/images/Rectangle 365.png" alt="">
				</a>
			</div>
		</div>

		

		<div class="row justify-content-between">
			<div class="col col-lg-9 main-ct pr-3 pr-lg-5 mt-3">
				<div class="tt-v1 mb-3 d-flex justify-content-between">
					<h4 class="text-uppercase">Tin tức & sự kiện</h4>
				</div>
				<div class="row">
					<div class="col col-lg-12">
						<div class="card mb-lg-0 bg-transparent shadow rounded-xl position-relative">
							<a href="javascript:void(0)" style="max-height: 460px;" (click)="redirectDetailNews(firstNews.id)" class="image-box ratio-4-3 rounded">
								<span class="image">
									<img *ngIf="firstNews" class="img-cover" [src]="firstNews.imagePath">
								</span>
							</a>
	
							<div class="card-body position-absolute rounded-bottom"
								style="width: 100%; bottom: 0; background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);">
								<p *ngIf="firstNews" class="text-white mb-1">{{firstNews.createdDate | date : 'dd/MM/yyyy'}}</p>
								<p *ngIf="firstNews" 
									class="cl2 text-white text-uppercase text-2line h4 cursor" 
									title="{{firstNews.title}}" (click)="redirectDetailNews(firstNews.id)" 
									style="line-height: 1.8rem">
										{{firstNews.title}}
								</p>
								<p><a href="javascript:void(0)" class="text-white" (click)="redirectDetailNews(firstNews.id)">Xem chi tiết <i class="bi bi-arrow-right"></i></a></p>
							</div>
						</div>
					</div>
					<div class="center">
						<div class="col col-lg-9 mt-4">
							<owl-carousel-o [options]="customOptions">
								<ng-container *ngFor="let item of news">
									<ng-template carouselSlide [id]="item.id">
										<div class="card mb-lg-0 ps-relative" [style.background-image]="'url(' + item.imagePath + ')'"  style="min-height: 260px; background-size: cover;">
											<!-- ../../../assets/dist/images/Rectangle%20361.png -->
											<div class="content-article ps-absolute bg-cards-content-owl full-width">
												<p class="card-text text-dark px-4 pb-1 pt-3 py-0 mb-0">{{item.createdDate | date : 'dd/MM/yyyy'}}</p>
												<div class="card-header px-4 pt-0 pb-0" style="height: 80px;">
													<p class="card-title text-2line" (click)="redirectDetailNews(item.id)">
														{{item.title}}
													</p>
												</div>
											</div>
										</div>
									</ng-template>
								</ng-container>
							</owl-carousel-o>
						</div>
					</div>
				</div>
			</div>
			<div class="col col-lg-3 d-none d-lg-block sidebar-ct pl-3 pl-lg-0">
				<app-gallery></app-gallery>
			</div>
			<a href="#"><img class="img-fluid card shadow img-hover" style="width: 100%; object-fit: fill;" src="../../../assets/dist/images/Rectangle 360.png" alt=""></a>
		</div>
	</div>
</div>
