<div class="content-nd">
	<div class="container-fluid pt-5 pb-4 mb-4" style="background: linear-gradient(95.75deg, rgba(255, 233, 199, 0.43) 4.06%, rgba(255, 189, 87, 0.26) 99.54%);">
		<div class="container">
			<div class="tt-v1 pt-3 mb-3 d-flex justify-content-between">
				<h4 class="text-uppercase">Tin tức & sự kiện</h4>
				<a class="read-more" href="javascript:void(0)" (click)="redirectNews()">Xem thêm <i class="bi bi-arrow-right"></i></a>
			</div>
			<div class="row">
				<div class="col col-lg-5">
					<div class="card mb-lg-0 bg-transparent shadow rounded-xl position-relative">
						<a href="javascript:void(0)" (click)="redirectDetailNews(firstNews.id)" class="image-box ratio-4-3 rounded">
							<span class="image">
								<img style="width: 100%; height: 100%; object-fit: cover;" [src]="firstNews.imageBin">
							</span>
						</a>

						<div class="card-body position-absolute rounded-bottom"
							style="width: 100%; bottom: 0; background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);">
							<p class="text-white mb-1">{{firstNews.createdDate | date : 'dd/MM/yyyy'}}</p>
							<p><a class="cl2 text-white text-uppercase text-3line h4" (click)="redirectDetailNews(firstNews.id)" style="line-height: 1.8rem"
									href="javascript:void(0)">{{firstNews.title}}</a></p>
							<p><a href="javascript:void(0)" class="text-white" (click)="redirectDetailNews(firstNews.id)">Xem chi tiết <i class="bi bi-arrow-right"></i></a></p>
						</div>
					</div>
				</div>
				<div class="col col-lg-7">
					<div id="owl-news" class="owl-carousel owl-theme h-100">
						<div class="item" *ngFor="let item of news">
							<div class="card mb-lg-0">
								<a href="javascript:void(0)" (click)="redirectDetailNews(item.id)" class="image-box ratio-16-9 rounded">
									<span class="image">
										<img [src]="item.imageBin">
									</span>
								</a>
								<p class="card-text text-dark px-4 pt-3 py-0 mb-0">{{item.createdDate | date: 'dd/MM/yyyy'}}</p>
								<div class="card-header px-4 pt-1 pb-0">
									<p class="card-title text-3line"><a href="javascript:void(0)" (click)="redirectDetailNews(item.id)">{{item.title}}</a></p>
								</div>
								<div class="card-body px-4 pt-2 pb-3">
									<p class="card-text text-2line"><a href="javascript:void(0)" (click)="redirectDetailNews(item.id)">{{item.summary}}</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row justify-content-between">
			<div class="col main-ct pr-3 pr-lg-5">
				<div class="box">
					<div class="tt-v1 pt-3 mb-3 d-flex justify-content-between">
						<h4 class="text-uppercase">thủ tục hành chính</h4>
						<a class="read-more" href="javascript:void(0)" (click)="redirectAdministration()">Xem thêm <i class="bi bi-arrow-right"></i></a>
					</div>
					<div class="card border" *ngFor="let item of Administrations">
						<div class="card-body py-4">
							<p class="card-text">
								<a class="h4" href="javascript:void(0)" (click)="redirectDetailAdministration(item.id)">
									{{item.name}}
								</a>
							</p>
						</div>
						<div class="card-footer py-0 d-flex align-items-center">
							<div class="card-footer-link mb-0 border-right py-2" style="width: 30%">
								<p class="card-text text-dark d-inline">Mã số: <strong class="ml-2">{{item.code}}</strong>
								</p>
							</div>
							<div class="card-footer-link mb-0 pl-4 py-2">
								<p class="card-text text-dark d-inline">Đối tượng thực hiện: <strong class="ml-2">{{item.object}}</strong></p>
							</div>
						</div>
						<div class="card-footer py-0 d-flex align-items-center">
							<div class="card-footer-link mb-0 border-right py-2" style="width: 30%">
								<p class="card-text text-dark d-inline">Lĩnh vực: <strong class="ml-2">{{item.filedName}}</strong></p>
							</div>
							<div class="card-footer-link mb-0 pl-4 py-2">
								<p class="card-text text-dark d-inline">Cơ quan thực hiện: <strong class="ml-2">{{item.organization}}</strong></p>
							</div>
						</div>
					</div>
				</div>
				<a href="#"><img class="img-fluid card shadow img-hover" src="../../../assets/dist/images/banner-ctt.png" alt=""></a>
				<div class="box">
					<div class="tt-v1 pt-3 mb-3 d-flex justify-content-between">
						<h4 class="text-uppercase">Danh sách phản ánh, kiến nghị đã trả lời</h4>
						<a class="read-more" href="javascript:void(0)" (click)="redirectReflectionsRecommendations()">Xem thêm <i class="bi bi-arrow-right"></i></a>
					</div>
					<div class="card border" *ngFor="let item of ReflectionsRecommendations">
						<div class="card-header pt-3 pb-0 d-flex align-items-center">
							<div class="media align-items-center">
								<div class="avatar-circle mr-2">
									{{item.shortName}}
								</div>
								<div class="media-body">
									<p class="my-0 h5">{{item.name}}</p>
								</div>
							</div>
							<span>{{item.createdDate | date:'HH:mm'}} ngày {{item.createdDate | date: 'dd/MM/yyyy'}}</span>
						</div>
						<div class="card-body py-3">
							<p class="card-text mb-1">
								<a class="h4" href="javascript:void(0)" (click)="redirectDetailRecommendaton(item.id)">
									{{item.title}}
								</a>
							</p>
							<p class="card-text">
								<a class="text-2line" href="javascript:void(0)" (click)="redirectDetailRecommendaton(item.id)" innerHTML="{{item.content | Change}}">

								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-auto d-none d-lg-block sidebar-ct pl-3 pl-lg-0">
				<app-view-right></app-view-right>
			</div>
		</div>
	</div>
</div>

<script src="../../../../assets/dist/js/owl.carousel.min.js"></script>
<!-- <script src="../../../../assets/dist/js/sd-js.js"></script> -->
