/* .text-3line {
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
	color: #323c47;
	order: 1;
	flex-grow: 0;
	margin: 10px 0px;
}
.text-2line {
	font-size: 16px;
	line-height: 22px;
	color: #455465;
	order: 2;
	flex-grow: 0;
	margin: 10px 0px;
} */

.text-3line a,
.text-2line a,
.card-text a {
	color: #222222;
}

.read-more {
	color: #222222;
}
.owl-item .card {
	width: 350px;
}

:host ::ng-deep #owl-news .owl-nav button.owl-prev,
:host ::ng-deep #owl-news .owl-nav button.owl-next {
	outline: none;
	border-radius: 20px;
	position: absolute;
	background: linear-gradient(180deg, #42a4ff 0%, #2a5494 100%);
	border-radius: 4px;
	transform: translateY(-50%);
	width: 24px;
	height: 24px;
	bottom: -15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
:host ::ng-deep #owl-news .owl-nav button.owl-prev {
	right: 18%;
}
:host ::ng-deep #owl-news .owl-nav button.owl-next {
	right: 0px;
}

/* :host ::ng-deep #owl-news .owl-nav button.owl-next span {
	margin-top: -9px;
	margin-right: 1px;
	font-size: 28px;
	color: #fff;
	font-weight: 100;
} */
:host ::ng-deep #owl-news .owl-nav button.owl-next span,
:host ::ng-deep #owl-news .owl-nav button.owl-prev span {
	margin-top: -9px;
	margin-right: 1px;
	font-size: 28px;
	font-weight: 100;
	color: #fff;
}

:host ::ng-deep .owl-theme .owl-dots {
	margin-right: 45px;
	text-align: right !important;
}
