.cl-dark {
	color: #707c97;
}

.bi-person-fill.cl-dark {
	font-size: 24px;
}
.header-nd {
	height: auto;
}
.bg-menu-blue {
	background-color: #2e73d5;
}
.navbar-light .navbar-nav .nav-link {
	padding: 15px 20px;
	font-family: Inter;
	font-style: normal;
	text-transform: none;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	display: flex;
	align-items: center;
	cursor: pointer;
	color: #fff;
}
.navbar-light .navbar-nav .nav-link:hover {
	background-color: #155bbf;
}
.header-left .search_bar .search_icon {
	height: 40px;
	padding-right: 15px !important;
}

.red-title {
	color: #da2222;
}

#DZ_W_Notification2 {
	overflow-y: scroll;
}

#DZ_W_Notification2::-webkit-scrollbar {
	width: 6px;
	background-color: #f5f5f5 !important;
}

#DZ_W_Notification2::-webkit-scrollbar-thumb {
	background-color: #777 !important;
	border-radius: 3px;
}
.header-notification {
	padding: 10px 5px 10px 0px;
	background: #fafafa;
	display: flex;
	border-radius: 4px;
}
.red-bar {
	background: linear-gradient(180deg, #ee5454 0%, #a61515 100%);
	border-radius: 0px 4px 4px 0px;
	width: 5px;
	margin-right: 10px;
}
.title-notification {
	width: 60%;
}

.notifications {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	line-height: 20px;
	width: 35%;
	font-size: 14px;
}
.count-notification {
	color: #ffff;
	position: absolute;
	font-size: 12px;
	top: 4px;
	left: 23px;
	min-width: 17px;
	height: 16px;
	background: red;
	border-radius: 100%;
	text-align: center;
	padding: 2px;
	z-index: 1000;
}

.text-3line a,
.text-2line a,
.card-text a {
	color: #222222;
}

.read-more {
	color: #222222;
}
.card-date {
	font-size: 16px;
	line-height: 19px;
	color: #666666;
}
.italic {
	font-style: italic;
}
.f-4 {
	flex: 4;
}
.f-6 {
	flex: 6;
}
.card-my-recommentdation {
	padding: 15px;
	background-color: #eff8ff;
	border-radius: 12px;
}
.lh-20 {
	line-height: 20px;
}
.bd-20 {
	border-radius: 20px;
}
.bg-gray {
	background-color: #f6f6f6;
}
.read-more {
	color: #1673d8;
	font-size: 22px;
}
.active {
	background-color: #155bbf;
}

.bg-cards-content-owl {
	bottom: 0px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	background: linear-gradient(0deg, rgba(208, 206, 206, 1) 0%, rgba(255, 255, 255, 0.18280815744266454) 100%);
}

.search-bar input {
	min-width: 280px;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.2);
	border: none;
	color: #fff;
	padding-right: 45px;
}
.search_icon i {
	font-size: 20px;
	color: #fff;
}
::placeholder {
	color: #fff;
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #fff;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #fff;
}
