form.form-row {
  align-items: flex-start !important;
}

.col-12.col-lg-auto.d-flex.justify-content-end.align-items-center {
  margin-top: 25px;
}

.bg-white.captcha.border.d-flex.justify-content-between.align-items-center.rounded-xl.shadow.position-absolute {
  top: auto;
}