form.form-row {
	align-items: flex-start !important;
}

.col-12.col-lg-auto.d-flex.justify-content-end.align-items-center {
	margin-top: 25px;
}

.bg-white.captcha.border.d-flex.justify-content-between.align-items-center.rounded-xl.shadow.position-absolute {
	top: auto;
}
.bg-hover:hover {
	color: rgb(61, 61, 255);
}
p.active {
	color: rgb(61, 61, 255);
}

.breadcrumb-item a {
	color: #222222;
}
form .label , label.label-authorize{
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #222222;
	text-transform: uppercase;
}
.form-control,
.ng-select {
	color: black;
}
.tooltip {
	background-color: brown !important;
}
agm-map {
	height: 70vh;
}
.btn-voice:active {
	outline: none;
	border: none;
}
	
.btn-voice:focus {
	outline:none;
  box-shadow: none;
}
:host ::ng-deep ng-select.form-control>.ng-select-container .ng-placeholder{
	font-style : italic !important;
	font-size: 0.95rem !important;
}
#contentRecommendation{
	font-family: 'Helvetica Neue','Segoe UI',Helvetica,Verdana,sans-serif;
	line-height: 1.35715;
	padding: 6px 12px;
	font-size: 1rem;
	font-weight: 400; 
	color: black;
}