<!--**********************************
            Content body start
        ***********************************-->
<div class="content-nd">
	<div class="container">
		<div class="row justify-content-between pt-5">
			<div class="col main-ct pr-3 pr-lg-5">
				<ol class="breadcrumb px-0 bg-transparent">
					<li class="breadcrumb-item"><a [routerLink]="['/cong-bo/trang-chu']">Trang chủ</a></li>
					<li class="breadcrumb-item"><a [routerLink]="['//cong-bo/phan-anh-kien-nghi']">Phản ánh, Kiến nghị</a></li>
					<li class="breadcrumb-item font-weight-bold" *ngIf="model.id == 0">Tạo mới phản ánh, Kiến nghị</li>
					<li class="breadcrumb-item font-weight-bold" *ngIf="model.id != 0">Cập nhật phản ánh, Kiến nghị</li>
				</ol>
				<form class="form-row mb-3" [formGroup]="form">
					<div class="col-12 form-group">
						<label class="mb-1">PAKN về việc <span class="cl-red">(*)</span></label>
						<input class="form-control" type="text" [(ngModel)]="model.title" maxlength="500" formControlName="title" (blur)="searchRecommendation()"
							placeholder="Nhập..." />
						<div *ngIf="(submitted && f.title.invalid) || (f.title.invalid && (f.title.dirty || f.title.touched))" class="has-error">
							<div *ngIf="f.title.errors.required">
								<span class="help-block">Trường dữ liệu này không được để trống</span>
							</div>
						</div>
					</div>
					<div class="col-12 form-group" *ngIf="resultsRecommendation.length>0">
						<div class="email-list mini-scroll">
							<div class="message" *ngFor="let item of resultsRecommendation">
								<div>
									<a href="/cong-bo/phan-anh-kien-nghi/{{item.id}}" target="_blank" class="col-mail col-mail-2">
										<div class="subject" innerHTML="{{item.title}}"></div>
										<div class="date">{{item.createdDate}}</div>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 form-group">
						<label class="mb-1">Nội dung <span class="cl-red">(*)</span></label>
						<div class="group-content-recommendation">
							<textarea id="inputContent" class="form-control" [(ngModel)]="model.content" formControlName="content" style="height: 158px;" rows="6"
								placeholder="Nhập nội dung..." (blur)="hightLightText()"></textarea>
							<div id="contentRecommendation" (click)="showEditContent()"></div>
						</div>
						<div *ngIf="(submitted && f.content.invalid) || (f.content.invalid && (f.content.dirty || f.content.touched))" class="has-error">
							<div *ngIf="f.content.errors.required">
								<span class="help-block">Trường dữ liệu này không được để trống</span>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg form-group">
						<label class="mb-1">Đơn vị tiếp nhận </label>
						<ng-select id="_unitId" class="form-control" [items]="lstUnitTree" placeholder="Chọn..." formControlName="unitId" [ngModel]="unitSelected.name"
							[clearable]="false">
							<ng-template ng-option-tmp let-item="item">
								<ul>
									<li>
										<p (click)="onSelectUnit(item)" class="bg-hover mb-0" [ngClass]="{'active':item.id == model.unitId}">
											<strong>{{item.name}}</strong>
										</p>
										<ul class="">
											<li *ngFor="let item_c1 of item.children">
												<p (click)="onSelectUnit(item_c1)" class="bg-hover mb-0" [ngClass]="{'active':item_c1.id == model.unitId}">- {{item_c1.name}}</p>
												<ul class="">
													<li *ngFor="let item_c2 of item_c1.children">
														<p (click)="onSelectUnit(item_c2)" class="bg-hover mb-0" [ngClass]="{'active':item_c2.id == model.unitId}">
															-- {{item_c2.name}}
														</p>
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</ng-template>
						</ng-select>
					</div>
					<div class="col-12 col-lg form-group">
						<label class="mb-1">Lĩnh vực <span class="cl-red">(*)</span></label>
						<ng-select class="form-control" [items]="lstField" bindValue="value" bindLabel="text" placeholder="Chọn..." formControlName="field"
							[(ngModel)]="model.field" [clearable]="false">
							<ng-template ng-option-tmp let-item="item">
								<div title="{{item.text}}">{{item.text}}</div>
							</ng-template>
						</ng-select>
						<div *ngIf="(submitted && f.field.invalid) || (f.field.invalid && (f.field.dirty || f.field.touched))" class="has-error">
							<div *ngIf="f.field.errors.required">
								<span class="help-block">Trường dữ liệu này không được để trống</span>
							</div>
						</div>
					</div>
				</form>
				<div class="box attach-ct">
					<p class="h5 text-uppercase mb-3">
						<span>
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
								<path
									d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z">
								</path>
							</svg>
						</span>
						Tài liệu đính kèm
					</p>
					<div class="attach-file row">
						<div class="col-auto mb-4">
							<div class="alert alert-dark h-100 d-flex align-items-center" style="width: 170px">
								<input type="file" style="display: none" #file id="file" (change)="onUpload($event)" class="inputfile inputfile-4 d-none" multiple
									accept="{{fileAccept}}" />
								<!-- <input type="file" name="file-5[]" id="file-5" class="inputfile inputfile-4 d-none" data-multiple-caption="{count} files selected" multiple=""> -->
								<label for="file-5" (click)="file.click()">
									<figure><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
											<path
												d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z">
											</path>
										</svg></figure> <span class="d-block text-center">Tải lên</span>
								</label>
							</div>
						</div>
						<ng-container *ngFor="let item of files">
							<div class="col-auto mb-4" *ngIf="item.fileType == 1">
								<div class="alert alert-dark alert-dismissible fade show h-100 d-flex align-items-center" style="width: 170px">
									<button type="button" class="close" (click)="onRemoveFile(item)"><span><i class="mdi mdi-close"></i></span>
									</button>
									<a href="#" class="d-block text-center box-fileinput">
										<img src="../../../../assets/dist/images/file-word.svg" style="width: 45px" alt="">
										<span class="mt-3 text-dark text-wrap text-2line">{{item.name}}</span>
									</a>
								</div>
							</div>
							<div class="col-auto mb-4" *ngIf="item.fileType == 2">
								<div class="alert alert-dark alert-dismissible fade show h-100 d-flex align-items-center" style="width: 170px">
									<button type="button" class="close" (click)="onRemoveFile(item)"><span><i class="mdi mdi-close"></i></span>
									</button>
									<a href="#" class="d-block text-center box-fileinput">
										<img src="../../../../assets/dist/images/file-excel.svg" style="width: 45px" alt="">
										<span class="mt-3 text-dark text-wrap text-2line">{{item.name}}</span>
									</a>
								</div>
							</div>
							<div class="col-auto mb-4" *ngIf="item.fileType == 4">
								<div class="alert alert-dark alert-dismissible fade show h-100 d-flex align-items-center" style="width: 170px">
									<button type="button" class="close" (click)="onRemoveFile(item)"><span><i class="mdi mdi-close"></i></span>
									</button>
									<a href="#" class="d-block text-center box-fileinput">
										<img src="../../../../assets/dist/images/file-image.svg" style="width: 45px" alt="">
										<span class="mt-3 text-dark text-wrap text-2line">{{item.name}}</span>
									</a>
								</div>
							</div>
							<div class="col-auto mb-4" *ngIf="item.fileType == 3">
								<div class="alert alert-dark alert-dismissible fade show h-100 d-flex align-items-center" style="width: 170px">
									<button type="button" class="close" (click)="onRemoveFile(item)"><span><i class="mdi mdi-close"></i></span>
									</button>
									<a href="#" class="d-block text-center box-fileinput">
										<img src="../../../../assets/dist/images/file-pdf.svg" style="width: 40px" alt="">
										<span class="mt-3 text-dark text-wrap text-2line">{{item.name}}</span>
									</a>
								</div>
							</div>
							<div class="col-auto mb-4" *ngIf="item.fileType == 6">
								<div class="alert alert-dark alert-dismissible fade show h-100 d-flex align-items-center" style="width: 170px">
									<button type="button" class="close" (click)="onRemoveFile(item)"><span><i class="mdi mdi-close"></i></span>
									</button>
									<a href="#" class="d-block text-center box-fileinput">
										<img src="../../../../assets/dist/images/file-powerpoint.svg" style="width: 45px" alt="">
										<span class="mt-3 text-dark text-wrap text-2line">{{item.name}}</span>
									</a>
								</div>
							</div>

						</ng-container>
					</div>
				</div>
				<form class="form-row mb-3 align-items-end" [formGroup]="form">
					<div class="col-12 col-lg">
						<label class="mb-1">Mã số xác thực</label>
						<div class="bg-white captcha border d-flex justify-content-between align-items-center rounded-xl shadow position-absolute">
							<img class="img-fluid rounded-xl" style="max-height: 56px; max-width: 70%;" id="img-captcha" [src]="captchaImage" />
							<button type="button" (click)="reloadImage()" class="btn p-2 rounded-xl"><i class="bi bi-arrow-repeat" style="font-size: 34px"></i></button>
						</div>

						<!-- <div class="bg-white captcha border d-flex w-100 justify-content-between align-items-center rounded">
							<img class="img-fluid rounded-xl" style="max-height: 56px; max-width: 70%;" src="captchaImage" alt="">
							<button type="button" (click)="reloadImage()" class="btn px-3 py-0 rounded-xl"><i
									class="bi bi-arrow-repeat" style="font-size: 24px"></i></button>
						</div> -->
					</div>
					<div class="col-12 col-lg">
						<label class="mb-1">Nhập mã xác thực <span class="cl-red">(*)</span></label>
						<input type="text" placeholder="Nhập..." class="form-control" [(ngModel)]="captchaCode" formControlName="captcha">
						<div *ngIf="(submitted && f.captcha.invalid) || (f.captcha.invalid && (f.captcha.dirty || f.captcha.touched))" class="has-error">
							<div *ngIf="f.captcha.errors.required">
								<span class="help-block">Vui lòng nhập mã captcha</span>
							</div>
						</div>
					</div>

					<div class="col-12 col-lg-auto d-flex justify-content-end align-items-center">
						<button type="button" class="btn border mr-3" (click)="reloadForm()">
							<i class="bi bi-arrow-repeat d-flex" style="font-size: 24px"></i>
							<span class="ml-2">Nhập lại</span>
						</button>
						<button type="button" class="btn text-white border-0 grd-xanhngoc mr-3" (click)="onSave(1)">Lưu</button>

						<button type="button" class="btn text-white border-0 grd-xanhngoc" (click)="onSave(2)">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-file-earmark-arrow-up" viewBox="0 0 16 16">
								<path d="M8.5 11.5a.5.5 0 0 1-1 0V7.707L6.354 8.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 7.707V11.5z">
								</path>
								<path
									d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z">
								</path>
							</svg>
							<span class="ml-2">Gửi PAKN</span>
						</button>
					</div>
				</form>
			</div>
			<div class="col-12 col-lg-auto d-none d-lg-block sidebar-ct pl-3 pl-lg-0">
				<app-view-right></app-view-right>
			</div>
		</div>
	</div>
</div>
<!--**********************************
          Content body end
      ***********************************-->
