
<div class="panel-group">
  <section class="content-header">
    <div class="row">
      <ol class="breadcrumb">
        <li>
          <a class="text-black" routerLink="/business/business-management/dash-board">Trang chủ</a>
        </li>
        <li>
          <a class="text-black">Danh mục</a>
        </li>
        <li>
          <a>Chức vụ đoàn kiểm toán</a>
        </li>
      </ol>
      <button class="btn btn-sm btn-previous pull-right" appSvBackButton><i class="far fa-undo-alt"></i> Quay lại</button>
    </div>
  </section>
  <section class="content n-d-t">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-offset-3 col-md-9 panel-heading-group petition">
                <div class="form-row">
                  <div class="search-item">
                    <input class="form-control" [(ngModel)]="code" maxlength="50" (keydown.enter)="dataStateChange()" placeholder="Nhập mã..." />
                  </div>
                  <div class="search-item">
                    <input class="form-control" [(ngModel)]="ten" maxlength="100" (keydown.enter)="dataStateChange()" placeholder="Nhập tên..." />
                  </div>
                  <div class="search-item">
                    <ng-select [items]="listTrangThai" placeholder="Trạng thái ..."
                               bindLabel="text" bindValue="value"
                               [(ngModel)]="trangThai"
                               [closeOnSelect]="true"
                               (change)="dataStateChange()">
                    </ng-select>
                  </div>
                  <div>
                    <button class="btn btn-primary btn-sm" (click)="dataStateChange()">
                      <i class="fal fa-search"></i>
                    </button>
                  </div>
                  <div class="btn-b-l" *hasPermission="['3', 'B_XIV_1']">
                    <button class="btn btn-sm btn-success" (click)="exportExcel()">
                      <i class="fas fa-file-excel"></i> Xuất file
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p-table #table [value]="listPositionGroup" [lazy]="true" (onLazyLoad)="onPageChange($event)" [paginator]="true" [showCurrentPageReport]="true" currentPageReportTemplate="Tổng số {{totalRecords}}"
                   [rows]="pageSize" [totalRecords]="totalRecords" [rowsPerPageOptions]="[10,20,30]" [responsive]="true" autoLayout="true">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 50px">STT</th>
                <th style="width: 140px">Mã</th>
                <th style="width: 28%">Tên chức vụ</th>
                <th>Mô tả</th>
                <th style="width: 120px">Trạng thái</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td class="text-center">{{item.stt}}</td>
                <td class="text-center">
                  <a (click)="preView(item)" class="ellipsis" title="Xem chi tiết">{{item.code}}</a>
                </td>
                <td>
                  <span class="line-clamp-2" style="-webkit-box-orient: vertical">{{item.tenDuLieu}}</span>
                </td>
                <td>
                  <span class="line-clamp-2" style="-webkit-box-orient: vertical">{{item.moTa}}</span>
                </td>
                <td class="text-center">
                  <label>
                    <input class="ace ace-switch ace-switch-4" type="checkbox" [(ngModel)]="item.trangThai" (change)="onUpdateStatus(item)" />
                    <span class="lbl middle"></span>
                  </label>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="modal fade" id="modalDetail">
  <div class="modal-dialog" style="min-width: 50%">
    <form class="form-horizontal">
      <div class="panel panel-default no-margin">
        <div class="modal-header">
          <button class="close btn-close-modal" data-dismiss="modal">
            ×
          </button>
          <p class="title-ct uppercase no-margin">Thông tin chức vụ đoàn kiểm toán</p>
        </div>
        <div class="modal-body no-padding-bottom">
          <div class="row">
            <div class="col-sm-6">
              <label class="control-label lb600">Mã chức vụ</label>
              <p>{{model.code}}</p>
            </div>
            <div class="col-sm-6">
              <label class="control-label lb600">Tên chức vụ</label>
              <p>{{model.tenDuLieu}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label class="control-label lb600">Trạng thái</label>
              <p *ngIf="model.trangThai == 0">Hết hiệu lực</p>
              <p *ngIf="model.trangThai == 1">Hiệu lực</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <label class="control-label lb600">Mô tả</label>
              <p>{{model.moTa}}</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button data-dismiss="modal" class="btn btn-default btn-sm">
            <i class="far fa-times"></i> Hủy
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
