<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb title-module px-0 bg-transparent mb-0">
			<li class="breadcrumb-item"><a>Hệ thống</a></li>
			<li class="breadcrumb-item active"><a class="font-weight-bold"> Lịch sử hệ thống</a></li>
		</ol>
		<div class="btn-group group-button-table" role="group">

		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="card mb-0 shadow-none">
			<div class="table-responsive">
				<p-table #table [value]="listData" [lazy]="true" (onLazyLoad)="onPageChange($event)" [paginator]="true" [showCurrentPageReport]="true"
					currentPageReportTemplate="Tổng số {{totalRecords}}" [rows]="pageSize" [totalRecords]="totalRecords" [responsive]="true" autoLayout="true"
					tableStyleClass="table table-sd table-responsive-md table-striped mb-0">
					<ng-template pTemplate="header" class="bg-thead">
						<tr>
							<th style="width: 200px">
								<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
									<strong>Ngày tạo</strong>
									
								</p>
								<span *hasPermission="['3', 'A_XIII_2']">
									<input class="form-control form-control-sm" placeholder="Nhập..." bsDatepicker #n="bsDatepicker" maxlength="10" id="createDate"
										[(ngModel)]="dataSearch.createDate" (bsValueChange)="onChangeCreateDate($event)" appBsDatepickerInvalid
										[bsConfig]="{dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue', adaptivePosition: true}" />
									<div class="input-group-addon">
										<i class="far fa-calendar-alt" [attr.aria-expanded]="n.isOpen"></i>
									</div>
								</span>
							</th>
							<th style="min-width: 180px">
								<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
									<strong>Người tạo</strong>
									
								</p>
								<div *hasPermission="['3', 'A_XIII_2']" class="dropdown bootstrap-select form-control form-control-sm">
									<ng-select notFoundText="Không có dữ liệu"  class="" [items]="listUser" placeholder="Người tạo ..." bindLabel="text" bindValue="value" [(ngModel)]="dataSearch.userId"
										[closeOnSelect]="true" (change)="dataStateChange()" [virtualScroll]="true">
									</ng-select>
								</div>
							</th>
							<th>
								<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
									<strong>Nội dung</strong>
									
								</p>
								<input *hasPermission="['3', 'A_XIII_2']" placeholder="Nhập..." class="form-control form-control-sm" [(ngModel)]="dataSearch.description" maxlength="100"
									(keydown.enter)="dataStateChange()" />
							</th>

							<th style="width: 160px">
								<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
									<strong>Trạng thái</strong>
									
								</p>
								<div *hasPermission="['3', 'A_XIII_2']" class="dropdown bootstrap-select form-control form-control-sm">
									<ng-select notFoundText="Không có dữ liệu"  class="" [items]="listStatus" placeholder="Trạng thái ..." bindLabel="text" bindValue="value" [(ngModel)]="dataSearch.status"
										[closeOnSelect]="true" (change)="dataStateChange()">
									</ng-select>
								</div>
							</th>
							<th style="width: 100px">
								<p class="mb-1 d-flex justify-content-between align-items-center label-thead"><strong>Thao tác</strong></p>
							</th>
						</tr>
					</ng-template>
					<ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
						<tr>
							<td>{{item.createdDate | date:'HH:mm'}} - {{item.createdDate | date: 'dd/MM/yyyy'}} </td>
							<td>{{item.fullName}}</td>
							<td>{{item.description}}</td>
							<td>
								<span *ngIf="item.status == 0" class="badge rounded-pill bg-red" (click)="showMessageError(item.messageError)">Thất bại</span>
								<span *ngIf="item.status == 1" class="badge rounded-pill badge-success">Thành công</span>
							</td>
							<td style="text-align: center;">
								<div class="d-flex justify-content-end">
									<a *hasPermission="['3', 'A_XIII_1']" type="button" title="Xóa" (click)="preDelete(item.id)" class="btn-icon grd-red text-white" data-toggle="modal" data-target="#modal-tc-pakn"><i
											class="bi bi-trash"></i></a>
								</div>
							</td>
						</tr>
					</ng-template>
					<ng-template pTemplate="emptymessage">
						<tr>
							<td class="text-center" colspan="7">Không có dữ liệu</td>
						</tr>
					</ng-template>
				</p-table>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modalConfirmDelete">
	<div class="modal-dialog modal-dialog-centered modal-md" style="min-width: 500px" role="document">
		<div class="modal-content rounded">
			<div class="modal-header border-bottom-0">
				<p class="modal-title h3">Xác nhận</p>
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span>
				</button>
			</div>
			<div class="modal-body pb-3 pt-3">
				<span>
					Anh/Chị có chắc chắn muốn xóa lịch sử hệ thống này?
				</span>
			</div>
			<div class="modal-footer border-top-0">
				<button type="button" class="btn btn-outline-secondary btn-sm border px-5" data-dismiss="modal">Hủy</button>
				<button type="button" class="btn btn-danger border-0 px-5 grd-blue btn-sm" (click)="onDelete(idDelete)">Xác nhận</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-error-his">
	<div class="modal-dialog modal-dialog-centered modal-md" style="min-width: 500px" role="document">
		<div class="modal-content rounded">
			<div class="modal-header border-bottom-0">
				<p class="modal-title h3">Thông tin</p>
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span>
				</button>
			</div>
			<div class="modal-body pb-3 pt-3">
				<span>
					{{messageError}}
				</span>
			</div>
			<div class="modal-footer border-top-0"></div>
		</div>
	</div>
</div>
