<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb title-module px-0 bg-transparent mb-0">
			<li class="breadcrumb-item"><a>Hệ thống</a></li>
			<li class="breadcrumb-item active"><a class="font-weight-bold"> Lịch sử hệ thống</a></li>
		</ol>
		<div class="btn-group group-button-table" role="group">

		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="card mb-0 shadow-none">
			<div class="table-responsive">

				<p-table #table [value]="listData" [lazy]="true" (onLazyLoad)="onPageChange($event)" [paginator]="true" [showCurrentPageReport]="true"
					currentPageReportTemplate="Tổng số {{totalRecords}}" [rows]="pageSize" [totalRecords]="totalRecords" [responsive]="true" autoLayout="true"
					tableStyleClass="table table-sd table-responsive-md table-striped mb-0">
					<ng-template pTemplate="header" class="bg-thead">
						<tr>
							<th style="width: 200px">
								<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
									<strong>Ngày tạo</strong>
									<span class="caret-tb"></span>
								</p>
								<input class="form-control form-control-sm" placeholder="Nhập..." bsDatepicker #n="bsDatepicker" maxlength="10" id="createDate"
									[(ngModel)]="dataSearch.createDate" (keydown.enter)="dataStateChange()" appBsDatepickerInvalid
									[bsConfig]="{dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue', adaptivePosition: true}" />
								<div class="input-group-addon">
									<i class="far fa-calendar-alt" [attr.aria-expanded]="n.isOpen"></i>
								</div>
							</th>
							<th style="min-width: 350px">
								<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
									<strong>Người tạo</strong>
									<span class="caret-tb"></span>
								</p>
								<div class="dropdown bootstrap-select form-control form-control-sm">
									<ng-select class="" [items]="listUser" placeholder="Người tạo ..." bindLabel="text" bindValue="value" [(ngModel)]="dataSearch.userId"
										[closeOnSelect]="true" (change)="dataStateChange()" [virtualScroll]="true">
									</ng-select>
								</div>
							</th>
							<th>
								<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
									<strong>Nội dung</strong>
									<span class="caret-tb"></span>
								</p>
								<input placeholder="Nhập..." class="form-control form-control-sm" [(ngModel)]="dataSearch.description" maxlength="100"
									(keydown.enter)="dataStateChange()" />
							</th>

							<th style="width: 160px">
								<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
									<strong>Trạng thái</strong>
									<span class="caret-tb"></span>
								</p>
								<div class="dropdown bootstrap-select form-control form-control-sm">
									<ng-select class="" [items]="listStatus" placeholder="Trạng thái ..." bindLabel="text" bindValue="value" [(ngModel)]="dataSearch.status"
										[closeOnSelect]="true" (change)="dataStateChange()">
									</ng-select>
								</div>
							</th>
							<th style="width: 100px">
								<p class="mb-1 d-flex justify-content-between align-items-center label-thead"><strong>Thao tác</strong></p>
							</th>
						</tr>
					</ng-template>
					<ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
						<tr>
							<td>{{item.createdDate | date:'HH:mm'}} - {{item.createdDate | date: 'dd/MM/yyyy'}} </td>
							<td>{{item.fullName}}</td>
							<td>{{item.description}}</td>
							<td>
								<span *ngIf="item.status == 2" class="badge rounded-pill badge-outline-light bg-white">Chờ xử lý</span>
								<span *ngIf="item.status == 0" class="badge rounded-pill bg-red">Thất bại</span>
								<span *ngIf="item.status == 4" class="badge rounded-pill bg-blue2">Đã tiếp nhận</span>
								<span *ngIf="item.status == 5" class="badge rounded-pill badge-outline-green2">Chờ giải quyết</span>
								<span *ngIf="item.status == 6" class="badge rounded-pill bg-red">Từ chối giải quyết</span>
								<span *ngIf="item.status == 7" class="badge rounded-pill badge-outline-blue">Đang giải quyết</span>
								<span *ngIf="item.status == 8" class="badge rounded-pill badge-outline-success">Chờ phê duyệt</span>
								<span *ngIf="item.status == 9" class="badge rounded-pill bg-red">Từ chối phê duyệt</span>
								<span *ngIf="item.status == 1" class="badge rounded-pill badge-success">Thành công</span>
							</td>
							<td style="text-align: center;">
								<div class="d-flex justify-content-end">
									<a type="button" (click)="preDelete(item.id)" class="btn-icon grd-red text-white" data-toggle="modal" data-target="#modal-tc-pakn"><i
											class="bi bi-trash"></i></a>
								</div>
							</td>
						</tr>
					</ng-template>
					<ng-template pTemplate="emptymessage">
						<tr>
							<td class="text-center" colspan="7">Không có dữ liệu</td>
						</tr>
					</ng-template>
				</p-table>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modalConfirmDelete">
	<div class="modal-dialog modal-dialog-centered" style="max-width: 400px" role="document">
		<div class="modal-content rounded">
			<form class="form-horizontal">
				<div class="panel panel-default no-margin">
					<div class="modal-header" style="border: none;">
						<button class="close btn-close-modal" data-dismiss="modal">
							×
						</button>
						<!-- <p class="modal-title h3">Xác nhận</p> -->
					</div>
					<div class="modal-body no-padding-bottom" style="border: none;">
						<div style="text-align: center;">
							<strong class="change-status-title">Bạn có chắc chắn thực hiện hành động này?</strong>
						</div>
					</div>
					<div class="modal-footer" style="border: none; justify-content: center;">
						<button type="button" data-dismiss="modal" class="btn btn-outline-secondary border px-5" data-dismiss="modal">Hủy</button>
						<button type="button" class="btn btn-danger border-0 px-5 grd-blue" (click)="onDelete(idDelete)">Xác
							nhận</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
