<div class="breadcrumb title-module px-0 bg-transparent" style="text-transform: uppercase; font-size: 18px;font-weight: 600;">
	<span class="text-uppercase">Quản lý cơ quan, đơn vị</span>
</div>

<!-- row -->
<div class="container-fluid p-0">
	<div class="row ml-0">
		<div class="col-auto treeView px-0">
			<p class="p-3 h4 d-flex justify-content-between align-items-center shadow">
				<span class="text-uppercase">Danh sách đơn vị</span>
				<button type="button" class="btn grd-blue border-0 p-2 btn-sm text-white" (click)="modalCreateOrUpdate(0)" title="Thêm mới đơn vị">
					<i class="pi pi-plus"></i>
				</button>
			</p>
			<div class="center">
				<input class="form-control form-control-sm" style="width: 90%;" [(ngModel)]="titleSearch"  (blur)="onFilterTree()" (keydown.enter)="onFilterTree()" placeholder="Nhập...">
			
			</div>
			<p-tree id="tree-unit" [value]="treeUnit" [filter]="false" emptyMessage="Không tìm thấy đơn vị nào.">
				<ng-template let-node pTemplate="default" style="width:100%; overflow: hidden;">

					<a (click)="treeViewActive(node.id, node.unitLevel)" class="cursor-hand"
						[ngClass]="{'text-color-gray': ltsUnitIdNonActive.includes(node.id) == true,'text-color-blue':(unitObject.id && unitObject.id == node.id)}">
						<strong>{{node.name}}</strong>
					</a>
				</ng-template>
			</p-tree>
		</div>
		<div class="col pl-lg-0" *ngIf="unitObject.id">
			<div class="card mb-0 border-bottom rounded-0">
				<div class="card-header d-flex align-items-center">
					<p class="card-title d-flex align-items-center mb-0">
						<span *ngIf="unitObject.isActived">
							<span *hasNotPermission="['3', 'A_VII_4']" class="badge rounded-pill badge-success mr-3 cursor-hand">Hiệu lực</span>
							<span *hasPermission="['3', 'A_VII_4']" class="badge rounded-pill badge-success mr-3 cursor-hand" (click)="onOpenConfirmModal(unitObject.id,'unit_status')">Hiệu lực</span>
						</span>
						<span *ngIf="!unitObject.isActived">
							<span *hasNotPermission="['3', 'A_VII_4']" class="badge rounded-pill badge-light mr-3 cursor-hand">Hết hiệu lực</span>
							<span *hasPermission="['3', 'A_VII_4']" class="badge rounded-pill badge-light mr-3 cursor-hand" (click)="onOpenConfirmModal(unitObject.id,'unit_status')">Hết hiệu lực</span>
						</span>
						
						<span *hasPermission="['3', 'A_VII_1']">{{unitObject.name}}</span>
					</p>
					<div class="d-flex align-items-center">
						<button *ngIf="isUnitMain" type="button" title="Danh sách đơn vị được cấp quyền"
							class="btn grd-brown text-dark border-0 mr-3 py-2 px-3 cursor-hand"
							(click)="onOpenModalListUnit()"><i class="bi bi-person"></i>
							
						</button>
						<button *hasPermission="['3', 'A_VII_2']" type="button" title="Sửa đơn vị"
							class="btn grd-brown text-dark border-0 mr-3 py-2 px-3 cursor-hand"
							(click)="modalCreateOrUpdate(unitObject.id,unitObject.unitLevel)"><i class="bi bi-pencil-square mr-2"></i>
							Sửa
						</button>
						<button *hasPermission="['3', 'A_VII_3']" type="button" title="Xóa đơn vị"
							class="btn grd-red text-white border-0 py-2 px-3 cursor-hand" (click)="onOpenConfirmModal(unitObject.id,'unit')"><i
								class="bi bi-trash mr-2"></i>
							Xóa
						</button>
					</div>
				</div>
				<div class="card-body pt-0 pb-3"  *hasPermission="['3', 'A_VII_1']">
					<p class="card-text">{{unitObject.description}}</p>
				</div>
				<div class="card-footer d-sm-flex align-items-center"  *hasPermission="['3', 'A_VII_1']">
					<p class="card-text text-dark mb-0 mr-4">Số ĐT: <strong title="{{unitObject.phone}}">{{unitObject.phone}}</strong></p>
					<p class="card-text text-dark mb-0 mr-4">Email: <strong title="{{unitObject.email}}">{{unitObject.email}}</strong></p>
					<p class="card-text text-dark mb-0">Địa chỉ: <strong title="{{unitObject.address}}">{{unitObject.address}}</strong></p>
				</div>
			</div>
			<div id="accordion-four" class="accordion accordion-no-gutter accordion-bordered"  *hasPermission="['3', 'A_VIII_0']">
				<div class="accordion__item">
					<div class="accordion__header collapsed">
						<div class="d-flex justify-content-between align-items-center pr-5">
							<span class="accordion__header--text text-uppercase h4" id="title-user-in-unit" data-toggle="collapse" data-target="#bordered_no-gutter_collapseOne"
								aria-expanded="true" (click)="onCollapsed('item01')">Người dùng trong đơn vị</span>
							<div class="btn-group" role="group" [hidden]="!collapsed_checked['item01']">
								<button *hasPermission="['3', 'A_VIII_6']" type="button" title="Xuất excel"
									class="btn grd-brown3 btn-sm rounded border-0 mr-3 text-dark" (click)="onExport()">
									<i class="pi pi-file-excel"></i>
									Xuất excel
								</button>
								<span *ngIf="unitObject.isActived">
									<button *hasPermission="['3', 'A_VIII_1']" type="button" title="Thêm mới người dùng"
										class="btn grd-blue btn-sm rounded border-0 text-white" (click)="modalUserCreateOrUpdate(null)">
												<i class="pi pi-plus"></i>Thêm mới
									</button>
								</span>
								
							</div>
						</div>
						<span class="accordion__header--indicator style_two" data-toggle="collapse" data-target="#bordered_no-gutter_collapseOne" aria-expanded="true"
							[ngClass]="{'collapse-icon-up':collapsed_checked['item01']}" (click)="onCollapsed('item01')"></span>
					</div>
					<div id="bordered_no-gutter_collapseOne" class="accordion__body collapse show">
						<div class="table-responsive">
							<p-table #table [value]="listUserPaged" [rows]="20" [rowsPerPageOptions]="[20,30,50]" [totalRecords]="totalCount_User"
								currentPageReportTemplate="Tổng số {{table.totalRecords}}" [responsive]="true" [paginator]="true"
								[showCurrentPageReport]="true" autoLayout="true" tableStyleClass="table table-sd table-responsive-md table-striped mb-0">
								<ng-template pTemplate="header" class="bg-thead">
									<tr>
										<th style="width: 50px">
											<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
												<strong>#</strong>
											</p>
										</th>
										<th>
											<p class="mb-1 d-flex justify-content-between align-items-center label-thead"
												[pSortableColumn]="'userName'" >
												<strong class="no-wrap">Tên đăng nhập <p-sortIcon [field]="'userName'"></p-sortIcon></strong>
											</p>
											<input placeholder="Nhập ..." type="text"
												class="form-control form-control-sm" [(ngModel)]="userName" trim [ngSwitch]="'userName'" 
												(keydown.enter)="table.filter($event?.target.value.trim(), 'userName', 'contains')">
											<button *ngIf="userName" class="btn bg-transparent btn-clear-input" (click)="userName=''">
												<i class="fa fa-times"></i>
											</button>
										</th>
										<th>
											<p class="mb-1 d-flex justify-content-between align-items-center label-thead"
												[pSortableColumn]="'fullName'">
												<strong class="no-wrap">Tên người dùng <p-sortIcon [field]="'fullName'"></p-sortIcon></strong>
											</p>
											<input placeholder="Nhập ..." type="text" class="form-control form-control-sm" [(ngModel)]="fullName"
												trim [ngSwitch]="'fullName'" (keydown.enter)="table.filter($event?.target.value.trim(), 'fullName', 'contains')">
											<button *ngIf="fullName" class="btn bg-transparent btn-clear-input" (click)="fullName=''">
												<i class="fa fa-times"></i>
											</button>
										</th>
										<th style="min-width: 150px;">
											<p class="mb-1 d-flex justify-content-between align-items-center label-thead"
												[pSortableColumn]="'phone'">
												<strong class="no-wrap">Số điện thoại <p-sortIcon [field]="'phone'"></p-sortIcon></strong>
											</p>
											<input placeholder="Nhập ..." type="text" class="form-control form-control-sm"
												numbersOnly [ngSwitch]="'phone'" [(ngModel)]="phone"
												(keydown.enter)="table.filter($event?.target.value.trim(), 'phone', 'contains')">
											<button *ngIf="phone" class="btn bg-transparent btn-clear-input" (click)="phone=''">
												<i class="fa fa-times"></i>
											</button>
										</th>
										<th>
											<p class="mb-1 d-flex justify-content-between align-items-center label-thead"
											[pSortableColumn]="'isActived'">
												<strong class="no-wrap">Trạng thái <p-sortIcon [field]="'isActived'"></p-sortIcon></strong>
											</p>
											<div class="dropdown bootstrap-select form-control form-control-sm">
												<ng-select notFoundText="Không có dữ liệu"  [closeOnSelect]="true" [searchable]="false" 
													[items]="listStatus" bindLabel="text" bindValue="value"
													[ngSwitch]="'isActived'"
													(change)="table.filter($event?.value.toString(), 'isActived')"
													placeholder="Chọn...">
												</ng-select>
											</div>

										</th>
										<th class="text-right text-uppercase"><strong>Thao tác</strong></th>
									</tr>
								</ng-template>
								<ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
									<tr>
										<td>
											<strong>{{rowIndex+1}}</strong>
										</td>
										<td><strong>{{item.userName}}</strong></td>
										<td><strong>{{item.fullName}}</strong></td>
										<td>{{item.phone}}</td>
										<td>
											<p *ngIf="!item.isActived" style="margin-bottom: 0px;">
												<span *hasNotPermission="['3', 'A_VIII_5']" class="badge rounded-pill badge-light cursor-hand">Hết hiệu lực</span>
												<span *hasPermission="['3', 'A_VIII_5']" class="badge rounded-pill badge-light cursor-hand" (click)="onOpenConfirmModal(item.id,'user_status')">Hết hiệu lực</span>
											</p>
											<p *ngIf="item.isActived" style="margin-bottom: 0px;">
												<span *hasNotPermission="['3', 'A_VIII_5']" class="badge rounded-pill badge-success cursor-hand">Hiệu lực</span>
												<span *hasPermission="['3', 'A_VIII_5']" class="badge rounded-pill badge-success cursor-hand" (click)="onOpenConfirmModal(item.id,'user_status')">Hiệu lực</span>
											</p>
										</td>
										<td>
											<div class="d-flex justify-content-end">
												<a *hasPermission="['3', 'A_VIII_3']" href="javascript:void(0);"  title="Cập nhập người dùng"
													class="btn-icon grd-brown text-brown mr-2" (click)="modalUserCreateOrUpdate(item.id)"><i
														class="bi bi-pencil-square"></i></a>
												<a *hasPermission="['3', 'A_VIII_4']" href="javascript:void(0);" title="Xóa người dùng"
													class="btn-icon grd-red text-white" (click)="onOpenConfirmModal(item.id,'user')"><i
														class="bi bi-trash"></i></a>
											</div>
										</td>
									</tr>
								</ng-template>
								<ng-template pTemplate="emptymessage">
									<tr>
										<td class="text-center" colspan="6">Không có dữ liệu</td>
									</tr>
								</ng-template>
							</p-table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<app-user-create-or-update modalid="user-create-or-update-1" isOrganizational="true"></app-user-create-or-update>
<!-- Modal unit -->
<div class="modal fade" id="modal-create-or-update">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content rounded">
			<div class="modal-header border-bottom-0">
				<p class="modal-title h3">{{modalCreateOrUpdateTitle}}</p>
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span>
				</button>
			</div>
			<div class="modal-body pb-0">
				<div class="align-items-center form-group mb-4 border-bottom pb-3">
					<strong class="h4 mr-5">Cấp đơn vị:</strong>
					<label class="radio-inline mr-5"><input (click)="changeLevel($event,1)" [checked]="modelUnit.unitLevel == 1" class="radio-danger" type="radio" name="optradio"
							checked>
						<span class="text-uppercase"> Cấp tỉnh</span>
					</label>
					<label class="radio-inline mr-5"><input (click)="changeLevel($event,2)" [checked]="modelUnit.unitLevel == 2" type="radio" name="optradio">
						<span class="text-uppercase"> Cấp huyện</span>
					</label>
					<label class="radio-inline"><input (click)="changeLevel($event,3)" [checked]="modelUnit.unitLevel == 3" type="radio" name="optradio"> <span
							class="text-uppercase"> Cấp
							xã</span></label>
				</div>
				<form id="createUnitFrom" [formGroup]="createUnitFrom" (keydown.enter)="onSaveUnit()">
					<input hidden formControlName="unitLevel" [(ngModel)]="modelUnit.unitLevel">
					<div class="form-row">
						<div class="col-12 col-lg-8 form-group" [ngClass]="{'col-lg-4':modelUnit.unitLevel > 1,'col-lg-8':modelUnit.unitLevel == 1}">
							<label class="mb-1">Tên đơn vị <span class="cl-red">(*)</span></label>
							<input svTrim formControlName="name" [(ngModel)]="modelUnit.name" type="text" class="form-control" placeholder="Nhập..." id="unitId" maxlength="500">
							<div *ngIf="(unitFormSubmitted && fUnit.name.invalid)||(fUnit.name.invalid && (fUnit.name.dirty || fUnit.name.touched))" class="has-error m-b-12">
								<div *ngIf="fUnit.name.errors.required">
									<span class="help-block">Trường dữ liệu này không được để trống</span>
								</div>
							</div>
						</div>
						<input hidden value="0" formControlName="parentId" [(ngModel)]="modelUnit.parentId" *ngIf="modelUnit.unitLevel == 1">
						<div class="col-12 col-lg-4 form-group" *ngIf="modelUnit.unitLevel > 1">
							<label class="mb-1">Đơn vị cấp trên <span class="cl-red">(*)</span></label>
							<ng-select notFoundText="Không có dữ liệu"  formControlName="parentId" [(ngModel)]="modelUnit.parentId" class="
							form-control" placeholder="Chọn...">
								<ng-option *ngFor="let item of unitFlatlist | unitFilter:modelUnit.unitLevel-1" [value]="item.id">{{item.name}}</ng-option>
							</ng-select>
							<div *ngIf="(unitFormSubmitted && fUnit.parentId.invalid)||(fUnit.parentId.invalid && (fUnit.parentId.dirty || fUnit.parentId.touched))"
								class="has-error m-b-12">
								<div *ngIf="fUnit.parentId.errors.required">
									<span class="help-block">Trường dữ liệu này không được để trống</span>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-4 form-group">
							<label class="mb-1">Trạng thái <span class="cl-red">(*)</span></label>
							<ng-select notFoundText="Không có dữ liệu"  class="form-control" style="font-weight: bold;" [items]="listStatus" placeholder="Chọn..." bindLabel="text" bindValue="value"
								formControlName="isActived" [(ngModel)]="modelUnit.isActived" [closeOnSelect]="true" [searchable]="false">
							</ng-select>
							<div *ngIf="(unitFormSubmitted && fUnit.isActived.invalid)||(fUnit.isActived.invalid && (fUnit.isActived.dirty || fUnit.isActived.touched))"
								class="has-error m-b-12">
								<div *ngIf="fUnit.isActived.errors.required">
									<span class="help-block">Trường dữ liệu này không được để trống</span>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-5 form-group">
							<label class="mb-1">Email <span class="cl-red">(*)</span></label>
							<input formControlName="email" [(ngModel)]="modelUnit.email" type="mail" class="form-control" placeholder="Nhập..."
								(change)="onCheckExist('Email',$event.target.value)" maxlength="256">
							<div *ngIf="(unitFormSubmitted && fUnit.email.invalid)||(fUnit.email.invalid && (fUnit.email.dirty || fUnit.email.touched))" class="has-error m-b-12">
								<div *ngIf="fUnit.email.errors.required">
									<span class="help-block">Trường dữ liệu này không được để trống</span>
								</div>
								<div *ngIf="fUnit.email.errors.email">
									<span class="help-block">Định dạng email không đúng</span>
								</div>
							</div>
							<div *ngIf="checkExists['Email'] && fUnit.email.valid" class="has-error m-b-12">
								<div *ngIf="checkExists['Email']">
									<span class="help-block">Email đã tồn tại</span>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-3 form-group">
							<label class="mb-1">Thứ tự hiển thị</label>
							<input formControlName="index" [(ngModel)]="modelUnit.index" min="0" numbersOnly
								type="number" class="form-control" placeholder="Nhập...">
								<div *ngIf="unitFormSubmitted && modelUnit.index < 0" class="has-error m-b-12">
									<div>
										<span class="help-block">Số thứ tự hiển thị không được nhỏ hơn 0</span>
									</div>
								</div>
						</div>
						<div class="col-12 col-lg-4 form-group">
							<label class="mb-1">Số điện thoại <span class="cl-red">(*)</span></label>
							<input onlyNumber="true" stopLength="10" formControlName="phone" [(ngModel)]="modelUnit.phone" type="text" class="form-control" placeholder="Nhập..."
								pattern="^(84|0[3|5|7|8|9])+([0-9]{8})$" (change)="onCheckExist('Phone',$event.target.value)">
							<div *ngIf="(unitFormSubmitted && fUnit.phone.invalid)||(fUnit.phone.invalid && (fUnit.phone.dirty || fUnit.phone.touched))" class="has-error m-b-12">
								<div *ngIf="fUnit.phone.errors.required">
									<span class="help-block">Trường dữ liệu này không được để trống</span>
								</div>
								<div *ngIf="fUnit.phone.errors.pattern">
									<span class="help-block">Định dạng số điện thoại không đúng</span>
								</div>
							</div>
							<div *ngIf="checkExists['Phone'] && fUnit.phone.valid" class="has-error m-b-12">
								<div *ngIf="checkExists['Phone']">
									<span class="help-block">Số điện thoại đã tồn tại</span>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-12 form-group">
							<label class="mb-1">Địa chỉ</label>
							<input formControlName="address" [(ngModel)]="modelUnit.address" type="text" class="form-control" placeholder="Nhập..." maxlength="500">
						</div>
						<div class="col-12 col-lg-12 form-group">
							<label class="mb-1">Lĩnh vực</label>
							<ng-select notFoundText="Không có dữ liệu"  class="form-control"
								[items]="lstField" placeholder="Chọn..." bindLabel="text" bindValue="value"
								multiple="true" virtualScroll ="true" hideSelected = "true"
								formControlName="field" style="height: auto;"
								[(ngModel)]="listFieldSelected" [closeOnSelect]="true" [searchable]="false">
							</ng-select>
						</div>

						<div class="col-12 form-group">
							<label class="mb-1">Mô tả</label>
							<textarea [(ngModel)]="modelUnit.description" formControlName="description" class="form-control" rows="4" placeholder="Nhập..."
								maxlength="500"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer border-top-0">
				<button type="button" class="btn btn-outline-secondary border px-5" data-dismiss="modal">Hủy</button>
				<button type="button" (click)="onSaveUnit()" class="btn btn-danger border-0 px-5 grd-blue">Xác nhận</button>
			</div>
		</div>
	</div>
</div>
<!-- end modal unit -->


<!-- confirm modal -->
<div class="modal fade" id="modal-confirm">
	<div class="modal-dialog modal-dialog-centered modal-md" role="document" style="min-width: 500px;">
		<div class="modal-content rounded">
			<div class="modal-header border-bottom-0">
				<p class="modal-title h3">Xác nhận</p>
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span>
				</button>
			</div>
			<div class="modal-body pb-3 pt-3">
				<span>
					{{titleConfirm}}
				</span>
			</div>
			<div class="modal-footer border-top-0">
				<button type="button" class="btn btn-outline-secondary btn-sm border w-127" data-dismiss="modal">Hủy</button>
				<button type="button" class="btn btn-danger border-0 w-127 grd-blue btn-sm" (click)="acceptConfirm()">Xác nhận</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modalUnitsPermissionSMS">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="min-width: 90%;">
		<div class="modal-content rounded">
			<div class="modal-header border-bottom-0">
				<p class="modal-title h4">Danh sách đơn vị được cấp quyền gửi SMS</p>
				<button class="close btn-close-modal" data-dismiss="modal">
					×
				</button>
			</div>
			<div style="display: flex; margin: 10px 20px;">
				<div style="width: 15%;" class="text-center-x h4">Chọn đơn vị</div>
				<div style="width: 75%;">
					<ng-select notFoundText="Không có dữ liệu"  class="form-control" 
						[items]="listUnitNotPermission" style="height: auto;" 
						multiple="true" bindValue="value" bindLabel="text" 
						[(ngModel)]="listUnitAdd" [hideSelected]="true"
					>
					</ng-select>
				</div>
				<div style="width: 10%;" class="text-center-x">
					<button type="button" (click)="onAddUnitPermission()" class="btn grd-blue btn-sm rounded border-0 text-white text-center-x"
						style="width: 60%;">Thêm</button>
				</div>
			</div>
			<div class="modal-body pt-3 pb-3">
				<p-table #tableUnit [value]="listUnitPermission" [paginator]="true" [rows]="10" sortMode="multiple"
						[showCurrentPageReport]="true" [rowsPerPageOptions]="[20,30,50]"
						currentPageReportTemplate="Tổng số {{tableUnit.totalRecords}}" [totalRecords]="totalCount"
						[responsive]="true" 
						autoLayout="true"
						tableStyleClass="table table-sd table-responsive-md table-striped mb-0">
						<ng-template pTemplate="header" class="bg-thead">
							<tr>
								<th style="width: 50px">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>STT</strong>
									</p>
								</th>
								<th>
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead" 
										[pSortableColumn]="'name'">
										<strong>Tên đơn vị <p-sortIcon [field]="'name'"></p-sortIcon></strong>
									</p>
									<input class="form-control form-control-sm" maxlength="100" trim [(ngModel)]="unitListSearch.name"
										[ngSwitch]="'name'" (keydown.enter)="tableUnit.filter($event?.target.value.trim(), 'name', 'contains')"
									 	placeholder="Nhập..." />
									<button *ngIf="unitListSearch.name" class="btn bg-transparent btn-clear-input" (click)="unitListSearch.name=''">
										<i class="fa fa-times"></i>
									</button>
								</th>
								<th>
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead"
									[pSortableColumn]="'email'">
										<strong>Email<p-sortIcon [field]="'email'"></p-sortIcon></strong>
									</p>
									<input class="form-control form-control-sm" maxlength="100" trim [(ngModel)]="unitListSearch.email"
										[ngSwitch]="'email'" (keydown.enter)="tableUnit.filter($event?.target.value.trim(), 'email', 'contains')"
									 	placeholder="Nhập..." />
									<button *ngIf="unitListSearch.email" class="btn bg-transparent btn-clear-input" (click)="unitListSearch.email=''">
										<i class="fa fa-times"></i>
									</button>
								</th>
								<th>
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead"
									[pSortableColumn]="'phone'">
										<strong>Điện thoại <p-sortIcon [field]="'phone'"></p-sortIcon></strong>
									</p>
									<input class="form-control form-control-sm" maxlength="100" trim [(ngModel)]="unitListSearch.phone"
										[ngSwitch]="'phone'" (keydown.enter)="tableUnit.filter($event?.target.value.trim(), 'phone', 'contains')"
									 	placeholder="Nhập..." />
									<button *ngIf="unitListSearch.phone" class="btn bg-transparent btn-clear-input" (click)="unitListSearch.phone=''">
										<i class="fa fa-times"></i>
									</button>
								</th>
								<th>
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead"
									[pSortableColumn]="'address'">
										<strong>Địa chỉ<p-sortIcon [field]="'address'"></p-sortIcon></strong>
									</p>
									<input class="form-control form-control-sm" maxlength="100" trim [(ngModel)]="unitListSearch.address"
										[ngSwitch]="'address'" (keydown.enter)="tableUnit.filter($event?.target.value.trim(), 'address', 'contains')"
									 	placeholder="Nhập..." />
									<button *ngIf="unitListSearch.address" class="btn bg-transparent btn-clear-input" (click)="unitListSearch.address=''">
										<i class="fa fa-times"></i>
									</button>
								</th>
								
								<th class="text-right" style="width: 100px;">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Thao tác</strong>
									</p>
								</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
							<tr>
								<td class="text-center">{{rowIndex + 1}}</td>
								<td>
									<strong class="highlight">{{item.name}}</strong>
								</td>
								<td>
									<a class="ellipsis text-dark" type="button">{{item.email}}</a>
								</td>
								<td>
									<a class="ellipsis text-dark" type="button">{{item.phone}}</a>
								</td>
								<td>
									<a class="ellipsis text-dark" type="button">{{item.address}}</a>
								</td>
							
								<td style="text-align: center;">
									<div class="d-flex justify-content-end">
										<a type="button"  (click)="onDeleteUnitPermission(item.unitId)" class="btn-icon grd-red text-white"><i
												class="bi bi-trash"></i></a>
									</div>
								</td>
							</tr>
						</ng-template>
						<ng-template pTemplate="emptymessage">
							<tr>
								<td class="text-center" colspan="7">Không có dữ liệu</td>
							</tr>
						</ng-template>
					</p-table>
			</div>
		</div>

	</div>
</div>
