<div class="row">
	<div class="col-md-3">
		tree view
	</div>
	<div class="col-md-9">
		<div class="accordion" id="accordionExample">
			<div class="card margin-bot-unset">
				<div class="card-header" id="headingOne">
					<!-- <h4 class="mb-0 h4 collapse-header-title">
						người dùng trong đơn vị
					</h4> -->
					<div class="header-left w-100 justify-content-between pr-5">
						<p class="mb-0 h4 text-uppercase">người dùng trong đơn vị</p>
						<div class="nav-table">
							<div class="d-flex align-items-center">
								<button type="button" class="btn btn-outline-secondary mr-2 p-2">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
										<path fill-rule="evenodd"
											d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
									</svg>
								</button>
								<div class="border d-flex align-items-center border-dark px-2 rounded">
									<input type="number" value="1" class="border-0 p-0 number-page-table text-right paging-input">
									<span>/20</span>
								</div>
								<button type="button" class="btn btn-outline-secondary ml-2 p-2">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
										<path fill-rule="evenodd"
											d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
									</svg>
								</button>
							</div>
						</div>
						<div class="btn-group" role="group">
							<button class="btn grd-xanhngoc btn-sm rounded border-0 mr-3 text-white" type="button">
								<i class="fa fa-plus"></i>&nbsp;
								Thêm mới
							</button>
							<button class="btn grd-brown3 btn-sm rounded border-0text-dark" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
								aria-controls="collapseOne">
								<i class="fa fa-angle-down"></i>
							</button>
						</div>
					</div>

				</div>

				<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-sd table-responsive-md table-striped mb-0">
								<thead class="bg-thead">
									<tr>
										<th>#</th>
										<th>
											<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
												<strong class="text-uppercase">Tên đăng nhập</strong>
												<span class="caret-tb"></span>
											</p>
											<input type="text" class="form-control form-control-sm">
										</th>
										<th>
											<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
												<strong>tên người dùng</strong>
												<span class="caret-tb"></span>
											</p>
											<input type="text" class="form-control form-control-sm">
										</th>
										<th>
											<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
												<strong>Số điện thoại</strong>
												<span class="caret-tb"></span>
											</p>
											<input type="text" class="form-control form-control-sm">
										</th>
										<th>
											<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
												<strong>trạng thái</strong>
												<span class="caret-tb"></span>
											</p>
											<select class="form-control form-control-sm">
												<option>Option 1</option>
												<option>Option 2</option>
												<option>Option 3</option>
											</select>
										</th>
										<th class="text-right"><strong>Thao tác</strong></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>
											<strong>1.005321</strong>
										</td>
										<td><strong>Công ty cổ phần công nghệ Abc</strong></td>
										<td>
											<p class="text-2line mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis totam corporis quo magnam quas cum,
												temporibus obcaecati, corrupti, unde esse ea accusamus, nisi hic atque ad minus vitae autem commodi!</p>
										</td>
										<td>
											<span class="badge rounded-pill badge-outline-light bg-white">Chờ xử lý</span>
										</td>
										<td>
											<div class="d-flex justify-content-end">
												<a href="#" class="btn-icon grd-xanhngoc text-white mr-2"><i class="bi bi-file-earmark-check"></i></a>
												<a href="#" class="btn-icon grd-red text-white mr-2" data-toggle="modal" data-target="#modal-tc-pakn"><i
														class="bi bi-file-earmark-break"></i></a>
												<a href="#" class="btn-icon" data-toggle="modal" data-target="#modal-history-pakn"><i class="bi bi-clock-history"></i></a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="card margin-bot-unset">
				<div class="card-header" id="headingTwo">
					<h4 class="mb-0 h4 collapse-header-title">
						danh sách đơn vị cấp dưới
					</h4>
					<button class="btn btn-outline-secondary ml-2 p-2" type="button">
						<i class="fa fa-plus"></i>&nbsp;
						Thêm mới
					</button>
					<button class="btn btn-outline-secondary ml-2 p-2" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
						aria-controls="collapseTwo">
						<i class="fa fa-angle-down"></i>
					</button>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
					<div class="card-body">
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
						brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
						shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
						Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
