.dashboardContainer {
  width: 100%;
  height: 100%;
  position: fixed;
}

.componentsContainer {
  position: fixed;
  bottom: 0;
  top: 100px;
  width: 100%;
}

.componentContainer {
  overflow: auto;
  position: absolute;
}


.menucontextText {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

