<div class="content-nd">
	<div class="container">
		<div class="row justify-content-between pt-5">
			<div class="col main-ct pr-3 pr-lg-5">
				<div class="box mt-3 mb-4">
					<div class="tt-v1 mb-3">
						<h4 class="text-uppercase">{{title}}</h4>
					</div>
					<div class="d-flex justify-content-between">
						<div class="d-flex search-ct">
							<input [(ngModel)]="query.keyword" (keydown.enter)="changeKeySearch($event)" class="form-control pr-5" type="text"
								placeholder="Nhập tiêu đề Phản ánh, kiến nghị..." aria-label="Search">
							<button type="button" class="btn px-3 grd-blue" style="margin-left: -20px" (click)="changeKeySearch($event)">
								<svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										d="M23.7871 22.7761L17.9548 16.9437C19.5193 15.145 20.4665 12.7982 20.4665 10.2333C20.4665 4.58714 15.8741 0 10.2333 0C4.58714 0 0 4.59246 0 10.2333C0 15.8741 4.59246 20.4665 10.2333 20.4665C12.7982 20.4665 15.145 19.5193 16.9437 17.9548L22.7761 23.7871C22.9144 23.9255 23.1007 24 23.2816 24C23.4625 24 23.6488 23.9308 23.7871 23.7871C24.0639 23.5104 24.0639 23.0528 23.7871 22.7761ZM1.43149 10.2333C1.43149 5.38004 5.38004 1.43681 10.2279 1.43681C15.0812 1.43681 19.0244 5.38537 19.0244 10.2333C19.0244 15.0812 15.0812 19.035 10.2279 19.035C5.38004 19.035 1.43149 15.0865 1.43149 10.2333Z"
										fill="#fff"></path>
								</svg>
							</button>
						</div>
						<!-- <button type="button" class="btn text-white border-0 grd-xanhngoc">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-file-earmark-arrow-up" viewBox="0 0 16 16">
								<path d="M8.5 11.5a.5.5 0 0 1-1 0V7.707L6.354 8.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 7.707V11.5z" />
								<path
									d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
							</svg>
							<span class="ml-2" style="text-transform: none;" (click)="redirectCreateRecommendation()">Gửi phản ánh kiến nghị</span>
						</button> -->
					</div>
				</div>
				<div class="box" *ngIf="[1,2,4].includes(query.src)">
					<div *ngIf="listData.length == 0" style="text-align: center;">
						<strong>Không tìm thấy dữ liệu</strong>
					</div>
					<div class="card border" *ngFor="let item of listData">
						<div class="card-header pt-3 pb-0 d-flex align-items-center">
							<div class="media align-items-center">
								<div class="avatar-circle mr-2" style="background: #EBF2FF; color: #5D90F1">
									<i class="bi bi-person"></i>
								</div>
								<div class="media-body">
									<p class="my-0 h5">{{item.createdBy}}</p>
								</div>
							</div>
							<span>{{item.createdDate}}</span>
						</div>
						<div class="card-body py-3">
							<p class="card-text mb-1">
								<a class="h4" href="javascrip:void(0)" [routerLink]="['../',query.src,item.id]">
									{{item.title}}
								</a>
							</p>
							<p class="card-text">
								<a class="text-2line" href="javascrip:void(0)" style="color: #222;" [routerLink]="['../',query.src,item.id]" [innerHTML]="item.content">
								</a>
							</p>
						</div>
					</div>
				</div>
				<nav aria-label="navigation" *ngIf="[1,2,4].includes(query.src)">
					<ul class="pagination pagination-lg justify-content-between align-items-center">
						<li class="page-item" [ngClass]="{ 'disabled': query.pageIndex === 1 }">
							<a (click)="changePagination(query.pageIndex - 1)" class="page-link border text-uppercase rounded-pill" href="javascript:void(0)" tabindex="-1"
								aria-disabled="true"><i class="bi bi-chevron-left mr-2"></i>Trước</a>
						</li>
						<li class="d-flex justify-content-center align-items-center">
							<a *ngIf="query.pageIndex > 4">...</a>
							<p class="mb-0 page-item" *ngFor="let item of pagination; let i = index" [ngClass]="{ 'active': item.index === query.pageIndex }">
								<a (click)="changePagination(item.index)" *ngIf="i - 3 < query.pageIndex && i + 5 > query.pageIndex" class="page-link"
									href="javascript:void(0)">{{item.index}}</a>
							</p>
							<a *ngIf="query.pageIndex < pagination.length -4">...</a>
						</li>
						<li class="page-item" [ngClass]="{ 'disabled': query.pageIndex === total }">
							<a (click)="changePagination(query.pageIndex + 1)" class="page-link border text-uppercase rounded-pill" href="javascript:void(0)">Sau<i
									class="bi bi-chevron-right ml-2"></i></a>
						</li>
					</ul>
				</nav>

				<!-- table view -->
				<p-table *ngIf="[3].includes(query.src)" #table [value]="listData" [lazy]="true" (onLazyLoad)="onPageChange($event)" [paginator]="true" [showCurrentPageReport]="true"
					currentPageReportTemplate="Tổng số {{total}}" [rows]="query.pageSize" [totalRecords]="total" [responsive]="true" autoLayout="true"
					tableStyleClass="table table-sd table-responsive-md table-striped mb-0">
					<ng-template pTemplate="header" class="bg-thead">
						<tr>
							<th style="width: 50px;">
								<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
									<strong>STT</strong>
								</p>
							</th>
							<th style="min-width: 200px;">
								<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
									<strong>Nội dung kiến nghị</strong>
								</p>
							</th>

							<th style="width: 200px; max-width: 250px;">
								<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
									<strong>Lĩnh vực</strong>
								</p>
							</th>

							<th style="width: 180px;">
								<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
									<strong>Trạng thái</strong>
								</p>
							</th>
							<th style="min-width: 200px;">
								<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
									<strong>Kết quả giải quyết</strong>
								</p>
							</th>
						</tr>
					</ng-template>
					<ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
						<tr>
							<td class="text-center">{{rowIndex + 1}}</td>
							<td>
								<p [innerHTML]="item.content" class="text-2line pointer font-w600" title="{{item.content}}" [routerLink]="['../',query.src,item.id]">
								</p>
							</td>
							<td>
								<p class="mb-0 text-2line" class="text-2line" title="{{item.content}}">{{item.fields}}</p>
							</td>
							<td>{{item.status}}</td>
							<td>
								<p [innerHTML]="item.reply" class="text-2line" title="{{item.content}}">
								</p>
							</td>
						</tr>
					</ng-template>
					<ng-template pTemplate="emptymessage">
						<tr>
							<td class="text-center" colspan="6">Không có dữ liệu</td>
						</tr>
					</ng-template>
				</p-table>

				<!-- end table view -->

			</div>
			<div class="col-12 col-lg-auto d-none d-lg-block sidebar-ct pl-3 pl-lg-0">
				<app-view-right></app-view-right>
			</div>
		</div>
	</div>
</div>
