<div class="content-nd">
	<div class="container">
		<div class="row justify-content-between pt-5">
			<div class="col main-ct pr-3 pr-lg-5">
				<ol class="breadcrumb px-0 bg-transparent">
					<li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
					<li class="breadcrumb-item active"><a href="#">Danh sách thủ tục hành chính</a></li>
				</ol>
				<div class="table-responsive">
					<table class="table table-tthc table-bordered table-striped rounded overflow-hidden mb-4">
						<tbody>
							<tr>
								<th scope="row">Tên thủ tục</th>
								<td class="h4">Cấp Giấy chứng nhận đủ điều kiện an toàn thực phẩm đối với cơ sở sản xuất, kinh doanh thực phẩm do Sở Công Thương thực hiện</td>
							</tr>
							<tr>
								<th scope="row">Cấp tiếp nhận</th>
								<td>Cơ quan chuyên môn</td>
							</tr>
							<tr>
								<th scope="row">Đơn vị tiếp nhận</th>
								<td>Cơ quan chuyên môn</td>
							</tr>
							<tr>
								<th scope="row">Lĩnh vực</th>
								<td>An toàn thực phẩm</td>
							</tr>
							<tr>
								<th scope="row">Mức độ trực tuyến</th>
								<td>Nộp trực tiếp</td>
							</tr>
							<tr>
								<th scope="row">Số bộ hồ sơ</th>
								<td>10</td>
							</tr>
							<tr>
								<th scope="row">Tổng thời gian giải quyết</th>
								<td>20 ngày làm việc</td>
							</tr>
							<tr>
								<th scope="row">Cơ quan thực hiện</th>
								<td>Sở Công Thương</td>
							</tr>
							<tr>
								<th scope="row">Cơ quan có thẩm quyền quyết định</th>
								<td>N/A</td>
							</tr>
							<tr>
								<th scope="row">Cơ quan được uỷ quyền</th>
								<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
							</tr>
							<tr>
								<th scope="row">Cách thức thực hiện</th>
								<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
							</tr>
							<tr>
								<th scope="row">Đối tượng thực hiện</th>
								<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
							</tr>
							<tr>
								<th scope="row">Cơ quan phối hợp</th>
								<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
							</tr>
							<tr>
								<th scope="row">Địa chỉ tiếp nhận hồ sơ</th>
								<td>Sở Công Thương Khánh Hòa - Khu liên cơ II - Số 04 Phan Chu Trinh - Nha Trang - Khánh Hòa</td>
							</tr>
							<tr>
								<th scope="row">Kết quả thực hiện</th>
								<td>Giấy chứng nhận cơ sở đủ điều kiện an toàn thực phẩm. - Văn bản thông báo (nếu có)</td>
							</tr>
							<tr>
								<th scope="row">Căn cứ pháp lý</th>
								<td>
									<p>1. Luật An toàn thực phẩm số 55/2010/QH12 ngày 17/6/2010;</p>

									<p>2. Nghị định số 15/2018/NĐ-CP ngày 02/02/2018 của Chính phủ quy định chi tiết thi hành một số điều của Luật an toàn thực phẩm;</p>

									<p class="mb-0">3. Nghị định số 17/2020/NĐ-CP ngày 05/02/2020 của Chính phủ sửa đổi, bổ sung một số điều của các Nghị định liên quan đến điều
										kiện đầu tư kinh doanh thuộc lĩnh vực quản lý nhà nước của Bộ Công Thương;</p>
								</td>
							</tr>
							<tr>
								<th scope="row">Yêu cầu hoặc điều kiện để thực hiện TTHC</th>
								<td>
									<p>
										1. Điều kiện chung: <br>
										Cơ sở sản xuất, kinh doanh thực phẩm thuộc trách nhiệm quản lý của Bộ Công Thương bao gồm: cơ sở sản xuất, kinh doanh các loại rượu, bia,
										nước giải khát, sữa chế biến, dầu thực vật, bột, tinh bột, bánh, mứt, kẹo.
									</p>

									<p class="mb-0">
										2. Điều kiện riêng: <br>
										Cơ sở sản xuất các sản phẩm thực phẩm có công suất thiết kế
									</p>
								</td>
							</tr>
							<tr>
								<th scope="row">Đánh giá tác động TTHC</th>
								<td>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis gravida non volutpat interdum eget commodo nisi. Pharetra enim nibh mauris
									lorem sollicitudin ut feugiat vitae. Adipiscing venenatis quis sapien, in elementum nibh varius lectus. Purus sed tincidunt at pulvinar egestas
									eu. Vestibulum, semper in odio arcu ut maecenas nisl consectetur.
								</td>
							</tr>
							<tr>
								<th scope="row">Ghi chú</th>
								<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis gravida non volutpat interdum eget commodo nisi. Pharetra enim nibh mauris
									lorem sollicitudin ut feugiat vitae.</td>
							</tr>
							<tr>
								<th scope="row">Thành phần hồ sơ</th>
								<td>
									<div class="tphs mb-3">
										<p>
											1. Giấy khai sinh (Bắt buộc)<br>
											- SL bản chính: 1<br>
											- SL bản sao: 10
										</p>
										<div class="media ">
											<img src="images/file-word.svg" class="mr-3 align-self-center" alt="...">
											<div class="media-body">
												<small>Mẫu đơn, tờ khai</small>
												<p class="mb-0">Giấy khai sinh.doc</p>
											</div>
										</div>
									</div>
									<div class="tphs">
										<p>
											2. Giấy khai sinh (Bắt buộc)<br>
											- SL bản chính: 1<br>
											- SL bản sao: 10
										</p>
										<div class="media ">
											<img src="images/file-word.svg" class="mr-3 align-self-center" alt="...">
											<div class="media-body">
												<small>Mẫu đơn, tờ khai</small>
												<p class="mb-0">Giấy khai sinh.doc</p>
											</div>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">Trình tự thực hiện</th>
								<td>
									<p>
										1. Công việc: Tiếp nhận hồ sơ<br>
										- Cơ quan thực hiện: Cục Y tế dự phòng - Bộ Y tế<br>
										- Thời gian: 3 ngày làm việc
										- kết quả: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget mattis blandit vestibulum.
									</p>
									<p class="mb-0">
										2. Công việc: Tiếp nhận hồ sơ<br>
										- Cơ quan thực hiện: Cục Y tế dự phòng - Bộ Y tế<br>
										- Thời gian: 3 ngày làm việc
										- kết quả: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget mattis blandit vestibulum.
									</p>
								</td>
							</tr>
							<tr>
								<th scope="row">Phí, Lệ phí</th>
								<td>
									<p>
										1. Mức phí: 50.000 đồng/hồ sơ<br>
										Mô tả: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget mattis blandit.
									</p>
									<p class="mb-0">
										2. Mức phí: 100.000 đồng/hồ sơ<br>
										Mô tả: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget mattis blandit.
									</p>
								</td>
							</tr>
							<tr>
								<th scope="row">Tài liệu đính kèm</th>
								<td>
									<div class="btn-group" role="group" aria-label="Basic example">
										<button type="button" class="btn py-0 px-3"><img src="images/file-pdf.svg" alt=""></button>
										<button type="button" class="btn py-0 px-3"><img src="images/file-word.svg" alt=""></button>
										<button type="button" class="btn py-0 px-3"><img src="images/file-excel.svg" alt=""></button>
										<button type="button" class="btn py-0 px-3"><img src="images/file-powerpoint.svg" alt=""></button>
										<button type="button" class="btn py-0 px-3"><img src="images/file-image.svg" alt=""></button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-12 col-lg-auto d-none d-lg-block sidebar-ct pl-3 pl-lg-0">
				<div class="sb-tk-pakn mb-4">
					<div class="tt-v1 pt-3 pb-3 d-flex justify-content-between">
						<h4 class="text-uppercase">Thống kê PAKN của tôi</h4>
						<h4 class="counter">60</h4>
					</div>
					<div class="card-body p-0">
						<p class="mb-1">Chờ xử lý
							<span class="pull-right font-weight-bold cl-yellow counter">20</span>
						</p>
						<div class="progress ">
							<div class="progress-bar grd-yellow1 progress-animated" style="width: 85%; height:6px;" role="progressbar">
							</div>
						</div>

						<p class="mb-1 mt-4">Đã tiếp nhận
							<span class="pull-right font-weight-bold cl-blue2 counter">12</span>
						</p>
						<div class="progress ">
							<div class="progress-bar grd-xanhngoc progress-animated" style="width: 35%; height:6px;" role="progressbar">
							</div>
						</div>

						<p class="mb-1 mt-4">Đã trả lời
							<span class="pull-right font-weight-bold cl-blue counter">13</span>
						</p>
						<div class="progress ">
							<div class="progress-bar grd-blue progress-animated" style="width: 40%; height:6px;" role="progressbar">
							</div>
						</div>

						<p class="mb-1 mt-4">Bị từ chối
							<span class="pull-right font-weight-bold cl-red counter">05</span>
						</p>
						<div class="progress ">
							<div class="progress-bar grd-red progress-animated" style="width: 15%; height:6px;" role="progressbar">
							</div>
						</div>

					</div>
				</div>

				<div class="sb-pakn-dqt mb-4">
					<div class="tt-v1 pt-3 pb-3">
						<h4 class="text-uppercase">PA-KN được quan tâm nhiều</h4>
					</div>
					<div class="bootstrap-media">
						<div class="media">
							<a href="#"><img class="mr-3 img-fluid rounded-0" width="60" src="./images/icon-vb.png" alt=""></a>
							<div class="media-body">
								<small>7:30 | 14/01/2021</small>
								<p class="mb-0 h5 text-3line"><a href="#">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
										odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in
										faucibus.</a></p>
							</div>
						</div>
						<div class="media mt-3 pt-3 border-top">
							<a href="#"><img class="mr-3 img-fluid rounded-0" width="60" src="./images/icon-vb.png" alt=""></a>
							<div class="media-body">
								<small>7:30 | 14/01/2021</small>
								<p class="mb-0 h5 text-3line"><a href="#">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
										odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in
										faucibus.</a></p>
							</div>
						</div>
						<div class="media mt-3 pt-3 border-top">
							<a href="#"><img class="mr-3 img-fluid rounded-0" width="60" src="./images/icon-vb.png" alt=""></a>
							<div class="media-body">
								<small>7:30 | 14/01/2021</small>
								<p class="mb-0 h5 text-3line"><a href="#">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
										odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in
										faucibus.</a></p>
							</div>
						</div>
					</div>
				</div>
				<a class="mb-4" href="#"><img class="img-fluid card shadow rounded img-hover" src="images/img-sb1.png" alt=""></a>
				<a class="mb-4" href="#"><img class="img-fluid card shadow rounded img-hover" src="images/img-sb2.png" alt=""></a>
				<div class="sb-lkWeb mb-4">
					<div class="tt-v1 pt-3">
						<h4 class="text-uppercase">liên kế website</h4>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item px-0">
							<a class="h5" href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit</a>
						</li>
						<li class="list-group-item px-0">
							<a class="h5" href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit</a>
						</li>
						<li class="list-group-item px-0">
							<a class="h5" href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit</a>
						</li>
						<li class="list-group-item px-0">
							<a class="h5" href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit</a>
						</li>
					</ul>
				</div>
				<a class="mb-4" href="#"><img class="img-fluid card shadow rounded img-hover" src="images/img-sb3.png" alt=""></a>
			</div>
		</div>
	</div>
</div>
