<div class="content-nd">
	<div class="container">
		<div class="row justify-content-between pt-5">
			<div class="col main-ct pr-3 pr-lg-5">
				<ol class="breadcrumb px-0 bg-transparent">
					<li class="breadcrumb-item"><a href="/cong-bo/trang-chu">Trang chủ</a></li>
					<li class="breadcrumb-item"><a routerLink="/cong-bo/thu-tuc-hanh-chinh">Danh sách thủ tục hành chính</a></li>
					<li class="breadcrumb-item active"><a class="font-weight-bold" href="javascript:void(0)">Chi tiết thủ tục hành chính</a></li>
				</ol>
				<p *ngIf="model && model.status != 3">Thủ tục hành chính chưa được công bố</p>
				
				<a target="_blank" href="{{'https://hanhchinhcong.khanhhoa.gov.vn/#/nguoidung/soanhoso?thutucId='+ model.administrationId + '&donvitiepnhanId=-2'}}">
					<p class="fs-italic mb-2" style="font-weight: bold;">Nộp hồ sơ</p>
				</a>
				<div class="table-responsive" *ngIf="model && model.status== 3">
					<table class="table table-tthc table-bordered table-striped rounded overflow-hidden mb-4">
						<tbody>
							<tr>
								<th scope="row">Tên thủ tục</th>
								<td class="h4">{{model.name}}</td>
							</tr>
							<tr>
								<th scope="row">Cấp tiếp nhận</th>
								<td>{{model.rankReceive}}</td>
							</tr>
							<tr>
								<th scope="row">Đơn vị tiếp nhận</th>
								<td>{{model.unitReceiveName}}</td>
							</tr>
							<tr>
								<th scope="row">Lĩnh vực</th>
								<td>{{model.fieldName}}</td>
							</tr>
							<tr>
								<th scope="row">Mức độ trực tuyến</th>
								<td><input disabled value="{{model.typeSend}}" type="checkbox" [checked]="model.typeSend"></td>
							</tr>
							<tr>
								<th scope="row">Số bộ hồ sơ</th>
								<td>{{model.fileNum}}</td>
							</tr>
							<tr>
								<th scope="row">Tổng thời gian giải quyết</th>
								<td>{{model.amountTime}} ngày kể từ khi nhận đủ hồ sơ hợp lệ</td>
							</tr>
							<tr>
								<th scope="row">Cơ quan thực hiện</th>
								<td>{{model.organization}}</td>
							</tr>
							<tr>
								<th scope="row">Cơ quan có thẩm quyền quyết định</th>
								<td>{{model.organizationDecision}}</td>
							</tr>
							<tr>
								<th scope="row">Cơ quan được uỷ quyền</th>
								<td>{{model.organizationAuthor}}</td>
							</tr>
							<tr>
								<th scope="row">Cách thức thực hiện</th>
								<td>{{model.proceed}}</td>
							</tr>
							<tr>
								<th scope="row">Đối tượng thực hiện</th>
								<td>{{model.object}}</td>
							</tr>
							<tr>
								<th scope="row">Cơ quan phối hợp</th>
								<td>{{model.organizationCombine}}</td>
							</tr>
							<tr>
								<th scope="row">Địa chỉ tiếp nhận hồ sơ</th>
								<td>{{model.address}}</td>
							</tr>
							<tr>
								<th scope="row">Kết quả thực hiện</th>
								<td>{{model.result}}</td>
							</tr>
							<tr>
								<th scope="row">Căn cứ pháp lý</th>
								<td>
									{{model.legalGrounds | htmlToPlaintext}}
								</td>
							</tr>
							<tr>
								<th scope="row">Yêu cầu hoặc điều kiện để thực hiện TTHC</th>
								<td>
									{{model.request | htmlToPlaintext}}
								</td>
							</tr>
							<tr>
								<th scope="row">Đánh giá tác động TTHC</th>
								<td>
									{{model.request | htmlToPlaintext}}
								</td>
							</tr>
							<tr>
								<th scope="row">Ghi chú</th>
								<td>{{model.request | htmlToPlaintext}}</td>
							</tr>
							<tr>
								<th scope="row">Thành phần hồ sơ</th>
								<td>
									<div class="tphs mb-3" *ngFor="let item of lstCompositionProfile; index as i">
										<p>
											<strong>{{i+1}}.</strong>{{item.nameExhibit}}<br>
											- SL bản chính: {{item.originalForm}}<br>
											- SL bản sao: {{item.copyForm}}
										</p>
										<div class="media ">
											<div class="media-body">
												<strong>Mẫu đơn, tờ khai</strong>
												<span *ngIf="!item.name" class="mt-2 text-dark">: Không có</span>
												<div class="attach-file row">
													<div class="col-auto mb-4" *ngIf="item.fileType == 1">
														<div class="alert alert-dark alert-dismissible fade show h-100 d-flex align-items-center">
															<a href="#" class="d-block text-center box-fileinput">
																<img src="../../../../assets/dist/images/file-word.svg" class="pull-left" alt="">
																<span class="mt-2 text-dark text-wrap text-2line">{{item.name}}</span>
															</a>
														</div>
													</div>
													<div class="col-auto mb-4" *ngIf="item.fileType == 2">
														<div class="alert alert-dark alert-dismissible fade show h-100 d-flex align-items-center">
															<a href="#" class="d-block text-center box-fileinput">
																<img src="../../../../assets/dist/images/file-excel.svg" class="pull-left" alt="">
																<span class="mt-2 text-dark text-wrap text-2line">{{item.name}}</span>
															</a>
														</div>
													</div>
													<div class="col-auto mb-4" *ngIf="item.fileType == 4">
														<div class="alert alert-dark alert-dismissible fade show h-100 d-flex align-items-center">
															<a href="#" class="d-block text-center box-fileinput">
																<img src="../../../../assets/dist/images/file-image.svg" class="pull-left" alt="">
																<span class="mt-2 text-dark text-wrap text-2line">{{item.name}}</span>
															</a>
														</div>
													</div>
													<div class="col-auto mb-4" *ngIf="item.fileType == 3">
														<div class="alert alert-dark alert-dismissible fade show h-100 d-flex align-items-center">
															<a href="#" class="d-block text-center box-fileinput">
																<img src="../../../../assets/dist/images/file-pdf.svg" class="pull-left" alt="">
																<span class="mt-2 text-dark text-wrap text-2line">{{item.name}}</span>
															</a>
														</div>
													</div>
													<div class="col-auto mb-4" *ngIf="item.fileType == 6">
														<div class="alert alert-dark alert-dismissible fade show h-100 d-flex align-items-center">
															<a href="#" class="d-block text-center box-fileinput">
																<img src="../../../../assets/dist/images/file-powerpoint.svg" class="pull-left" alt="">
																<span class="mt-2 text-dark text-wrap text-2line">{{item.name}}</span>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">Trình tự thực hiện</th>
								<td>
									<p *ngFor="let item of lstImplementationProcess; index as i">
										<strong>{{i+1}}.</strong> Công việc: {{item.name}}<br>
										- Cơ quan thực hiện: {{item.unit}}<br>
										- Thời gian: {{item.time}}<br>
										- Kết quả: {{item.result}}
									</p>
								</td>
							</tr>
							<tr>
								<th scope="row">Phí, Lệ phí</th>
								<td>
									<p *ngFor="let item of lstCharges; index as i">
										<strong>{{i+1}}.</strong> Mức phí: {{item.charges}} đồng/hồ sơ<br>
										Mô tả: {{item.description}}
									</p>
								</td>
							</tr>
							<tr>
								<th scope="row">Tài liệu đính kèm</th>
								<td>
									<div class="btn-group" role="group" aria-label="Basic example">
										<button type="button" class="btn py-0 px-3"><img src="images/file-pdf.svg" alt=""></button>
										<button type="button" class="btn py-0 px-3"><img src="images/file-word.svg" alt=""></button>
										<button type="button" class="btn py-0 px-3"><img src="images/file-excel.svg" alt=""></button>
										<button type="button" class="btn py-0 px-3"><img src="images/file-powerpoint.svg" alt=""></button>
										<button type="button" class="btn py-0 px-3"><img src="images/file-image.svg" alt=""></button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-12 col-lg-auto d-none d-lg-block sidebar-ct pl-3 pl-lg-0">
				<app-view-right></app-view-right>
			</div>
		</div>
	</div>
</div>
