<div class="container-fluid p-0">
	<div class="row">
		<div class="col-lg-12">
			<ol class="breadcrumb title-module px-0 bg-transparent mb-0">
				<li class="breadcrumb-item active"><a class="font-weight-bold">QUẢN LÝ DOANH NGHIỆP</a></li>
			</ol>
			<div class="btn-group group-button-table" role="group">
				<button type="button" class="btn grd-brown3 btn-sm rounded border-0 mr-3 text-dark" (click)="onChangeFileExcel()">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-excel mr-1" viewBox="0 0 16 16">
						<path
							d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z" />
						<path
							d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
					</svg>
					Nhập excel
				</button>
				<button type="button" class="btn grd-brown3 btn-sm rounded border-0 mr-3 text-dark" (click)="onExport()">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-excel mr-1" viewBox="0 0 16 16">
						<path
							d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z" />
						<path
							d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
					</svg>
					Xuất excel
				</button>
				<button type="button" class="btn grd-xanhngoc btn-sm rounded border-0 text-white" [routerLink]="['/quan-tri/ca-nhan-doanh-nghiep/them-moi/0']">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
						<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
					</svg>
				</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="card mb-0 shadow-none">
				<div class="table-responsive">

					<p-table #table [value]="listData" [lazy]="true" (onLazyLoad)="onPageChange($event)" [paginator]="true" [showCurrentPageReport]="true"
						currentPageReportTemplate="Tổng số {{totalRecords}}" [rows]="pageSize" [totalRecords]="totalRecords" [responsive]="true" autoLayout="true"
						tableStyleClass="table table-sd table-responsive-md table-striped mb-0">
						<ng-template pTemplate="header" class="bg-thead">
							<tr>
								<th style="width: 50px">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>STT</strong>
									</p>
								</th>
								<th style="width: 250px">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Doanh nhân</strong>
										<span class="caret-tb"></span>
									</p>
									<input class="form-control form-control-sm" [(ngModel)]="representativeName" maxlength="100" (keydown.enter)="dataStateChange()"
										placeholder="" />
								</th>
								<th>
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Địa chỉ trụ sở</strong>
										<span class="caret-tb" (click)="onSortUser('Address')"></span>
									</p>
									<input class="form-control form-control-sm" [(ngModel)]="this.dataSearch.address" maxlength="100" (keydown.enter)="dataStateChange()" />
								</th>
								<th style="width: 150px">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Số điện thoại</strong>
										<span class="caret-tb" (click)="onSortUser('Phone')"></span>
									</p>
									<input class="form-control form-control-sm" [(ngModel)]="this.dataSearch.phone" maxlength="11" (keydown.enter)="dataStateChange()" />
								</th>
								<th style="width: 250px">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Email</strong>
										<span class="caret-tb" (click)="onSortUser('Email')"></span>
									</p>
									<input class="form-control form-control-sm" [(ngModel)]="this.dataSearch.email" maxlength="256" (keydown.enter)="dataStateChange()" />
								</th>
								<th style="width: 160px">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Trạng thái</strong>
										<span class="caret-tb"></span>
									</p>
									<div style="width: 160px" class="dropdown bootstrap-select form-control form-control-sm">
										<ng-select class="" [items]="listStatus" placeholder="Trạng thái ..." bindLabel="text" bindValue="value" [(ngModel)]="isActived"
											[closeOnSelect]="true" (change)="dataStateChange()">
										</ng-select>
										<input hidden [(ngModel)]="dataSearch.status">
									</div>
								</th>
								<th class="text-right" style="width: 100px;">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Thao tác</strong>
									</p>
								</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
							<tr>
								<td class="text-center">{{rowIndex + 1}}</td>
								<td>
									<strong><a (click)="preView(item)" class="ellipsis text-dark" type="button" title="Xem chi tiết">{{item.representativeName}}</a></strong>
								</td>
								<td>{{item.address}}</td>
								<td>{{item.phone}}</td>
								<td>{{item.email}}</td>
								<td>
									<span type="button" *ngIf="item.isActived == true" (click)="onOpenConfirmModal(item.id,'isActived')" class="badge rounded-pill bg-success">Hiệu
										lực</span>
									<span type="button" *ngIf="item.isActived == false" (click)="onOpenConfirmModal(item.id,'isActived')" class="badge rounded-pill badge-light">Hết
										hiệu
										lực</span>
								</td>
								<td style="max-width: 100px;">
									<div class="d-flex justify-content-end">
										<a type="button" [routerLink]="['/quan-tri/ca-nhan-doanh-nghiep/them-moi/', item.id]" class="btn-icon grd-brown text-brown mr-2"><i
												class="bi bi-pencil-square"></i></a>
										<a type="button" (click)="onOpenConfirmModal(item.id,'individual')" class="btn-icon grd-red text-white" data-toggle="modal"
											data-target="#modal-tc-pakn"><i class="bi bi-trash"></i></a>
									</div>
								</td>
							</tr>
						</ng-template>
						<ng-template pTemplate="emptymessage">
							<tr>
								<td class="text-center" colspan="5">Không có dữ liệu</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- start confirm modal -->
<div class="modal fade" id="modal-confirm">
	<div class="modal-dialog modal-dialog-centered modal-md" role="document">
		<div class="modal-content rounded">
			<div class="modal-header border-bottom-0">
				<p class="modal-title h3">Xác nhận</p>
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span>
				</button>
			</div>
			<div class="modal-body pb-0">
				<span>
					Anh/chị có chắc chắn thực hiện hành động này?
				</span>
			</div>
			<div class="modal-footer border-top-0">
				<button type="button" class="btn btn-outline-secondary btn-sm border px-5" data-dismiss="modal">Hủy</button>
				<button type="button" class="btn btn-danger border-0 px-5 grd-blue btn-sm" (click)="acceptConfirm()">Đồng ý</button>
			</div>
		</div>
	</div>
</div>
<!-- end confirm modal -->
