<div class="container-fluid p-0">
	<div class="row">
		<div class="col-lg-12">
			<ol class="breadcrumb title-module px-0 bg-transparent mb-0">
				<li class="breadcrumb-item"><a>Cá nhân, Doanh nghiệp</a></li>
				<li class="breadcrumb-item active"><a class="font-weight-bold">Danh sách doanh nghiệp</a></li>
			</ol>
			<div class="btn-group group-button-table" role="group">
				<iframe src="" id="sampleFilesBusiness" hidden></iframe>
				<button type="button" class="btn grd-brown3 btn-sm rounded border-0 mr-3 text-dark" (click)="onDownFileExcel()">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-excel mr-1" viewBox="0 0 16 16">
						<path
							d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z" />
						<path
							d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
					</svg>
					File mẫu
				</button>

				<input type="file" #file [hidden]="true" id="excel-file" (change)="onExcelfileChange($event)">
				<button type="button" class="btn grd-brown3 btn-sm rounded border-0 mr-3 text-dark" (click)="onChangeFileExcel()" *hasPermission="['3', 'A_XVII_4']">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-excel mr-1" viewBox="0 0 16 16">
						<path
							d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z" />
						<path
							d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
					</svg>
					Nhập excel
				</button>
				<button type="button" class="btn grd-brown3 btn-sm rounded border-0 mr-3 text-dark" (click)="onExport()" *hasPermission="['3', 'A_XVII_7']">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-excel mr-1" viewBox="0 0 16 16">
						<path
							d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z" />
						<path
							d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
					</svg>
					Xuất excel
				</button>
				<button type="button" class="btn grd-xanhngoc btn-sm rounded border-0 text-white" *hasPermission="['3', 'A_XVII_0']" [routerLink]="['/quan-tri/ca-nhan-doanh-nghiep/them-moi/0']">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
						<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
					</svg>
					Thêm mới
				</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="card mb-0 shadow-none">
				<div class="table-responsive">

					<p-table #table [value]="listData" [lazy]="true" (onLazyLoad)="onPageChange($event)" [paginator]="true" [showCurrentPageReport]="true"
						currentPageReportTemplate="Tổng số {{totalRecords}}" [rows]="pageSize" [totalRecords]="totalRecords" [responsive]="true" autoLayout="true"
						tableStyleClass="table table-sd table-responsive-md table-striped mb-0">
						<ng-template pTemplate="header" class="bg-thead">
							<tr>
								<th style="width: 50px">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>STT</strong>
									</p>
								</th>
								<th style="width: 250px">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Doanh nghiệp</strong>
										<span class="caret-tb" (click)="onSortBusiness('RepresentativeName')"></span>
									</p>
									<input class="form-control form-control-sm" [(ngModel)]="representativeName" maxlength="100" (keydown.enter)="dataStateChange()"
										placeholder="Nhập ..." />
								</th>
								<th>
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Địa chỉ trụ sở</strong>
										<span class="caret-tb" (click)="onSortBusiness('Address')"></span>
									</p>
									<input class="form-control form-control-sm" [(ngModel)]="this.dataSearch.address" maxlength="100" (keydown.enter)="dataStateChange()"
										placeholder="Nhập ..." />
								</th>
								<th style="width: 150px">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Số điện thoại</strong>
										<span class="caret-tb" (click)="onSortBusiness('Phone')"></span>
									</p>
									<input class="form-control form-control-sm" [(ngModel)]="this.dataSearch.phone" maxlength="11" (keydown.enter)="dataStateChange()"
										placeholder="Nhập ..." />
								</th>
								<th style="width: 250px">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Email</strong>
										<span class="caret-tb" (click)="onSortBusiness('Email')"></span>
									</p>
									<input class="form-control form-control-sm" [(ngModel)]="this.dataSearch.email" maxlength="256" (keydown.enter)="dataStateChange()"
										placeholder="Nhập ..." />
								</th>
								<th style="width: 160px">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Trạng thái</strong>
										<span class="caret-tb" (click)="onSortBusiness('Status')"></span>
									</p>
									<div style="width: 160px" class="dropdown bootstrap-select form-control form-control-sm">
										<ng-select class="" [items]="listStatus" placeholder="Trạng thái ..." bindLabel="text" bindValue="value" [(ngModel)]="dataSearch.status"
											[closeOnSelect]="true" (change)="dataStateChange()">
										</ng-select>
									</div>
								</th>
								<th class="text-right" style="width: 100px;">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Thao tác</strong>
									</p>
								</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
							<tr>
								<td class="text-center">{{rowIndex + 1}}</td>
								<td>
									<strong>
										<a *hasNotPermission="['3', 'A_XVII_9']" class="ellipsis text-dark highlight" type="button" title="Xem chi tiết">{{item.business}}</a>
										<a *hasPermission="['3', 'A_XVII_9']" (click)="preView(item.id)" class="ellipsis text-dark highlight" type="button" title="Xem chi tiết">{{item.business}}</a>
									</strong>
								</td>
								<td>{{item.address}}</td>
								<td>{{item.phone}}</td>
								<td>{{item.email}}</td>
								<td>
									<p *ngIf="item.status == 0" style="margin-bottom: 0px;">
										<span *hasNotPermission="['3', 'A_XVII_8']" class="badge rounded-pill badge-light cursor">Hết hiệu lực</span>
										<span *hasPermission="['3', 'A_XVII_8']" class="badge rounded-pill badge-light cursor" (click)="onOpenConfirmModal(item.id,'Status')">Hết hiệu lực</span>
									</p>
									<p *ngIf="item.status == 1" style="margin-bottom: 0px;">
										<span *hasNotPermission="['3', 'A_XVII_8']" class="badge rounded-pill bg-success cursor">Hiệu lực</span>
										<span *hasPermission="['3', 'A_XVII_8']" class="badge rounded-pill bg-success cursor" (click)="onOpenConfirmModal(item.id,'Status')">Hiệu lực</span>
									</p>
								</td>
								<td style="max-width: 100px;">
									<div class="d-flex justify-content-end">
										<a *hasPermission="['3', 'A_XVII_1']" type="button" [routerLink]="['/quan-tri/ca-nhan-doanh-nghiep/them-moi/', item.id]" class="btn-icon grd-brown text-brown mr-2"><i
												class="bi bi-pencil-square"></i></a>
										<a *hasPermission="['3', 'A_XVII_2']" type="button" (click)="onOpenConfirmModal(item.id,'Individual')" class="btn-icon grd-red text-white" data-toggle="modal"
											data-target="#modal-tc-pakn"><i class="bi bi-trash"></i></a>
									</div>
								</td>
							</tr>
						</ng-template>
						<ng-template pTemplate="emptymessage">
							<tr>
								<td class="text-center" colspan="5">Không có dữ liệu</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- start confirm modal -->


<div class="modal fade" id="modal-confirm">
	<div class="modal-dialog modal-dialog-centered modal-md" style="min-width: 500px" role="document">
		<div class="modal-content rounded">
			<div class="modal-header border-bottom-0">
				<p class="modal-title h3">Xác nhận</p>
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span>
				</button>
			</div>
			<div class="modal-body pb-3 pt-3">
				<span>
					{{titleAccess}}
				</span>
			</div>
			<div class="modal-footer border-top-0">
				<button type="button" class="btn btn-outline-secondary btn-sm border px-5" data-dismiss="modal">Hủy</button>
				<button type="button" class="btn btn-danger border-0 px-5 grd-blue btn-sm" (click)="acceptConfirm()">Xác nhận</button>
			</div>
		</div>
	</div>
</div>

<!-- end confirm modal -->



<!-- detail modal -->


<div class="modal fade" id="modalDetail">
	<div class="modal-dialog modal-dialog-centered" style="min-width: 60%" role="document">
		<div class="modal-content rounded">
			<!-- <form class="form-horizontal"> -->
			<div class="panel panel-default no-margin">
				<div class="modal-header">
					<button class="close btn-close-modal" data-dismiss="modal">
						×
					</button>
					<p class="modal-title h3">Thông tin chi tiết</p>
				</div>
				<div class="modal-body no-padding-bottom">
					<p class="modal-title h4" style="padding-bottom: 0.5rem;">Thông tin người đại diện</p>
					<div class="row">
						<div class="col-sm-3">
							<strong class="control-label lb600">Tên người đại diện</strong>
							<p>{{modelDetail.representativeName}}</p>
						</div>
						<div class="col-sm-3">
							<strong class="control-label lb600">Email</strong>
							<p>{{modelDetail.email}}</p>
						</div>
						<div class="col-sm-3">
							<strong class="control-label lb600">Ngày sinh</strong>
							<p>{{modelDetail.representativeBirthDay | date: 'dd/MM/yyyy'}}</p>
						</div>
						<div class="col-sm-3">
							<strong class="control-label lb600">Số điện thoại</strong>
							<p>{{modelDetail.phone}}</p>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-3">
							<strong class="control-label lb600">Quốc tịch</strong>
							<p>{{modelDetail.nation}}</p>
						</div>
						<div class="col-sm-3">
							<strong class="control-label lb600">Tỉnh/Thành phố</strong>
							<p>{{modelDetail.provinceName}}</p>
						</div>
						<div class="col-sm-3">
							<strong class="control-label lb600">Huyện/Thị xã</strong>
							<p>{{modelDetail.districtName}}</p>
						</div>
						<div class="col-sm-3">
							<strong class="control-label lb600">Xã/Phường/Thị trấn</strong>
							<p>{{modelDetail.wardsName}}</p>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-3">
							<strong class="control-label lb600">Giới tính</strong>
							<p *ngIf="modelDetail.representativeGender == true">Nam</p>
							<p *ngIf="modelDetail.representativeGender == false">Nữ</p>
						</div>
						<div class="col-sm-9">
							<strong class="control-label lb600">Địa chỉ cụ thể</strong>
							<p>{{modelDetail.address}}</p>
						</div>
					</div>

					<p class="modal-title h4 title-detail">Thông tin doanh nghiệp</p>

					<div class="row">
						<div class="col-sm-6">
							<strong class="control-label lb600">Tên tổ chức, doanh nghiệp</strong>
							<p>{{modelDetail.business}}</p>
						</div>
						<div class="col-sm-3">
							<strong class="control-label lb600">Số chứng nhận ĐKKD</strong>
							<p>{{modelDetail.businessRegistration}}</p>
						</div>
						<div class="col-sm-3">
							<strong class="control-label lb600">Số quyết định thành lập</strong>
							<p>{{modelDetail.decisionOfEstablishing}}</p>
						</div>
						<div class="col-sm-3">
							<strong class="control-label lb600">Ngày cấp / Thành lập</strong>
							<p>{{modelDetail.dateOfIssue | date: 'dd/MM/yyyy'}}</p>
						</div>
						<div class="col-sm-3">
							<strong class="control-label lb600">Mã số thuế</strong>
							<p>{{modelDetail.tax}}</p>
						</div>
					</div>

					<p class="modal-title h4 title-detail">Địa chỉ cụ thể / Văn phòng đại diện</p>

					<div class="row">
						<div class="col-sm-4">
							<strong class="control-label lb600">Tỉnh thành phố</strong>
							<p>{{modelDetail.orgProvinceName}}</p>
						</div>
						<div class="col-sm-4">
							<strong class="control-label lb600">Quận / Huyện / Thị xã</strong>
							<p>{{modelDetail.orgDistrictName}}</p>
						</div>
						<div class="col-sm-4">
							<strong class="control-label lb600">Xã / Phường / Thị trấn</strong>
							<p>{{modelDetail.orgWardsName}}</p>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-4">
							<strong class="control-label lb600">Số điện thoại</strong>
							<p>{{modelDetail.orgPhone}}</p>
						</div>
						<div class="col-sm-4">
							<strong class="control-label lb600">Email</strong>
							<p>{{modelDetail.orgEmail}}</p>
						</div>
						<div class="col-sm-4">
							<strong class="control-label lb600">Địa chỉ cụ thể</strong>
							<p>{{modelDetail.orgAddress}}</p>
						</div>
					</div>

					<!-- <div class="row">
						<div class="col-sm-4">
							<strong class="control-label lb600">Giới tính</strong>
							<p *ngIf="model.gender == true">Nữ</p>
							<p *ngIf="model.gender == false">Nam</p>
						</div>
						<div class="col-sm-4">
							<strong class="control-label lb600">Ngày sinh</strong>
							<p>{{modelDetail.birthDate | date: 'dd/MM/yyyy'}}</p>
						</div>
						<div class="col-sm-4">
							<strong class="control-label lb600">Trạng thái</strong>
							<p *ngIf="model.isActived == true">Hiệu lực</p>
							<p *ngIf="model.isActived == false">Hết hiệu lực</p>
						</div>
					</div> -->
				</div>
			</div>
			<!-- </form> -->
		</div>
	</div>
</div>
