.help-block {
	color: red;
	font-size: 14px;
	font-style: italic;
}
.btn {
	display: block;
	width: 100%;
}
a.hight-light,i.bg-blue{
	color: #2E73D5;
}

.hight-light:hover {
	color: #ee5454;
}

a.hight-light:hover {
	color: #ee5454;
}
.img-fluid {
	width: 100%;
	/* height: 100%; */
	max-height: 100vh;
	object-fit: fill;
}
.custom-tab-1 {
	padding-top: calc((100vh - 610px) / 2);
}
.custom-show-pass{
	position: absolute;
	top: 12px;
	right: 17px;
	font-size: 20px;
}

.btn:focus, .btn:active:focus, .btn.active:focus{
	outline:none;
	box-shadow:none;
}
.btn-back-home{
	color: #212529;
	background-color: #c8c8c8;
	font-size: 20px;
}
p.info{
	font-family: 'Roboto';
	font-size: 17px;
	line-height: 23px;
}
.left-box{
	top: 50%;  
	left: 50%; 
	transform: translate(-50%, -50%);
	width:  100%;
	text-align:  center;
}
.title-top, .title-bottom{
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 27px;
	text-align: center;
}
.title-bottom{
	font-weight: 500;
	font-size: 34px;
	line-height: 60px;
}

.row{
	padding-left: 15px;
	padding-right: 15px;
	margin-right: calc(var(--bs-gutter-x)/ -2);
	margin-left: calc(var(--bs-gutter-x)/ -2);
}

.title-system{
	display: none;
}



@media (max-width: 575.98px)  { 
	.col{
		padding-left: 0px;
		padding-right: 0px;
	}
	.title-system{
		display: block;
	}
	.custom-tab-1{
		padding-top: 0px;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	
}


@media (max-width: 991.98px) {
	::-webkit-input-placeholder { /* Edge */
		font-size: 1rem;
	}
	
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
		font-size: 1rem;
	}
	
	::placeholder {
		font-size: 1rem;
	}
}

