.hover-active a :hover {
	font-size: 23px;
	cursor: pointer;
}
strong.highlight:hover {
	color: red;
}
strong.highlight {
	cursor: pointer;
}

.title-detail {
	font-size: 20px;
	color: #000;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
	color: #fff !important;
	background-color: #0283e1 !important;
	font-size: 1.2rem !important;
}

.change-status-title {
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 1.1rem;
}

/* popup nhac viec */
.alert-dark {
	border: 2px solid #e5e5e5;
	border-radius: 10px;
}

.list-remind {
	background: #fff9f3;
	border-radius: 10px;
	width: 100%;
	height: auto;
	padding: 20px;
	margin: 20px 0px 10px 0px;
}

.btn-remind {
	position: absolute;
	top: -20px;
	left: 20px;
	width: 130px;
	height: 38px;
	background: linear-gradient(180deg, rgba(255, 239, 223, 0.6) 0%, rgba(230, 190, 157, 0.6) 100%);
	border-radius: 10px;
	font-size: 17px;
	padding: 0px 5px;
	text-transform: none;
	color: #743f15;
	font-weight: 500;
	z-index: 1;
}

.item-remind {
	padding: 15px 0px;
	border-bottom: 1px solid #ebdfd1;
}
.sender-name {
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: center;
}
.create-date {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	display: flex;
	align-items: center;
	color: #464646;
}

p.content-remind {
	margin: 5px 0px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	color: #333333;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
}

.inputfile-4 + label {
	padding: 0px;
}
