<div class="panel panel-warning" style="margin:0!important; width: 95vw !important; height: 95vh; overflow: hidden">
	<div class="panel-heading" style="padding: 5px 15px; min-height: 35px;">
		<span class="title-ct uppercase no-margin hidden-xs">Xem tệp đính kèm</span>
		<button mat-dialog-close class="btn btn-xs rounded bg-white text-dark border pull-right ml-2"> <i class="bi bi-x mr-1"></i> Đóng </button>
		<button class="btn btn-success btn-xs pull-right ml-2" (click)="DownloadFile()"><i class="bi bi-download mr-1"></i> Tải về</button>
	</div>
	<div class="modal-body" style="width:100%;height:96%">
		<iframe *ngIf="!IsPDF && !IsIMG && !IsVideo" id="viewfile" class="no-border" style="width:100%;height:100%;text-align:center" src=""></iframe>
		<ng2-pdfjs-viewer *ngIf="IsPDF && !IsIMG && !IsVideo" #pdfViewer></ng2-pdfjs-viewer>
		<div *ngIf="!IsPDF && !IsIMG &&IsVideo">
			<video #videodemo id="videoPlayer" controls autoplay muted style="width: 100%; height: calc(100vh - 110px); left: 0px; top: 0px;">
				<source [src]="VideoSource" type="video/mp4" #sourcevideo>
			</video>
		</div>
		<div id="idOnHTML" *ngIf="IsIMG">
			<app-image-viewer [images]="listImg" [idContainer]="'idOnHTML'" [loadOnInit]="false" [showPDFOnlyOption]="false" [download]="false"></app-image-viewer>
		</div>
	</div>
</div>
