.input-addon {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	z-index: 10;
}

.border-right{
	border-right: 1px solid #C0C0C0 !important;
	border-radius: 10px !important;
}
