<div class="content-nd">
	<div class="container">
		<div class="row justify-content-between pt-5">
			<div class="col main-ct pr-3 pr-lg-5">
				<ol class="breadcrumb px-0 bg-transparent">
					<li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
					<li class="breadcrumb-item active"><a href="#" class="font-weight-bold">Phản ánh, Kiến nghị</a></li>
				</ol>
				<div class="box" *ngIf="!model" style="text-align: center;">
					<strong>Không tìm thấy dữ liệu</strong>
				</div>
				<div class="box" *ngIf="model">
					<p class="card-text h3 mb-3"><span style="font-weight: 300;">Kiến nghị về việc : </span>
						{{model.title || 'Không tiêu đề'}}
					</p>
					<div class="py-2 mb-4 d-flex justify-content-between align-items-center border-bottom border-top">
						<div class="media align-items-center">
							<div class="avatar-circle mr-2" style="background: #EBF2FF; color: #5D90F1">
								<i class="bi bi-person"></i>
							</div>
							<div class="media-body">
								<p class="my-0 h5">{{model.createdBy || 'Không tên'}}</p>
							</div>
						</div>
						<!-- <span>
							<p class="my-0 h5">Đơn vị tiếp nhận :</p> {{model.unitName}}
						</span> -->
						<span>
							<p class="my-0 h5" *ngIf="model.fields">Lĩnh vực :</p> {{model.fields}}
						</span>
						<span>{{model.createdDate}}</span>
					</div>
					<div class="media pb-4 border-bottom mb-4">
						<div class="mr-3">
							<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-chat-right-text" viewBox="0 0 16 16">
								<path
									d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z" />
								<path
									d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
							</svg>
						</div>
						<div class="media-body">
							<p class="h4 font-italic font-weight-bold">Nội dung kiến nghị:</p>
							<div innerHTML="{{model.content | Change}}" style="text-align: justify;">
              </div>

						</div>
					</div>
					<div class="media pb-4 mb-4">
						<div class="mr-3">
							<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#2bc155" class="bi bi-chat-left-text-fill" viewBox="0 0 16 16">
								<path
									d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z" />
							</svg>
						</div>
						<div class="media-body">
							<div innerHTML="{{model.reply | Change}}" style="text-align: justify;"></div>

							
						</div>
					</div>
				</div>
				
			</div>
			<div class="col-12 col-lg-auto d-none d-lg-block sidebar-ct pl-3 pl-lg-0">
				<app-view-right></app-view-right>
			</div>
		</div>
	</div>
</div>
