<div class="content-nd">
	<div class="container">
		<div class="row justify-content-between pt-5">
			<div class="col main-ct pr-3 pr-lg-5">
				<div class="box mt-3 mb-4">
					<div class="tt-v1 mb-3">
						<h4 class="text-uppercase">Danh sách kiến nghị cử tri Khánh Hòa</h4>
					</div>
					<div class="d-flex justify-content-between mb-4">
						<div class="d-flex search-ct">
							<input [(ngModel)]="keySearch" (keydown.enter)="getList()" class="form-control pr-5" style="height: 56px;" type="text"
								placeholder="Nhập mã số Phản ánh, kiến nghị/ Tên người gửi..." aria-label="Search">
							<button type="button" class="btn px-3 grd-blue" style="margin-left: -20px" (click)="getList()">
								<svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										d="M23.7871 22.7761L17.9548 16.9437C19.5193 15.145 20.4665 12.7982 20.4665 10.2333C20.4665 4.58714 15.8741 0 10.2333 0C4.58714 0 0 4.59246 0 10.2333C0 15.8741 4.59246 20.4665 10.2333 20.4665C12.7982 20.4665 15.145 19.5193 16.9437 17.9548L22.7761 23.7871C22.9144 23.9255 23.1007 24 23.2816 24C23.4625 24 23.6488 23.9308 23.7871 23.7871C24.0639 23.5104 24.0639 23.0528 23.7871 22.7761ZM1.43149 10.2333C1.43149 5.38004 5.38004 1.43681 10.2279 1.43681C15.0812 1.43681 19.0244 5.38537 19.0244 10.2333C19.0244 15.0812 15.0812 19.035 10.2279 19.035C5.38004 19.035 1.43149 15.0865 1.43149 10.2333Z"
										fill="#fff"></path>
								</svg>
							</button>
						</div>
						<button type="button" class="btn text-white border-0 grd-xanhngoc">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-file-earmark-arrow-up" viewBox="0 0 16 16">
								<path d="M8.5 11.5a.5.5 0 0 1-1 0V7.707L6.354 8.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 7.707V11.5z" />
								<path
									d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
							</svg>
							<span class="ml-2" style="text-transform: none;" (click)="redirectCreateRecommendation()">Gửi phản ánh kiến nghị</span>
						</button>
					</div>
					<p-table #table [value]="listData" [lazy]="true" (onLazyLoad)="onPageChange($event)" [paginator]="true" [showCurrentPageReport]="true"
						currentPageReportTemplate="Tổng số {{totalRecords}}" [rows]="pageSize" [totalRecords]="totalRecords" [responsive]="true" autoLayout="true"
						tableStyleClass="table table-sd table-responsive-md table-striped mb-0">
					
						<ng-template pTemplate="body" let-item let-rowIndex="rowIndex">

							<div class="box">
								<div class="card border">
									<div class="card-body py-4">
										<p class="card-text">
											<a class="h4" [routerLink]="['/cong-bo/phan-anh-kien-nghi/sync/he-thong-cu-tri-khanh-hoa/',item.electorId]" title="Xem chi tiết">
												<p class="text-2line mb-0" style="-webkit-line-clamp: 3;" [title]="item.content">{{item.content}}</p>
											</a>
										</p>
									</div>
									<div class="card-footer py-0 d-flex align-items-center">
										<div class="card-footer-link mb-0 border-right py-2" style="width: 30%">
											<p class="card-text text-dark d-inline">Đơn vị thực hiện: <strong class="ml-2">{{item.unitPreside}}</strong></p>
										</div>
										<div class="card-footer-link mb-0 pl-4 py-2">
											<p class="card-text text-dark d-inline">Nơi có kiến nghị: <strong class="ml-2">{{item.recommendationPlace}}</strong></p>
										</div>
									</div>
									<div class="card-footer py-0 d-flex align-items-center">
										<div class="card-footer-link mb-0 border-right py-2" style="width: 30%">
											<p class="card-text text-dark d-inline">Lĩnh vực: <strong class="ml-2">{{item.fieldName}}</strong></p>
										</div>
										<div class="card-footer-link mb-0 pl-4 py-2">
											<p class="card-text text-dark d-inline">Nhiệm kỳ: <strong class="ml-2">{{item.term}}</strong></p>
										</div>
									</div>
								</div>
							</div>
						</ng-template>
						<ng-template pTemplate="emptymessage">
							<tr>
								<td class="text-center" colspan="6">Không có dữ liệu</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>
			<div class="col-12 col-lg-auto d-none d-lg-block sidebar-ct pl-3 pl-lg-0">
				<app-view-right></app-view-right>
			</div>
		</div>
	</div>
</div>
