<div class="content-nd">
	<div class="container">
		<div class="row justify-content-between pt-4">
			<div class="col-lg-8 col-md-8">
				<ol class="breadcrumb px-0 bg-transparent">
					<li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
					<li class="breadcrumb-item"><a href="#" class="font-weight-bold">Thông báo chính quyền</a></li>
				</ol>
				<div *ngIf="viewDemo || model != null">
					<h1 style="line-height: 1.5; font-weight: 500;font-size: 28px;line-height: 34px;">
						<span *ngIf="viewDemo" style="color: red;">(Xem trước) </span>
						{{model.title}}
					</h1>
					<div class="mt-3 mb-2">
						<time style="font-size: 10pt;">
							<i class="pi pi-calendar"></i>&nbsp;
							{{model.createdDate | date:'HH:mm'}} <span>ngày</span> {{model.createdDate | date:'dd/MM/yyyy'}}
						</time>
					</div>
					<div class="contents" [innerHTML]="model.contents | oembed" style="text-align: justify;">
					</div>

					<div>
						<div class="mb-4" *ngIf="files">
							<ng-container>
								<div *ngFor="let file of files" class="file-att">
									<a *ngIf="file.fileType == 1" download href="javascript:void(0)" (click)="DownloadFile(file)"
										style="color: #333;">
										<img src="../../../../assets/dist/images/file-word.svg" style="width: 30px;padding-right: 5px;"
											alt="">
										<span class="small text-truncate">{{file.name.length > 15? file.name.slice(0,14) + "..." :
											file.name}}</span>
									</a>
									<a *ngIf="file.fileType == 2" download href="javascript:void(0)" (click)="DownloadFile(file)"
										style="color: #333;">
										<img src="../../../../assets/dist/images/file-excel.svg" style="width: 30px;padding-right: 5px;"
											alt="">
										<span class="small text-truncate">{{file.name.length > 15? file.name.slice(0,14) + "..." :
											file.name}}</span>
									</a>
									<a *ngIf="file.fileType == 3" download href="javascript:void(0)" (click)="DownloadFile(file)"
										style="color: #333;">
										<img src="../../../../assets/dist/images/file-pdf.svg" style="width: 30px;padding-right: 5px;"
											alt="">
										<span class="small text-truncate">{{file.name.length > 15? file.name.slice(0,14) + "..." :
											file.name}}</span>
									</a>
									<a *ngIf="file.fileType == 4" download href="javascript:void(0)" (click)="DownloadFile(file)"
										style="color: #333;">
										<img src="../../../../assets/dist/images/file-image.svg" style="width: 30px;padding-right: 5px;"
											alt="">
										<span class="small text-truncate">{{file.name.length > 15? file.name.slice(0,14) + "..." :
											file.name}}</span>
									</a>
									<a *ngIf="file.fileType == 6" download href="javascript:void(0)" (click)="DownloadFile(file)"
										style="color: #333;">
										<img src="../../../../assets/dist/images/file-powerpoint.svg"
											style="width: 30px;padding-right: 5px;" alt="">
										<span class="small text-truncate">{{file.name.length > 15? file.name.slice(0,14) + "..." :
											file.name}}</span>
									</a>
									<a *ngIf="file.fileType == 7" download href="javascript:void(0)" (click)="DownloadFile(file)"
										style="color: #333;">
										<img src="../../../../assets/dist/images/mp4-svgrepo-com.svg"
											style="width: 30px;padding-right: 5px;" alt="">
										<span class="small text-truncate">{{file.name.length > 15? file.name.slice(0,14) + "..." :
											file.name}}</span>
									</a>
									<span *ngIf="file.fileType != 6 && file.fileType != 5" class="pointer" appViewFile
										[linkfile]="file.fileAttach" [namefile]="file.name" title="Xem file">
										<i class="bi bi-eye"></i>
									</span>
								</div>
							</ng-container>
							<!-- bi bi-x -->
						</div>
					</div>
				</div>

				<p *ngIf="(viewDemo && !model) || !model">Thông báo chưa được công bố</p>

			</div>
			<div class="col-4 d-none d-lg-block sidebar-ct pl-3 pl-lg-0 mb-2">
				<app-statistics-right [isShowSatisfationChart]="true"></app-statistics-right>
			</div>
		</div>
	</div>
</div>