<div class="content-nd">
	<div class="container">
		<div class="row justify-content-between pt-5">
			<div class="col-9 main-ct pr-3 pr-lg-5 col-lg-9">
				<div class="clearfix">
					<span>Trang chủ / <strong>Tin tức sự kiện</strong></span>
					<!-- <a class="btn btn-sm btn-default border-1 border-brown pull-right" style="display: inline-block;" *ngIf="viewDemo"
						[routerLink]="['/quan-tri/tin-tuc/chinh-sua', model.id]">
						<i class="pi pi-arrow-left"></i>
						&nbsp;Quay lại
					</a> -->
				</div>
				<div *ngIf="viewDemo || model != null">
					<h1 style="line-height: 1.5; font-weight: 500;font-size: 28px;line-height: 34px;">
						<span *ngIf="viewDemo" style="color: red;">(Xem trước) </span>
						{{model.title}}
					</h1>
					<div class="mt-3 mb-2">
						<time style="font-size: 10pt;">
							<i class="pi pi-calendar"></i>&nbsp;
							{{model.createdDate | date:'HH:mm'}} <span class="text-uppercase">Ngày</span> {{model.createdDate | date:'dd/MM/yyyy'}}
						</time>
					</div>
					<div>
						<p style="font-weight: bold; text-align: justify;">
							{{model.summary}}
						</p>
					</div>
					<!-- [innerHTML]="model.contents" [innerHTML]="model.contents | oembed" -->
					<div class="contents" [innerHTML]="model.contents" style="text-align: justify;">
						<!-- <p>fghfhfg</p><p>dfgdfg</p><figure class="media"><div class="iframe-container"><iframe src="https://youtube.com/embed/dCMum2wlbgQ"></iframe></div></figure> -->
					</div>
				</div>
				<p *ngIf="(viewDemo && !model) || !model">Bài viết chưa được công bố</p>
				<div *ngIf="viewDemo || model">
					<div class="mb-4">
						<h5 class="pb-2 border-bottom text-uppercase" style="font-size: 14pt;">Bài viết liên quan khác</h5>
					</div>
					<div *ngIf="newsRelates && newsRelates.length == 0">Chưa có bài viết liên quan nào</div>
					<div *ngFor="let item of newsRelates; index as i" class="pb-2 mb-2 clearfix" [ngClass]="{'border-bottom':i < newsRelates.length-1}">
						<img style="width:130px; min-height: 65px;" [src]="item.imagePath" class="rounded pull-left border">
						<div class="col-md-9 pull-left">
							<h5 style="font-weight:normal;">
								<a [routerLink]="['/cong-bo/tin-tuc-su-kien/',item.id]" class="text-black">
									{{item.title}}
								</a>
							</h5>
							<time style="font-size: 11pt;">Ngày đăng: <strong>{{item.createdDate | date:'dd/MM/yyyy'}}</strong> </time>
						</div>
					</div>
				</div>
			</div>
			<div class="col-3 d-none d-lg-block sidebar-ct pl-3 pl-lg-0">
				<div class="sb-tk-pakn mb-4">
					<div class="d-flex search-ct" style="width: 100%; padding-bottom: 20px;">
						<input (keyup)="changeKeySearch($event)" (keydown.enter)="redirectNews()" class="form-control" style="border-radius: 10px; height: 45px;" type="text"
							placeholder="Nhập từ khóa..." aria-label="Search">
						<button type="button" class="btn px-3 grd-blue" style="margin-left: -20px; width: 45px; height: 45px;" (click)="redirectNews()">
							<svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M23.7871 22.7761L17.9548 16.9437C19.5193 15.145 20.4665 12.7982 20.4665 10.2333C20.4665 4.58714 15.8741 0 10.2333 0C4.58714 0 0 4.59246 0 10.2333C0 15.8741 4.59246 20.4665 10.2333 20.4665C12.7982 20.4665 15.145 19.5193 16.9437 17.9548L22.7761 23.7871C22.9144 23.9255 23.1007 24 23.2816 24C23.4625 24 23.6488 23.9308 23.7871 23.7871C24.0639 23.5104 24.0639 23.0528 23.7871 22.7761ZM1.43149 10.2333C1.43149 5.38004 5.38004 1.43681 10.2279 1.43681C15.0812 1.43681 19.0244 5.38537 19.0244 10.2333C19.0244 15.0812 15.0812 19.035 10.2279 19.035C5.38004 19.035 1.43149 15.0865 1.43149 10.2333Z"
									fill="#fff"></path>
							</svg>
						</button>
					</div>
					<div class="h3" style="text-transform: uppercase;font-weight: 500;
					font-size: 20px;
					line-height: 30px;">
						Tin tức nổi bật
					</div>
					<hr width="70%" style="margin: 0px; color: black;">
					<ul class="list-group list-group-flush">
						<ng-container *ngFor="let item of newsHightlight;let i = index">
							<li class="list-group-item px-0" *ngIf="i < 5">
								<div class="media">
									<a href="javascript:void(0)" (click)="redirectDetail(item.id)" class="image-box ratio-4-3 rounded mr-3" style="width: 6rem">
										<img class="image" style="object-fit: cover; width: 100%; height: 100%;" [src]="item.imagePath">
									</a>
									<div class="media-body">
										<small><span class="createDate" style="font-weight: 300; font-size: 13px; padding-left: 0px;">{{item.createdDate | date : 'HH:mm'}} ngày
												{{item.createdDate | date : 'dd/MM/yy'}}</span></small>
										<p class="h5 mb-0">
											<a class="text-2line" style="font-size: 15px; color: #3c3c3c;" href="javascript:void(0)"
												(click)="redirectDetail(item.id)">{{item.title}}</a>
										</p>
									</div>
								</div>
							</li>
						</ng-container>
					</ul>
				</div>
				<app-view-right></app-view-right>
			</div>
		</div>
	</div>
</div>
