<div class="content-nd">
	<div class="container">
		<div class="row justify-content-between margin-top-16">
			<div class="col-lg-8 col-md-8">
				<ol class="breadcrumb px-0 bg-transparent">
					<li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
					<li class="breadcrumb-item"><a href="#" class="font-weight-bold">Thông báo</a></li>
				</ol>
				<div *ngIf="viewDemo || model != null">
					<h1 style="line-height: 1.5; font-weight: 500;font-size: 28px;line-height: 34px;">
						<span *ngIf="viewDemo" style="color: red;">(Xem trước) </span>
						{{model.title}}
					</h1>
					<div class="mt-3 mb-2">
						<time style="font-size: 10pt;">
							<i class="pi pi-calendar"></i>&nbsp;
							{{model.createdDate | date:'HH:mm'}} <span>ngày</span> {{model.createdDate | date:'dd/MM/yyyy'}}
						</time>
					</div>
					<div class="contents" [innerHTML]="model.contents | oembed" style="text-align: justify;">
					</div>

					<div>
						<div class="mb-4" *ngIf="files">
							<ng-container>
								<div *ngFor="let file of files" class="file-att">
									<a *ngIf="file.fileType == 1" download href="javascript:void(0)" (click)="DownloadFile(file)"
										style="color: #333;">
										<img src="../../../../assets/dist/images/file-word.svg" style="width: 30px;padding-right: 5px;"
											alt="">
										<span class="small text-truncate">{{file.name.length > 15? file.name.slice(0,14) + "..." :
											file.name}}</span>
									</a>
									<a *ngIf="file.fileType == 2" download href="javascript:void(0)" (click)="DownloadFile(file)"
										style="color: #333;">
										<img src="../../../../assets/dist/images/file-excel.svg" style="width: 30px;padding-right: 5px;"
											alt="">
										<span class="small text-truncate">{{file.name.length > 15? file.name.slice(0,14) + "..." :
											file.name}}</span>
									</a>
									<a *ngIf="file.fileType == 3" download href="javascript:void(0)" (click)="DownloadFile(file)"
										style="color: #333;">
										<img src="../../../../assets/dist/images/file-pdf.svg" style="width: 30px;padding-right: 5px;"
											alt="">
										<span class="small text-truncate">{{file.name.length > 15? file.name.slice(0,14) + "..." :
											file.name}}</span>
									</a>
									<a *ngIf="file.fileType == 4" download href="javascript:void(0)" (click)="DownloadFile(file)"
										style="color: #333;">
										<img src="../../../../assets/dist/images/file-image.svg" style="width: 30px;padding-right: 5px;"
											alt="">
										<span class="small text-truncate">{{file.name.length > 15? file.name.slice(0,14) + "..." :
											file.name}}</span>
									</a>
									<a *ngIf="file.fileType == 6" download href="javascript:void(0)" (click)="DownloadFile(file)"
										style="color: #333;">
										<img src="../../../../assets/dist/images/file-powerpoint.svg"
											style="width: 30px;padding-right: 5px;" alt="">
										<span class="small text-truncate">{{file.name.length > 15? file.name.slice(0,14) + "..." :
											file.name}}</span>
									</a>
									<a *ngIf="file.fileType == 7" download href="javascript:void(0)" (click)="DownloadFile(file)"
										style="color: #333;">
										<img src="../../../../assets/dist/images/mp4-svgrepo-com.svg"
											style="width: 30px;padding-right: 5px;" alt="">
										<span class="small text-truncate">{{file.name.length > 15? file.name.slice(0,14) + "..." :
											file.name}}</span>
									</a>
									<span *ngIf="file.fileType != 6 && file.fileType != 5" class="pointer" appViewFile
										[linkfile]="file.fileAttach" [namefile]="file.name" title="Xem file">
										<i class="bi bi-eye"></i>
									</span>
								</div>
							</ng-container>
							<!-- bi bi-x -->
						</div>
					</div>
				</div>

				<p *ngIf="(viewDemo && !model) || !model">Thông báo chưa được công bố</p>
				<div *ngIf="viewDemo || model" class="mb-3">
					<h5 class="pb-0 border-top text-uppercase pt-3" style="font-size: 14pt;">Thông báo liên quan khác</h5>
					<div *ngIf="newsRelates && newsRelates.length == 0">Chưa có thông báo liên quan nào</div>
					<div class="box">
						<ul class="list-group list-group-flush">
							<li class="list-group-item px-0" *ngFor="let item of newsRelates">
								<div class="media">
									<div class="media-body">
										<p class="h3 my-1">
											<a class="text-2line title-item-article" style="font-weight: bold!important;"
												routerLink="/cong-bo/thong-bao-chinh-quyen/{{item.id}}">{{item.title}}</a>
										</p>
										<div class="createDate mb-2">{{item.createdDate | date : 'HH:mm'}} ngày {{item.createdDate | date :
											'dd/MM/yyyy'}}</div>
										<p class="mb-0 article-summary">
											<a routerLink="/cong-bo/thong-bao-chinh-quyen/{{item.id}}" class="text-2line">{{item.summary}}</a>
										</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-4 d-none d-lg-block sidebar-ct pl-3 pl-lg-0 mb-2">
				<app-statistics-right [isShowSatisfationChart]="true" [isShowNotification]="true"></app-statistics-right>
			</div>
		</div>
	</div>
</div>