.user {
  height: unset;
  float: right;
  display: flex;
  align-items: center;
}

  .user .respon {
    margin-left: 20px;
  }

  .user::before {
    border-left: 1px solid rosybrown;
    position: absolute;
    height: 72px;
    top: -10.2px;
  }

  .user img {
    margin: 0 5px;
  }

  .user .name {
    display: grid;
    margin-right: 20px;
  }

.name b {
  font-size: 15px;
}

h3 {
  margin: 0 0 5px;
}

.b-l {
  border-left: 1px solid #EAEAEA;
  position: absolute;
  height: 83px;
  top: -10px;
}

.timeline > li {
  margin-right: 0;
}

.department-name {
  display: flex;
  align-items: center;
  width: 100%;
}

  .department-name h4 {
    width: 90%;
  }

  .department-name .group-button {
    float: right;
    width: 10%;
  }

.department-phone {
  display: flex;
  margin-bottom: 10px;
}

  .department-phone .item {
    padding: 0 50px 0 0;
  }

.department-list {
  width: 350px;
  overflow: hidden;
}

.department-content {
  width: 100%;
/*  overflow: hidden;*/
}

.box {
  border-top: none;
  margin-bottom: unset;
}

.button-list {
  display: none;
}
.orgnization-timeline > li:last-child{
  margin-bottom: 0;
}

@media(max-width: 767px) {
  .user {
    display: block;
    float: left;
    width: 100%;
  }

    .user .respon {
      margin-left: 0;
    }

    .user .name {
      margin: 0 0 7px;
    }

  .hdnd b {
    float: right;
  }

  .button-list {
    display: block;
    border-bottom: 1px solid #ddd;
  }

  .department-list {
    width: 0;
  }

  .department-name {
    width: 100%;
    display: block;
    align-items: unset;
  }

    .department-name h4 {
      display: block;
      width: 100%;
    }

    .department-name .group-button {
      display: block;
      width: unset;
    }

  .department-phone {
    display: block;
  }

    .department-phone .item {
      padding: 0;
      display: block;
      clear: both;
      width: 100%;
    }

      .department-phone .item:first-child {
        padding-top: 5px;
      }

      .department-phone .item b {
        float: right;
      }
}

@media(min-width: 767px) {
  .department-list {
    width: 350px;
  }
}
