
<div class="panel-group">
  <section class="content-header">
    <div class="row">
      <ol class="breadcrumb">
        <li>
          <a class="text-black" routerLink="/business/business-management/dash-board">Trang chủ</a>
        </li>
        <li>
          <a class="text-black">Hệ thống</a>
        </li>
        <li>
          <a>Cơ cấu tổ chức</a>
        </li>
      </ol>
      <button class="btn btn-sm btn-previous pull-right" appSvBackButton><i class="far fa-undo-alt"></i> Quay lại</button>
    </div>
  </section>
  <section class="content n-d-t">
    <div class="panel panel-default">
      <div class="panel-heading" style="background: #FCFCFC;">
        <div class="row">
          <div class="col-md-7">
            <h4>{{modelDonVi.ten}}</h4>
            <div class="hdnd row">
              <div class="col-md-4 ">
                <span>Số điện thoại: </span>
                <label class="lb600">{{modelDonVi.soDienThoai}}</label>
              </div>
              <div class="col-md-4">
                <span>Email: </span>
                <label class="lb600">{{modelDonVi.email}}</label>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="user">
              <div class="b-l"></div>
              <span class="mx10">Người phụ trách: </span>
              <div class="name">
                <b>{{modelDonVi.hoTen}}</b>
                <small>{{modelDonVi.chucVu}}</small>
              </div>
              <div>
                <button type="button" class="btn btn-sm btn-default" title="Sửa" (click)="PreUpDateDepartment(modelDonVi)">
                  <i class="far fa-pen"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-12">
            <label class="lb600">Mô tả:</label>
            <p>{{modelDonVi.moTa}}</p>
          </div>
        </div>
      </div>
      <div class="button-list">
        <button class="btn btn-default btn-sm" (click)="openList()">
          <i class="fal fa-bars"></i>
        </button>
      </div>
      <div class="row">
        <div class="col-sm-12" style="display: flex">
          <div class="department-list" id="department-list">
            <div class="custom-organization-background" style="padding:0px">
              <p class="timeline-header isUnit">
                <a class="sv-pointer text-uppercase" (click)="GetListUserByDepartment(modelDonVi.ma)">{{modelDonVi.ten}}</a>
              </p>
              <p style="padding-left:10px">
                <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modalDepartment" (click)="preAddDepartment()" *hasPermission="['3', 'A_II_1']">
                  <i class="fal fa-plus"></i> Thêm mới
                </button>
              </p>

              <ul class="timeline orgnization-timeline">
                <ng-container *ngFor="let item of lstDepartments; let i = index">
                  <li *ngIf="item.level == 2">
                    <div class="timeline-item text-uppercase">
                      <i style="color:black" class="fas fa-circle"></i>
                      <span class="timeline-header"><a (click)="GetListUserByDepartment(item.ma)">{{item.ten}}</a></span>
                    </div>
                  </li>
                  <ng-container *ngIf="item.level == 2">
                    <li *ngFor="let child of item.departmentChildren" class="child text-uppercase">
                      <div class="timeline-item">
                        <i class="far fa-circle"></i>
                        <span class="timeline-header"><a (click)="GetListUserByDepartment(child.ma)">{{child.ten}}</a></span>
                      </div>
                    </li>
                  </ng-container>
                </ng-container>
              </ul>
            </div>
          </div>

          <div class="department-content" id="department-content">
            <div *ngIf="modelPhongBan" class="box-body">
              <div class="department-name">
                <h4>
                  <b>Phòng ban: {{modelPhongBan.ten}}</b>
                </h4>
                <div class="group-button">
                  <button class="btn btn-sm btn-default float-r m-l-5" title="Xóa" (appConfirmClick)="PreDeleteDepartment(modelPhongBan.ma)" *hasPermission="['3', 'A_II_3']">
                    <i class="far fa-trash"></i>
                  </button>
                  <button class="btn btn-sm btn-default float-r" title="Sửa" (click)="PreUpDateDepartment(modelPhongBan)" *hasPermission="['3', 'A_II_2']">
                    <i class="far fa-pen"></i>
                  </button>
                </div>
              </div>
              <div class="department-phone">
                <div class="item">
                  <span>Số điện thoại: </span>
                  <b>{{modelPhongBan.soDienThoai}}</b>
                </div>
                <div class="item">
                  <span>Email: </span>
                  <b>{{modelPhongBan.email}}</b>
                </div>
              </div>
              <div>
                <label>Mô tả:</label>
                <p>{{modelPhongBan.moTa}}</p>
              </div>
            </div>

            <div class="box-body">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-md-offset-6 col-md-6 panel-heading-group">
                      <div class="form-row">
                        <div class="search-item" *ngIf="modelPhongBan && modelPhongBan.isDonVi">
                          <input class="form-control" maxlength="255" [(ngModel)]="searchModel.phongBan" type="text" (keydown.enter)="dataStateChange()" placeholder="Nhập phòng ban..." />
                        </div>
                        <div class="search-item">
                          <input class="form-control" maxlength="255" [(ngModel)]="searchModel.ten" type="text" (keydown.enter)="dataStateChange()" placeholder="Nhập tên..." />
                        </div>
                        <div>
                          <button class="btn btn-primary btn-sm" (click)="dataStateChange()">
                            <i class="fal fa-search"></i>
                          </button>
                        </div>
                      </div>
                      <div class="btn-b-l" *ngIf="modelPhongBan && !modelPhongBan.isDonVi">
                        <button class="btn btn-sm btn-primary" (click)="onAddUser()">
                          <i class="far fa-user-plus"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <p-table #table [value]="lstData" [lazy]="true" (onLazyLoad)="onPageChange($event)" [paginator]="true" [rows]="searchModel.pageSize" [totalRecords]="searchModel.totalRecords" [rowsPerPageOptions]="[10,20,30]" [responsive]="true" autoLayout="true"
                         [showCurrentPageReport]="true" currentPageReportTemplate="Tổng số {{searchModel.totalRecords}}">
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 50px">
                        STT
                      </th>
                      <th>
                        Tên người dùng
                      </th>
                      <th>
                        Chức vụ
                      </th>
                      <th>
                        Email
                      </th>
                      <th>
                        Số điện thoại
                      </th>
                      <th>
                        Trạng thái
                      </th>
                      <th *ngIf="modelPhongBan && !modelPhongBan.isDonVi">
                        Hành động
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowIndex="rowIndex" let-user>
                    <tr>
                      <td class="text-center">{{rowIndex + 1}}</td>
                      <td>
                        <a (click)="GetUserInfo(user.ma)" title="Xem chi tiết">{{user.hoTen}}</a>
                      </td>
                      <td>{{user.chucVu}}</td>
                      <td>{{user.homThu}}</td>
                      <td class="text-center">{{user.dienThoai}}</td>
                      <td class="text-center">
                        <label class="inline">
                          <input id="id-pills-stacked" type="checkbox" (change)="UpdateStatus(user)" [(ngModel)]="user.kichHoat" class="ace ace-switch ace-switch-4">
                          <span class="lbl middle"></span>
                        </label>
                      </td>
                      <td class="text-center" *ngIf="modelPhongBan && !modelPhongBan.isDonVi">
                        <a (appConfirmClick)="RemoveUserFromDepartment(user.ma)">
                          <i title="Xóa" class="fal fa-user-minus"></i>
                        </a>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="7">
                        Không tìm thấy dữ liệu
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="modal fade" id="modalDepartment" tabindex="-1">
  <div class="modal-dialog" style="min-width:60%">
    <div class="panel panel-default no-margin">
      <div class="modal-header">
        <button class="close btn-close-modal" data-dismiss="modal">
          ×
        </button>
        <p class="title-ct no-margin ">Thông tin phòng ban</p>
      </div>
      <div class="modal-body no-padding-bottom">
        <form class="form-horizontal" [formGroup]="FormDepartment" #formDir="ngForm">
          <div class="row form-group">
            <div class="col-md-6">
              <label>Mã phòng ban <span class="text-danger">*</span></label>
              <input class="form-control" formControlName="code" type="text" [(ngModel)]="modelDepartment.code" maxlength="500" />
              <div *ngIf="(submitted && f.code.invalid)||(f.code.invalid && (f.code.dirty || f.code.touched))" class="has-error m-b-12">
                <div *ngIf="f.code.errors.required">
                  <span class="help-block">Trường dữ liệu này không được để trống</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label>Tên phòng ban <span class="text-danger">*</span> </label>
              <input class="form-control" formControlName="ten" type="text" [(ngModel)]="modelDepartment.ten" maxlength="500" />
              <div *ngIf="(submitted && f.ten.invalid)||(f.ten.invalid && (f.ten.dirty || f.ten.touched))" class="has-error m-b-12">
                <div *ngIf="f.ten.errors.required">
                  <span class="help-block">Trường dữ liệu này không được để trống</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-6">
              <label>Số điện thoại</label>
              <input class="form-control" formControlName="sdt" numbersOnly [(ngModel)]="modelDepartment.soDienThoai" minlength="9" maxlength="11" />
              <div *ngIf="(f.sdt.errors?.minlength && (f.sdt.dirty || f.sdt.touched))" class="has-error m-b-12">
                <div *ngIf="f.sdt.errors.minlength">
                  <span class="help-block">Số điện thoại không đúng định dạng</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label>Email</label>
              <input class="form-control" formControlName="email" type="text" [(ngModel)]="modelDepartment.email" maxlength="100" />
              <div *ngIf="(submitted && f.email.invalid) || (f.email.invalid && (f.email.touched))" class="has-error m-b-12">
                <div *ngIf="f.email.errors.email">
                  <span class="help-block">Trường dữ liệu này không đúng định dạng</span>
                </div>
              </div>
            </div>
          </div>

          <div class="row form-group" *ngIf="!isUnit">
            <div class="col-md-6">
              <label>Đơn vị cấp cha <span class="text-danger">*</span></label>
              <ng-select [items]="lstmaCapCha"
                         formControlName="maCapCha"
                         bindLabel="text"
                         bindValue="value"
                         [(ngModel)]="modelDepartment.maCapCha"
                         [closeOnSelect]="true"
                         groupBy="code"
                         [selectableGroup]="true">
                <ng-template ng-option-tmp let-item="item">
                  <div title="{{item.text}}">{{item.text}}</div>
                </ng-template>
              </ng-select>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <label>Mô tả </label>
              <textarea rows="5" class="form-control" formControlName="description" type="text" [(ngModel)]="modelDepartment.moTa" maxlength="500"></textarea>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <label>Người phụ trách</label>
              <ng-select [items]="lstUserThamGia" formControlName="nguoiPhuTrachId" bindLabel="text" bindValue="value" [(ngModel)]="modelDepartment.nguoiPhuTrachId" [closeOnSelect]="true">
                <ng-template ng-option-tmp let-item="item">
                  <div title="{{item.text}}">{{item.text}}</div>
                </ng-template>
              </ng-select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-sm btn-save" (click)="OnCreateDepartment()" *ngIf="(modelDepartment.ma == null || modelDepartment.ma == undefined) && checkViewDepartment == false"><i class="fal fa-save"></i> Lưu</button>
        <button class="btn btn-sm btn-save" (click)="OnUpDateDepartment(modelDepartment.ma)" *ngIf="(modelDepartment.ma != null && modelDepartment.ma != undefined) && checkViewDepartment == false"><i class="fal fa-save"></i> Lưu</button>
        <button class="btn btn-sm btn-default" data-dismiss="modal"><i class="far fa-times"></i> Hủy</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalShowUserInfo">
  <div class="modal-dialog" style="min-width: 60%">
    <div class="panel panel-default no-margin">
      <div class="modal-header">
        <button class="close btn-close-modal" data-dismiss="modal">
          ×
        </button>
        <p class="title-ct no-margin">Thông tin người dùng</p>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="form-group text-center">
            <label for="input-image">
              <img id="anhDaiDienNguoiDungAtDepartment" src="../../../assets/dist/img/image/DefaultAvatar.png" class="user-avatar" />
            </label>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-6">
            <label class="control-label">Tên người dùng: </label>
            <span> {{userInfo.hoTen}}</span>
          </div>
          <div class="col-sm-6">
            <label class="control-label">Tên đăng nhập: </label>
            <span> {{userInfo.tenDangNhap}}</span>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-6">
            <label class="control-label">Giới tính: </label>
            <span> {{gioiTinhText}}</span>

          </div>
          <div class="col-sm-6">
            <label class="control-label">Email: </label>
            <span> {{userInfo.homThu}}</span>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-6">
            <label class="control-label">Địa chỉ: </label>
            <span> {{userInfo.diaChi}}</span>
          </div>
          <div class="col-sm-6">
            <label class="control-label">Số điện thoại: </label>
            <span> {{userInfo.dienThoai}}</span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" (click)="NavagateToUser(userInfo.ma)" tabindex="4">
          <i class="fal fa-pen"></i> Sửa
        </button>
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" tabindex="5"><i class="fal fa-times"></i> Hủy</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-add-user">
  <div class="modal-dialog">
    <div class="panel panel-default no-margin">
      <div class="modal-header">
        <button class="close btn-close-modal" data-dismiss="modal">
          ×
        </button>
        <p class="title-ct no-margin">Thêm người dùng</p>
      </div>
      <div class="modal-body">
        <div class="row form-group">
          <div class="col-sm-12">
            <label class="control-label">Người dùng <span class="text-danger">*</span></label>
            <ng-select [items]="lstUser"
                       bindValue="value"
                       bindLabel="text"
                       [multiple]="true"
                       [closeOnSelect]="false"
                       [(ngModel)]="selectedUser">
            </ng-select>
          </div>
        </div>
      </div>
      <div class="modal-footer text-right">
        <button class="btn btn-sm btn-save" (click)="onSaveAdd()">
          <i class="fal fa-save"></i> Lưu
        </button>
        <button class="btn btn-sm btn-default m-l-5" data-dismiss="modal">
          <i class="far fa-times"></i> Hủy
        </button>
      </div>
    </div>
  </div>
</div>
