<div class="container-fluid p-0">
	<div class="row">
		<div class="col-lg-12">
			<ol class="breadcrumb title-module px-0 bg-transparent mb-0">
				<li class="breadcrumb-item"><a>Hệ thống</a></li>
				<li class="breadcrumb-item active"><a class="font-weight-bold"> Thông báo</a></li>
			</ol>
			<div class="btn-group group-button-table" role="group">
				<button type="button" class="btn grd-blue btn-sm rounded border-0 text-white" (click)="preCreate()">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
						<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
					</svg>
					Thêm mới
				</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="card mb-0 shadow-none">
				<div class="table-responsive">

					<p-table #table [value]="listData" [paginator]="true" [showCurrentPageReport]="true" [rowsPerPageOptions]="[20,30,50]"
						currentPageReportTemplate="Tổng số {{table.totalRecords}}" [rows]="20" [totalRecords]="totalRecords" [responsive]="true" autoLayout="true"
						tableStyleClass="table table-sd table-responsive-md table-striped mb-0">
						<ng-template pTemplate="header" class="bg-thead">
							<tr>
								<th style="width: 50px;">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>STT</strong>
									</p>
								</th>
								<th style="width: 220px;">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead" [pSortableColumn]="'title'">
										<strong>Tiêu đề <p-sortIcon [field]="'title'"></p-sortIcon></strong>
									</p>
									<input class="form-control form-control-sm" maxlength="100" trim [(ngModel)]="title" [ngSwitch]="'title'"
										(keydown.enter)="table.filter($event?.target.value.trim(), 'title', 'contains')" placeholder="Nhập..." />
									<button *ngIf="title" class="btn bg-transparent btn-clear-input" (click)="title=''">
										<i class="fa fa-times"></i>
									</button>
								</th>
								<th>
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead" [pSortableColumn]="'content'">
										<strong>Nội dung <p-sortIcon [field]="'content'"></p-sortIcon></strong>

									</p>
									<input type="text" class="form-control form-control-sm" trim [(ngModel)]="content" [ngSwitch]="'content'"
										(keydown.enter)="table.filter($event?.target.value.trim(), 'content', 'contains')" placeholder="Nhập...">
									<button *ngIf="content" class="btn bg-transparent btn-clear-input" (click)="content=''">
										<i class="fa fa-times"></i>
									</button>
								</th>
								<th style="width: 170px;">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead" [pSortableColumn]="'status'">
										<strong>Trạng thái <p-sortIcon [field]="'status'"></p-sortIcon></strong>

									</p>
									<div class="dropdown bootstrap-select form-control form-control-sm">
										<ng-select notFoundText="Không có dữ liệu" class="" [items]="listStatus" placeholder="Trạng thái ..." bindLabel="text" bindValue="value"
											[ngSwitch]="'status'" (change)="table.filter($event?.value.toString(), 'status')" [closeOnSelect]="true">
										</ng-select>
									</div>
								</th>
								<th style="width: 100px;" class="text-right"><strong>THAO TÁC</strong></th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
							<tr>
								<td class="text-center">{{rowIndex + 1}}</td>
								<td>
									<strong class="highlight"><a (click)="preView(item)" class="ellipsis" title="Xem chi tiết">{{item.title}}</a></strong>
								</td>
								<td>{{item.content}}</td>
								<td>
									<p *ngIf="item.status == 1" style="margin-bottom: 0px;">
										<span type="button" class="badge rounded-pill badge-light">Đang soạn thảo</span>
									</p>
									<p *ngIf="item.status == 2" style="margin-bottom: 0px;">
										<span type="button" class="badge rounded-pill bg-success">Công bố</span>
									</p>
								</td>
								<td style="text-align: center;">
									<div class="hover-active d-flex justify-content-end">
										<a *hasPermission="['3', 'C_IV_1']" (click)="preUpdate(item)" class="btn-icon grd-brown text-brown mr-2" title="Cập nhập"><i
												class="bi bi-pencil-square"></i></a>
										<a *hasPermission="['3', 'C_IV_2']" (click)="preDelete(item.id)" class="btn-icon grd-red text-white" data-toggle="modal"
											data-target="#modal-tc-pakn"><i class="bi bi-trash"></i></a>
									</div>
								</td>
							</tr>
						</ng-template>
						<ng-template pTemplate="emptymessage">
							<tr>
								<td class="text-center" colspan="5">Không có dữ liệu</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal">
	<div class="modal-dialog modal-dialog-centered" style="min-width: 60%" role="document">
		<div class="modal-content rounded">
			<form class="form-horizontal" [formGroup]="form" #formDir="ngForm">
				<div class="panel panel-default no-margin">
					<div class="modal-header" style="border: none;">
						<button class="close btn-close-modal" data-dismiss="modal">
							×
						</button>
						<p class="modal-title h3">Thông tin thông báo</p>
					</div>
					<div class="modal-body no-padding-bottom" style="border: none;">
						<div class="row form-group">
							<div class="col-sm-8">
								<label class="control-label">Tiêu đề <span class="text-danger">(*)</span></label>
								<input class="form-control" id="target" formControlName="title" [(ngModel)]="model.title" maxlength="150" placeholder="Nhập..." />
								<div *ngIf="(submitted && f.title.invalid) || (f.title.invalid && (f.title.dirty || f.title.touched))" class="has-error m-b-12">
									<div *ngIf="f.title.errors.required">
										<span class="help-block">Trường dữ liệu này không để trống</span>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<label class="control-label">Trạng thái <span class="text-danger">(*)</span></label>
								<ng-select notFoundText="Không có dữ liệu" class="form-control " [items]="listStatus" bindValue="value" placeholder="Chọn trạng thái"
									bindLabel="text" formControlName="status" [(ngModel)]="model.status" style="font-weight: 600;">
								</ng-select>
								<div *ngIf="(submitted && f.status.invalid) || (f.status.invalid && (f.status.dirty || f.status.touched))" class="has-error m-b-12">
									<div *ngIf="f.status.errors.required">
										<span class="help-block">Trường dữ liệu này không để trống</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row form-group">
							<div class="col-sm-12">
								<label class="control-label">Nội dung</label>
								<textarea class="form-control" formControlName="content" type="text" rows="10" [(ngModel)]="model.content" maxlength="2000"
									placeholder="Nhập..."></textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer border-top-0">
						<button type="button" data-dismiss="modal" class="btn btn-outline-secondary border px-5" data-dismiss="modal">Hủy</button>
						<button type="button" class="btn btn-danger border-0 px-5 grd-blue" (click)="onSave()">Xác nhận</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="modalDetail">
	<div class="modal-dialog modal-dialog-centered" style="max-width: 40%" role="document">
		<div class="modal-content rounded">
			<form class="form-horizontal">
				<div class="panel panel-default no-margin">
					<div class="modal-header" style="border: none;">
						<button class="close btn-close-modal" data-dismiss="modal">
							×
						</button>
						<p class="modal-title h3">Thông tin</p>
					</div>
					<div class="modal-body no-padding-bottom" style="padding: 1.1rem;">
						<div class="row" style="border-bottom: 1px solid #EEEEEE; padding: 10px 0px;">
							<div class="col-sm-12">
								<label class="control-label lb600 detail-title">Tiêu đề: </label>
								<strong>{{model.title}}</strong>
							</div>
						</div>
						<div class="row" style="border-bottom: 1px solid #EEEEEE; padding: 10px 0px;">
							<div class="col-sm-12">
								<label class="control-label lb600">Mô tả</label>
							</div>
							<div class="col-sm-12">
								<p style="white-space: break-spaces;">{{model.content}}</p>
							</div>
						</div>

						<div class="row" style="padding: 10px 0px;">
							<div class="col-sm-8">
								<label class="control-label lb600">Trạng thái</label>
							</div>
							<div class="col-sm-4" style="text-align: right;">
								<span style="padding: 7px;" *ngIf="model.status == 2" class="badge rounded-pill bg-success">Công bố</span>
								<span style="padding: 7px;" *ngIf="model.status == 1" class="badge rounded-pill badge-light">Đang soạn thảo</span>
							</div>
						</div>
					</div>
					<!-- <div class="modal-footer"> -->

					<!-- <button data-dismiss="modal" style="text-transform: none;" class="btn btn-primary btn-sm"> Đóng
							<i class="far fa-times"></i>
						</button> -->
					<!-- </div> -->
				</div>
			</form>
		</div>
	</div>
</div>


<div class="modal fade" id="modalConfirmDelete">
	<div class="modal-dialog modal-dialog-centered modal-md" style="min-width: 500px" role="document">
		<div class="modal-content rounded">
			<div class="modal-header border-bottom-0">
				<p class="modal-title h3">Xác nhận</p>
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span>
				</button>
			</div>
			<div class="modal-body pb-3 pt-3">
				<span>
					Anh/Chị có chắc chắn muốn xóa lĩnh vực này?
				</span>
			</div>
			<div class="modal-footer border-top-0">
				<button type="button" class="btn btn-outline-secondary btn-sm border w-127" data-dismiss="modal">Hủy</button>
				<button type="button" class="btn btn-danger border-0 w-127 grd-blue btn-sm" (click)="onDelete(idDelete)">Xác nhận</button>
			</div>
		</div>
	</div>
</div>
