<div class="authincation h-100 bg-login">
	<div class="container-fluid h-100">
		<div class="row justify-content-center h-100 align-items-center">
			<div class="col" style="padding: 0px;">
				<div class="authincation-content bg-transparent shadow-none">
					<div class="row no-gutters">
						<div class="col-xl-5 border-right border-brown remove-boder-right d-none d-md-block">
							<a href="/cong-bo"><img class="img-fluid" src="assets/dist/images/login-new.svg" alt=""></a>
						</div>
						<div class="col-sm-12 col-md d-flex justify-content-center align-items-center">
							<div class="auth-form" style="max-width: 450px">
								<h2 class="text-center mb-4 text-uppercase cl-brown">Lấy lại mật khẩu</h2>
								<p class="text-center cl-brown">Nhập số điện thoại bạn đã đăng ký, Chúng tôi sẽ gửi otp qua số điện thoại đó cho bạn.</p>
								<form class="login100-form validate-form flex-sb flex-w" [formGroup]="forgetPasswordForm" #formDir="ngForm" (ngSubmit)="forgetPassword()">
									<div class="form-group mb-4">
										<input svTrim class="form-control px-4 border-brown" onlyNumber="true" id="phone" placeholder="Nhập số điện thoại..."
											formControlName="phone" maxlength="10" [(ngModel)]="user.phone" style="font-size: 20px" value="" required appAutofocus>
										<div *ngIf="(submitted && f.phone.invalid)||(f.phone.invalid && (f.phone.dirty || f.phone.touched))" class="alert has-error">
											<div *ngIf="f.phone.errors.required">
												<span class="help-block">Trường này không được để trống</span>
											</div>
											<div *ngIf="f.phone.errors.pattern">
												<span class="help-block">Số điện thoại không đúng định dạng</span>
											</div>
										</div>
									</div>

									<div class="text-center">
										<button type="button" class="btn grd-xanhngoc text-white text-uppercase font-weight-normal btn-block border-0 rounded-xl mb-4"
											(click)="preShowOPT()" style="font-size: 20px">Xác nhận</button>
										<button type="button" class="btn rounded-xl bg-white text-dark border" style="font-size: 20px" (click)="login()">
											<i class="bi bi-arrow-left"></i> Về trang đăng nhập</button>
										<!-- Modal -->
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-otp">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header d-block">
				<h3 class="modal-title text-center text-uppercase">xác thực mã otp</h3>
				<p class="text-center">Mã xác thực đã được gửi về SĐT:</p>
				<p class="text-center mb-0 font-weight-bold" style="font-size: 22px">{{phoneHide}}</p>
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span>
				</button>
			</div>
			<div class="modal-body" style="background: #FEF5EC">
				<div class="otp-code">
					<p class="text-center">Nhập mã OTP</p>
					<div class="input-group-otp d-flex justify-content-center">
						<input type="text" numbersOnly maxlength="1" class="form-control border-brown text-center mr-2">
						<input type="text" numbersOnly maxlength="1" class="form-control border-brown text-center mr-2">
						<input type="text" numbersOnly maxlength="1" class="form-control border-brown text-center mr-2">
						<input type="text" numbersOnly maxlength="1" class="form-control border-brown text-center mr-2">
						<input type="text" numbersOnly maxlength="1" class="form-control border-brown text-center mr-2">
						<input type="text" numbersOnly maxlength="1" class="form-control border-brown text-center">
					</div>
				</div>
			</div>
			<div class="modal-footer justify-content-center">
				<button type="button" class="btn btn-secondary grd-xanhngoc rounded-xl border-0 text-uppercase">Xác thực</button>
			</div>
		</div>
	</div>
</div>
