
<div class="row no-margin">
  <div class="col-md-12">
    <div class="form-horizontal">
      <div class="panel row content-panel">
        <div class="panel-body bg-body no-padding-bottom">
          <div class="col-md-3 no-padding-left">
            <div class="panel panel-info nav-tabs-custom">
              <div class="panel-heading">
                <a href="#tab_1" data-toggle="tab">Hướng dẫn quản lý nghiệp vụ chuyên viên</a>
              </div>
              <div class="panel-heading">
                <a href="#tab_2" data-toggle="tab">Hướng dẫn quản lý nghiệp vụ lãnh đạo</a>
              </div>
              <div class="panel-heading">
                <a href="#tab_3" data-toggle="tab">Hướng dẫn quản trị hệ thống</a>
              </div>
              <div class="panel-heading">
                <a href="#tab_4" data-toggle="tab">Hướng dẫn quản trị nghiệp vụ đại biểu</a>
              </div>
            </div>
          </div>
          <div class="col-md-9 no-padding">
            <div class="panel panel-body">
              <div class="tab-content row no-margin">
                <div class="tab-pane active" id="tab_1">
                  <div class="col-sm-12 no-padding responsive-body1">
                    <iframe id="cv" class="no-border" style="width:100%;height:99%;text-align:center" src=""></iframe>
                  </div>
                  <div class="modal-footer">
                    <br />
                    <button class="btn btn-success btn-sm" (click)="DownloadFile(0)"><i class="fa fa-download"></i> Tải về</button>
                  </div>
                </div>
                <div class="tab-pane" id="tab_2">
                  <div class="col-sm-12 no-padding responsive-body1">
                    <iframe id="ldcb" class="no-border" style="width:100%;height:99%;text-align:center" src=""></iframe>
                  </div>
                  <div class="modal-footer">
                    <br />
                    <button class="btn btn-success btn-sm" (click)="DownloadFile(1)"><i class="fa fa-download"></i> Tải về</button>
                  </div>
                </div>
                <div class="tab-pane" id="tab_3">
                  <div class="col-sm-12 no-padding responsive-body1">
                    <iframe id="qtht" class="no-border" style="width:100%;height:99%;text-align:center" src=""></iframe>
                  </div>
                  <div class="modal-footer">
                    <br />
                    <button class="btn btn-success btn-sm" (click)="DownloadFile(2)"><i class="fa fa-download"></i> Tải về</button>
                  </div>
                </div>
                <div class="tab-pane" id="tab_4">
                  <div class="col-sm-12 no-padding responsive-body1">
                    <iframe id="db" class="no-border" style="width:100%;height:99%;text-align:center" src=""></iframe>
                  </div>
                  <div class="modal-footer">
                    <br />
                    <button class="btn btn-success btn-sm" (click)="DownloadFile(2)"><i class="fa fa-download"></i> Tải về</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
