<div class="container-fluid p-0">
	<div class="row">
		<div class="col-lg-12">
			<ol class="breadcrumb title-module px-0 bg-transparent mb-0">
				<li class="breadcrumb-item"><a>Hệ thống</a></li>
				<li class="breadcrumb-item active"><a class="font-weight-bold">Cấu hình thời gian làm việc</a></li>
			</ol>
			<div class="btn-group group-button-table" role="group">

				<button type="button" class="btn grd-xanhngoc btn-sm rounded border-0 text-white" (click)="preCreate()">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
						<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
					</svg>
					Thêm mới
				</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="card mb-0 shadow-none">
				<div class="table-responsive">

					<p-table #table [value]="listData" [lazy]="true" (onLazyLoad)="onPageChange($event)" [paginator]="true" [showCurrentPageReport]="true"
						currentPageReportTemplate="Tổng số {{totalRecords}}" [rows]="pageSize" [totalRecords]="totalRecords" [responsive]="true" autoLayout="true"
						tableStyleClass="table table-sd table-responsive-md table-striped mb-0">
						<ng-template pTemplate="header" class="bg-thead">
							<tr>
								<th style="width: 50px;">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>STT</strong>
									</p>
								</th>
								<th style="max-width: 210px;">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Tên ngày nghỉ</strong>
									</p>
									<input class="form-control form-control-sm" [(ngModel)]="name" maxlength="100" (keydown.enter)="dataStateChange()" placeholder="Nhập tên..." />
								</th>
								<th style="width: 200px">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Ngày nghỉ</strong>
										<span class="caret-tb"></span>
									</p>
									<input class="form-control form-control-sm" placeholder="Nhập..." bsDatepicker #n="bsDatepicker" maxlength="10" id="Time" [(ngModel)]="time"
										(keydown.enter)="dataStateChange()" appBsDatepickerInvalid
										[bsConfig]="{dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue', adaptivePosition: true}" />
									<div class="input-group-addon">
										<i class="far fa-calendar-alt" (click)="dataStateChange()" [attr.aria-expanded]="n.isOpen"></i>
									</div>
								</th>
								<th>
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Mô tả</strong>
									</p>
									<input class="form-control form-control-sm" [(ngModel)]="description" maxlength="100" (keydown.enter)="dataStateChange()"
										placeholder="Nhập mô tả..." />
								</th>
								<th style="width: 200px;">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Trạng thái</strong>
									</p>
									<div style="width: 100%" class="dropdown bootstrap-select form-control form-control-sm">
										<ng-select class="" [items]="listStatus" placeholder="Trạng thái ..." bindLabel="text" bindValue="value" [(ngModel)]="isActived"
											[closeOnSelect]="true" (change)="dataStateChange()">
										</ng-select>
									</div>
								</th>
								<th class="text-right" style="width: 100px;">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Thao tác</strong>
									</p>
								</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
							<tr>
								<td class="text-center">{{rowIndex + 1}}</td>
								<td>
									<strong (click)="preView(item)" class="highlight" type="button" title="Xem chi tiết">{{item.name}}</strong>
								</td>
								<td>{{item.time | date: 'dd/MM/yyyy'}}</td>
								<td>{{item.description}}</td>
								<td>
									<span type="button" (click)="preUpdateStatus(item)" *ngIf="item.isActived == true" class="badge rounded-pill bg-success">Hiệu lực</span>
									<span type="button" (click)="preUpdateStatus(item)" *ngIf="item.isActived == false" class="badge rounded-pill badge-light">Hết hiệu lực</span>
								</td>
								<td style="text-align: center;">
									<div class="d-flex justify-content-end">
										<a type="button" (click)="preUpdate(item)" class="btn-icon grd-brown text-brown mr-2"><i class="bi bi-pencil-square"></i></a>
										<a type="button" (click)="preDelete(item.id)" class="btn-icon grd-red text-white" data-toggle="modal" data-target="#modal-tc-pakn"><i
												class="bi bi-trash"></i></a>
									</div>
								</td>
							</tr>
						</ng-template>
						<ng-template pTemplate="emptymessage">
							<tr>
								<td class="text-center" colspan="6">Không có dữ liệu</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="ui-g-12 ui-md-4 center">
	<h3 style="text-align: center;">Lịch làm việc</h3>
	<p-calendar [(ngModel)]="date1" [inline]="true">
		<ng-template pTemplate="date" let-date>
			<span [ngStyle]="{backgroundColor: getMarkedDays(date) ? '#81C784' : 'inherit'}"
				style="border-radius:50%;padding: .25em;width: 1.75em; height:1.75em; display:block;">{{date.day}}</span>
		</ng-template>
	</p-calendar>
</div>
<div class="modal fade" id="modal">
	<div class="modal-dialog modal-dialog-centered" style="min-width: 60%" role="document">
		<div class="modal-content rounded">
			<form class="form-horizontal" [formGroup]="form" #formDir="ngForm">
				<div class="panel panel-default no-margin">
					<div class="modal-header">
						<button class="close btn-close-modal" data-dismiss="modal">
							×
						</button>
						<p class="modal-title h3">{{title}}</p>
					</div>
					<div class="modal-body no-padding-bottom">
						<div class="row form-group">
							<div class="col-sm-12">
								<label class="control-label">Tên ngày nghỉ <span class="text-danger">(*)</span></label>
								<input id="target" placeholder="Nhập tên..." svTrim class="form-control" formControlName="name" [(ngModel)]="model.name" maxlength="100" />
								<div *ngIf="(submitted && f.name.invalid) || (f.name.invalid && (f.name.dirty || f.name.touched))" class="has-error m-b-12">
									<div *ngIf="f.name.errors.required">
										<span class="help-block">Trường dữ liệu này không để trống</span>
									</div>
								</div>
							</div>

						</div>
						<div class="row form-group">
							<div class="col-sm-6">
								<label class="control-label">Ngày nghỉ <span class="text-danger">(*)</span></label>
								<input class="form-control" placeholder="Nhập..." bsDatepicker #n="bsDatepicker" maxlength="10" id="createTime" [(ngModel)]="model.time"
									(keydown.enter)="dataStateChange()" appBsDatepickerInvalid formControlName="time"
									[bsConfig]="{dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue', adaptivePosition: true}" />
								<div class="input-group-addon">
									<i class="far fa-calendar-alt" (click)="dataStateChange()" [attr.aria-expanded]="n.isOpen"></i>
								</div>
								<div *ngIf="(submitted && f.time.invalid) || (f.time.invalid && (f.time.dirty || f.time.touched))" class="has-error m-b-12">
									<div *ngIf="f.time.errors.required">
										<span class="help-block">Trường dữ liệu này không để trống</span>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<label class="control-label">Trạng thái <span class="text-danger">(*)</span></label>
								<ng-select class="form-control " [items]="listStatus" bindValue="value" placeholder="Chọn trạng thái" bindLabel="text" formControlName="isActived"
									[(ngModel)]="model.isActived" style="font-weight: 600;">
								</ng-select>
								<div *ngIf="(submitted && f.isActived.invalid) || (f.isActived.invalid && (f.isActived.dirty || f.isActived.touched))" class="has-error m-b-12">
									<div *ngIf="f.isActived.errors.required">
										<span class="help-block">Trường dữ liệu này không để trống</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row form-group">
							<div class="col-sm-12">
								<label class="control-label">Mô tả</label>
								<textarea placeholder="Nhập..." class="form-control" formControlName="description" type="text" rows="4" [(ngModel)]="model.description"
									maxlength="255"></textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer border-top-0">
						<button type="button" data-dismiss="modal" class="btn btn-outline-secondary border px-5" data-dismiss="modal">Hủy</button>
						<button type="button" class="btn btn-danger border-0 px-5 grd-blue" (click)="onSave()">Xác nhận</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="modalDetail">
	<div class="modal-dialog modal-dialog-centered" style="max-width: 40%" role="document">
		<div class="modal-content rounded">
			<form class="form-horizontal">
				<div class="panel panel-default no-margin">
					<div class="modal-header" style="border: none;">
						<button class="close btn-close-modal" data-dismiss="modal">
							×
						</button>
						<p class="modal-title h3">Thông tin</p>
					</div>
					<div class="modal-body no-padding-bottom" style="padding: 1.1rem;">
						<div class="row" style="border-bottom: 1px solid #EEEEEE; padding: 10px 0px;">
							<div class="col-sm-4">
								<label class="control-label lb600 detail-title">Tên ngày nghỉ: </label>
							</div>
							<div class="col-sm-8">
								<strong>{{model.name}}</strong>
							</div>
						</div>
						<div class="row" style="border-bottom: 1px solid #EEEEEE; padding: 10px 0px;">
							<div class="col-sm-4">
								<label class="control-label lb600">Ngày nghỉ: </label>
							</div>
							<div class="col-sm-8" style="text-align: left;">
								<p>{{model.time | date: 'dd/MM/yyyy'}}</p>
							</div>
						</div>
						<div class="row" style="border-bottom: 1px solid #EEEEEE; padding: 10px 0px;">
							<div class="col-sm-4">
								<label class="control-label lb600">Trạng thái: </label>
							</div>
							<div class="col-sm-8" style="text-align: left;">
								<span style="padding: 7px;" *ngIf="model.isActived == true" class="badge rounded-pill bg-success">Hiệu
									lực</span>
								<span style="padding: 7px;" *ngIf="model.isActived == false" class="badge rounded-pill badge-light">Hết
									hiệu lực</span>
							</div>
						</div>
						<div class="row" style="padding: 10px 0px;">
							<div class="col-sm-12">
								<label class="control-label lb600">Mô tả: </label>
							</div>
							<div class="col-sm-12">
								<p>{{model.description}}</p>
							</div>
						</div>


					</div>
					<!-- <div class="modal-footer"> -->

					<!-- <button data-dismiss="modal" style="text-transform: none;" class="btn btn-primary btn-sm"> Đóng
							<i class="far fa-times"></i>
						</button> -->
					<!-- </div> -->
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="modalConfirmDelete">
	<div class="modal-dialog modal-dialog-centered" style="max-width: 400px" role="document">
		<div class="modal-content rounded">
			<form class="form-horizontal">
				<div class="panel panel-default no-margin">
					<div class="modal-header" style="border: none;">
						<button class="close btn-close-modal" data-dismiss="modal">
							×
						</button>
						<!-- <p class="modal-title h3">Xác nhận</p> -->
					</div>
					<div class="modal-body no-padding-bottom" style="border: none;">
						<div style="text-align: center;">
							<strong class="change-status-title">Bạn có chắc chắn thực hiện hành động này?</strong>
						</div>
					</div>
					<div class="modal-footer" style="border: none; justify-content: center;">
						<button type="button" data-dismiss="modal" class="btn btn-outline-secondary border px-5" data-dismiss="modal">Hủy</button>
						<button type="button" class="btn btn-danger border-0 px-5 grd-blue" (click)="onDelete(idDelete)">Xác
							nhận</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade" id="modalConfirmUpdateStatus">
	<div class="modal-dialog modal-dialog-centered" style="max-width: 400px" role="document">
		<div class="modal-content rounded">
			<form class="form-horizontal">
				<div class="panel panel-default no-margin">
					<div class="modal-header" style="border: none;">
						<button class="close btn-close-modal" data-dismiss="modal">
							×
						</button>
						<!-- <p class="modal-title h3">Xác nhận</p> -->
					</div>
					<div class="modal-body no-padding-bottom" style="border: none;">
						<div style="text-align: center;">
							<strong class="change-status-title">Bạn có chắc chắn thực hiện hành động này?</strong>
						</div>
					</div>
					<div class="modal-footer" style="border: none; justify-content: center;">
						<button type="button" data-dismiss="modal" class="btn btn-outline-secondary border px-5" data-dismiss="modal">Hủy</button>
						<button type="button" class="btn btn-danger border-0 px-5 grd-blue" (click)="onUpdateStatus(dataUpdate)">Xác
							nhận</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
