.hover-active a :hover {
	cursor: pointer;
}
strong.highlight:hover {
	color: #42a4ff;
	cursor: pointer;
}
strong.highlight {
	cursor: pointer;
}

.title-detail {
	font-size: 20px;
	color: #000;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
	color: #fff !important;
	background-color: #0283e1 !important;
	font-size: 1.2rem !important;
}

:host ::ng-deep .ui-state-highlight,
:host ::ng-deep .ui-sortable-column:hover {
	background-color: transparent !important;
	color: #333333 !important;
}
:host ::ng-deep .ui-table .ui-sortable-column.ui-state-highlight .ui-sortable-column-icon {
	color: #111 !important;
}

:host ::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
	line-height: 20px;
}
:host ::ng-deep .form-control.ng-select .ng-select-container {
	padding-bottom: 0px;
}

.feild-img > img {
	width: 100%;
	min-height: 120px;
}

.sv-pointer{
	font-size: 18px;
	font-weight: 500;
}