<div class="content-body">
	<div class="row">
		<div class="col-lg-12">
			<div class="breadcrumb title-module px-0 bg-transparent" style="font-size: 18px;font-weight: 600;">
				<p class="mb-0 h4">Trang chủ / Thông báo / <strong>Chi tiết thông báo</strong> </p>
			</div>
			<div class="btn-group group-button-table" role="group">
				<a class="btn background-while btn-sm rounded border-0 mr-3 text-dark"
					[routerLink]="['/quan-tri/tin-tuc/','danh-sach-tong-hop']">
					<i class="bi bi-arrow-left"></i>&nbsp;
					Quay lại
				</a>

				<button class="btn btn-sm grd-blue text-white rounded border-0 mr-3" (click)="redirectUpdate()">Sửa</button>
			</div>
		</div>
	</div>
	<form [formGroup]="newsForm">
		<div class="container mr-0 ml-0">
			<div class="row">
				<div class="col-md-9 col-lg-9 col-xl-9 col-xxl-8">
					<div class="col-12 col-lg-12 form-group">
						<label class="mb-1"><span class="text-uppercase">tiêu đề </span> <span class="cl-red">(*)</span></label>
						<input formControlName="title" [(ngModel)]="model.title" type="text" class="form-control input-sm"
							placeholder="Nhập.." readonly>

					</div>
					<!-- <div class="col-12 col-lg-12 form-group">
						<label class="mb-1"><span class="text-uppercase">tóm tắt</span></label>
						<textarea class="form-control text-area-height" cols="10" formControlName="summary"
							[(ngModel)]="model.summary" placeholder="Nhập.." readonly></textarea>

					</div> -->
					<!-- <div class="col-12 col-lg-12 form-group mb-6">
						<div class="clearfix mb-2">
							<label class="mb-1"><span class="text-uppercase">thông báo liên quan</span></label>
						</div>
						<div class="col-md-12 pr-0 pl-0">
							<div class="p-2 border mb-2 item-news-relate" *ngFor="let relateItem of newsRelatesSelected">
								<span class="col-md-12 p-1 ml-3">
									<strong class="text-2line p-0">{{relateItem.title}}</strong>
								</span>
							</div>
						</div>
					</div> -->
					<div class="col-12 col-lg-12 form-group">
						<label class="mb-1"><span class="text-uppercase">Nội dung thông báo </span></label>
						<ckeditor id="editor" [disabled]="true" [editor]="Editor" formControlName="contents"
							[(ngModel)]="model.contents" (ready)="onReady($event)" [config]="ckConfig">
						</ckeditor>
					</div>
				</div>
				<div class="col-md-3 col-lg-3 col-xl-3 col-xxl-4">
					<div class="col-12 col-lg-12 form-group">
						<label class="mb-1"><span class="text-uppercase">Loại thông báo</span></label>
						<input class="form-control" formControlName="newsType" [(ngModel)]="model.newsType" disabled>
					</div>
					<!-- <div class="col-12 col-lg-12 form-group">
						<label class="mb-1 dis-block"><span class="text-uppercase">kiểu bài</span></label>
						<input hidden formControlName="postType" [(ngModel)]="model.postType" />
						<div class="checkbox dis-inline mr-3" *ngFor="let pType of postTypes">
							<label>
								<input type="checkbox" disabled [checked]="postTypeSelected.indexOf(pType.value) != -1"
									(change)="onChangePostType(pType.value,$event.target.checked)">
								<span class="text-uppercase"> {{pType.text}}</span>
							</label>
						</div>
					</div> -->
					<!-- <div class="col-12 col-lg-12 form-group">
						<label class="mb-1"><span class="text-uppercase">ảnh đại diện</span></label>
						<input type="file" [hidden]="true" id="avatar-image" accept=".png, .jpg, .jpeg">
						<div class="news-avatar border br-15px">
							<img [src]="model.imagePath" class="br-15px" alt="">

						</div>

					</div> -->


					<div class="col-sm-12 no-padding">
						<div class="tt-v1 mb-3 d-flex justify-content-between center">
							<h4 class="text-uppercase title-upload mb-0">file media</h4>
						</div>
						<div class="mb-4">
							<div *ngIf="!files || files.length == 0">Chưa có file media nào</div>
							<ng-container>
								<p class="mb-2 d-flex border p-2 br-8px" *ngFor="let file of files; let i = index">
									<a *ngIf="file.fileType == 1" class="d-flex flex-1" download href="javascript:void(0)"
										(click)="DownloadFile(file)" style="color: #333;">
										<img src="../../../../assets/dist/images/file-word.svg" style="width: 30px;margin-right: 17px;"
											alt="">
										<span class="small text-truncate">{{file.name.length > 35? file.name.slice(0,34) + ".." :
											file.name}}</span>
									</a>
									<a *ngIf="file.fileType == 2" class="d-flex flex-1" download href="javascript:void(0)"
										(click)="DownloadFile(file)" style="color: #333;">
										<img src="../../../../assets/dist/images/file-excel.svg" style="width: 30px;margin-right: 17px;"
											alt="">
										<span class="small text-truncate">{{file.name.length > 35? file.name.slice(0,34) + ".." :
											file.name}}</span>
									</a>
									<a *ngIf="file.fileType == 3" class="d-flex flex-1" download href="javascript:void(0)"
										(click)="DownloadFile(file)" style="color: #333;">
										<img src="../../../../assets/dist/images/file-pdf.svg" style="width: 30px;margin-right: 17px;"
											alt="">
										<span class="small text-truncate">{{file.name.length > 35? file.name.slice(0,34) + ".." :
											file.name}}</span>
									</a>
									<a *ngIf="file.fileType == 4" class="d-flex flex-1" download href="javascript:void(0)"
										(click)="DownloadFile(file)" style="color: #333;">
										<img src="../../../../assets/dist/images/file-image.svg" style="width: 30px;margin-right: 17px;"
											alt="">
										<span class="small text-truncate">{{file.name.length > 35? file.name.slice(0,34) + ".." :
											file.name}}</span>
									</a>
									<a *ngIf="file.fileType == 6" class="d-flex flex-1" download href="javascript:void(0)"
										(click)="DownloadFile(file)" style="color: #333;">
										<img src="../../../../assets/dist/images/file-powerpoint.svg"
											style="width: 30px;margin-right: 17px;" alt="">
										<span class="small text-truncate">{{file.name.length > 35? file.name.slice(0,34) + ".." :
											file.name}}</span>
									</a>
									<a *ngIf="file.fileType == 7" class="d-flex flex-1" download href="javascript:void(0)"
										(click)="DownloadFile(file)" style="color: #333;">
										<img src="../../../../assets/dist/images/mp4-svgrepo-com.svg"
											style="width: 30px;margin-right: 17px;" alt="">
										<span class="small text-truncate">{{file.name.length > 35? file.name.slice(0,34) + ".." :
											file.name}}</span>
									</a>

									<span class="center" title="Tải xuống" (click)="DownloadFile(file)">
										<i class="ml-2 bi bi-download"></i>
									</span>
								</p>
							</ng-container>
							<!-- bi bi-x -->
						</div>
					</div>

					<div class="col-12 col-lg-12 form-group">
						<label class="mb-1"><span class="text-uppercase">thông báo</span></label>
						<div class="checkbox">
							<label><input disabled [(ngModel)]="model.isNotification" type="checkbox" formControlName="pushNotify"
									checked> Gửi thông báo đến người dân, doanh
								nghiệp</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<!-- <app-news-relate-modal></app-news-relate-modal> -->