
.text-color-blue {
	color: #1673d8 !important;
}

.active{
	background-color: #CFDDF0;
}

.cursor-hand {
	cursor: pointer;
}
.margin-icon {
	margin: 0px 7px;
}

.menu-support:hover{
	background-color: CFDDF0;
	color: #1673d8 !important;
}
:host ::ng-deep .ck-editor__editable_inline {
	min-height: 500px;
}

