<div class="content-nd mt-5 mb-5">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-8 col-lg-8 col-md-8">
				<div class="box">
					<div class="tt-v1 mb-3 d-flex justify-content-between center">
						<h4 class="text-uppercase">Công khai vi phạm</h4>
					</div>
					<p>{{currentDate | date : 'HH:mm dd/MM/yyyy'}}</p>
				</div>
				<div class="box">
					<p>
						Thời gian qua, trong quá trình thực tiễn triển khai phản ánh hiện trường đã xuất hiện những bất cập từ công tác xử lý. Nhằm nâng cao hiệu quả trong thời gian tới, UBND tỉnh chỉ đạo công khai các vấn đề vi phạm qua đó để tuyên truyền nâng cao nhận thức, ý thức chấp hành giao thông của người dân. Bên cạnh đó, những vi phạm đã được tiếp nhận nhưng do chưa có sự phối hợp của người vi phạm để giải quyết cũng được công khai lên để giúp cho việc giám sát, theo dõi.

						<br> <br> Hiện nay, Trung tâm Giám sát, điều hành đô thị thông minh đang đánh giá, phân tích những hạn chế để tham mưu những giải pháp tối ưu hơn trong thời gian tới. Trung tâm rất mong sự quan tâm và góp ý của quý bà con nhân dân để hệ thống ngày càng phát huy tốt vai trò là cầu nối giữa nhà nước và người dân, doanh nghiệp.

						<br><br>Trân trọng
						<br>Hue IOC
					</p>
				</div>
			</div>
			<div class="col-4 col-lg-4 d-none d-lg-block sidebar-ct pl-3 pl-lg-0">
				<app-statistics-right [isShowSatisfationChart]="true"></app-statistics-right>
			</div>
		</div>
	</div>
</div>
