<div class="panel-group">
  <section class="content-header">
    <div class="row">
      <ol class="breadcrumb">
        <li><a class="text-black" routerLink="/business/business-management/dash-board">Trang chủ</a></li>
        <li><a class="text-black">Hệ thống</a></li>
        <li><a>Thông tin nhóm quyền</a></li>
      </ol>
      <button class="btn btn-sm btn-previous pull-right" appSvBackButton><i class="far fa-undo-alt"></i> Quay lại</button>
    </div>
  </section>
  <section class="content n-d-t">
    <div class="row">
      <div class="col-md-12">
        <form class="form-horizontal" id="updateGroupUserForm" [formGroup]="updateGroupUserForm" #formDir="ngForm">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-md-6 col-xs-6">
                  <h4>Thông tin cơ bản</h4>
                </div>
                <div class="col-md-6 col-xs-6">
                  <div class="btn-group pull-right btn-group-add-del" *hasPermission="['3', 'A_III_2']">
                    <button class="btn btn-primary btn-sm pull-right" [routerLink]="['/business/system-management/group-user-management/update-group-user', model.ma]"><i class="fal fa-pen"></i> Sửa</button>
                  </div>
                </div>
              </div>
            </div>
            <fieldset disabled>
              <div class="box-body">
                <!--<div class="row form-group">
                  <div class="col-md-12">
                    <label class="control-label">Phòng ban</label>
                    <select class="form-control" formControlName="maDonVi" [(ngModel)]="model.maDonVi">
                      <option *ngFor="let item of listUnits" [value]="item.value">{{item.text}}</option>
                    </select>
                  </div>
                </div>-->
                <div class="row form-group">
                  <div class="col-sm-6">
                    <label class="control-label">Mã nhóm</label>
                    <input class="form-control" formControlName="maNhom" [(ngModel)]="model.maNhom" placeholder="Mã nhóm..." />
                  </div>
                  <div class="col-sm-6">
                    <label class="control-label">Trạng thái</label>
                    <select class="form-control" formControlName="trangThai" [(ngModel)]="model.trangThai">
                      <option value="true">Hiệu lực</option>
                      <option value="false">Hết hiệu lực</option>
                    </select>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-12">
                    <label class="control-label">Tên nhóm quyền</label>
                    <input class="form-control has-error" type="text" formControlName="tenNhom" [(ngModel)]="model.tenNhom" placeholder="Tên nhóm..." />
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-12">
                    <label class="control-label">Mô tả</label>
                    <textarea class="form-control" formControlName="moTa" rows="4" [(ngModel)]="model.moTa" placeholder="Mô tả..."></textarea>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-12">
                  <h5 class="title-content">Phân quyền</h5>
                </div>
              </div>
            </div>
            <div class="panel-body">
              <div *ngFor="let permisionCategory of listPermissionCategories; let i = index">
                <div class="row">
                  <div class="col-md-12">
                    <button type="button" class="btn-collapse btn btn-box-tool" data-toggle="collapse" [attr.data-target]="'#groupUS'+ i"></button>
                    <fieldset class="inline" disabled><mat-checkbox [(ngModel)]="permisionCategory.selected" [ngModelOptions]="{standalone: true}" [labelPosition]="before" (change)="onCategoryChange($event, permisionCategory)" [disabled]="permisionCategory.disabled">{{ permisionCategory.name }}</mat-checkbox></fieldset>
                    <hr />
                    <div collapse in class="panel-body no-padding-bottom collapse in" [attr.id]="'groupUS'+ i">
                      <div *ngFor="let function of permisionCategory.htFunction">
                        <div class="col-md-4 permission-select-layout">
                          <button type="button" class="btn-collapse btn btn-box-tool" data-toggle="collapse" [attr.data-target]="'#functionUS'+ function.id"></button>
                          <fieldset class="inline" disabled><mat-checkbox disabled [(ngModel)]="function.selected" [ngModelOptions]="{standalone: true}" [labelPosition]="before" (change)="onFunctionChange($event, function, permisionCategory)" [disabled]="function.disabled">{{ function.name }}</mat-checkbox></fieldset>
                          <div collapse in class="panel-body no-padding-bottom collapse in" [attr.id]="'functionUS'+ function.id">
                            <div class="permission-select-area" *ngFor="let permission of function.htPermission">
                              <fieldset class="inline" disabled><mat-checkbox disabled [(ngModel)]="permission.selected" [ngModelOptions]="{standalone: true}" [labelPosition]="before" (change)="onPermissionChange($event, permission, function, permisionCategory)" [disabled]="permission.disabled">{{ permission.name }}</mat-checkbox></fieldset>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
