.paging-panel-left {
	margin-right: 265px;
}
.paging-panel-left input {
	width: 40px;
}

.form-control.ng-select .ng-select-container {
	padding-top: 5px !important;
}

.body-scroll {
    min-height: 400px;
    max-height: 500px;
	overflow-x: hidden;
	overflow-y: scroll;
}
.image-relate {
	width: 80px;
	min-height: 3em;
	display: inline-block;
	border: 1px solid #ddd;
}
.title-relate {
	/* height: 3em; */
	/* white-space: nowrap; */
	overflow: hidden;
	text-overflow: ellipsis;
}
