<div class="container-fluid p-0">
	<div class="row">
		<div class="col-lg-12">
			<ol class="breadcrumb title-module px-0 bg-transparent mb-0">
				<li class="breadcrumb-item active"><a class="font-weight-bold">THƯ VIỆN CHATBOT</a></li>
			</ol>
			<div class="btn-group group-button-table" role="group">

				<button type="button" class="btn grd-blue btn-sm rounded border-0 text-white mr-2" (click)="downLoadFile()">
					File mẫu
				</button>

				<button type="button" class="btn grd-blue btn-sm rounded border-0 text-white mr-2" (click)="preImportExcel()">
					Import Excel
				</button>

				<button type="button" class="btn grd-blue btn-sm rounded border-0 text-white" (click)="preCreate()"
					*hasPermission="['3', 'A_XI_0']">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus"
						viewBox="0 0 16 16">
						<path
							d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
					</svg>
					Thêm mới
				</button>

				<input hidden #file id="fileImport" type="file" (change)="onImportExcel($event)">
				<iframe hidden id="ifDownloadFile"></iframe>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="card mb-0 shadow-none">
				<div class="table-responsive">
					<p-table #table [value]="listData" [lazy]="true" (change)="onPageChange($event)" [paginator]="true"
						[showCurrentPageReport]="true" currentPageReportTemplate="Tổng số {{totalRecords}}" [rows]="pageSize"
						[totalRecords]="totalRecords" [rowsPerPageOptions]="[20,30,50]" [responsive]="true" autoLayout="true"
						tableStyleClass="table table-sd table-responsive-md table-striped mb-0">
						<ng-template pTemplate="header" class="bg-thead">
							<tr>
								<th style="width: 50px">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>STT</strong>
									</p>
								</th>
								<th>
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Câu hỏi</strong>
									</p>
									<input class="form-control form-control-sm" maxlength="100" trim [(ngModel)]="dataSearch.title"
										[(ngModel)]="title" (keydown.enter)="dataStateChange()" placeholder="Nhập câu hỏi.." />
									<button *ngIf="title" class="btn bg-transparent btn-clear-input" (click)="title=''">
										<i class="fa fa-times"></i>
									</button>
								</th>
								<th style="width: 350px">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Câu trả lời</strong>
									</p>
									<input class="form-control form-control-sm" maxlength="100" trim [(ngModel)]="dataSearch.question"
										[(ngModel)]="question" (keydown.enter)="dataStateChange()" placeholder="Nhập câu trả lời.." />
									<button *ngIf="question" class="btn bg-transparent btn-clear-input" (click)="question=''">
										<i class="fa fa-times"></i>
									</button>
								</th>
								<th style="width: 160px">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Trạng thái</strong>
									</p>
									<div style="width: 160px" class="dropdown bootstrap-select form-control form-control-sm">
										<ng-select notFoundText="Không có dữ liệu" class="" [items]="listStatus"
											[(ngModel)]="dataSearch.isActived" placeholder="Trạng thái .." bindLabel="text" bindValue="value"
											[closeOnSelect]="true" [ngSwitch]="'isActived'" (change)="dataStateChange()">
										</ng-select>
									</div>
								</th>
								<th class="text-right" style="width: 100px;">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Thao tác</strong>
									</p>
								</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
							<tr>
								<td class="text-center">{{rowIndex + 1}}</td>
								<td>
									{{item.title}} <label *ngIf="item.isDefault" class="badge badge-primary">Mặc định</label>
								</td>
								<td>
									<strong>
										<a *hasNotPermission="['3', 'A_XI_4']" class="ellipsis text-dark" type="button"
											title="Xem chi tiết">{{item.question.length > 120? item.question.slice(0,115) + ".." :
											item.question
											}}</a>
										<a *hasPermission="['3', 'A_XI_4']" (click)="preView(item)" class="ellipsis text-dark" type="button"
											title="Xem chi tiết">{{item.question.length > 120? item.question.slice(0,115) + ".." :
											item.question
											}}</a>
									</strong>
								</td>
								<!-- <td>{{item.answer}}</td> -->
								<td>
									<p *ngIf="item.isActived" style="margin-bottom: 0px;">
										<span *hasNotPermission="['3', 'A_XI_5']" type="button" class="badge rounded-pill bg-success">Hiệu
											lực</span>
										<span *hasPermission="['3', 'A_XI_5']" type="button" (click)="preUpdateStatus(item)"
											class="badge rounded-pill bg-success">Hiệu lực</span>
									</p>
									<p *ngIf="!item.isActived" style="margin-bottom: 0px;">
										<span *hasNotPermission="['3', 'A_XI_5']" type="button" class="badge rounded-pill badge-light">Hết
											hiệu lực</span>
										<span *hasPermission="['3', 'A_XI_5']" type="button" (click)="preUpdateStatus(item)"
											class="badge rounded-pill badge-light">Hết hiệu lực</span>
									</p>
								</td>
								<td style="max-width: 100px;">
									<div class="d-flex justify-content-end">
										<a *hasPermission="['3', 'A_XI_1']" type="button" (click)="preUpdate(item)"
											class="btn-icon grd-brown text-brown mr-2" title="Cập nhập"><i
												class="bi bi-pencil-square"></i></a>
										<ng-container *ngIf="!item.isDefault">
											<a *hasPermission="['3', 'A_XI_2']" type="button" (click)="preDelete(item.id, item.categoryId)"
												class="btn-icon grd-red text-white" data-toggle="modal" data-target="#modal-tc-pakn"><i
													class="bi bi-trash"></i></a>
										</ng-container>
									</div>
								</td>
							</tr>
						</ng-template>
						<ng-template pTemplate="emptymessage">
							<tr>
								<td class="text-center" colspan="5">Không có dữ liệu</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal">
	<div class="modal-dialog modal-dialog-centered" style="min-width: 60%" role="document">
		<div class="modal-content rounded">
			<form class="form-horizontal" [formGroup]="form" #formDir="ngForm">
				<div class="panel panel-default no-margin">
					<div class="modal-header">
						<button class="close btn-close-modal" data-dismiss="modal">
							×
						</button>
						<p class="modal-title h3">{{titlePopup}}</p>
					</div>
					<div class="modal-body no-padding-bottom">
						<div class="row form-group">
							<div class="col-sm-12">
								<label class="control-label">Câu hỏi</label>
								<input id="target" placeholder="Nhập câu hỏi.." svTrim class="form-control" formControlName="title"
									[(ngModel)]="model.title" />
								<div *ngIf="(submitted && f.title.invalid) || (f.title.invalid && (f.title.dirty || f.title.touched))"
									class="has-error m-b-12">
									<div *ngIf="f.title.errors.required">
										<span class="help-block">Trường dữ liệu này không để trống</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row form-group">
							<div class="col-sm-12">
								<label class="control-label">Câu trả lời <span class="text-danger">(*)</span></label>
								<textarea id="target" rows="6" placeholder="Nhập câu trả lời.." class="form-control"
									formControlName="question" [(ngModel)]="model.question" (mouseup)="mouseUpevent($event)"></textarea>
								<div
									*ngIf="(submitted && f.question.invalid) || (f.question.invalid && (f.question.dirty || f.question.touched))"
									class="has-error m-b-12">
									<div *ngIf="f.question.errors.required">
										<span class="help-block">Trường dữ liệu này không để trống</span>
									</div>
								</div>
								<div id="addHashtagButton" *ngIf="model.typeChat == 1 && isAddButton" class="tooltipAll"
									(click)="addHashtagFromHighlight()">
									Thêm từ khóa</div>
							</div>
						</div>
						<div class="row form-group">
							<div class="col-sm-3">
								<label class="control-label">Loại câu hỏi <span class="text-danger">(*)</span></label>
								<ng-select notFoundText="Không có dữ liệu" [clearable]="false" class="form-control " [items]="listType"
									bindValue="value" placeholder="Chọn loại" bindLabel="text" formControlName="typeChat"
									[(ngModel)]="model.typeChat" style="font-weight: 600;" (change)="changeTypeChat()">
								</ng-select>
								<div
									*ngIf="(submitted && f.typeChat.invalid) || (f.typeChat.invalid && (f.typeChat.dirty || f.typeChat.touched))"
									class="has-error m-b-12">
									<div *ngIf="f.typeChat.errors.required">
										<span class="help-block">Trường dữ liệu này không để trống</span>
									</div>
								</div>
							</div>
							<div class="col-sm-2">
								<label class="control-label">Trạng thái <span class="text-danger">(*)</span></label>
								<ng-select notFoundText="Không có dữ liệu" class="form-control " [items]="listStatus" bindValue="value"
									placeholder="Chọn trạng thái" bindLabel="text" formControlName="isActived"
									[(ngModel)]="model.isActived" style="font-weight: 600;">
								</ng-select>
								<div
									*ngIf="(submitted && f.isActived.invalid) || (f.isActived.invalid && (f.isActived.dirty || f.isActived.touched))"
									class="has-error m-b-12">
									<div *ngIf="f.isActived.errors.required">
										<span class="help-block">Trường dữ liệu này không để trống</span>
									</div>
								</div>
							</div>
						</div>
						<ng-container *ngIf="model.typeChat == 1">
							<div class="row form-group">
								<div class="col-sm-5">
									<label class="mb-1"><i class="bi bi-tags mr-2"></i>Từ khóa</label>
									<ng-select #selectHashtag class="form-control" [items]="lstHashtag" bindValue="value" bindLabel="text"
										(keydown.enter)="onCreateHashtag($event)" [(ngModel)]="hashtagId"
										[ngModelOptions]="{standalone: true}" [virtualScroll]="true">
										<ng-template ng-option-tmp let-item="item">
											<div title="{{item.text}}">{{item.text}}</div>
										</ng-template>
									</ng-select>
								</div>
								<div class="col-sm-1">
									<label class="mb-1">&nbsp;</label>
									<button type="button" class="btn grd-blue btn-sm border-0 text-white px-2" (click)="onAddHashtag()">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
											class="bi bi-plus" viewBox="0 0 16 16">
											<path
												d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
										</svg>
									</button>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<div class="tags">
										<div class="alert border alert-dark d-inline-flex fade show py-2 pl-3 pr-2 mr-1 align-items-center"
											*ngFor="let item of lstHashtagSelected">
											<strong>{{item.hashtagName}}</strong>
											<button type="button" class="close h-100 pl-2" (click)="onRemoveHashtag(item)"><span><i
														class="mdi mdi-close"></i></span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</ng-container>

						<div class="row form-group" *ngIf="model.typeChat == 2">
							<div class="col-sm-12">
								<div class="search-user row d-flex">
									<div class="col-12 col-lg-5 form-group">
										<label class="mb-1 department">Lựa chọn</label>
										<input id="target" placeholder="Nhập lựa chọn.." svTrim class="form-control"
											[(ngModel)]="textAnswer" [ngModelOptions]="{standalone: true}" />
									</div>
									<div class="col-2 col-lg-2 form-group">
										<label class="mb-1 department">Loại trả lời</label>
										<ng-select notFoundText="Không có dữ liệu" [clearable]="false" class="form-control"
											[items]="listTypeAnswer" placeholder="Chọn .." bindLabel="text" bindValue="value"
											[virtualScroll]="true" [(ngModel)]="typeSuggest" [ngModelOptions]="{standalone: true}"
											[closeOnSelect]="true">
										</ng-select>
									</div>
									<div class="col-12 col-lg-4 form-group" *ngIf="typeSuggest == 1">
										<label class="mb-1 department">Gợi ý câu trả lời cho lựa chọn</label>
										<ng-select notFoundText="Không có dữ liệu" class="form-control" [items]="lstQuestion"
											placeholder="Chọn .." bindLabel="question" bindValue="id" [virtualScroll]="true"
											[(ngModel)]="questionId" [ngModelOptions]="{standalone: true}" [closeOnSelect]="true">
										</ng-select>
									</div>
									<div class="col-12 col-lg-4 form-group" *ngIf="typeSuggest == 2">
										<label class="mb-1 department">Url link</label>
										<input id="target" placeholder="Nhập .." svTrim class="form-control" [(ngModel)]="linkSuggest"
											[ngModelOptions]="{standalone: true}" />
									</div>
									<div class="col-12 col-lg-4 form-group" *ngIf="typeSuggest == 4">
										<label class="mb-1 department">Url link</label>
										<input id="target" placeholder="Nhập .." svTrim class="form-control" [(ngModel)]="linkSuggest"
											[ngModelOptions]="{standalone: true}" />
									</div>
									<div class="col-12 col-lg-4 form-group" *ngIf="typeSuggest == 3">
										<label class="mb-1 department">Lời chào mặc định</label>
										<input id="target" placeholder="Nhập .." svTrim class="form-control" [(ngModel)]="linkSuggest"
											[ngModelOptions]="{standalone: true}" />
									</div>
									<div class="col-lg-1 action padding-item center">
										<button type="button" style="width: 40px; height: 40px;"
											class="btn grd-blue btn-block border-0 px-3 text-white center" (click)="onAddAnswer()">
											<i class="bi bi-node-plus"></i>
										</button>
									</div>
								</div>
							</div>

							<div class="col-sm-12">
								<div class="title-user-map center" style="text-transform: none;" *ngIf="lstAnswer.length ==0">Chưa
									có lựa chọn</div>
								<div class="row" *ngFor="let item of lstAnswer; let i = index">
									<div class="col-12 col-lg-5 form-group">

										{{item.answer}}
									</div>
									<div class="col-12 col-lg-2 form-group">
										<span *ngIf="item.typeSuggest == 1">Câu trả lời</span>
										<span *ngIf="item.typeSuggest == 2">Link</span>
										<span *ngIf="item.typeSuggest == 3">Chat</span>
										<span *ngIf="item.typeSuggest == 4">Gửi phản ánh kiến nghị</span>
									</div>
									<div class="col-12 col-lg-4 form-group">
										<p>
											{{item.questionAnswers}}
										</p>

									</div>
									<div class="col-lg-1 action padding-item center">
										<button type="button" style="width: 40px; height: 40px; background: #E0E7FA; color: black;"
											class="btn grd-blue btn-block border-0 px-3 text-white center" (click)="preRemoveAnswer(i)">
											<i class="bi bi-node-minus"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer border-top-0">
						<button type="button" data-dismiss="modal" class="btn btn-outline-secondary border px-5"
							data-dismiss="modal">Hủy</button>
						<button type="button" class="btn btn-danger border-0 px-5 grd-blue" (click)="onSave()">Xác nhận</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>


<div class="modal fade" id="modalConfirm">
	<div class="modal-dialog modal-dialog-centered modal-md" style="min-width: 500px" role="document">
		<div class="modal-content rounded">
			<div class="modal-header border-bottom-0">
				<p class="modal-title h3">Xác nhận</p>
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span>
				</button>
			</div>
			<div class="modal-body pb-3 pt-3">
				<span>
					Anh/Chị có chắc chắn muốn thực hiện hành động này?
				</span>
			</div>
			<div class="modal-footer border-top-0">
				<button type="button" class="btn btn-outline-secondary btn-sm border w-127" data-dismiss="modal">Hủy</button>
				<button type="button" class="btn btn-danger border-0 w-127 grd-blue btn-sm" (click)="onRemoveAnswer()">Xác
					nhận</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="modalDetail">
	<div class="modal-dialog modal-dialog-centered" style="max-width: 40%" role="document">
		<div class="modal-content rounded">
			<form class="form-horizontal">
				<div class="panel panel-default no-margin">
					<div class="modal-header" style="border: none;">
						<button class="close btn-close-modal" data-dismiss="modal">
							×
						</button>
						<p class="modal-title h3">Thông tin</p>
					</div>
					<div class="modal-body no-padding-bottom" style="padding: 1.1rem;">
						<div class="row" style="border-bottom: 1px solid #EEEEEE; padding: 10px 0px;">
							<div class="col-sm-4">
								<label class="control-label lb600 detail-title">Câu trả lời: </label>
							</div>
							<div class="col-sm-6">
								<strong>{{model.question}}</strong>
							</div>
						</div>
						<div class="row" style="padding: 10px 0px;">
							<div class="col-sm-8">
								<label class="control-label lb600">Trạng thái: </label>
							</div>
							<div class="col-sm-4" style="text-align: right;">
								<span style="padding: 7px;" *ngIf="model.isActived == true" class="badge rounded-pill bg-success">Hiệu
									lực</span>
								<span style="padding: 7px;" *ngIf="model.isActived == false" class="badge rounded-pill badge-light">Hết
									hiệu lực</span>
							</div>
						</div>
					</div>

				</div>
			</form>
		</div>
	</div>
</div>


<div class="modal fade" id="modalConfirmDelete">
	<div class="modal-dialog modal-dialog-centered modal-md" style="min-width: 500px" role="document">
		<div class="modal-content rounded">
			<div class="modal-header border-bottom-0">
				<p class="modal-title h3">Xác nhận</p>
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span>
				</button>
			</div>
			<div class="modal-body pb-3 pt-3">
				<span>
					Anh/Chị có chắc chắn muốn xóa câu hỏi này?
				</span>
			</div>
			<div class="modal-footer border-top-0">
				<button type="button" class="btn btn-outline-secondary btn-sm border w-127" data-dismiss="modal">Hủy</button>
				<button type="button" class="btn btn-danger border-0 w-127 grd-blue btn-sm"
					(click)="onDelete(idDelete, categoryIdDelete)">Xác nhận</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="modalConfirmUpdateStatus">
	<div class="modal-dialog modal-dialog-centered modal-md" style="min-width: 500px" role="document">
		<div class="modal-content rounded">
			<div class="modal-header border-bottom-0">
				<p class="modal-title h3">Xác nhận</p>
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span>
				</button>
			</div>
			<div class="modal-body pb-3 pt-3">
				<span>
					Anh/Chị có chắc chắn muốn thay đổi trạng thái của câu hỏi này?
				</span>
			</div>
			<div class="modal-footer border-top-0">
				<button type="button" class="btn btn-outline-secondary btn-sm border w-127" data-dismiss="modal">Hủy</button>
				<button type="button" class="btn btn-danger border-0 w-127 grd-blue btn-sm"
					(click)="onUpdateStatus(dataUpdate)">Xác nhận</button>
			</div>
		</div>
	</div>
</div>