<div class="container-fluid p-0">
	<div class="row">
		<div class="col-lg-12">
			<ol class="breadcrumb title-module px-0 bg-transparent mb-0">
				<li class="breadcrumb-item active"><a class="font-weight-bold">THƯ VIỆN CHATBOT</a></li>
			</ol>
			<div class="btn-group group-button-table" role="group">

				<button type="button" class="btn grd-blue btn-sm rounded border-0 text-white" (click)="preCreate()" *hasPermission="['3', 'A_XI_0']">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
						<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
					</svg>
					Thêm mới
				</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="card mb-0 shadow-none">
				<div class="table-responsive">

					<p-table #table [value]="listData" [lazy]="true" (onLazyLoad)="onPageChange($event)" [paginator]="true" [showCurrentPageReport]="true"
						currentPageReportTemplate="Tổng số {{totalRecords}}" [rows]="pageSize" [totalRecords]="totalRecords" [responsive]="true" autoLayout="true"
						tableStyleClass="table table-sd table-responsive-md table-striped mb-0">
						<ng-template pTemplate="header" class="bg-thead">
							<tr>
								<th style="width: 50px">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>STT</strong>
									</p>
								</th>
								<th style="width: 350px">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Câu hỏi</strong>
									</p>
									<input class="form-control form-control-sm" [(ngModel)]="question" maxlength="100" (keydown.enter)="dataStateChange()"
										placeholder="Nhập câu hỏi..." />
								</th>
								<th>
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Trả lời</strong>
									</p>
									<input class="form-control form-control-sm" [(ngModel)]="answer" maxlength="100" (keydown.enter)="dataStateChange()"
										placeholder="Nhập câu trả lời..." />
								</th>
								<th style="width: 160px">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Trạng thái</strong>
									</p>
									<div style="width: 160px" class="dropdown bootstrap-select form-control form-control-sm">
										<ng-select class="" [items]="listStatus" placeholder="Trạng thái ..." bindLabel="text" bindValue="value" [(ngModel)]="isActived"
											[closeOnSelect]="true" (change)="dataStateChange()">
										</ng-select>
									</div>
								</th>
								<th class="text-right" style="width: 100px;">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Thao tác</strong>
									</p>
								</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
							<tr>
								<td class="text-center">{{rowIndex + 1}}</td>
								<td>
									<strong>
										<a *hasNotPermission="['3', 'A_XI_4']" class="ellipsis text-dark" type="button" title="Xem chi tiết">{{item.question}}</a>
										<a *hasPermission="['3', 'A_XI_4']" (click)="preView(item)" class="ellipsis text-dark" type="button" title="Xem chi tiết">{{item.question}}</a>
									</strong>
								</td>
								<td>{{item.answer}}</td>
								<td>
									<p *ngIf="item.isActived" style="margin-bottom: 0px;">
										<span *hasNotPermission="['3', 'A_XI_5']" type="button" class="badge rounded-pill bg-success">Hiệu lực</span>
										<span *hasPermission="['3', 'A_XI_5']" type="button" (click)="preUpdateStatus(item)" class="badge rounded-pill bg-success">Hiệu lực</span>
									</p>
									<p *ngIf="!item.isActived" style="margin-bottom: 0px;">
										<span *hasNotPermission="['3', 'A_XI_5']" type="button" class="badge rounded-pill badge-light">Hết hiệu lực</span>
										<span *hasPermission="['3', 'A_XI_5']" type="button" (click)="preUpdateStatus(item)" class="badge rounded-pill badge-light">Hết hiệu lực</span>
									</p>
								</td>
								<td style="max-width: 100px;">
									<div class="d-flex justify-content-end">
										<a *hasPermission="['3', 'A_XI_1']" type="button" (click)="preUpdate(item)" class="btn-icon grd-brown text-brown mr-2"><i class="bi bi-pencil-square"></i></a>
										<a *hasPermission="['3', 'A_XI_2']" type="button" (click)="preDelete(item.id, item.categoryId)" class="btn-icon grd-red text-white" data-toggle="modal"
											data-target="#modal-tc-pakn"><i class="bi bi-trash"></i></a>
									</div>
								</td>
							</tr>
						</ng-template>
						<ng-template pTemplate="emptymessage">
							<tr>
								<td class="text-center" colspan="5">Không có dữ liệu</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal">
	<div class="modal-dialog modal-dialog-centered" style="min-width: 60%" role="document">
		<div class="modal-content rounded">
			<form class="form-horizontal" [formGroup]="form" #formDir="ngForm">
				<div class="panel panel-default no-margin">
					<div class="modal-header">
						<button class="close btn-close-modal" data-dismiss="modal">
							×
						</button>
						<p class="modal-title h3">{{title}}</p>
					</div>
					<div class="modal-body no-padding-bottom">
						<div class="row form-group">
							<div class="col-sm-8">
								<label class="control-label">Câu hỏi <span class="text-danger">(*)</span></label>
								<input id="target" placeholder="Nhập câu hỏi..." svTrim class="form-control" formControlName="question" [(ngModel)]="model.question"  maxlength="500"/>
								<div *ngIf="(submitted && f.question.invalid) || (f.question.invalid && (f.question.dirty || f.question.touched))" class="has-error m-b-12">
									<div *ngIf="f.question.errors.required">
										<span class="help-block">Trường dữ liệu này không để trống</span>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<label class="control-label">Trạng thái <span class="text-danger">(*)</span></label>
								<ng-select class="form-control " [items]="listStatus" bindValue="value" placeholder="Chọn trạng thái" bindLabel="text" formControlName="isActived"
									[(ngModel)]="model.isActived" style="font-weight: 600;">
								</ng-select>
								<div *ngIf="(submitted && f.isActived.invalid) || (f.isActived.invalid && (f.isActived.dirty || f.isActived.touched))" class="has-error m-b-12">
									<div *ngIf="f.isActived.errors.required">
										<span class="help-block">Trường dữ liệu này không để trống</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row form-group">
							<div class="col-sm-12">
								<label class="control-label">Trả lời <span class="text-danger">(*)</span></label>
								<textarea placeholder="Nhập trả lời..." class="form-control" textareaTrim formControlName="answer" type="text" rows="4" maxlength="500"
									[(ngModel)]="model.answer"></textarea>
								<div *ngIf="(submitted && f.answer.invalid) || (f.answer.invalid && (f.answer.dirty || f.answer.touched))" class="has-error m-b-12">
									<div *ngIf="f.answer.errors.required">
										<span class="help-block">Trường dữ liệu này không để trống</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer border-top-0">
						<button type="button" data-dismiss="modal" class="btn btn-outline-secondary border px-5" data-dismiss="modal">Hủy</button>
						<button type="button" class="btn btn-danger border-0 px-5 grd-blue" (click)="onSave()">Xác nhận</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="modalDetail">
	<div class="modal-dialog modal-dialog-centered" style="max-width: 40%" role="document">
		<div class="modal-content rounded">
			<form class="form-horizontal">
				<div class="panel panel-default no-margin">
					<div class="modal-header" style="border: none;">
						<button class="close btn-close-modal" data-dismiss="modal">
							×
						</button>
						<p class="modal-title h3">Thông tin</p>
					</div>
					<div class="modal-body no-padding-bottom" style="padding: 1.1rem;">
						<div class="row" style="border-bottom: 1px solid #EEEEEE; padding: 10px 0px;">
							<div class="col-sm-4">
								<label class="control-label lb600 detail-title">Câu hỏi: </label>
							</div>
							<div class="col-sm-6">
								<strong>{{model.question}}</strong>
							</div>
						</div>
						<div class="row" style="border-bottom: 1px solid #EEEEEE; padding: 10px 0px;">
							<div class="col-sm-12">
								<label class="control-label lb600">Trả lời: </label>
							</div>
							<div class="col-sm-12">
								<p>{{model.answer}}</p>
							</div>
						</div>

						<div class="row" style="padding: 10px 0px;">
							<div class="col-sm-8">
								<label class="control-label lb600">Trạng thái: </label>
							</div>
							<div class="col-sm-4" style="text-align: right;">
								<span style="padding: 7px;" *ngIf="model.isActived == true" class="badge rounded-pill bg-success">Hiệu
									lực</span>
								<span style="padding: 7px;" *ngIf="model.isActived == false" class="badge rounded-pill badge-light">Hết
									hiệu lực</span>
							</div>
						</div>
					</div>

				</div>
			</form>
		</div>
	</div>
</div>


<div class="modal fade" id="modalConfirmDelete">
	<div class="modal-dialog modal-dialog-centered modal-md" style="min-width: 500px" role="document">
		<div class="modal-content rounded">
			<div class="modal-header border-bottom-0">
				<p class="modal-title h3">Xác nhận</p>
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span>
				</button>
			</div>
			<div class="modal-body pb-3 pt-3">
				<span>
					Anh/Chị có chắc chắn muốn xóa câu hỏi này?
				</span>
			</div>
			<div class="modal-footer border-top-0">
				<button type="button" class="btn btn-outline-secondary btn-sm border px-5" data-dismiss="modal">Hủy</button>
				<button type="button" class="btn btn-danger border-0 px-5 grd-blue btn-sm" (click)="onDelete(idDelete, categoryIdDelete)">Xác nhận</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="modalConfirmUpdateStatus">
	<div class="modal-dialog modal-dialog-centered modal-md" style="min-width: 500px" role="document">
		<div class="modal-content rounded">
			<div class="modal-header border-bottom-0">
				<p class="modal-title h3">Xác nhận</p>
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span>
				</button>
			</div>
			<div class="modal-body pb-3 pt-3">
				<span>
					Anh/Chị có chắc chắn muốn thay đổi trạng thái của câu hỏi này?
				</span>
			</div>
			<div class="modal-footer border-top-0">
				<button type="button" class="btn btn-outline-secondary btn-sm border px-5" data-dismiss="modal">Hủy</button>
				<button type="button" class="btn btn-danger border-0 px-5 grd-blue btn-sm" (click)="onUpdateStatus(dataUpdate)">Xác nhận</button>
			</div>
		</div>
	</div>
</div>

