<div class="content-body">


	<div class="container-fluid p-0">
		<div class="row">
			<div class="col-lg-12">
				<ol class="breadcrumb title-module px-0 bg-transparent mb-0">
					<li class="breadcrumb-item"><a>Vai trò</a></li>
					<li class="breadcrumb-item active"><a class="font-weight-bold">{{action}}</a></li>
				</ol>
				<div class="btn-group group-button-table" role="group">
					<a class="btn btn-sm btn-default rounded mr-3" style="border: 1px solid gray;" [routerLink]="['/quan-tri/he-thong','vai-tro']">
						<i class="bi bi-arrow-left"></i>&nbsp;
						Quay lại
					</a>
					<button class="btn btn-sm grd-xanhngoc text-white rounded border-0 mr-3" (click)="onSave()">{{action}}</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4" style="padding: 20px 20px 0px 40px; border-right: 1px solid #e5e5e5;">
				<form class="form-horizontal" [formGroup]="form">
					<div class="row form-group">
						<div class="col-sm-12">
							<label class="control-label">Tên vai trò<span class="text-danger">(*)</span></label>
							<input class="form-control" formControlName="name" [(ngModel)]="model.name" maxlength="100" placeholder="Nhập..." />
							<div *ngIf="(submitted && f.name.invalid) || (f.name.invalid && (f.name.dirty || f.name.touched))" class="has-error m-b-12">
								<div *ngIf="f.name.errors.required">
									<span class="help-block">Trường dữ liệu này không để trống</span>
								</div>
							</div>
						</div>

						<div class="col-sm-12">
							<label class="control-label">Số thứ tự hiển thị</label>
							<input class="form-control" [(ngModel)]="model.orderNumber" formControlName="orderNumber" placeholder="Nhập..." />
							<div class="has-error m-b-12">
								<div *ngIf="f.orderNumber.errors">
									<span class="help-block">Vui lòng nhập định dạng Number</span>
								</div>
							</div>
						</div>
						<div class="col-sm-12">
							<label class="control-label">Mô tả</label>
							<textarea class="form-control" [(ngModel)]="model.description" formControlName="description" rows="5" placeholder="Nhập..."></textarea>
						</div>
						<div class="col-sm-12">
							<label class="control-label">Trạng thái <span class="text-danger">(*)</span></label>
							<ng-select class="form-control " [items]="listStatus" bindValue="value" placeholder="Chọn trạng thái" bindLabel="text" formControlName="isActived"
								[(ngModel)]="model.isActived" style="font-weight: 600;">
							</ng-select>
							<div *ngIf="(submitted && f.isActived.invalid) || (f.isActived.invalid && (f.isActived.dirty || f.isActived.touched))" class="has-error m-b-12">
								<div *ngIf="f.isActived.errors.required">
									<span class="help-block">Trường dữ liệu này không để trống</span>
								</div>
							</div>
						</div>
						<div class="w-100"></div>
						<div class="col-sm-10 form-group">
							<label class="mb-1">Thêm người dùng</label>
							<ng-select placeholder="Nhập..." class="form-control" [items]="listUserIsSystem" bindValue="value" bindLabel="text" formControlName="userId"
								[virtualScroll]="true" [(ngModel)]="userId">
								<ng-template ng-option-tmp let-item="item">
									<div title="{{item.text}}">{{item.text}}</div>
								</ng-template>
							</ng-select>
						</div>
						<div class="col-sm-2 form-group" style="display: flex;align-items: flex-end;padding-left : 0px;">
							<button type="button" class="btn grd-blue btn-block border-0 px-3 text-white" (click)="onCreateUser()">
								<i class="bi bi-person-plus"></i>
							</button>
						</div>
						<div class="col-12">
							<div class="alert alert-dark d-inline-flex fade show py-2 pl-3 pr-2 align-items-center mr-1" style="background: #e2e2e2;"
								*ngFor="let item of listItemUserSelected">
								<strong>{{item.text}}</strong>
								<button type="button" class="close h-100 pl-2" (click)="onRemoveUser(item)"><span><i class="mdi mdi-close"></i></span>
								</button>
							</div>
						</div>
						<div class="w-100"></div>


					</div>
				</form>
			</div>
			<div class="col-md-8">
			</div>
		</div>
	</div>
</div>
