<div class="modal fade" id="modal-user-view-info">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content rounded">
			<div class="modal-header border-bottom-0 bg-ligth-gold">
				<p class="modal-title h3">Thông tin người dùng</p>
				<button type="button" class="close" (click)="closeModal()"><span>&times;</span>
				</button>
			</div>
			<div class="modal-body pb-0 mt-0 pt-0">

				<!-- <form id="createUserForm" [formGroup]="createUserForm" (ngSubmit)="onSaveUser()"> -->
				<div class="align-items-center mb-4 avatar-bg">
					<div class="avatar-frame">
						<img id="avatar-view" [src]="userAvatar" />
						<span class="no-avatar-view">
							<!-- <i class="pi pi-user"></i> -->
							<svg width="78" height="78" viewBox="0 0 78 78" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd"
									d="M6.5 78C6.5 78 0 78 0 71.5C0 65 6.5 45.5 39 45.5C71.5 45.5 78 65 78 71.5C78 78 71.5 78 71.5 78H6.5ZM39 39C44.1717 39 49.1316 36.9455 52.7886 33.2886C56.4455 29.6316 58.5 24.6717 58.5 19.5C58.5 14.3283 56.4455 9.36838 52.7886 5.71142C49.1316 2.05446 44.1717 0 39 0C33.8283 0 28.8684 2.05446 25.2114 5.71142C21.5545 9.36838 19.5 14.3283 19.5 19.5C19.5 24.6717 21.5545 29.6316 25.2114 33.2886C28.8684 36.9455 33.8283 39 39 39Z"
									fill="#743F15" />
							</svg>

						</span>
					</div>
					<div class="text-center">
						<p><strong>{{model.fullName}}</strong></p>
						<p>Tài khoản: {{model.userName}}</p>
					</div>
				</div>
				<div class="box">
					<div class="row">
						<div class="col">
							<p class="mb-1">Số điện thoại</p>
							<p class="h4 mb-0 pb-3 border-bottom">{{model.phone}}</p>
						</div>
						<div class="col">
							<p class="mb-1">Giới tính</p>
							<p class="h4 mb-0 pb-3 border-bottom">
								<span *ngIf="model.gender">Nam</span>
								<span *ngIf="!model.gender">Nữ</span>
							</p>
						</div>
						<div class="col">
							<p class="mb-1">Chức vụ</p>
							<p class="h4 mb-0 pb-3 border-bottom">{{model.fullName}}</p>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<p class="mb-1">Email</p>
							<p class="h4 mb-0 pb-3 border-bottom">{{model.fullName}}</p>
						</div>
						<div class="col">
							<p class="mb-1">Đơn vị</p>
							<p class="h4 mb-0 pb-3 border-bottom">{{model.fullName}}</p>
						</div>
						<div class="col">
							<p class="mb-1">Trạng thái</p>
							<p class="h4 mb-0 pb-3 border-bottom">{{model.fullName}}</p>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<p class="mb-1">Địa chỉ</p>
							<p class="h4 mb-0 pb-3 border-bottom">{{model.fullName}}</p>
						</div>
						<div class="col">
							<p class="mb-1">Vai trò</p>
							<p class="h4 mb-0 pb-3 border-bottom">{{model.fullName}}</p>
						</div>
					</div>
				</div>
				<!-- </form> -->
			</div>
			<div class="modal-footer border-top-0">
				<button type="button" class="btn btn-outline-secondary border px-5" data-dismiss="modal">Sửa thông tin</button>
				<!-- <button type="button" (click)="onSaveUser()" class="btn btn-danger border-0 px-5 grd-blue">
					{{modal_btn_save}}
				</button> -->
			</div>
		</div>
	</div>
</div>
