<div class="content-body">
	<div class="row">
		<div class="col-lg-12">
			<div class="breadcrumb title-module px-0 bg-transparent" style="font-size: 18px;font-weight: 600;">
				<p class="mb-0 h4"><strong>Tạo mới vai trò</strong> </p>
			</div>
			<div class="btn-group group-button-table" role="group">
				<a class="btn btn-sm btn-default rounded mr-3" style="border: 1px solid gray;" [routerLink]="['/quan-tri','vai-tro']">
					<i class="bi bi-arrow-left"></i>&nbsp;
					Quay lại
				</a>
			</div>
		</div>
	</div>
</div>
