<div class="content-nd">
	<div class="container pt-5">
		<div class="row justify-content-between">
			<div class="col-12 col-lg-auto d-none d-lg-block sidebar-ct">
				<div class="media pt-3 mb-3">
					<div class="avatar-circle bg-light mr-2">
						<i class="bi bi-person-fill text-dark" style="font-size: 24px"></i>
					</div>
					<div class="media-body">
						<p class="my-0 font-weight-bolder h4">Nguyễn Thị Liêm</p>
						<p class="mb-0 small">SĐT: 0987.654.321</p>
					</div>
				</div>
				<ul class="nav nav-qltknd flex-column">
					<li class="nav-item border-bottom">
						<a class="nav-link px-0 h5 active" aria-current="page" href="#">Thông tin tài khoản</a>
					</li>
					<li class="nav-item border-bottom">
						<a class="nav-link px-0 h5" href="#">Đổi mật khẩu</a>
					</li>
					<li class="nav-item">
						<a class="nav-link px-0 h5" href="#">Đăng xuất</a>
					</li>
				</ul>
				<div class="sb-tk-pakn mb-4">
					<div class="tt-v1 pt-3 pb-3 d-flex justify-content-between">
						<h4 class="text-uppercase">Thống kê PAKN của tôi</h4>
						<h4 class="counter">60</h4>
					</div>
					<div class="card-body p-0">
						<p class="mb-1">Chờ xử lý
							<span class="pull-right font-weight-bold cl-yellow counter">20</span>
						</p>
						<div class="progress ">
							<div class="progress-bar grd-yellow1 progress-animated" style="width: 85%; height:6px;" role="progressbar">
							</div>
						</div>

						<p class="mb-1 mt-4">Đã tiếp nhận
							<span class="pull-right font-weight-bold cl-blue2 counter">12</span>
						</p>
						<div class="progress ">
							<div class="progress-bar grd-xanhngoc progress-animated" style="width: 35%; height:6px;" role="progressbar">
							</div>
						</div>

						<p class="mb-1 mt-4">Đã trả lời
							<span class="pull-right font-weight-bold cl-blue counter">13</span>
						</p>
						<div class="progress ">
							<div class="progress-bar grd-blue progress-animated" style="width: 40%; height:6px;" role="progressbar">
							</div>
						</div>

						<p class="mb-1 mt-4">Bị từ chối
							<span class="pull-right font-weight-bold cl-red counter">05</span>
						</p>
						<div class="progress ">
							<div class="progress-bar grd-red progress-animated" style="width: 15%; height:6px;" role="progressbar">
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="col main-ct pl-3 pl-lg-4">
				<div class="box">
					<div class="tt-v1 pt-3 mb-3">
						<h4 class="text-uppercase">Thông tin tài khoản</h4>
					</div>
					<div class="row">
						<div class="col">
							<p class="mb-1">Họ và Tên</p>
							<p class="h4 mb-0 pb-3 border-bottom">Nguyễn Thị Liêm</p>
						</div>
						<div class="col">
							<p class="mb-1">Ngày tháng năm sinh</p>
							<p class="h4 mb-0 pb-3 border-bottom">10/01/1990</p>
						</div>
						<div class="col">
							<p class="mb-1">Email</p>
							<p class="h4 mb-0 pb-3 border-bottom">liemnt@gmail.com</p>
						</div>
						<div class="w-100 mb-3"></div>
						<div class="col">
							<p class="mb-1">Quốc tịch</p>
							<p class="h4 mb-0 pb-3 border-bottom">Việt Nam</p>
						</div>
						<div class="col">
							<p class="mb-1">Tỉnh / Thành phố</p>
							<p class="h4 mb-0 pb-3 border-bottom">Khánh Hòa</p>
						</div>
						<div class="col">
							<p class="mb-1">Huyện / Quận / thị xã ...</p>
							<p class="h4 mb-0 pb-3 border-bottom">Huyện Abc</p>
						</div>
						<div class="w-100 mb-3"></div>
						<div class="col">
							<p class="mb-1">Xã / Phường / Thị trấn</p>
							<p class="h4 mb-0 pb-3 border-bottom">Xã Abc</p>
						</div>
						<div class="col col-lg-8">
							<p class="mb-1">Địa chỉ cụ thể</p>
							<p class="h4 mb-0 pb-3 border-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</div>
						<div class="w-100 mb-3"></div>
						<div class="col">
							<p class="mb-1">Số CMND / CCCD / Hộ chiếu</p>
							<p class="h4 mb-0 pb-3 border-bottom">123456789</p>
						</div>
						<div class="col">
							<p class="mb-1">Nơi cấp</p>
							<p class="h4 mb-0 pb-3 border-bottom">Công an tỉnh Khánh Hòa</p>
						</div>
						<div class="col">
							<p class="mb-1">Ngày cấp</p>
							<p class="h4 mb-0 pb-3 border-bottom">20/01/2015</p>
						</div>
						<div class="w-100 mb-3"></div>
						<div class="col">
							<p class="mb-1">Giới tính: <span class="h4">Nữ</span></p>
						</div>
					</div>
					<div class="row">
						<div class="col text-right">
							<button type="button" class="btn grd-brown text-dark border-0 rounded-xl mt-3">Sửa thông tin</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
