<div class="content-nd">
	<div class="container pt-5">
		<div class="row justify-content-between">
			<div class="col-12 col-lg-auto d-none d-lg-block sidebar-ct">
				<div class="media pt-3 mb-3">
					<div class="avatar-circle bg-light mr-2">
						<i class="bi bi-person-fill text-dark" style="font-size: 24px"></i>
					</div>
					<div class="media-body">
						<p class="my-0 font-weight-bolder h4">{{model.fullName}}</p>
						<p class="mb-0 small">Tài khoản: {{model.userName}}</p>
					</div>
				</div>
				<ul class="nav nav-qltknd flex-column">
					<li class="nav-item border-bottom">
						<a class="nav-link px-0 h5" routerLinkActive="active" aria-current="page" [routerLink]="['../thong-tin']">Thông tin tài khoản</a>
					</li>
					<li class="nav-item border-bottom">
						<a class="nav-link px-0 h5" routerLinkActive="active" [routerLink]="['../thay-doi-mat-khau']">Đổi mật khẩu</a>
					</li>
					<li class="nav-item">
						<a class="nav-link px-0 h5" href="javascript:void(0);" (click)="signOut()">Đăng xuất</a>
					</li>
				</ul>
				<div class="sb-tk-pakn mb-4">
					<div class="tt-v1 pt-3 pb-3 d-flex justify-content-between">
						<h4 class="text-uppercase">Thống kê PAKN của tôi</h4>
						<h4 class="counter">60</h4>
					</div>
					<div class="card-body p-0">
						<p class="mb-1">Chờ xử lý
							<span class="pull-right font-weight-bold cl-yellow counter">20</span>
						</p>
						<div class="progress ">
							<div class="progress-bar grd-yellow1 progress-animated" style="width: 85%; height:6px;" role="progressbar">
							</div>
						</div>

						<p class="mb-1 mt-4">Đã tiếp nhận
							<span class="pull-right font-weight-bold cl-blue2 counter">12</span>
						</p>
						<div class="progress ">
							<div class="progress-bar grd-xanhngoc progress-animated" style="width: 35%; height:6px;" role="progressbar">
							</div>
						</div>

						<p class="mb-1 mt-4">Đã trả lời
							<span class="pull-right font-weight-bold cl-blue counter">13</span>
						</p>
						<div class="progress ">
							<div class="progress-bar grd-blue progress-animated" style="width: 40%; height:6px;" role="progressbar">
							</div>
						</div>

						<p class="mb-1 mt-4">Bị từ chối
							<span class="pull-right font-weight-bold cl-red counter">05</span>
						</p>
						<div class="progress ">
							<div class="progress-bar grd-red progress-animated" style="width: 15%; height:6px;" role="progressbar">
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="col main-ct pl-3 pl-lg-4">
				<div *ngIf="viewVisiable == 'info'" class="box">
					<div class="tt-v1 pt-3 mb-3">
						<h4 class="text-uppercase">Thông tin tài khoản</h4>
					</div>
					<div class="row">
						<div class="col">
							<p class="mb-1">Họ và Tên</p>
							<p class="h4 mb-0 pb-3 border-bottom">{{model.fullName}}</p>
						</div>
						<div class="col">
							<p class="mb-1">Ngày tháng năm sinh</p>
							<p class="h4 mb-0 pb-3 border-bottom">{{model.dateOfBirth}}</p>
						</div>
						<div class="col">
							<p class="mb-1">Email</p>
							<p class="h4 mb-0 pb-3 border-bottom">{{model.email}}</p>
						</div>
						<div class="w-100 mb-3"></div>
						<div class="col">
							<p class="mb-1">Quốc tịch</p>
							<p class="h4 mb-0 pb-3 border-bottom">{{model.nation}}</p>
						</div>
						<div class="col">
							<p class="mb-1">Tỉnh / Thành phố</p>
							<p class="h4 mb-0 pb-3 border-bottom">{{getProvinceName}}</p>
						</div>
						<div class="col">
							<p class="mb-1">Huyện / Quận / thị xã ...</p>
							<p class="h4 mb-0 pb-3 border-bottom">{{getDistrictName}}</p>
						</div>
						<div class="w-100 mb-3"></div>
						<div class="col">
							<p class="mb-1">Xã / Phường / Thị trấn</p>
							<p class="h4 mb-0 pb-3 border-bottom">{{getWardsName}}</p>
						</div>
						<div class="col col-lg-8">
							<p class="mb-1">Địa chỉ cụ thể</p>
							<p class="h4 mb-0 pb-3 border-bottom">{{model.address}}</p>
						</div>
						<div class="w-100 mb-3"></div>
						<div class="col">
							<p class="mb-1">Số CMND / CCCD / Hộ chiếu</p>
							<p class="h4 mb-0 pb-3 border-bottom">{{model.idCard}}</p>
						</div>
						<div class="col">
							<p class="mb-1">Nơi cấp</p>
							<p class="h4 mb-0 pb-3 border-bottom">{{model.issuedPlace}}</p>
						</div>
						<div class="col">
							<p class="mb-1">Ngày cấp</p>
							<p class="h4 mb-0 pb-3 border-bottom">{{model.issuedDate}}</p>
						</div>
						<div class="w-100 mb-3"></div>
						<div class="col">
							<p class="mb-1">Giới tính: <span class="h4" *ngIf="!model.gender">Nữ</span><span class="h4" *ngIf="model.gender">Nam</span></p>
						</div>
					</div>
					<div class="row">
						<div class="col text-right clearfix">
							<a type="button" class="btn grd-brown text-dark border-0 rounded-xl mt-3 pull-right" [routerLink]="['../chinh-sua-thong-tin']">Sửa thông tin</a>
						</div>
					</div>
				</div>
				<app-change-password *ngIf="viewVisiable == 'pwd'"></app-change-password>
				<app-account-update-info *ngIf="viewVisiable == 'edit'"></app-account-update-info>
			</div>
		</div>
	</div>
</div>
