<div class="content-nd">
	<div class="container pt-5">
		<div class="row justify-content-between">
			<div class="col-12 col-lg-auto d-none d-lg-block sidebar-ct">
				<app-account-side-left></app-account-side-left>
			</div>
			<div class="col main-ct pl-3 pl-lg-4">
				<div *ngIf="viewVisiable == 'info'" class="box">
					<div class="tt-v1 pt-3 mb-3">
						<h4 class="text-uppercase">Thông tin tài khoản</h4>
					</div>
					<div class="row" *ngIf="userType != 1">
						<div class="col">
							<p class="mb-1">Họ và Tên</p>
							<p class="h4 mb-0 pb-3 border-bottom set-height">{{model.fullName}}</p>
						</div>
						<div class="col">
							<p class="mb-1">Số CMND / CCCD / Hộ chiếu</p>
							<p class="h4 mb-0 pb-3 border-bottom set-height">{{model.idCard}}</p>
						</div>
						<div class="w-100 mb-3"></div>
						<div class="col">
							<p class="mb-1">Số điện thoại</p>
							<p class="h4 mb-0 pb-3 border-bottom set-height">{{model.phone}}</p>
						</div>
						<div class="col">
							<p class="mb-1">Email</p>
							<p class="h4 mb-0 pb-3 border-bottom set-height">{{model.email}}</p>
						</div>
						<div class="w-100 mb-3"></div>
						<div class="col col-lg-12">
							<p class="mb-1">Địa chỉ cụ thể</p>
							<p class="h4 mb-0 pb-3 border-bottom set-height">{{model.address}}</p>
						</div>
					</div>

					<div class="row" *ngIf="userType == 1">
						<div class="col col-lg-8">
							<p class="mb-1">Họ và Tên</p>
							<p class="h4 mb-0 pb-3 border-bottom set-height">{{model.fullName}}</p>
						</div>
						<div class="col">
							<p class="mb-1">Email</p>
							<p class="h4 mb-0 pb-3 border-bottom set-height">{{model.email}}</p>
						</div>
						<div class="w-100 mb-3"></div>

						<div class="col">
							<p class="mb-1">Điện thoại</p>
							<p class="h4 mb-0 pb-3 border-bottom set-height">{{model.phone}}</p>
						</div>
						<div class="col">
							<p class="mb-1">Chức vụ</p>
							<p class="h4 mb-0 pb-3 border-bottom set-height">{{model.positionName}}</p>
						</div>
						<div class="col">
							<p class="mb-1">Đơn vị</p>
							<p class="h4 mb-0 pb-3 border-bottom set-height">{{model.unitName}}</p>
						</div>
						<div class="w-100 mb-3"></div>
						<div class="col">
							<p class="mb-1">Vai trò</p>
							<p class="h4 mb-0 pb-3 border-bottom set-height">{{model.rolesNames}}</p>
						</div>
						<div class="col col-lg-8">
							<p class="mb-1">Địa chỉ cụ thể</p>
							<p class="h4 mb-0 pb-3 border-bottom set-height">{{model.address}}</p>
						</div>
						<div class="w-100 mb-3"></div>
						<div class="col col-lg-4">
							<p class="mb-1">Trạng thái</p>
							<p class="h4 mb-0 pb-3 border-bottom set-height">{{model.isActived == true ? 'Hiệu lực' : 'Hết hiệu lực'}}</p>
						</div>
						<div class="col col-lg-4">
							<p class="mb-1">Giới tính </p>
							<p class="4 mb-0 pb-3 border-bottom set-height"><span class="h4" *ngIf="!model.gender">Nữ</span><span class="h4" *ngIf="model.gender">Nam</span></p>
						</div>
					</div>

					<div class="row" *ngIf="userType != 1">
						<div class="col text-right clearfix">
							<a type="button" class="btn grd-brown text-dark border-0 rounded-xl mt-3 mb-4 pull-right" [routerLink]="['../chinh-sua-thong-tin']">Sửa thông tin</a>
						</div>
					</div>
				</div>
				<app-change-password *ngIf="viewVisiable == 'pwd'"></app-change-password>
				<app-account-update-info *ngIf="viewVisiable == 'edit'"></app-account-update-info>
			</div>
		</div>
	</div>
</div>
