.hover-active a :hover {
	cursor: pointer;
}
strong.highlight:hover {
	color: #42a4ff;
	cursor: pointer;
}
strong.highlight {
	cursor: pointer;
}
/* .change-status-title {
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 1.1rem;
} */
