<div class="container-fluid p-0">
	<div class="row">
		<div class="col-lg-12">
			<!-- <ol class="breadcrumb title-module px-0 bg-transparent mb-0">
				<li class="breadcrumb-item"><a>Danh mục</a></li>
				<li class="breadcrumb-item active"><a class="font-weight-bold"> Hashtag</a></li>
			</ol> -->
			<div class="breadcrumb title-module px-0 bg-transparent" style="text-transform: uppercase; font-size: 18px;font-weight: 600;">Danh sách Hashtag</div>
			<div class="btn-group group-button-table" role="group">
				<!-- <button type="button" class="btn grd-brown3 btn-sm rounded border-0 mr-3 text-dark">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-excel mr-1" viewBox="0 0 16 16">
						<path
							d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z" />
						<path
							d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
					</svg>
					Xuất excel
				</button> -->
				<button type="button" class="btn grd-xanhngoc btn-sm rounded border-0 text-white" (click)="preCreate()">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
						<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
					</svg>
					Thêm mới
				</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="card mb-0 shadow-none">
				<div class="table-responsive">
					<p-table #table [value]="listHastag" [lazy]="true" (onLazyLoad)="onPageChange($event)" [paginator]="true" [showCurrentPageReport]="true"
						currentPageReportTemplate="Tổng số {{totalRecord}}" [rows]="PageSize" [totalRecords]="totalRecord" [responsive]="true" autoLayout="true"
						tableStyleClass="table table-sd table-responsive-md table-striped mb-0">
						<ng-template pTemplate="header" class="bg-thead">
							<tr>
								<th style="width: 5%">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>STT</strong>
									</p>
								</th>

								<th style="width: 63%;">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Tên Hashtag</strong>
										<span class="caret-tb"></span>
									</p>
									<input class="form-control form-control-sm" [(ngModel)]="nameHash" maxlength="100" (keydown.enter)="dataStateChange()"
										placeholder="Nhập tên..." />
								</th>

								<th style="width: 18%;">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Số lượng kiến nghị</strong>
										<span class="caret-tb"></span>
									</p>
									<input class="form-control form-control-sm" [(ngModel)]="QuantityUser" maxlength="100" (keydown.enter)="dataStateChange()"
										placeholder="Nhập số lượng..." />
								</th>

								<th style="width: 12%;">
									<p class="mb-1 d-flex justify-content-between align-items-center label-thead">
										<strong>Trạng thái</strong>
										<span class="caret-tb"></span>
									</p>
									<div class="dropdown bootstrap-select form-control form-control-sm">
										<ng-select class="" [items]="listStatus" placeholder="Trạng thái ..." bindLabel="text" bindValue="value" [(ngModel)]="IsActived"
											[closeOnSelect]="true" (change)="dataStateChange()">
										</ng-select>
									</div>
								</th>
								<th style="width: 7%;" class="text-right"><strong>THAO TÁC</strong></th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
							<tr>
								<td class="text-center">{{rowIndex + 1}}</td>
								<td>
									<strong class="highlight"><a class="ellipsis" title="Xem chi tiết">{{item.name}}</a></strong>
								</td>
								<td>
									<strong><a class="ellipsis" title="Số lượng kiến nghị">{{item.quantityUser}}</a></strong>
								</td>
								<td style="cursor: pointer;">
									<span *ngIf="item.isActived == true" (click)="confirmChangeStatus(item)" class="badge rounded-pill bg-success">Hiệu lực</span>
									<span *ngIf="item.isActived == false" (click)="confirmChangeStatus(item)" class="badge rounded-pill badge-light">Hết hiệu lực</span>
								</td>
								<td>
									<div class="hover-active d-flex justify-content-end">
										<a (click)="preUpdate(item)" class="btn-icon grd-brown text-brown mr-2"><i class="bi bi-pencil-square"></i></a>
										<a (click)="preDelete(item.id)" class="btn-icon grd-red text-white" data-toggle="modal" data-target="#modal-tc-pakn"><i
												class="bi bi-trash"></i></a>
									</div>
								</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- form create or update -->


<div class="modal fade" id="modal">
	<div class="modal-dialog modal-dialog-centered" style="min-width: 60%" role="document">
		<div class="modal-content rounded">
			<form class="form-horizontal" [formGroup]="fForm" #formDir="ngForm">
				<div class="panel panel-default no-margin">
					<div class="modal-header" style="border: none;">
						<button class="close btn-close-modal" data-dismiss="modal">
							×
						</button>
						<p class="modal-title h3">{{Title}}</p>
					</div>
					<div class="modal-body no-padding-bottom" style="border: none;">
						<div class="row form-group">
							<div class="col-sm-8">
								<label class="control-label">Tên Hashtag<span class="text-danger">(*)</span></label>

								<input class="form-control" formControlName="name" [(ngModel)]="hashtag.name" maxlength="100" placeholder="Nhập tên Hashtag..." />
								<div *ngIf="(submitted && f.name.invalid) || (f.name.invalid && (f.name.dirty || f.name.touched))" class="has-error m-b-12">
									<div *ngIf="f.name.errors.required">
										<span class="help-block">Trường dữ liệu này không để trống</span>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<label class="control-label">Trạng thái <span class="text-danger">(*)</span></label>
								<ng-select class="form-control " [items]="listStatus" bindValue="value" placeholder="Chọn trạng thái" bindLabel="text" formControlName="isActived"
									[(ngModel)]="hashtag.isActived" style="font-weight: 600;">
								</ng-select>
								<div *ngIf="(submitted && f.isActived.invalid) || (f.isActived.invalid && (f.isActived.dirty || f.isActived.touched))" class="has-error m-b-12">
									<div *ngIf="f.isActived.errors.required">
										<span class="help-block">Trường dữ liệu này không để trống</span>
									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="modal-footer border-top-0">
						<button type="button" data-dismiss="modal" class="btn btn-outline-secondary border px-5" data-dismiss="modal">Hủy</button>
						<button type="button" class="btn btn-danger border-0 px-5 grd-blue" (click)="onSave()">Xác nhận</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="modalConfirmChangeStatus">
	<div class="modal-dialog modal-dialog-centered" style="max-width: 400px" role="document">
		<div class="modal-content rounded">
			<form class="form-horizontal">
				<div class="panel panel-default no-margin">
					<div class="modal-header" style="border: none;">
						<button class="close btn-close-modal" data-dismiss="modal">
							×
						</button>
						<!-- <p class="modal-title h3">Xác nhận</p> -->
					</div>
					<div class="modal-body no-padding-bottom" style="border: none;">
						<div style="text-align: center;">
							<strong class="change-status-title">Bạn có chắc chắn thực hiện hành động này?</strong>
						</div>
					</div>
					<div class="modal-footer" style="border: none; justify-content: center;">
						<button type="button" data-dismiss="modal" class="btn btn-outline-secondary border px-5" data-dismiss="modal">Hủy</button>
						<button type="button" class="btn btn-danger border-0 px-5 grd-blue" (click)="UpdateIsActived()">Xác
							nhận</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>


<div class="modal fade" id="modalConfirmDelete">
	<div class="modal-dialog modal-dialog-centered" style="max-width: 400px" role="document">
		<div class="modal-content rounded">
			<form class="form-horizontal">
				<div class="panel panel-default no-margin">
					<div class="modal-header" style="border: none;">
						<button class="close btn-close-modal" data-dismiss="modal">
							×
						</button>
						<!-- <p class="modal-title h3">Xác nhận</p> -->
					</div>
					<div class="modal-body no-padding-bottom" style="border: none;">
						<div style="text-align: center;">
							<strong class="change-status-title">Bạn có chắc chắn thực hiện hành động này?</strong>
						</div>
					</div>
					<div class="modal-footer" style="border: none; justify-content: center;">
						<button type="button" data-dismiss="modal" class="btn btn-outline-secondary border px-5" style="text-transform: none;" data-dismiss="modal">Hủy</button>
						<button type="button" class="btn btn-danger border-0 px-5 grd-blue" style="text-transform: none;" (click)="onDelete()">Xác
							nhận</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- <div class="modal fade" id="modalConfirmDelete">
	<div class="modal-dialog modal-dialog-centered" style="min-width: 500px" role="document">
		<div class="modal-content rounded">
			<form class="form-horizontal">
				<div class="panel panel-default no-margin">
					<div class="modal-header">
						<button class="close btn-close-modal" data-dismiss="modal">
							×
						</button>
						<p class="modal-title h3">Xác nhận</p>
					</div>
					<div class="modal-body no-padding-bottom">
						<div>
							<p>Anh/Chị có chắc chắn thực hiện hành động này?</p>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" data-dismiss="modal" class="btn btn-outline-secondary border px-5" style="text-transform: none;" data-dismiss="modal">Hủy</button>
						<button type="button" class="btn btn-danger border-0 px-5 grd-blue" style="text-transform: none;" (click)="onDelete(idDelete)">Xác nhận</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div> -->
