
<div class="panel-group">
  <section class="content">
    <div class="row">
      <ol class="breadcrumb">
        <li>
          <a class="text-black" routerLink="/business/business-management/dash-board">Trang chủ</a>
        </li>
        <li>
          <a class="text-black">Hệ thống</a>
        </li>
        <li>
          <a>Người dùng</a>
        </li>
      </ol>
      <button class="btn btn-sm btn-previous pull-right" appSvBackButton><i class="far fa-undo-alt"></i> Quay lại</button>
    </div>
    <div class="col-xs-12 no-padding">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-offset-4 col-md-8 panel-heading-group">
              <div class="form-row">
                <div class="search-item">
                  <input class="form-control" maxlength="255" [(ngModel)]="searchObject.tenNguoiDung" (keydown.enter)="dataStateChange()" type="text" placeholder="Tên người dùng..." />
                </div>
                <div class="search-item">
                  <input class="form-control" maxlength="255" [(ngModel)]="searchObject.tenDangNhap" (keydown.enter)="dataStateChange()" type="text" placeholder="Tên đăng nhập..." />
                </div>
                <div class="search-item">
                  <ng-select placeholder="Phòng ban..."
                             [items]="listDepartments"
                             bindLabel="text" bindValue="value"
                             (change)="dataStateChange()"
                             [(ngModel)]="searchObject.departmentId">
                  </ng-select>
                </div>
                <div class="">
                  <button class="btn btn-primary btn-sm" (click)="dataStateChange()">
                    <i class="fal fa-search"></i>
                  </button>
                </div>
              </div>
              <div class="btn-b-l" *hasPermission="['3', 'A_IV_1']">
                <button class="btn btn-sm btn-primary" [routerLink]="['./create-user', 1]">
                  <i class="fal fa-plus"></i> Thêm mới
                </button>
              </div>
            </div>
          </div>
        </div>
        <p-table #table [value]="listUsers" [lazy]="true" (onLazyLoad)="onPageChange($event)" [paginator]="true"
                 [rows]="searchObject.pageSize" [totalRecords]="searchObject.totalRecords" [rowsPerPageOptions]="[10,20,30]" [responsive]="true" autoLayout="true" [showCurrentPageReport]="true" currentPageReportTemplate="Tổng số {{searchObject.totalRecords}}">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 50px">
                STT
              </th>
              <th style="width: 18%">
                Tên đăng nhập
              </th>
              <th style="width: 15%">
                Họ và tên
              </th>
              <th style="width: 15%">
                Chức vụ
              </th>
              <th>
                Phòng ban
              </th>
              <th style="width: 110px">
                Kích hoạt
              </th>
              <th style="width: 130px">Hành động</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowIndex="rowIndex" let-user>
            <tr>
              <td class="text-center">{{rowIndex + 1}}</td>
              <td>
                <a [routerLink]="['./view-user', user.ma]" title="Xem chi tiết">{{user.tenDangNhap}}</a>
              </td>
              <td>{{user.hoTen}}</td>
              <td class="text-center">{{user.posistionName}}</td>
              <td>
                <span class="line-clamp-2" style="-webkit-box-orient: vertical" title="{{user.donVi}}">{{user.donVi}}</span>
              </td>
              <td class="text-center">
                <label class="inline">
                  <input id="id-pills-stacked" type="checkbox" [(ngModel)]="user.kichHoat" (change)="UpdateStatus(user)" [disabled]="user.khoaDangNhap != null" class="ace ace-switch ace-switch-4">
                  <span class="lbl middle"></span>
                </label>
              </td>
              <td class="text-center">
                <a *ngIf="user.khoaDangNhap != null" title="Khôi phục" (appConfirmClick)="onRestoreAccount(user.tenDangNhap)">
                  <i *hasPermission="['3', 'A_IV_5']" class="fal fa-sync-alt"></i>
                </a>
                <!-- <a *hasPermission="['3', 'A_IV_6']" title="Đổi mật khẩu" (click)="onChangePass(1, user)">
                  <i class="fal fa-key"></i>
                </a> -->
                <a *hasPermission="['3', 'A_IV_2']" title="Sửa" [routerLink]="['./edit-user', user.ma]">
                  <i class="far fa-pen"></i>
                </a>
                <a *hasPermission="['3', 'A_IV_9']" title="Lịch sử" (click)="ShowHistories(user.tenDangNhap)">
                  <i class="fal fa-history"></i>
                </a>
                <a *hasPermission="['3', 'A_IV_3']" title="Xóa" (appConfirmClick)="onDelete(user.ma)">
                  <i class="far fa-trash"></i>
                </a>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="7">
                Không tìm thấy dữ liệu
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </section>
</div>

<div class="modal fade" id="modalHistories">
  <div class="modal-dialog" style="min-width:70%">
    <div class="form-horizontal">
      <div class="panel panel-default no-margin">
        <div class="modal-header">
          <button class="close btn-close-modal" data-dismiss="modal">
            ×
          </button>
          <p class="title-ct no-margin">LỊCH SỬ NGƯỜI DÙNG / {{usernameselected}}</p>
        </div>
        <div class="modal-body no-padding-bottom bg-body">
          <ul class="timeline-parrent">
            <ng-container *ngFor="let sp of lstDayhis;let i = index">
              <li class="time-label">
                <span class="bg-red time-label-item" data-toggle="collapse" [attr.data-target]="'#today'+ i" (click)="LoadTimeLine(sp,i)">{{sp.time}}</span>
                <ul class="timeline no-margin collapse" [ngClass]="{'in':i==0}" aria-expanded="true" [attr.id]="'today'+ i">
                  <ng-container *ngFor="let item of sp.history">
                    <li>
                      <i class="fas fa-circle icon-histories-users"></i>
                      <div class="timeline-item">
                        <div class="timeline-body">
                          <span class="pull-left full-width">
                            <b>{{item.noiXayRaLoi}}</b>: {{item.noiDung}}
                          </span>
                          <span class="pull-left time">{{item.ngayHanhDong | date : 'HH:mm'}}</span>
                        </div>
                      </div>
                    </li>
                  </ng-container>
                </ul>
              </li>
            </ng-container>
          </ul>
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                  <div class="input-group date">
                    <input type="text" bsDatepicker #fd="bsDatepicker" placeholder="Từ ngày ..." class="form-control" id="fromdatetimeline"
                           [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY',containerClass:'theme-dark-blue', adaptivePosition: true }"
                           [(ngModel)]="_fromdate" (blur)="setDate(1, $event)" />
                    <span class="input-group-addon" (click)="fd.toggle()" [attr.aria-expanded]="fd.isOpen"><i class="far fa-calendar-alt"></i></span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="input-group date">
                    <input type="text" bsDatepicker #td="bsDatepicker" placeholder="Đến ngày ..." class="form-control" id="todatetimeline"
                           [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY',containerClass:'theme-dark-blue', adaptivePosition: true }"
                           [(ngModel)]="_todate" (blur)="setDate(2, $event)" />
                    <span class="input-group-addon" (click)="td.toggle()" [attr.aria-expanded]="td.isOpen"><i class="far fa-calendar-alt"></i></span>
                  </div>
                </div>
                <div class="col-md-1">
                  <button class="btn btn-sm btn-danger" (click)="onSearch()"><i class="fal fa-search"></i></button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p-table #table2 [value]="userTimeLineGrid" [lazy]="true" (onLazyLoad)="onPageChangeTimeLine($event)" [paginator]="true" [showCurrentPageReport]="true" currentPageReportTemplate="Tổng số {{total}}"
                         [rows]="pageSizeTimeline" [totalRecords]="total" [rowsPerPageOptions]="[10,20,30]" [responsive]="true" autoLayout="true">
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 50px" class="text-center">STT</th>
                      <th class="text-center">
                        Màn hình
                      </th>
                      <th class="text-center">
                        Nội dung
                      </th>
                      <th class="text-center">
                        Ngày hành động
                      </th>
                      <th class="text-center">
                        Trạng thái
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-timeline let-rowIndex="rowIndex">
                    <tr>
                      <td class="text-center">{{rowIndex + 1}}</td>
                      <td>{{timeline.noiXayRaLoi}}</td>
                      <td>{{timeline.noiDung}}</td>
                      <td class="text-center">{{timeline.ngayHanhDong | date:"HH:mm dd/MM/yyyy"}}</td>
                      <td class="text-center">{{timeline.trangThai}}</td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="20">
                        Không tìm thấy dữ liệu
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-change-password">
  <div class="modal-dialog">
    <div class="panel panel-default">
      <div class="modal-header">
        <button class="close btn-close-modal" data-dismiss="modal">
          ×
        </button>
        <p class="title-ct no-margin">Thay đổi mật khẩu</p>
      </div>
      <div class="modal-body">
        <div class="row form-group">
          <div class="col-sm-12">
            <label class="control-label">Mật khẩu mới <span class="text-danger">*</span></label>
            <input type="password" class="form-control" maxlength="50" [(ngModel)]="newPassword" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="pull-right">
          <button class="btn btn-sm btn-save" (click)="onChangePass(2, null)">
            <i class="fal fa-save"></i> Lưu
          </button>
          <button class="btn btn-sm btn-default m-l-5" data-dismiss="modal">
            <i class="far fa-times"></i> Hủy
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
