<form class="form-row px-3" [formGroup]="formInfo">
	<div class="col form-group pi-italic">
		<label class="mb-1">Người đại diện<span class="cl-red">(*)</span></label>
		<input [svTrim] maxlength="100" [(ngModel)]="model.representativeName" formControlName="representativeName"
			type="text" placeholder="Nhập họ và tên.." class="form-control border-brown h-34px rounded-6px">
		<div
			*ngIf="(fInfoSubmitted && fInfo.representativeName.invalid)||(fInfo.representativeName.invalid && (fInfo.representativeName.dirty || fInfo.representativeName.touched))"
			class="has-error m-b-12">
			<div *ngIf="fInfo.representativeName.errors.required">
				<span class="help-block">Trường dữ liệu này không được để trống</span>
			</div>
			<div *ngIf="fInfo.representativeName.errors.maxlength">
				<span class="help-block">Trường chỉ nhập tối đa 100 ký tự</span>
			</div>
		</div>
	</div>

	<div class="w-100"></div>
	<div class="col-12 form-group pi-italic">
		<label class="mb-1">Số điện thoại<span class="cl-red">(*)</span></label>
		<input onlyNumber="true" maxlength="10" [(ngModel)]="model.phone" formControlName="phone" type="text"
			placeholder="Nhập số điện thoại.." autocomplete="off" pattern="^(84|0[3|5|7|8|9])+([0-9]{8})$"
			class="form-control border-brown h-34px rounded-6px" (change)="onCheckExist('Phone',$event.target.value)">
		<div
			*ngIf="(fInfoSubmitted && fInfo.phone.invalid)||(fInfo.phone.invalid && (fInfo.phone.dirty || fInfo.phone.touched))"
			class="has-error m-b-12">
			<div *ngIf="fInfo.phone.errors.required">
				<span class="help-block">Trường dữ liệu này không được để trống</span>
			</div>
			<div *ngIf="fInfo.phone.errors.pattern">
				<span class="help-block">Định dạng số điện thoại không đúng</span>
			</div>
		</div>
		<div *ngIf="checkExists['Phone'] && fInfo.phone.valid" class="has-error m-b-12">
			<div *ngIf="checkExists['Phone']">
				<span class="help-block">Số điện thoại đã tồn tại</span>
			</div>
		</div>
	</div>
	<div class="col-12 form-group pi-italic">
		<label class="mb-1">Email </label>
		<input [svTrim] [(ngModel)]="model.email" formControlName="email" type="text" placeholder="Nhập email.."
			class="form-control border-brown h-34px rounded-6px" (change)="onCheckExist('Email',$event.target.value)">
		<div
			*ngIf="(fInfoSubmitted && fInfo.email.invalid)||(fInfo.email.invalid && (fInfo.email.dirty || fInfo.email.touched))"
			class="has-error m-b-12">
			<div *ngIf="fInfo.email.errors.required">
				<span class="help-block">Trường dữ liệu này không được để trống</span>
			</div>
			<div *ngIf="fInfo.email.errors.email">
				<span class="help-block">Định dạng email không hợp lệ</span>
			</div>
		</div>
		<div *ngIf="checkExists['Email'] && fInfo.email.valid" class="has-error m-b-12">
			<div *ngIf="checkExists['Email']">
				<span class="help-block">Email đã tồn tại</span>
			</div>
		</div>
	</div>

	<div class="w-100"></div>
	<div class="col-12 col-lg-12 form-group pi-italic">
		<label class="mb-1">Địa chỉ cụ thể </label>
		<input [svTrim] [(ngModel)]="model.address" formControlName="address" type="text"
			placeholder="Nhập địa chỉ thường trú.." class="form-control h-34px rounded-6px border-brown">
		<div
			*ngIf="(fInfoSubmitted && fInfo.address.invalid)||(fInfo.address.invalid && (fInfo.address.dirty || fInfo.address.touched))"
			class="has-error m-b-12">
			<div *ngIf="fInfo.address.errors.required">
				<span class="help-block">Trường dữ liệu này không được để trống</span>
			</div>
		</div>
	</div>
	<div class="w-100"></div>
</form>