<div class="content-nd mt-5">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-8 col-lg-8 col-md-8"> 
				
				<div class="box">
					<div class="row">
						<div class="col col-sm-6 col-md-6 col-lg-6">
							<a href="javascript:void(0)"><img class="img-fluid card"
								style="width: 100%;"
								src="../../../../assets/dist/images/index2/Frame 3558.png" alt="">
							</a>
						</div>
						<div class="col col-sm-6 col-md-6 col-lg-6">
							<a href="javascript:void(0)"><img class="img-fluid card"
								style="width: 100%;"
								src="../../../../assets/dist/images/index2/Frame 3559.png" alt="">
							</a>
						</div>

						<div class="col-12">
							<div class="card bg-xam px-4" style="padding: 1.9rem 0rem;">
								<h4 class="text-uppercase mb-3">phản ánh kiến nghị không đủ điều kiện tiếp nhận</h4>
								<div class="row">
									<ng-container *ngFor="let item of recommendationsReceiveDeny">
										<div class="col-6">
											<p class="align-items-center mb-1" style="min-height: 38px;">
												<a class="h4 title-sm color-dark text-2line" routerLink="/cong-bo/phan-anh-kien-nghi/{{item.id}}">
													{{item.title}}
												</a>
											</p>
											<hr style="height: 0px; margin-bottom: 1.2rem;">
										</div>
									</ng-container>
								</div>
								<div class="tt-v1 mb-3 d-flex justify-content-end">
									<a class="read-more" title="Xem thêm" 
										routerLink="/cong-bo/phan-anh-kien-nghi-khong-tiep-nhan"
									> Xem thêm
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="box" *ngIf="isHomeMain">
					<div class="tt-v1 mb-3 d-flex justify-content-between">
						<h4 class="text-uppercase">Danh sách phản ánh, kiến nghị đã được xử lý</h4>
						<a class="read-more" style="font-size: 1.5rem;" title="Xem thêm" routerLink="/cong-bo/phan-anh-kien-nghi"><i class="bi bi-arrow-right"></i></a>
					</div>
					<ng-container *ngFor="let item of ReflectionsRecommendations; let i = index">
						<div class="card border mb-3" [ngClass]="{'bg-gray' : i % 2 != 0}">
							<div class="card-header pt-3 pb-0 align-items-center">
								<p class="card-text mb-1">
									<a class="h4" routerLink="/cong-bo/phan-anh-kien-nghi/{{item.id}}">
										{{item.title}}
									</a>
								</p>
							</div>
							<div class="card-body pt-1 pb-3">
								<div class="d-flex align-items-center justify-content-between">
									<div class="media align-items-center mr-4">
										<div class="avatar-circle mr-2">
											{{getShortName(item.name)}}
										</div>
										<div class="media-body">
											<p class="my-0 h5">{{item.name}}</p>
										</div>
									</div>
									<span class="card-date">{{item.createdDate | date : 'dd/MM/yyyy'}}</span>
									<a class="read-more" *ngIf="item.totalComment"
										routerLink="/cong-bo/phan-anh-kien-nghi/{{item.id}}"
										><i class="bi bi-chat-right-fill cl-blue"></i> {{item.totalComment}}
									</a>
								</div>
								
								<p class="card-text">
									<a class="text-2line italic lh-20" routerLink="/cong-bo/phan-anh-kien-nghi/{{item.id}}" [innerHTML]="item.content | Change">
										
									</a>
								</p>
							</div>
					</div>
					</ng-container>
				</div>
			

				<div class="box" *ngIf="!isHomeMain">
					<div class="tt-v1 mb-3 d-flex justify-content-between">
						<h4 class="text-uppercase">Danh sách phản ánh, kiến nghị đã được xử lý</h4>
						<button  class="btn text-dark border border-radius-4 btn-girl" type="button" (click)="isGrid =!isGrid">
							<i class="bi bi-list-ul"></i>
							<span class="ml-2">{{ isGrid ? 'Xem dạng danh sách' : 'Xem dạng lưới'}}</span>
						</button>
					</div>
					<div class="row" *ngIf="!isGrid">
						<ng-container *ngFor="let item of ReflectionsRecommendations; let i = index">
							<div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6" *ngIf="i < 8">
								<div class="card border">
									<img class="img-fluid img-cover img-field" *ngIf="i== 2"
										style="width: 100%;"
										src="../../../../assets/dist/images/index2/Rectangle 1303.png" alt="">

									<img class="img-fluid img-cover img-field" *ngIf="i== 1"
										style="width: 100%;"
										src="../../../../assets/dist/images/index2/Rectangle 1303 (1).png" alt="">

									<img class="img-fluid img-cover img-field" *ngIf="i== 0"
										style="width: 100%;"
										src="../../../../assets/dist/images/index2/Rectangle 1303 (2).png" alt="">
									<img class="img-fluid img-cover img-field" *ngIf="i== 3"
										style="width: 100%;"
										src="../../../../assets/dist/images/index2/Rectangle 1303 (3).png" alt="">
									<img class="img-fluid img-cover img-field" *ngIf="i== 4"
										style="width: 100%;"
										src="../../../../assets/dist/images/index2/Rectangle 1303 (4).png" alt="">
									<img class="img-fluid img-cover img-field" *ngIf="i== 5"
										style="width: 100%;"
										src="../../../../assets/dist/images/index2/Rectangle 1303 (5).png" alt="">
									<img class="img-fluid img-cover img-field" *ngIf="i== 6"
										style="width: 100%;"
										src="../../../../assets/dist/images/index2/Rectangle 1303 (6).png" alt="">
									<img class="img-fluid img-cover img-field" *ngIf="i== 7"
										style="width: 100%;"
										src="../../../../assets/dist/images/index2/Rectangle 1303 (7).png" alt="">

									<div class="tt-v1 mb-3 d-flex justify-content-between no-grd-blue title-field pl-3 center">
										<h4 class="text-uppercase mb-0  text-white">{{item.fieldName}}</h4>
									</div>
									<div class="ml-3 mr-3 mb-3">
										<ng-container *ngFor="let mr of item.listRecommendation;let i = index">
											<div class="mt-3" [ngClass]="{ 'border-bottom': (i + 1) != item.listRecommendation.length }">
												<p class="align-items-center mb-1">
													<a class="h4 title-sm color-dark text-2line" routerLink="/cong-bo/phan-anh-kien-nghi/{{mr.recommendation.id}}">
														{{mr.recommendation.title}}
													</a>
												</p>
												<div class="tt-v1 mb-3 d-flex justify-content-between">
													<p class="card-date">{{mr.recommendation.createdDate | date : 'dd/MM/yyyy'}}</p>
													<a class="read-more" *ngIf="mr.recommendation.totalComment"
														routerLink="/cong-bo/phan-anh-kien-nghi/{{mr.recommendation.id}}"
													> <i class="bi bi-chat-right-fill cl-blue"></i> {{mr.recommendation.totalComment}}
													</a>
												</div>
												
											</div>
										</ng-container>
									</div>

									<div class="tt-v1 mb-3 d-flex justify-content-end mr-3">
										<a class="read-more" title="Xem thêm" 
											routerLink="/cong-bo/danh-sach-phan-anh-kien-nghi/{{item.fieldId}}"
										> Xem thêm
										</a>
									</div>
								</div>
								
							</div>
						</ng-container>
						
					</div>

					<div *ngIf="isGrid">
						<div class="row" *ngFor="let item of ReflectionsRecommendations">
							<div class="col-12">
								<div class="tt-v1 mb-3 d-flex justify-content-between border-bottom-blue mt-1">
									<h4 class="text-uppercase">{{item.fieldName}}</h4>
									<a class="read-more title-sm" title="Xem thêm" routerLink="/cong-bo/danh-sach-phan-anh-kien-nghi/{{item.fieldId}}">Xem thêm</a>
								</div>
							</div>
							<ng-container *ngFor="let mr of item.listRecommendation;let i = index">
								<div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4" *ngIf="i < 3">
									<div class="card mb-lg-0">
										<a routerLink="/cong-bo/phan-anh-kien-nghi/{{mr.recommendation.id}}"  class="image-box ratio-16-9 bd-12">
											<span class="image">
												<img class="img-cover" *ngIf="!mr.filePath" src="../../../../assets/dist/images/no-img.png">
												<img class="img-cover" *ngIf="mr.filePath" src="{{mr.filePath}}">
											</span>
										</a>
									</div>
									<p class="align-items-center mb-0 mt-2">
										<a class="h4 title-sm color-dark text-2line" routerLink="/cong-bo/phan-anh-kien-nghi/{{mr.recommendation.id}}">
											{{mr.recommendation.title}}
										</a>
									</p>
									<!-- <p class="card-date">{{mr.recommendation.createdDate | date : 'dd/MM/yyyy'}}</p> -->
									<div class="tt-v1 mb-3 d-flex justify-content-between">
										<p class="card-date">{{mr.recommendation.createdDate | date : 'dd/MM/yyyy'}}</p>
										<a class="read-more" *ngIf="mr.recommendation.totalComment"
											routerLink="/cong-bo/phan-anh-kien-nghi/{{mr.recommendation.id}}"
										> <i class="bi bi-chat-right-fill cl-blue"></i> {{mr.recommendation.totalComment}}
										</a>
									</div>
								</div>
							</ng-container>
						</div>
					</div>
				</div>
			</div>
			<div class="col-4 col-lg-4 d-none d-lg-block sidebar-ct pl-3 pl-lg-0">
				<a href="javascript:void(0)">
					<img class="img-fluid card" style="height: 200px; width: 100%;"
						src="../../../../assets/dist/images/index2/Frame 3482.png" alt="">
				</a>
				
				<div class="mt-4">
					<div class="card border pt-4 p-3 bg-notification">
						<div class="tt-v1 mb-3 d-flex justify-content-between">
							<h4 class="text-uppercase mb-0 ">thông báo</h4>
						</div>
						<div class="title-notification mb-2">Công khai vi phạm</div>
						<p class="content-notification">
							Thời gian qua, trong quá trình thực tiễn triển khai phản ánh hiện trường đã xuất hiện những bất cập từ công tác xử lý. 
							Nhằm nâng cao hiệu quả trong thời gian tới, UBND tỉnh chỉ đạo công khai các vấn đề vi phạm qua đó để tuyên truyền nâng
								cao nhận thức, ý thức chấp hành giao thông của người dân. Bên cạnh đó, những vi phạm đã được tiếp nhận nhưng do chưa 
								có sự phối...
						</p>
						<div class="tt-v1 mb-3 d-flex justify-content-end mr-3">
							<a class="read-more" title="Xem thêm" 
								routerLink="/cong-bo/thong-tin-cong-bo"
							> Xem thêm
							</a>
						</div>
					</div>
				</div>
				<app-statistics-right [isShowSatisfationChart]="true"></app-statistics-right>

				<div class="mt-4">
					<div class="card border pt-4 p-3 bg-notification">
						<div class="tt-v1 mb-3 d-flex justify-content-between">
							<h4 class="text-uppercase mb-0 ">tỷ lệ không hài lòng</h4>
						</div>
						<div class="pl-3 pr-3 mb-2">
							<ul>
								<li *ngFor="let item of unitDissatisfactionRate">
									<div class="tt-v1 d-flex justify-content-between">
										<p class="mb-0">{{item.unitName}}</p>
										<div class="statistic">{{item.percent}}%</div>
									</div>
								</li>
							</ul>
						</div>
						
						<div class="tt-v1 mb-3 d-flex justify-content-end mr-3">
							<a class="read-more" title="Xem thêm" 
								routerLink="/cong-bo/ti-le-khong-hai-long"
							> Xem thêm
							</a>
						</div>
					</div>
				</div>
				
				<div class="mt-4" *ngIf="lateProcessingUnit">
					<div class="card border pt-4 p-3 bg-notification">
						<div class="tt-v1 mb-3 d-flex justify-content-between">
							<h4 class="text-uppercase mb-0 ">đơn vị xử lý trễ hạn</h4>
						</div>
						<div class="pl-3 pr-3 mb-2">
							<ul>
								<li *ngFor="let item of lateProcessingUnit">
									<div class="tt-v1 d-flex justify-content-between">
										<p class="mb-0">{{item.unitName}}</p>
										<div class="statistic">{{item.quantity}}</div>
									</div>
								</li>
							</ul>
						</div>
						
						<div class="tt-v1 mb-3 d-flex justify-content-end mr-3">
							<a class="read-more" title="Xem thêm" 
								routerLink="/cong-bo/don-vi-xu-ly-tre-han"
							> Xem thêm
							</a>
						</div>
					</div>
				</div>
				
				
				<div class="mt-4" *ngIf="recommendationsHighLight">
					<div class="card border pt-4 p-3">
						<div class="tt-v1 mb-3 d-flex justify-content-between">
							<h4 class="text-uppercase mb-0 ">phản ánh kiến nghị tiêu biểu</h4>
						</div>
						<ng-container *ngFor="let mr of recommendationsHighLight;let i = index">
							<div class="mt-3" [ngClass]="{ 'border-bottom': i != recommendationsHighLight.length}">
								<p class="align-items-center mb-1">
									<a class="h4 title-sm color-dark text-2line" routerLink="/cong-bo/phan-anh-kien-nghi/{{mr.id}}">
										{{ mr.title }}
									</a>
								</p>
								<div class="tt-v1 mb-3 d-flex justify-content-between">
									<p class="card-date">{{mr.createdDate | date : 'dd/MM/yyyy'}}</p>
									<a class="read-more" *ngIf="mr.totalComment"
										routerLink="/cong-bo/danh-sach-phan-anh-kien-nghi"
									> <i class="bi bi-chat-right-fill cl-blue"></i> {{mr.totalComment}}
									</a>
								</div>
							</div>
						</ng-container>
					</div>
				</div>
				
				
				<div class="mt-4" *ngIf="recommendationsProcessing">
					<div class="card border pt-4 p-3">
						<div class="tt-v1 mb-3 d-flex justify-content-between title-field center">
							<h4 class="text-uppercase mb-0 ">phản ánh kiến nghị đang xử lý</h4>
						</div>
						<ng-container *ngFor="let mr of recommendationsProcessing;let i = index">
							<div class="mt-3" [ngClass]="{ 'border-bottom': i != recommendationsProcessing.length}">
								<p class="align-items-center mb-1">
									<a class="h4 title-sm color-dark text-2line" routerLink="/cong-bo/phan-anh-kien-nghi//{{mr.id}}">
										{{ mr.title }}
									</a>
								</p>
								<div class="tt-v1 mb-3 d-flex justify-content-between">
									<p class="card-date">{{mr.createdDate | date : 'dd/MM/yyyy'}}</p>
									<a class="read-more" *ngIf="mr.totalComment"
										routerLink="/cong-bo/danh-sach-phan-anh-kien-nghi"
									> <i class="bi bi-chat-right-fill cl-blue"></i> {{mr.totalComment}}
									</a>
								</div>
								
							</div>
						</ng-container>
						
					</div>
				</div>
				
				<a href="javascript:void(0)"><img class="img-fluid card mt-4"
					style="width: 100%; height: 150px;"
					src="../../../../assets/dist/images/Rectangle 365.png" alt="">
				</a>
			</div>
		</div>

		<!-- start banner -->

		<div class="row justify-content-between" *ngIf="isLogin">
			<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pt-4">
				<a href="#"><img class="img-fluid card bd-20" style="width: 100%; height: 100%;"
					src="../../../../assets/dist/images/banner-index-1.png" alt="">
				</a>
			</div>
			<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pt-4">
				<a href="#"><img class="img-fluid card bd-20" style="width: 100%; height: 100%;"
					src="../../../../assets/dist/images/banner-index-2.png" alt="">
				</a>
			</div>
		</div>

		<div class="row justify-content-between" *ngIf="!isLogin">
			<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 pt-4">
				<a href="#">
					<img class="img-fluid card bd-12" style="width: 100%; height: 100%;"
					src="../../../../assets/dist/images/child-banner-1.png" alt="">
				</a>
			</div>
			<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 pt-4">
				<a href="#">
					<img class="img-fluid card bd-12" style="width: 100%; height: 100%;"
					src="../../../../assets/dist/images/child-banner-2.png" alt="">
				</a>
			</div>
			<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 pt-4">
				<a href="#">
					<img class="img-fluid card bd-12" style="width: 100%; height: 100%;"
					src="../../../../assets/dist/images/child-banner-3.png" alt="">
				</a>
			</div>
			<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 pt-4">
				<a href="#">
					<img class="img-fluid card bd-12" style="width: 100%; height: 100%;"
					src="../../../../assets/dist/images/child-banner-4.png" alt="">
				</a>
			</div>
		</div>

		<!-- End banner -->

		<!-- Start TTHC -->

		<div class="row justify-content-between mt-4">
			<div class="col-8 col-lg-8 col-md-8">
				<div class="box">
					<div class="tt-v1 pt-3 mb-3 d-flex justify-content-between">
						<h4 class="text-uppercase">thủ tục hành chính</h4>
						<a class="read-more" style="color: #1673D8; font-size: 22px;" 
							routerLink="/cong-bo/thu-tuc-hanh-chinh" ><i class="bi bi-arrow-right"></i></a>
					</div>
					<div>
						<p-table [value]="Administrations">
							<ng-template pTemplate="header">
									<tr>
											<th style="width: 200px;">Mã quản lý quốc gia</th>
											<th>Thủ tục hành chính</th>
											<th style="width: 180px;">Lĩnh vực</th>
									</tr>
							</ng-template>
							<ng-template pTemplate="body" let-item>
									<tr>
											<td>{{item.code}}</td>
											<td>
												<strong class="text-2line cursor" (click)="redirectDetailAdministration(item.administrationId)">
													{{item.name}}
												</strong>
												<div class="d-flex pt-2">
													<p class="mb-0">Mã nội bộ: {{item.code}}</p>
													<p class="mb-0 ml-4">Mức độ</p>
													<span class="ml-2 number-lever center">{{ item.level}}</span>
												</div>
											</td>
											<td>{{item.fieldName}}</td>
									</tr>
							</ng-template>
					</p-table>
					</div>
				</div>
			</div>
			<div class="col-4 col-lg-4 d-none d-lg-block sidebar-ct pl-3 pl-lg-0">
				<app-gallery></app-gallery>
				<a href="javascript:void(0)">
					<img class="img-fluid card mt-4"
						style="width: 100%; height: 150px;"
						src="../../../../assets/dist/images/child-banner-3.png" alt="">
				</a>
			</div>
		</div>
	</div>
</div>
