label {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #1b1b3e;
	margin: 10px 0px;
}

.flex {
	display: flex !important;
	margin: 20px 0px;
}
.font-bold {
	font-weight: bold !important;
}

.btn-change-banner {
	border: 1px solid gray;
	width: 140px;
	color: #1673d8 !important;
	position: absolute;
	top: 60px;
	right: 20px;
	z-index: 1;
}

.description {
	display: flex;
	margin-bottom: 20px;
}
.img-quoc-huy {
	width: 70px;
	height: 70px;
}

.description h3,
.description h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
}

.description h3 {
	font-weight: 400;
}

.info-left {
	display: flex;
	margin: 7px 0px;
}
.icon-info {
	width: 10%;
}

.icon-info i {
	margin-right: 30px;
}

.center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
input,
textarea {
	border: 1px solid rgba(214, 214, 214, 0.8);
	border-radius: 10px;
}

input {
	height: 32px;
}

.no-padding {
	padding-left: 0px;
}

.item-banner {
	width: 100%;
	position: relative;
	margin: 15px 0px;
	height: 130px;
	/* border-radius: 10px; */
}

.item-banner img {
	border-radius: 5px;
}

.remove-banner {
	cursor: pointer;
	position: absolute;
	top: 7px;
	right: 10px;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: #fff;
	color: #111;
}
.title-website {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	/* identical to box height, or 125% */

	/* Dark */

	color: #333333;
}
.item-website {
	border: 1px solid rgba(214, 214, 214, 0.8);
	border-radius: 10px;
	min-height: 50px;
	padding: 5px 10px 10px 10px;
	margin: 5px 0px;
	position: relative;
}

.lstWebsite {
	padding-top: 10px;
}
