.tt-sd1 span{
	background: #E5E5E5 !important;
}
.cl-blue{
	color: #2E73D5;
}
.title-otp{
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
}

.red{
	color: #DA2222 !important;
}

@media (max-width: 575.98px)  { 
	span.py-2.p-3.d-inline-block{
		font-size: 16px;
	}
}
