<div class="tab-pane fade show active" id="dk-doanhnghiep">
	<div class="row mx-0 border border-brown rounded-xl">
		<div class="col col-lg-3 border-right p-4 border-brown">
			<h4 class="text-uppercase tt-sd1"><span class="py-2 p-3 d-inline-block">Thông tin đăng nhập</span></h4>
			<form class="px-3" [formGroup]="formLogin">
				<div class="form-group">
					<label class="mb-1">Số chứng nhận ĐKKD/Số quyết định thành lập <span class="cl-red">(*)</span></label>
					<input onlyNumber [(ngModel)]="model.businessRegistration" formControlName="businessRegistration" type="text" placeholder="Nhập..." class="form-control h-34px rounded-6px border-brown"
						(change)="onCheckExist('BusinessRegistration',$event.target.value)">
					<div *ngIf="(fOrgInfoSubmitted && fLogin.businessRegistration.invalid)||(fLogin.businessRegistration.invalid && (fLogin.businessRegistration.dirty || fLogin.businessRegistration.touched))"
						class="has-error m-b-12">
						<div *ngIf="fLogin.businessRegistration.errors.required">
							<span class="help-block">Trường dữ liệu này không được để trống</span>
						</div>
						<div *ngIf="fLogin.businessRegistration.errors.maxlength">
							<span class="help-block">Chỉ nhập tối đa 20 ký tự</span>
						</div>
					</div>
					<div *ngIf="checkExists['BusinessRegistration'] && fLogin.businessRegistration.valid" class="has-error m-b-12">
						<div *ngIf="checkExists['BusinessRegistration']">
							<span class="help-block">Số chứng nhận ĐKKD đã tồn tại</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="mb-1">Mật khẩu <span class="cl-red">(*)</span></label>
					<input svDisabledSpaceKey [(ngModel)]="model.password" formControlName="password" type="password" placeholder="Nhập..." autocomplete="off"
						class="form-control border-brown h-34px rounded-6px" pattern="^(?=.*[A-Za-z])(?=.*[0-9])[A-Za-z\d@$!%*#?&()^]{6,}$">
					<div *ngIf="(fLoginSubmitted && fLogin.password.invalid)||(fLogin.password.invalid && (fLogin.password.dirty || fLogin.password.touched))"
						class="has-error m-b-12">
						<div *ngIf="fLogin.password.errors.required">
							<span class="help-block">Trường dữ liệu này không được để trống</span>
						</div>
						<div *ngIf="fLogin.password.errors.pattern">
							<span class="help-block">Mật khẩu ít nhất 6 ký tự, bao gồm cả ký tự chữ và số</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="mb-1">Nhập lại mật khẩu <span class="cl-red">(*)</span></label>
					<input svDisabledSpaceKey [(ngModel)]="model.rePassword" formControlName="rePassword" type="password" placeholder="Nhập..." autocomplete="off"
						class="form-control border-brown h-34px rounded-6px" value="">
					<div *ngIf="(fLoginSubmitted && fLogin.rePassword.invalid)||(fLogin.rePassword.invalid && (fLogin.rePassword.dirty || fLogin.rePassword.touched))"
						class="has-error m-b-12">
						<div *ngIf="fLogin.rePassword.errors.required">
							<span class="help-block">Trường dữ liệu này không được để trống</span>
						</div>
						<div *ngIf="fLogin.rePassword.errors.mustMatch">
							<span class="help-block">Mật khẩu không trùng khớp</span>
						</div>
					</div>
				</div>
				<p class="font-italic mb-0">Sử dụng 6 ký tự trở lên, bao gồm cả ký tự chữ và số</p>
			</form>
		</div>

		<div class="col col-lg-9 p-4 border-brown">
			<h4 class="text-uppercase tt-sd1"><span class="py-2 p-3 d-inline-block">Thông tin người đại diện</span></h4>

			<app-org-repre-form></app-org-repre-form>
		</div>
		<div class="col col-lg-3 border-right border-top p-4 border-brown">
			<h4 class="text-uppercase tt-sd1"><span class="py-2 p-3 d-inline-block">Thông tin doanh nghiệp</span></h4>
			<form class="px-3" [formGroup]="formOrgInfo">
				<div class="form-group">
					<label class="mb-1">Tên tổ chức, doanh nghiệp <span class="cl-red">(*)</span></label>
					<input [svTrim] [(ngModel)]="model.business" formControlName="business" type="text" placeholder="Nhập..." class="form-control h-34px rounded-6px border-brown">
					<div *ngIf="(fOrgInfoSubmitted && fOrgInfo.business.invalid)||(fOrgInfo.business.invalid && (fOrgInfo.business.dirty || fOrgInfo.business.touched))"
						class="has-error m-b-12">
						<div *ngIf="fOrgInfo.business.errors.required">
							<span class="help-block">Trường dữ liệu này không được để trống</span>
						</div>
						<div *ngIf="fOrgInfo.business.errors.maxlength">
							<span class="help-block">Chỉ nhập tối đa 200 ký tự</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="mb-1">Điện thoại</label>
					<input onlyNumber="true" maxlength="10" [(ngModel)]="model.orgPhone" pattern="^(84|0[3|5|7|8|9])+([0-9]{8})$" formControlName="orgPhone" type="text" placeholder="Nhập..."
						class="form-control border-brown h-34px rounded-6px" (change)="onCheckExist('OrgPhone',$event.target.value)">
					<div *ngIf="(fOrgInfoSubmitted && fOrgInfo.orgPhone.invalid)||(fOrgInfo.orgPhone.invalid && (fOrgInfo.orgPhone.dirty || fOrgInfo.orgPhone.touched))"
						class="has-error m-b-12">
						<div *ngIf="fOrgInfo.orgPhone.errors.pattern">
							<span class="help-block">Định dạng số điện thoại không hợp lệ</span>
						</div>
					</div>
					<div *ngIf="checkExists['OrgPhone'] && fOrgInfo.orgPhone.valid" class="has-error m-b-12">
						<div *ngIf="checkExists['OrgPhone']">
							<span class="help-block">Số điện thoại đã tồn tại</span>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="col col-lg-9 border-right border-top p-4 border-brown">
			<h4 class="text-uppercase tt-sd1"><span class="py-2 p-3 d-inline-block">địa chỉ trụ sở / văn phòng đại diện</span></h4>
			<app-org-form-address></app-org-form-address>
		</div>

	</div>
	<p class="cl-red font-italic mt-3">Vui lòng nhập đầy đủ, chính xác toàn bộ thông tin một lần để sử dụng nhiều lần trên hệ thống</p>
	<div class="card-body d-flex justify-content-end px-0">
		<a class="btn btn-outline-light px-5 mr-3 rounded-10px h-48px" (click)="backToHome()">
			<i class="bi bi-arrow-left"></i>
			Quay lại
		</a>
		<button type="button" class="btn btn-outline-light px-5 mr-3 rounded-10px h-48px theme-dark" (click)="onReset()">Hủy</button>
		<button type="button" class="btn text-white border-light no-grd-blue px-5 rounded-10px h-48px" (click)="onSave()">Đăng ký</button>
	</div>
</div>
